Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

Fix -/+ typo
  ironfish-rust/src/mining.rs
Due: ironfish-rust, ironfish

Fix -/+ typo (#943)
  ironfish-rust/src/mining.rs
Due: ironfish-rust, ironfish

feat(ironfish): Update telemetry payloads to match API schema (#940)
  ironfish/src/fileStores/config.ts
  ironfish/src/node.ts
  ironfish/src/telemetry/__snapshots__/submit.test.ts.snap
  ironfish/src/telemetry/index.ts
  ironfish/src/telemetry/submit.test.ts
  ironfish/src/telemetry/telemetryBackgroundTask.test.ts
  ironfish/src/telemetry/telemetryBackgroundTask.ts
Due: ironfish

feat(ironfish): Submit heap values on interval to telemetry
  ironfish/src/metrics/metricsMonitor.ts
Due: ironfish

Add new testnet command to auto set up your node
  ironfish-cli/src/commands/testnet.ts
  ironfish/src/webApi.ts
Due: ironfish-cli, ironfish

Update ironfish-cli/src/commands/testnet.ts
  ironfish-cli/src/commands/testnet.ts
Due: ironfish-cli, ironfish

Fix branding
  ironfish-cli/src/commands/testnet.ts
Due: ironfish-cli, ironfish

Code flow change
  ironfish-cli/src/commands/testnet.ts
Due: ironfish-cli, ironfish

Chain should reject invalid with the same reason
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/consensus/verifier.ts
Due: ironfish

feat(ironfish): Add node's public key to default telemetry tags
  ironfish/src/node.ts
Due: ironfish

feat(ironfish): Remove `TELEMETRY_OFFLINE` flag
  ironfish/src/telemetry/index.ts
Due: ironfish

Store unique telemetry id in internal store
  ironfish-cli/src/commands/start.test.ts
  ironfish-cli/src/commands/start.ts
  ironfish/src/fileStores/internal.ts
  ironfish/src/node.ts
Due: ironfish-cli, ironfish

Minor clean up for `defaultTags`
  ironfish/src/node.ts
Due: ironfish

feat(ironfish): Remove `TELEMETRY_OFFLINE` flag (#950)
  ironfish/src/telemetry/index.ts
Due: ironfish

Add AbortSignal to ChainProcessor.update (#931)
  config/jestNodeEnvironment.js
  ironfish/src/account/accounts.ts
  ironfish/src/chainProcessor.test.ts
  ironfish/src/chainProcessor.ts
  ironfish/src/rpc/routes/chain/followChain.ts
Due: ironfish

Chain should reject invalid with the same reason (#922)
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/consensus/verifier.ts
Due: ironfish

Add new testnet command to auto set up your node (#945)
  ironfish-cli/src/commands/testnet.ts
  ironfish/src/webApi.ts
Due: ironfish-cli, ironfish

feat(ironfish): Generate telemetry node id in internal store (#949)
  ironfish-cli/src/commands/start.test.ts
  ironfish-cli/src/commands/start.ts
  ironfish/src/fileStores/internal.ts
  ironfish/src/node.ts
Due: ironfish-cli, ironfish

Add GetUnspentNotes worker pool task (#927)
  ironfish/src/account/accounts.test.slow.ts
  ironfish/src/account/accounts.test.ts
  ironfish/src/account/accounts.ts
  ironfish/src/blockchain/blockchain.test.perf.ts
  ironfish/src/genesis/genesis.test.slow.ts
  ironfish/src/rpc/routes/accounts/getBalance.ts
  ironfish/src/rpc/routes/accounts/removeAccount.ts
  ironfish/src/rpc/routes/transactions/sendTransaction.test.ts
  ironfish/src/rpc/routes/transactions/sendTransaction.ts
  ironfish/src/workerPool/messages.ts
  ironfish/src/workerPool/pool.ts
  ironfish/src/workerPool/tasks/getUnspentNotes.ts
  ironfish/src/workerPool/tasks/index.ts
Due: ironfish

Check synced status before starting pay command
  ironfish-cli/src/commands/accounts/pay.ts
Due: ironfish-cli, ironfish

feat(ironfish): Submit heap values on interval to telemetry (#944)
  ironfish/src/metrics/metricsMonitor.ts
Due: ironfish

Fix tests
  ironfish/src/blockchain/blockchain.test.ts
Due: ironfish

Fix iteration count
  ironfish/src/blockchain/blockchain.ts
Due: ironfish

Fix test
  ironfish-cli/src/commands/accounts/pay.test.ts
Due: ironfish-cli, ironfish

Fix rescan when account head is on a fork (#937)
  ironfish/src/account/accounts.ts
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/blockchain/blockchain.ts
Due: ironfish

Check synced status before starting pay command (#955)
  ironfish-cli/src/commands/accounts/pay.test.ts
  ironfish-cli/src/commands/accounts/pay.ts
Due: ironfish-cli, ironfish

Bump version to 0.1.21
  ironfish-cli/package.json
Due: ironfish-cli, ironfish

Start napi
  ironfish-rust-nodejs/Cargo.lock
  ironfish-rust-nodejs/Cargo.toml
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust-nodejs/src/structs/note.rs
  rust-toolchain
Due: ironfish-rust, ironfish

Finish napi-rs conversion
  .gitignore
  ironfish-rust-nodejs/Cargo.lock
  ironfish-rust-nodejs/Cargo.toml
  ironfish-rust-nodejs/build.rs
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.node.d.ts
  ironfish-rust-nodejs/index.ts
  ironfish-rust-nodejs/package.json
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust-nodejs/src/structs/note.rs
  ironfish-rust-nodejs/src/structs/note_encrypted.rs
  ironfish-rust-nodejs/src/structs/spend_proof.rs
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust-nodejs/src/structs/witness.rs
  ironfish-rust-nodejs/tsconfig.json
  ironfish-rust/src/keys/public_address.rs
  ironfish-rust/src/keys/view_keys.rs
  ironfish-rust/src/merkle_note.rs
  ironfish-rust/src/mining.rs
  ironfish-rust/src/serializing.rs
  ironfish-rust/src/spending.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish/src/primitives/note.ts
  ironfish/src/primitives/noteEncrypted.ts
  ironfish/src/primitives/transaction.ts
  ironfish/src/workerPool/tasks/createMinersFee.ts
  ironfish/src/workerPool/tasks/createTransaction.ts
  ironfish/src/workerPool/tasks/transactionFee.ts
  ironfish/src/workerPool/tasks/verifyTransaction.ts
  rust-toolchain
  yarn.lock
Due: ironfish-rust, ironfish

Convert more to napi
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust-nodejs/src/structs/note_encrypted.rs
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust/src/merkle_note_hash.rs
Due: ironfish-rust, ironfish

Fixing CI
  .gitignore
  ironfish-cli/tsconfig.json
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/structs/witness.rs
  ironfish/src/strategy.test.slow.ts
  ironfish/tsconfig.test.json
Due: ironfish-rust, ironfish-cli, ironfish

Fix tests
  ironfish-rust-nodejs/package.json
  ironfish-rust-nodejs/src/structs/note.rs
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish/package.json
  ironfish/src/mining/miner.test.ts
Due: ironfish-rust, ironfish

Fix lint
  ironfish/src/workerPool/tasks/getUnspentNotes.ts
Due: ironfish

Format Rust code
  ironfish-rust-nodejs/src/structs/note.rs
  ironfish-rust-nodejs/src/structs/transaction.rs
Due: ironfish-rust, ironfish

More test fixing
  ironfish/src/strategy.test.slow.ts
Due: ironfish

Remove extra print
  ironfish-rust-nodejs/src/lib.rs
Due: ironfish-rust, ironfish

Convert native node code from neon to napi-rs (#947)
  .gitignore
  ironfish-cli/tsconfig.json
  ironfish-rust-nodejs/Cargo.lock
  ironfish-rust-nodejs/Cargo.toml
  ironfish-rust-nodejs/build.rs
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/index.node.d.ts
  ironfish-rust-nodejs/index.ts
  ironfish-rust-nodejs/package.json
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust-nodejs/src/structs/note.rs
  ironfish-rust-nodejs/src/structs/note_encrypted.rs
  ironfish-rust-nodejs/src/structs/spend_proof.rs
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust-nodejs/src/structs/witness.rs
  ironfish-rust-nodejs/tsconfig.json
  ironfish-rust/src/keys/public_address.rs
  ironfish-rust/src/keys/view_keys.rs
  ironfish-rust/src/merkle_note.rs
  ironfish-rust/src/merkle_note_hash.rs
  ironfish-rust/src/mining.rs
  ironfish-rust/src/serializing.rs
  ironfish-rust/src/spending.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish/package.json
  ironfish/src/mining/miner.test.ts
  ironfish/src/primitives/note.ts
  ironfish/src/primitives/noteEncrypted.ts
  ironfish/src/primitives/transaction.ts
  ironfish/src/strategy.test.slow.ts
  ironfish/src/workerPool/tasks/createMinersFee.ts
  ironfish/src/workerPool/tasks/createTransaction.ts
  ironfish/src/workerPool/tasks/getUnspentNotes.ts
  ironfish/src/workerPool/tasks/transactionFee.ts
  ironfish/src/workerPool/tasks/verifyTransaction.ts
  ironfish/tsconfig.test.json
  rust-toolchain
  yarn.lock
Due: ironfish-rust, ironfish-cli, ironfish

Implement persistence, remove min version check for requests, fix tests
  ironfish/src/network/messageRouters/fireAndForget.test.ts
  ironfish/src/network/messageRouters/globalRpc.test.ts
  ironfish/src/network/messageRouters/gossip.test.ts
  ironfish/src/network/messageRouters/rpc.test.ts
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/peers/addressManager.ts
  ironfish/src/network/peers/peerConnectionManager.test.ts
  ironfish/src/network/peers/peerConnectionManager.ts
  ironfish/src/network/peers/peerManager.test.ts
  ironfish/src/network/peers/peerManager.ts
  ironfish/src/node.ts
Due: ironfish

Adjust tests
  ironfish/src/network/peers/addressManager.test.ts
  ironfish/src/network/testUtilities/helpers.ts
Due: ironfish

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish-cli: any of: ironfish-cli, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish: any of: ironfish, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
