Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

Replace node-ipc server native node TCP functionality (#1214)
  ironfish/src/fileStores/config.ts
  ironfish/src/rpc/adapters/tcpAdapter.ts
  ironfish/src/sdk.ts
Due: ironfish

Remove projects from codecov that don't exist (#1221)
  codecov.yml
Due: none

Shrink disconnecting message (#1220)
  ironfish/src/network/messages/cannotSatisfyRequest.ts
  ironfish/src/network/messages/disconnecting.test.ts
  ironfish/src/network/messages/disconnecting.ts
  ironfish/src/typedefs/bufio.d.ts
Due: ironfish

Reduce size of the signal and signalRequest messages
  ironfish/src/network/messages/signal.test.ts
  ironfish/src/network/messages/signal.ts
  ironfish/src/network/messages/signalRequest.test.ts
  ironfish/src/network/messages/signalRequest.ts
Due: ironfish

Reduce size of the signal and signalRequest messages (#1219)
  ironfish/src/network/messages/signal.test.ts
  ironfish/src/network/messages/signal.ts
  ironfish/src/network/messages/signalRequest.test.ts
  ironfish/src/network/messages/signalRequest.ts
Due: ironfish

close TCP server on tcpAdapter stop()
  ironfish/src/rpc/adapters/tcpAdapter.ts
Due: ironfish

Testnet command uses graffiti instead of ID for improved usability
  ironfish-cli/src/commands/testnet.ts
  ironfish/src/webApi.ts
Due: ironfish-cli, ironfish

Testnet command uses graffiti instead of ID for improved usability (#1225)
  ironfish-cli/src/commands/testnet.ts
  ironfish/src/webApi.ts
Due: ironfish-cli, ironfish

close TCP server on tcpAdapter stop() (#1224)
  ironfish/src/rpc/adapters/tcpAdapter.ts
Due: ironfish

changed code style to do early returns without else statements
  ironfish/src/rpc/adapters/tcpAdapter.ts
Due: ironfish

remove unused status code in RPC Request
  ironfish/src/rpc/request.ts
  ironfish/src/rpc/routes/chain/getBlockInfo.ts
Due: ironfish

changed code style to do early returns without else statements (#1226)
  ironfish/src/rpc/adapters/tcpAdapter.ts
Due: ironfish

remove unused status code in RPC Request (#1223)
  ironfish/src/rpc/request.ts
  ironfish/src/rpc/routes/chain/getBlockInfo.ts
Due: ironfish

Shrink the block and block hash request messages
  ironfish/src/network/messages/getBlockHashes.test.ts
  ironfish/src/network/messages/getBlockHashes.ts
  ironfish/src/network/messages/getBlocks.test.ts
  ironfish/src/network/messages/getBlocks.ts
  ironfish/src/network/messages/newBlock.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/primitives/blockheader.ts
  ironfish/src/serde/PartialHeaderSerde.ts
  ironfish/src/typedefs/bufio.d.ts
  ironfish/src/utils/bigint.test.ts
  ironfish/src/utils/bigint.ts
Due: ironfish

Put work back on newBlock
  ironfish/src/network/messages/newBlock.ts
Due: ironfish

Shrink the block and block hash request messages (#1227)
  ironfish/src/network/messages/getBlockHashes.test.ts
  ironfish/src/network/messages/getBlockHashes.ts
  ironfish/src/network/messages/getBlocks.test.ts
  ironfish/src/network/messages/getBlocks.ts
  ironfish/src/network/messages/newBlock.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/primitives/blockheader.ts
  ironfish/src/serde/PartialHeaderSerde.ts
  ironfish/src/typedefs/bufio.d.ts
  ironfish/src/utils/bigint.test.ts
  ironfish/src/utils/bigint.ts
Due: ironfish

Shrink newBlock and change nonce
  ironfish/src/network/messages/getBlocks.ts
  ironfish/src/network/messages/gossipNetworkMessage.ts
  ironfish/src/network/messages/interfaces/networkMessageHeader.ts
  ironfish/src/network/messages/newBlock.test.ts
  ironfish/src/network/messages/newBlock.ts
  ironfish/src/network/messages/newTransaction.test.ts
  ironfish/src/network/messages/newTransaction.ts
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/peers/connections/connection.ts
  ironfish/src/network/utils/block.ts
Due: ironfish

Add most of the mirrored logic from block syncing
  ironfish-cli/src/commands/service/synctransactions.ts
  ironfish-cli/src/commands/service/watch.ts
  ironfish/src/rpc/routes/chain/getTransactionStream.ts
Due: ironfish-cli, ironfish

Shrink identify message
  ironfish/src/network/messages/identify.test.ts
  ironfish/src/network/messages/identify.ts
  ironfish/src/network/messages/rpcNetworkMessage.ts
  ironfish/src/network/peers/connections/connection.test.ts
  ironfish/src/network/peers/connections/connection.ts
  ironfish/src/network/peers/connections/webRtcConnection.test.ts
  ironfish/src/network/peers/connections/webSocketConnection.test.ts
  ironfish/src/network/peers/localPeer.test.ts
  ironfish/src/network/peers/localPeer.ts
  ironfish/src/network/peers/peerManager.test.ts
  ironfish/src/network/peers/peerManager.ts
Due: ironfish

Upgrade minimist to 1.2.6
  yarn.lock
Due: none

Upgrade minimist to 1.2.6 (#1230)
  yarn.lock
Due: none

Fix telemetry serializing floats
  ironfish/src/workerPool/tasks/submitTelemetry.test.ts
  ironfish/src/workerPool/tasks/submitTelemetry.ts
Due: ironfish

Fix telemetry serializing floats (#1231)
  ironfish/src/workerPool/tasks/submitTelemetry.test.ts
  ironfish/src/workerPool/tasks/submitTelemetry.ts
Due: ironfish

Add deposit CLI command
  ironfish-cli/src/commands/deposit.ts
Due: ironfish-cli, ironfish

Add progress bar and clean up graffiti usage
  ironfish-cli/src/commands/deposit.ts
Due: ironfish-cli, ironfish

Move "new work" messages to debug
  ironfish/src/mining/poolMiner.ts
  ironfish/src/mining/soloMiner.ts
Due: ironfish

Update to proper sqlite3 version
  ironfish/package.json
  yarn.lock
Due: ironfish

feat(ironfish): Create abstract class for serializable network messages (#1169)
  ironfish/src/network/messages/networkMessage.ts
Due: ironfish

feat(ironfish): Expand `parseMessage` to take `string | Buffer` (#1168)
  ironfish-cli/src/commands/peers/show.ts
  ironfish/src/network/messages.ts
  ironfish/src/network/peers/connections/connection.ts
  ironfish/src/network/peers/connections/webRtcConnection.ts
  ironfish/src/network/peers/connections/webSocketConnection.ts
  ironfish/src/network/peers/peer.ts
  ironfish/src/network/peers/peerManager.ts
  ironfish/src/rpc/routes/peers/getPeerMessages.ts
Due: ironfish-cli, ironfish

feat(ironfish): Make identify message buffer serializable (#1180)
  ironfish-cli/src/commands/peers/show.ts
  ironfish/jest.setup.env.js
  ironfish/src/network/messages.test.ts
  ironfish/src/network/messages.ts
  ironfish/src/network/messages/identify.ts
  ironfish/src/network/messages/interfaces/networkMessageHeader.ts
  ironfish/src/network/messages/networkMessage.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/peers/connections/connection.test.ts
  ironfish/src/network/peers/connections/connection.ts
  ironfish/src/network/peers/connections/webRtcConnection.test.ts
  ironfish/src/network/peers/connections/webRtcConnection.ts
  ironfish/src/network/peers/connections/webSocketConnection.test.ts
  ironfish/src/network/peers/connections/webSocketConnection.ts
  ironfish/src/network/peers/localPeer.test.ts
  ironfish/src/network/peers/localPeer.ts
  ironfish/src/network/peers/peer.ts
  ironfish/src/network/peers/peerManager.test.ts
  ironfish/src/network/peers/peerManager.ts
  ironfish/src/rpc/routes/peers/getPeerMessages.ts
Due: ironfish-cli, ironfish

Fix serialization of peer messages with bigints
  ironfish/src/rpc/routes/peers/getPeerMessages.ts
Due: ironfish

Shrink identify message (#1229)
  ironfish/src/network/messages/identify.test.ts
  ironfish/src/network/messages/identify.ts
  ironfish/src/network/messages/rpcNetworkMessage.ts
  ironfish/src/network/peers/connections/connection.test.ts
  ironfish/src/network/peers/connections/connection.ts
  ironfish/src/network/peers/connections/webRtcConnection.test.ts
  ironfish/src/network/peers/connections/webSocketConnection.test.ts
  ironfish/src/network/peers/localPeer.test.ts
  ironfish/src/network/peers/localPeer.ts
  ironfish/src/network/peers/peerManager.test.ts
  ironfish/src/network/peers/peerManager.ts
Due: ironfish

feat(ironfish): Make signal request message buffer serializable (#1184)
  ironfish/src/network/messages.ts
  ironfish/src/network/messages/networkMessage.ts
  ironfish/src/network/messages/signalRequest.test.ts
  ironfish/src/network/messages/signalRequest.ts
  ironfish/src/network/peers/connections/connection.ts
  ironfish/src/network/peers/peer.ts
  ironfish/src/network/peers/peerManager.test.ts
  ironfish/src/network/peers/peerManager.ts
Due: ironfish

feat(ironfish): Move new blocks to buffer serialization (#1204)
  ironfish/src/network/messages.ts
  ironfish/src/network/messages/networkMessage.ts
  ironfish/src/network/messages/newBlock.test.ts
  ironfish/src/network/messages/newBlock.ts
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/peers/connections/connection.ts
  ironfish/src/network/peers/connections/webRtcConnection.ts
  ironfish/src/network/peers/connections/webSocketConnection.ts
Due: ironfish

Code review
  ironfish/src/network/peerNetwork.ts
Due: ironfish

feat(ironfish): Yeet the old message types (#1205)
  ironfish/src/network/index.ts
  ironfish/src/network/messageRouters/fireAndForget.test.ts
  ironfish/src/network/messageRouters/fireAndForget.ts
  ironfish/src/network/messageRouters/globalRpc.test.ts
  ironfish/src/network/messageRouters/globalRpc.ts
  ironfish/src/network/messageRouters/gossip.test.ts
  ironfish/src/network/messageRouters/gossip.ts
  ironfish/src/network/messageRouters/rpc.test.ts
  ironfish/src/network/messageRouters/rpc.ts
  ironfish/src/network/messages.test.ts
  ironfish/src/network/messages.ts
  ironfish/src/network/messages/networkMessage.ts
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/peers/connections/connection.ts
  ironfish/src/network/peers/connections/webRtcConnection.ts
  ironfish/src/network/peers/connections/webSocketConnection.ts
  ironfish/src/network/peers/peer.test.ts
  ironfish/src/network/peers/peer.ts
  ironfish/src/network/peers/peerManager.ts
Due: ironfish

Clean up peer messages
  ironfish-cli/src/commands/peers/show.ts
  ironfish/src/rpc/routes/peers/getPeerMessages.ts
Due: ironfish-cli, ironfish

feat(ironfish): Convert new transaction to buffer serialization (#1203)
  ironfish/src/network/messageRouters/fireAndForget.ts
  ironfish/src/network/messageRouters/gossip.ts
  ironfish/src/network/messageRouters/messageRouter.ts
  ironfish/src/network/messageRouters/rpc.ts
  ironfish/src/network/messages.ts
  ironfish/src/network/messages/gossipNetworkMessage.ts
  ironfish/src/network/messages/interfaces/networkMessageHeader.ts
  ironfish/src/network/messages/networkMessage.ts
  ironfish/src/network/messages/newTransaction.test.ts
  ironfish/src/network/messages/newTransaction.ts
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/peers/connections/connection.ts
  ironfish/src/network/peers/peerManager.ts
Due: ironfish

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish-cli: any of: ironfish-cli, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish: any of: ironfish, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
