Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish

codecov.yml:

ignore:
  - config/*
  - ironfish-rust-nodejs/*
comment: false
github_checks:
  annotations: false
coverage:
  fixes:
    - "/home/runner/work/ironfish/ironfish/::/"
  status:
    patch:
      default:
        target: 10%
        threshold: 0%
    project:
      default:
        target: 10%
      ironfish-rust:
        target: 10%
        flags:
          - ironfish-rust
      ironfish-cli:
        target: 10%
        flags:
          - ironfish-cli
      ironfish:
        target: 10%
        flags:
          - ironfish
flags:
  ironfish-rust:
    paths:
      - ironfish-rust
    carryforward: true
  ironfish:
    paths:
      - ironfish
    carryforward: true

chore: upgrade blake3 to allow compatibility with reddsa frost
  Cargo.lock
  ironfish-rust/Cargo.toml
Due: ironfish-rust, ironfish

Fix type
  ironfish-cli/src/utils/explorer.ts
Due: ironfish

fix test
  ironfish/src/consensus/verifier.test.ts
Due: ironfish

upgrade dependency for ironfish-mpc on byteorder
  Cargo.lock
  ironfish-mpc/Cargo.toml
Due: ironfish

build function stub in NativeTransaction
  ironfish-rust-nodejs/src/structs/transaction.rs
Due: ironfish-rust, ironfish

add updated dependencies
  Cargo.lock
  ironfish-mpc/Cargo.toml
Due: ironfish

chore: upgrade blake3 to allow compatibility with reddsa frost (#4511)
  Cargo.lock
  ironfish-rust/Cargo.toml
Due: ironfish-rust, ironfish

upgrade dependency for ironfish-mpc on byteorder (#4512)
  Cargo.lock
  ironfish-mpc/Cargo.toml
Due: ironfish

add ironfish-frost as a dependency
  ironfish-rust/Cargo.toml
Due: ironfish-rust, ironfish

updates cargo lock with new dependencies from ironfish-frost
  Cargo.lock
Due: none

Fix pool to query networkId later
  ironfish-cli/src/commands/miners/pools/start.ts
  ironfish-cli/src/commands/wallet/burn.ts
  ironfish-cli/src/commands/wallet/mint.ts
  ironfish-cli/src/commands/wallet/notes/combine.ts
  ironfish-cli/src/commands/wallet/send.ts
  ironfish-cli/src/utils/explorer.ts
  ironfish/src/mining/pool.ts
  ironfish/src/mining/webhooks/webhookNotifier.ts
Due: ironfish

Refactor explorer code
  ironfish-cli/src/commands/miners/pools/start.ts
  ironfish-cli/src/commands/wallet/burn.ts
  ironfish-cli/src/commands/wallet/mint.ts
  ironfish-cli/src/commands/wallet/notes/combine.ts
  ironfish-cli/src/commands/wallet/send.ts
  ironfish-cli/src/utils/explorer.ts
  ironfish/src/mining/pool.ts
  ironfish/src/mining/webhooks/index.ts
  ironfish/src/mining/webhooks/webhookNotifier.ts
Due: ironfish

fix network urls
  ironfish-cli/src/utils/explorer.ts
Due: ironfish

fix combine method
  ironfish-cli/src/commands/wallet/burn.ts
  ironfish-cli/src/commands/wallet/mint.ts
  ironfish-cli/src/commands/wallet/notes/combine.ts
  ironfish-cli/src/commands/wallet/send.ts
Due: ironfish

remove vague type
  ironfish/src/mining/pool.ts
Due: ironfish

Move block explorer urls to CLI client side and out of the SDK (#4510)
  ironfish-cli/src/commands/miners/pools/start.ts
  ironfish-cli/src/commands/wallet/burn.ts
  ironfish-cli/src/commands/wallet/mint.ts
  ironfish-cli/src/commands/wallet/notes/combine.ts
  ironfish-cli/src/commands/wallet/send.ts
  ironfish-cli/src/utils/explorer.ts
  ironfish/src/fileStores/config.ts
  ironfish/src/mining/pool.ts
  ironfish/src/mining/webhooks/index.ts
  ironfish/src/mining/webhooks/webhookNotifier.ts
  ironfish/src/rpc/clients/client.ts
Due: ironfish

Use readonly BlockHeader fields in verifier tests (#4508)
  ironfish/src/consensus/__fixtures__/verifier.test.ts.fixture
  ironfish/src/consensus/verifier.test.ts
Due: ironfish

Make sure noteSize and work on genesis block are preserved
  ironfish/src/genesis/makeGenesisBlock.ts
Due: ironfish

cargo update
  Cargo.lock
Due: none

add ironfish-frost dependency
  Cargo.lock
  ironfish-rust/Cargo.toml
Due: ironfish-rust, ironfish

add dependencies for ironfish-frost and perform necessary upgrades
  Cargo.lock
  ironfish-rust/Cargo.toml
Due: ironfish-rust, ironfish

Use readonly BlockHeader fields in genesis block creation (#4509)
  ironfish/src/genesis/makeGenesisBlock.ts
Due: ironfish

update dependencies for ironfish-frost and use minimal versions
  Cargo.lock
  ironfish-rust/Cargo.toml
Due: ironfish-rust, ironfish

adding trusted dealer key package napi struct
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/lib.rs
Due: ironfish-rust, ironfish

update dependencies for ironfish-frost and use minimal versions (#4519)
  Cargo.lock
  ironfish-rust/Cargo.toml
Due: ironfish-rust, ironfish

moving TrustedDealerKeyPackages to keypackages new file
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust-nodejs/src/structs/key_packages.rs
  ironfish-rust-nodejs/src/structs/mod.rs
Due: ironfish-rust, ironfish

resetging librs
  ironfish-rust-nodejs/src/lib.rs
Due: ironfish-rust, ironfish

adding license header
  ironfish-rust-nodejs/src/structs/key_packages.rs
Due: ironfish-rust, ironfish

running cargo fmt linter
  ironfish-rust-nodejs/src/structs/key_packages.rs
Due: ironfish-rust, ironfish

Unit tests don't modify block header fields directly
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/mining/__fixtures__/manager.test.slow.ts.fixture
  ironfish/src/mining/manager.test.slow.ts
  ironfish/src/primitives/__fixtures__/block.test.ts.fixture
  ironfish/src/primitives/block.test.ts
  ironfish/src/primitives/blockheader.test.ts
  ironfish/src/utils/blockutil.test.ts
Due: ironfish

regenerate fixture
  ironfish/src/mining/__fixtures__/manager.test.slow.ts.fixture
Due: ironfish

Unit tests don't modify block header fields directly (#4521)
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/mining/__fixtures__/manager.test.slow.ts.fixture
  ironfish/src/mining/manager.test.slow.ts
  ironfish/src/primitives/__fixtures__/block.test.ts.fixture
  ironfish/src/primitives/block.test.ts
  ironfish/src/primitives/blockheader.test.ts
  ironfish/src/utils/blockutil.test.ts
Due: ironfish

Make BlockHeader fields readonly
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/primitives/blockheader.ts
Due: ironfish

adding trusted dealer key package napi struct (#4520)
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/structs/key_packages.rs
  ironfish-rust-nodejs/src/structs/mod.rs
Due: ironfish-rust, ironfish

Remove unneeded computeHash() in chain
  ironfish/src/blockchain/blockchain.ts
Due: ironfish

Make BlockHeader fields readonly (#4523)
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/primitives/blockheader.ts
Due: ironfish

ironfish frost with reddsa export
  Cargo.lock
Due: none

reverting rand core depdency downgrade
  Cargo.lock
Due: none

ironfish frost with reddsa export (#4524)
  Cargo.lock
Due: none
