Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

codecov.yml:

ignore:
  - config/*
  - ironfish-rust-nodejs/*
  - ironfish-rust-wasm/*
comment: false
github_checks:
  annotations: false
coverage:
  fixes:
    - "/home/runner/work/ironfish/ironfish/::/"
  status:
    patch:
      default:
        target: auto
        threshold: 0%
    project:
      default:
        target: 10%
      ironfish-rust:
        target: 10%
        flags:
          - ironfish-rust
      ironfish-cli:
        target: 10%
        flags:
          - ironfish-cli
      ironfish:
        target: 10%
        flags:
          - ironfish
      event:
        target: 84%
        flags:
          - event
      logger:
        target: 90%
        flags:
          - logger
      serde:
        target: 90%
        flags:
          - serde
flags:
  ironfish-rust:
    paths:
      - ironfish-rust
    carryforward: true
  ironfish-cli:
    paths:
      - ironfish-cli
    carryforward: true
  ironfish:
    paths:
      - ironfish
    carryforward: true

Adjustment to miners:mined RPC route (#1239)
  ironfish-cli/src/commands/miners/mined.ts
  ironfish/src/rpc/routes/mining/exportMined.ts
Due: ironfish-cli, ironfish

Add index for mined blocks (#1189)
  ironfish/src/account/accounts.ts
  ironfish/src/fileStores/config.ts
  ironfish/src/indexers/__fixtures__/minedBlocksIndexer.test.ts.fixture
  ironfish/src/indexers/database/accountsToRemove.test.ts
  ironfish/src/indexers/database/accountsToRemove.ts
  ironfish/src/indexers/database/meta.test.ts
  ironfish/src/indexers/database/meta.ts
  ironfish/src/indexers/database/minedBlock.test.ts
  ironfish/src/indexers/database/minedBlock.ts
  ironfish/src/indexers/database/sequenceToHashes.test.ts
  ironfish/src/indexers/database/sequenceToHashes.ts
  ironfish/src/indexers/minedBlocksIndexer.test.ts
  ironfish/src/indexers/minedBlocksIndexer.ts
  ironfish/src/node.ts
Due: ironfish

Add indexes to reset command (#1433)
  ironfish-cli/src/commands/reset.ts
Due: ironfish-cli, ironfish

Revert "remove enableNativeRpcTcpAdapter flag and switch to native TCP adapter (#1388)"
  ironfish/src/fileStores/config.ts
  ironfish/src/rpc/adapters/ipcAdapter.ts
  ironfish/src/sdk.ts
Due: ironfish

"Deleted transactions" log should now only display if transactions are actually removed (#1432)
  ironfish/src/memPool/memPool.ts
Due: ironfish

Document field sizes and speed up merkleHash (#1389)
  ironfish/src/primitives/noteEncrypted.ts
  ironfish/src/primitives/transaction.ts
Due: ironfish

Only count good clients, and properly dispose of clients that error out
  ironfish/src/mining/pool.ts
  ironfish/src/mining/stratum/stratumServer.ts
Due: ironfish

Update ironfish/src/mining/stratum/stratumServer.ts
  ironfish/src/mining/stratum/stratumServer.ts
Due: ironfish

Pool: Only count good clients, and properly dispose of clients that error out (#1442)
  ironfish/src/mining/pool.ts
  ironfish/src/mining/stratum/stratumServer.ts
Due: ironfish

Revert "remove enableNativeRpcTcpAdapter flag and switch to native TCP adapter (#1388)" (#1434)
  ironfish/src/fileStores/config.ts
  ironfish/src/rpc/adapters/ipcAdapter.ts
  ironfish/src/sdk.ts
Due: ironfish

Bump versions to 0.1.35, 0.0.13
  ironfish-cli/package.json
  ironfish/package.json
Due: ironfish-cli, ironfish

Bump versions to 0.1.35, 0.0.13 (#1444)
  ironfish-cli/package.json
  ironfish/package.json
Due: ironfish-cli, ironfish

add fallback for terminals that does not support hyperlinks
  ironfish-cli/package.json
  ironfish-cli/src/commands/miners/mined.ts
  ironfish-cli/src/commands/start.ts
  ironfish-cli/src/typedefs/supports-hyperlinks.d.ts
  ironfish/src/metrics/meter.ts
  yarn.lock
Due: ironfish-cli, ironfish

IRO-1940: define IronfishClient, move IronfishRpcClient down one level of abstraction
  ironfish-cli/src/commands/deposit.ts
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/clients/index.ts
  ironfish/src/rpc/clients/memoryClient.ts
  ironfish/src/rpc/clients/rpcClient.ts
  ironfish/src/sdk.ts
Due: ironfish-cli, ironfish

fixes linting errors
  ironfish/src/rpc/clients/rpcClient.ts
  ironfish/src/sdk.ts
Due: ironfish

restores logger into IronfishMemoryClient in sdk
  ironfish/src/sdk.ts
Due: ironfish

Add abstract IronfishClient (#1448)
  ironfish-cli/src/commands/deposit.ts
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/clients/index.ts
  ironfish/src/rpc/clients/memoryClient.ts
  ironfish/src/rpc/clients/rpcClient.ts
  ironfish/src/sdk.ts
Due: ironfish-cli, ironfish

remove options? from constructor and connect
  ironfish/src/rpc/clients/memoryClient.ts
  ironfish/src/sdk.test.ts
  ironfish/src/sdk.ts
  ironfish/src/testUtilities/routeTest.ts
Due: ironfish

refactor sdk to have memoryadadpter creation and connect in same place
  ironfish/src/sdk.test.ts
  ironfish/src/sdk.ts
Due: ironfish

Only broadcast transaction if mempool accepted it
  ironfish/src/account/accounts.ts
Due: ironfish

refactor memoryClient to use an init function
  ironfish/src/rpc/clients/memoryClient.ts
  ironfish/src/sdk.ts
  ironfish/src/testUtilities/routeTest.ts
Due: ironfish

Refactor MemoryClient (#1450)
  ironfish/src/rpc/clients/memoryClient.ts
  ironfish/src/sdk.test.ts
  ironfish/src/sdk.ts
  ironfish/src/testUtilities/routeTest.ts
Due: ironfish

remove dead code in RPC layer
  ironfish/src/rpc/adapters/adapter.ts
  ironfish/src/rpc/adapters/ipcAdapter.ts
  ironfish/src/rpc/adapters/memoryAdapter.ts
  ironfish/src/rpc/adapters/tcpAdapter.ts
  ironfish/src/rpc/clients/memoryClient.ts
  ironfish/src/rpc/server.ts
Due: ironfish

remove dead code in RPC layer (#1451)
  ironfish/src/rpc/adapters/adapter.ts
  ironfish/src/rpc/adapters/ipcAdapter.ts
  ironfish/src/rpc/adapters/memoryAdapter.ts
  ironfish/src/rpc/adapters/tcpAdapter.ts
  ironfish/src/rpc/clients/memoryClient.ts
  ironfish/src/rpc/server.ts
Due: ironfish

don't treat MemoryAdapter as an IAdaper
  ironfish/src/rpc/adapters/memoryAdapter.ts
  ironfish/src/rpc/clients/memoryClient.ts
  ironfish/src/sdk.ts
  ironfish/src/testUtilities/routeTest.ts
Due: ironfish

update tests to not use memoryAdapter directly
  ironfish/src/rpc/clients/memoryClient.ts
  ironfish/src/rpc/routes/accounts/create.test.slow.ts
  ironfish/src/rpc/routes/accounts/getPublicKey.test.ts
  ironfish/src/rpc/routes/accounts/rescanAccount.test.ts
  ironfish/src/rpc/routes/chain/getBlock.test.ts
  ironfish/src/rpc/routes/chain/getChainInfo.test.ts
  ironfish/src/rpc/routes/config/getConfig.test.ts
  ironfish/src/rpc/routes/config/setConfig.test.ts
  ironfish/src/rpc/routes/faucet/getFunds.test.ts
  ironfish/src/rpc/routes/mining/blockTemplateStream.test.slow.ts
  ironfish/src/rpc/routes/node/getLogStream.test.ts
  ironfish/src/rpc/routes/node/getStatus.test.ts
  ironfish/src/rpc/routes/node/stopNode.test.ts
  ironfish/src/rpc/routes/workers/getStatus.test.ts
  ironfish/src/testUtilities/routeTest.ts
Due: ironfish

combine functionality of MemoryClient and MemoryAdapter
  ironfish/src/rpc/adapters/memoryAdapter.ts
  ironfish/src/rpc/clients/memoryClient.ts
Due: ironfish

add fallback url for unsupported terminals
  ironfish-cli/package.json
  ironfish-cli/src/commands/miners/mined.ts
  ironfish-cli/src/typedefs/supports-hyperlinks.d.ts
  yarn.lock
Due: ironfish-cli, ironfish

FEAT: auto-update script
  README.md
  build_ubuntu.sh
  mine_pool.sh
  run_node.sh
Due: none

Reset sapling circuits to base zcash
  ironfish-rust/src/proofs/circuit/sapling.rs
Due: ironfish-rust, ironfish

Combine MemoryAdapter and MemoryClient functionality (#1453)
  ironfish/src/rpc/adapters/memoryAdapter.ts
  ironfish/src/rpc/clients/memoryClient.ts
  ironfish/src/rpc/routes/accounts/create.test.slow.ts
  ironfish/src/rpc/routes/accounts/getPublicKey.test.ts
  ironfish/src/rpc/routes/accounts/rescanAccount.test.ts
  ironfish/src/rpc/routes/chain/getBlock.test.ts
  ironfish/src/rpc/routes/chain/getChainInfo.test.ts
  ironfish/src/rpc/routes/config/getConfig.test.ts
  ironfish/src/rpc/routes/config/setConfig.test.ts
  ironfish/src/rpc/routes/faucet/getFunds.test.ts
  ironfish/src/rpc/routes/mining/blockTemplateStream.test.slow.ts
  ironfish/src/rpc/routes/node/getLogStream.test.ts
  ironfish/src/rpc/routes/node/getStatus.test.ts
  ironfish/src/rpc/routes/node/stopNode.test.ts
  ironfish/src/rpc/routes/workers/getStatus.test.ts
  ironfish/src/sdk.ts
  ironfish/src/testUtilities/routeTest.ts
Due: ironfish

fix(ironfish): Use `tx` object when updating `noteToNullifier` map
  ironfish/src/account/accounts.ts
Due: ironfish

add test for blocks:show command
  ironfish-cli/src/commands/blocks/show.test.ts
Due: ironfish-cli, ironfish

Add tests for logic change in accounts pay function
  ironfish/src/account/__fixtures__/accounts.test.ts.fixture
  ironfish/src/account/accounts.test.ts
  ironfish/src/account/accounts.ts
Due: ironfish

Increase test timeout for accounts pay tests
  ironfish/src/account/accounts.test.ts
Due: ironfish

Version upgrades + required code changes so we can use a version of Bellman that contains the batch verifier
  ironfish-rust-nodejs/Cargo.lock
  ironfish-rust-wasm/Cargo.lock
  ironfish-rust/Cargo.lock
  ironfish-rust/Cargo.toml
  ironfish-rust/src/keys/mod.rs
  ironfish-rust/src/keys/public_address.rs
  ironfish-rust/src/merkle_note.rs
  ironfish-rust/src/merkle_note_hash.rs
  ironfish-rust/src/note.rs
  ironfish-rust/src/receiving.rs
  ironfish-rust/src/serializing.rs
  ironfish-rust/src/spending.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/tests.rs
Due: ironfish-rust, ironfish

Batch verification proof of concept utilizing 2 calls to verify per TX
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish
