Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

Use promise all
  ironfish-cli/src/commands/wallet/send.ts
Due: ironfish-cli, ironfish

fixes account reset to use mark and sweep
  ironfish/src/rpc/routes/wallet/removeAccount.ts
  ironfish/src/wallet/__fixtures__/wallet.test.ts.fixture
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

Rename from fee rate to selection
  ironfish-cli/src/commands/wallet/send.ts
Due: ironfish-cli, ironfish

Rename to selection
  ironfish-cli/src/commands/wallet/send.ts
Due: ironfish-cli, ironfish

fixes calculation of confirmed balance
  ironfish-cli/src/commands/wallet/balance.ts
  ironfish-cli/src/commands/wallet/balances.ts
  ironfish/src/wallet/__fixtures__/account.test.ts.fixture
  ironfish/src/wallet/account.test.ts
  ironfish/src/wallet/account.ts
Due: ironfish-cli, ironfish

Refacor
  ironfish-cli/src/commands/wallet/send.ts
  ironfish/src/rpc/routes/chain/estimateFeeRates.ts
Due: ironfish-cli, ironfish

getBlock route returns on-chain block of the specified index
  ironfish/src/rpc/routes/chain/getBlock.ts
Due: ironfish

fixes calculation of confirmed balance (#3059)
  ironfish-cli/src/commands/wallet/balance.ts
  ironfish-cli/src/commands/wallet/balances.ts
  ironfish/src/wallet/__fixtures__/account.test.ts.fixture
  ironfish/src/wallet/account.test.ts
  ironfish/src/wallet/account.ts
Due: ironfish-cli, ironfish

Create a timestamp column
  ironfish-cli/src/commands/wallet/transactions.ts
  ironfish-cli/src/utils/table.ts
Due: ironfish-cli, ironfish

fixes account reset to use mark and sweep (#3050)
  ironfish/src/rpc/routes/wallet/removeAccount.ts
  ironfish/src/wallet/__fixtures__/wallet.test.ts.fixture
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

WIP updates balances store for each block
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/assetBalances.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

adds tests of updating balance hash and sequence
  ironfish/src/wallet/__fixtures__/wallet.test.ts.fixture
  ironfish/src/wallet/wallet.test.ts
Due: ironfish

Added note
  ironfish-cli/src/utils/table.ts
Due: ironfish-cli, ironfish

Clarify streaming parameter
  ironfish-cli/src/commands/wallet/transactions.ts
  ironfish-cli/src/utils/table.ts
Due: ironfish-cli, ironfish

fix(cli): faucet service correctly invalidates bad public addresses (#3042)
  ironfish-cli/src/commands/service/faucet.ts
Due: ironfish-cli, ironfish

updates balances store for each block (#2965)
  ironfish/src/wallet/__fixtures__/wallet.test.ts.fixture
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/assetBalances.ts
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

Create a timestamp column (#3087)
  ironfish-cli/src/commands/wallet/transactions.ts
  ironfish-cli/src/utils/table.ts
Due: ironfish-cli, ironfish

Change Buffer to JsBuffer in verifyTransactions
  ironfish-rust-nodejs/src/structs/transaction.rs
Due: ironfish-rust, ironfish

Check undefined
  ironfish-cli/src/commands/wallet/send.ts
Due: ironfish-cli, ironfish

add sources to transactions state in transaction fetcher (#2797)
  ironfish/src/network/transactionFetcher.ts
Due: ironfish

feat: add owner address to output of transaction table
  ironfish-cli/src/commands/wallet/transaction.ts
  ironfish/src/primitives/note.ts
  ironfish/src/rpc/routes/wallet/getTransaction.ts
  ironfish/src/rpc/routes/wallet/types.ts
Due: ironfish-cli, ironfish

excludes fee paid from amount in transactions list
  ironfish-cli/src/commands/wallet/transactions.ts
Due: ironfish-cli, ironfish

fixes display of negative net amount
  ironfish-cli/src/commands/wallet/transactions.ts
Due: ironfish-cli, ironfish

feat: add owner address to output of transaction table (#3092)
  ironfish-cli/src/commands/wallet/transaction.ts
  ironfish/src/primitives/note.ts
  ironfish/src/rpc/routes/wallet/getTransaction.ts
  ironfish/src/rpc/routes/wallet/types.ts
Due: ironfish-cli, ironfish

fixes key range for pending transactions
  ironfish/src/wallet/__fixtures__/account.test.ts.fixture
  ironfish/src/wallet/account.test.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish

fixes lint
  ironfish-cli/src/commands/wallet/transactions.ts
Due: ironfish-cli, ironfish

fixes key range for pending transactions (#3093)
  ironfish/src/wallet/__fixtures__/account.test.ts.fixture
  ironfish/src/wallet/account.test.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish

Add ironflag
  ironfish-cli/src/commands/wallet/send.ts
  ironfish-cli/src/flags.ts
Due: ironfish-cli, ironfish

Use null check
  ironfish-cli/src/commands/wallet/send.ts
Due: ironfish-cli, ironfish

Fee rate needs to large than 0
  ironfish-cli/src/commands/wallet/send.ts
Due: ironfish-cli, ironfish

Update name
  ironfish-cli/src/commands/wallet/send.ts
Due: ironfish-cli, ironfish

Ignore flags.ts since its using oclif library
  ironfish-cli/.eslintrc.js
Due: ironfish-cli, ironfish

Rename
  ironfish-cli/src/commands/wallet/send.ts
  ironfish-cli/src/flags.ts
Due: ironfish-cli, ironfish

Disable oneline
  ironfish-cli/.eslintrc.js
  ironfish-cli/src/flags.ts
Due: ironfish-cli, ironfish

check undefined
  ironfish-cli/src/flags.ts
Due: ironfish-cli, ironfish

wallet: send refactor (#3044)
  ironfish-cli/src/commands/wallet/send.ts
  ironfish-cli/src/flags.ts
  ironfish/src/primitives/index.ts
  ironfish/src/rpc/routes/chain/estimateFeeRates.ts
  ironfish/src/rpc/routes/wallet/createTransaction.ts
Due: ironfish-cli, ironfish

Remove estimate fee api
  ironfish/src/memPool/feeEstimator.test.ts
  ironfish/src/memPool/feeEstimator.ts
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/chain/estimateFee.test.ts
  ironfish/src/rpc/routes/chain/estimateFee.ts
Due: ironfish

Remove index
  ironfish/src/rpc/routes/chain/index.ts
Due: ironfish

calculates pending balance
  ironfish-cli/src/commands/wallet/balance.ts
  ironfish-cli/src/commands/wallet/balances.ts
  ironfish/src/rpc/routes/wallet/getBalance.ts
  ironfish/src/rpc/routes/wallet/getBalances.test.ts
  ironfish/src/rpc/routes/wallet/getBalances.ts
  ironfish/src/rpc/routes/wallet/sendTransaction.test.ts
  ironfish/src/wallet/__fixtures__/account.test.ts.fixture
  ironfish/src/wallet/account.test.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish-cli, ironfish

Lint
  ironfish/src/memPool/feeEstimator.test.ts
  ironfish/src/memPool/feeEstimator.ts
Due: ironfish

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish-cli: any of: ironfish-cli, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish: any of: ironfish, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
