Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

codecov.yml:

ignore:
  - config/*
  - ironfish-rust-nodejs/*
  - ironfish-rust-wasm/*
comment: false
github_checks:
  annotations: false
coverage:
  fixes:
    - "/home/runner/work/ironfish/ironfish/::/"
  status:
    patch:
      default:
        target: auto
        threshold: 50%
    project:
      default:
        target: 63%
      ironfish-rust:
        target: 53%
        flags:
          - ironfish-rust
      ironfish-cli:
        target: 50%
        flags:
          - ironfish-cli
      ironfish:
        target: 60%
        flags:
          - ironfish
      event:
        target: 84%
        flags:
          - event
      logger:
        target: 90%
        flags:
          - logger
      serde:
        target: 90%
        flags:
          - serde
flags:
  ironfish-rust:
    paths:
      - ironfish-rust
    carryforward: true
  ironfish-cli:
    paths:
      - ironfish-cli
    carryforward: true
  ironfish:
    paths:
      - ironfish
    carryforward: true

Fix ironfish-rust-nodejs gitignore
  .gitignore
Due: none

Remove isWorker/broadcastWorker code
  ironfish-cli/src/commands/start.test.ts
  ironfish-cli/src/commands/start.ts
  ironfish/src/fileStores/config.ts
  ironfish/src/network/messages.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/peers/localPeer.ts
  ironfish/src/network/peers/peer.ts
  ironfish/src/network/peers/peerManager.test.ts
  ironfish/src/network/peers/peerManager.ts
  ironfish/src/node.ts
Due: ironfish-cli, ironfish

Fix brew build
  ironfish-cli/scripts/build.sh
Due: ironfish-cli, ironfish

Pin cargo-cp-artifact at 0.1.5
  ironfish-rust-nodejs/package.json
  yarn.lock
Due: none

Remove index.node.d.ts from .gitignore
  .gitignore
  ironfish-cli/scripts/build.sh
Due: ironfish-cli, ironfish

Move set expiration sequence to NativeTransaction
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust-nodejs/src/structs/transaction.rs
Due: ironfish-rust, ironfish

Disable dependabot pull requests
  .github/dependabot.yml
Due: none

Rebase tsconfig
  config/jest.config.base.js
  ironfish-rust-nodejs/tsconfig.json
Due: none

Revert config
  config/jest.config.base.js
Due: none

IRO-1283: Buffer serialization of block
  ironfish/src/blockchain/encoding.ts
  ironfish/src/consensus/verifier.test.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/primitives/block.ts
  ironfish/src/primitives/blockheader.ts
Due: ironfish

Update note value
  .gitignore
  ironfish/src/strategy.test.slow.ts
Due: ironfish

Don't rebroadcast invalid transactions
  ironfish/src/account/__fixtures__/accounts.test.ts.fixture
  ironfish/src/account/accounts.test.ts
  ironfish/src/account/accounts.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/memPool/memPool.ts
Due: ironfish

Fixed test name and remove only
  ironfish/src/account/accounts.test.ts
Due: ironfish

Fix orthagonal comment typo
  ironfish/src/account/accounts.ts
Due: ironfish

Remove out-dated comment
  ironfish/src/memPool/memPool.ts
Due: ironfish

Fix lint
  ironfish/src/account/accounts.test.ts
Due: ironfish

Don't rebroadcast invalid transactions (#409)
  ironfish/src/account/__fixtures__/accounts.test.ts.fixture
  ironfish/src/account/accounts.test.ts
  ironfish/src/account/accounts.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/memPool/memPool.ts
Due: ironfish

Bump to version 0.1.3
  ironfish/package.json
Due: ironfish

Temporary fix for double block bug in sync
  ironfish/src/chainProcessor.ts
Due: ironfish

IRO-1283: Generate new genesis block as binary
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/genesis/genesisBlock.ts
  ironfish/src/primitives/__fixtures__/block.test.ts.fixture
  ironfish/src/primitives/block.test.ts
  ironfish/src/primitives/blockheader.test.ts
  ironfish/src/primitives/blockheader.ts
Due: ironfish

Update ironfish/src/chainProcessor.ts
  ironfish/src/chainProcessor.ts
Due: ironfish

Temporary fix for double block bug in sync (#472)
  ironfish/src/chainProcessor.ts
Due: ironfish

Remove TODO items from chainProcessor
  ironfish/src/chainProcessor.ts
Due: ironfish

IRO-1169: Miners fee should always be transaction at index 0
  ironfish/src/primitives/block.ts
Due: ironfish

IRO-1185: Add test for get minersFee method (#394)
  ironfish/src/primitives/__fixtures__/block.test.ts.fixture
  ironfish/src/primitives/block.test.ts
Due: ironfish

IRO-1170: Add isMinersFee method to transaction class (#376)
  ironfish/src/primitives/transaction.test.slow.ts
  ironfish/src/primitives/transaction.ts
Due: ironfish

IRO-1185: convert hash calculation to binary (#402)
  ironfish/package.json
  ironfish/src/account/__fixtures__/accounts.test.slow.ts.fixture
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/consensus/__fixtures__/verifier.test.ts.fixture
  ironfish/src/memPool/__fixtures__/memPool.test.ts.fixture
  ironfish/src/mining/__fixtures__/director.test.slow.ts.fixture
  ironfish/src/primitives/__fixtures__/block.test.ts.fixture
  ironfish/src/primitives/__fixtures__/transaction.test.slow.ts.fixture
  ironfish/src/primitives/target.test.ts
  ironfish/src/primitives/target.ts
  ironfish/src/rpc/routes/chain/__fixtures__/getBlock.test.ts.fixture
  ironfish/src/serde/PartialHeaderSerde.ts
  ironfish/src/typedefs/bufio.d.ts
  yarn.lock
Due: ironfish

Updating IRON_FISH_YEAR_IN_BLOCKS due to block time change
  ironfish/src/consensus/consensus.ts
  ironfish/src/strategy.test.slow.ts
  ironfish/src/strategy.test.ts
  ironfish/src/strategy.ts
Due: ironfish

Removed redundent comment
  ironfish/src/consensus/consensus.ts
Due: ironfish

Delete TargetSerde (#412)
  ironfish/src/primitives/blockheader.ts
  ironfish/src/primitives/target.test.ts
  ironfish/src/primitives/target.ts
  ironfish/src/serde/PartialHeaderSerde.ts
Due: ironfish

Remove snapshots from target.tes.ts (#411)
  ironfish/src/primitives/target.test.ts
Due: ironfish

Move mRound into MathUtils as roundBy
  ironfish/src/strategy.ts
  ironfish/src/utils/math.ts
Due: ironfish

Move BigInt code to BigIntUtils (#413)
  ironfish/src/primitives/target.test.ts
  ironfish/src/primitives/target.ts
  ironfish/src/serde/PartialHeaderSerde.ts
  ironfish/src/utils/bigint.test.ts
  ironfish/src/utils/bigint.ts
  ironfish/src/utils/index.ts
Due: ironfish

Regenerate fixtures for slow tests
  ironfish/src/account/__fixtures__/accounts.test.slow.ts.fixture
  ironfish/src/mining/__fixtures__/director.test.slow.ts.fixture
  ironfish/src/primitives/__fixtures__/transaction.test.slow.ts.fixture
Due: ironfish

Make small changes to simplify block hash calculation (#414)
  ironfish/src/mining/director.test.slow.ts
  ironfish/src/primitives/__snapshots__/target.test.ts.snap
  ironfish/src/primitives/blockheader.ts
  ironfish/src/primitives/target.test.ts
  ironfish/src/primitives/target.ts
  ironfish/src/serde/PartialHeaderSerde.ts
  ironfish/src/typedefs/bufio.d.ts
Due: ironfish

Add BigInt helper to divide to a number
  ironfish/src/utils/bigint.test.ts
  ironfish/src/utils/bigint.ts
Due: ironfish
