Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

fixes missing import, corrects setInterval return type, remves null coalesce
  ironfish/src/mining/pool.ts
Due: ironfish

feat: adds webhook messages at intervals (#1643)
  ironfish/src/fileStores/config.ts
  ironfish/src/mining/index.ts
  ironfish/src/mining/pool.ts
  ironfish/src/mining/poolDatabase/database.ts
  ironfish/src/mining/poolShares.ts
  ironfish/src/mining/webhooks/webhookNotifier.ts
Due: ironfish

Update CONTRIBUTORS.md and supporting information (#1645)
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
  .github/ISSUE_TEMPLATE/GENERAL.yml
  .github/ISSUE_TEMPLATE/PROPOSAL.yml
  CONTRIBUTING.md
  README.md
Due: none

decouples StratumClient from MiningPoolMiner
  ironfish-cli/src/commands/miners/start.ts
  ironfish/src/mining/poolMiner.ts
  ironfish/src/mining/stratum/stratumClient.ts
Due: ironfish-cli, ironfish

small test script cleanup (#1647)
  ironfish/src/genesis/genesis.test.slow.ts
  ironfish/src/memPool/memPool.test.ts
Due: ironfish

removes check of stratum connection
  ironfish/src/mining/poolMiner.ts
Due: ironfish

moves message event fields to top of StratumClient class
  ironfish/src/mining/stratum/stratumClient.ts
Due: ironfish

Improve contributing.MD
  CONTRIBUTING.md
Due: none

Improve contributing.MD (#1649)
  CONTRIBUTING.md
Due: none

fixes handling of stratum connection
  ironfish/src/mining/poolMiner.ts
  ironfish/src/mining/stratum/stratumClient.ts
Due: ironfish

removes await or miner start in miner start cli command
  ironfish-cli/src/commands/miners/start.ts
Due: ironfish-cli, ironfish

decouples StratumClient from MiningPoolMiner (#1648)
  ironfish/src/mining/poolMiner.ts
  ironfish/src/mining/stratum/stratumClient.ts
Due: ironfish

add deposit test suite
  ironfish-cli/src/commands/deposit.test.ts
Due: ironfish-cli, ironfish

deposit test coverage
  ironfish-cli/src/commands/deposit.test.ts
Due: ironfish-cli, ironfish

Add http support for RPC
  ironfish/src/rpc/adapters/ipcAdapter.ts
Due: ironfish

chore(): Fix CODEOWNERS to use `@iron-fish/engineering`
  .github/CODEOWNERS
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
  .github/ISSUE_TEMPLATE/GENERAL.yml
Due: none

Add version to stratum handshake
  ironfish/src/mining/stratum/messages.ts
  ironfish/src/mining/stratum/stratumClient.ts
  ironfish/src/mining/stratum/stratumServer.ts
  ironfish/src/mining/stratum/version.ts
Due: ironfish

Remove NO from PR template for breaking change
  .github/pull_request_template.md
Due: none

Rename accounts:publickey to accounts:address
  ironfish-cli/src/commands/accounts/address.test.ts
  ironfish-cli/src/commands/accounts/address.ts
  ironfish/src/rpc/routes/accounts/getPublicKey.ts
Due: ironfish-cli, ironfish

Remove NO from PR template for breaking change (#1657)
  .github/pull_request_template.md
Due: none

Fix not canceling the syncer event loop on stop
  ironfish/src/syncer.ts
Due: ironfish

feat!: timestamp type change from Date obj to Number
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/blockchain/database/headers.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/genesis/makeGenesisBlock.ts
  ironfish/src/mining/pool.ts
  ironfish/src/mining/soloMiner.ts
  ironfish/src/primitives/blockheader.ts
  ironfish/src/primitives/target.ts
  ironfish/src/rpc/routes/chain/exportChain.ts
  ironfish/src/rpc/routes/chain/getBlock.ts
  ironfish/src/serde/BlockTemplateSerde.ts
  ironfish/src/serde/PartialHeaderSerde.ts
  ironfish/src/syncer.ts
  ironfish/src/telemetry/interfaces/metric.ts
  ironfish/src/telemetry/telemetry.ts
  ironfish/src/testUtilities/helpers/blockchain.ts
  ironfish/src/workerPool/tasks/submitTelemetry.ts
Due: ironfish

feat: update test scripts
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/consensus/verifier.test.ts
  ironfish/src/primitives/block.test.ts
  ironfish/src/primitives/blockheader.test.ts
  ironfish/src/primitives/target.test.ts
  ironfish/src/telemetry/telemetry.test.ts
  ironfish/src/workerPool/tasks/submitTelemetry.test.ts
Due: ironfish

fix: CONTRIBUTING.md link missing anchor tag
  CONTRIBUTING.md
Due: none

fix: CONTRIBUTING.md link missing anchor tag (#1663)
  CONTRIBUTING.md
Due: none

chore(): Fix CODEOWNERS to use `@iron-fish/engineering` (#1654)
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
  .github/ISSUE_TEMPLATE/GENERAL.yml
Due: none

feat(ironfish): Create store for decryptable notes
  ironfish/src/account/database/decryptableNotes.test.ts
  ironfish/src/account/database/decryptableNotes.ts
Due: ironfish

feat(ironfish): Create store for decryptable notes (#1666)
  ironfish/src/account/database/decryptableNotes.test.ts
  ironfish/src/account/database/decryptableNotes.ts
Due: ironfish

Replaced match with if else
  ironfish-rust/src/test_util.rs
Due: ironfish-rust, ironfish

Update node-datachannel to 0.3.4
  ironfish/package.json
  yarn.lock
Due: ironfish

Removed unnecessary negation
  ironfish-rust/src/keys/mod.rs
  ironfish-rust/src/keys/public_address.rs
  ironfish-rust/src/keys/view_keys.rs
  ironfish-rust/src/spending.rs
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish

Added bracket
  ironfish-rust/src/keys/mod.rs
  ironfish-rust/src/keys/public_address.rs
  ironfish-rust/src/keys/view_keys.rs
Due: ironfish-rust, ironfish

Rename accounts:publickey to accounts:address (#1658)
  ironfish-cli/src/commands/accounts/address.test.ts
  ironfish-cli/src/commands/accounts/address.ts
  ironfish/src/rpc/routes/accounts/getPublicKey.ts
Due: ironfish-cli, ironfish

Make version optional for now
  ironfish/src/mining/stratum/messages.ts
  ironfish/src/mining/stratum/stratumServer.ts
Due: ironfish

Add version to stratum handshake (#1656)
  ironfish/src/mining/stratum/messages.ts
  ironfish/src/mining/stratum/stratumClient.ts
  ironfish/src/mining/stratum/stratumServer.ts
  ironfish/src/mining/stratum/version.ts
Due: ironfish

Fix not canceling the syncer event loop on stop (#1660)
  ironfish/src/syncer.ts
Due: ironfish

Update node-datachannel to 0.3.4 (#1669)
  ironfish/package.json
  yarn.lock
Due: ironfish

Track known block hashes on Peers
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/peers/peer.ts
  ironfish/src/syncer.ts
Due: ironfish

Add stratum peer management
  ironfish/src/mining/pool.ts
  ironfish/src/mining/stratum/stratumPeers.ts
  ironfish/src/mining/stratum/stratumServer.ts
  ironfish/src/mining/webhooks/webhookNotifier.ts
Due: ironfish

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish-cli: any of: ironfish-cli, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish: any of: ironfish, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
