Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

Update createRawTransaction.ts
  ironfish/src/rpc/routes/wallet/createRawTransaction.ts
Due: ironfish

fixes transactionValue to use signed bigints in balance deltas (#2906)
  ironfish/src/typedefs/bufio.d.ts
  ironfish/src/wallet/walletdb/__fixtures__/transactionValue.test.ts.fixture
  ironfish/src/wallet/walletdb/transactionValue.test.ts
  ironfish/src/wallet/walletdb/transactionValue.ts
Due: ironfish

chore: remove sender from proposed transaction
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish/src/strategy.test.slow.ts
Due: ironfish-rust, ironfish

Add removing status bar
  ironfish-cli/src/commands/wallet/remove.ts
Due: ironfish-cli, ironfish

chore: remove sender from proposed transaction (#2908)
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish/src/strategy.test.slow.ts
Due: ironfish-rust, ironfish

Address comments
  ironfish-cli/src/commands/wallet/send.ts
  ironfish/src/memPool/feeEstimator.ts
  ironfish/src/rpc/routes/wallet/createTransaction.ts
Due: ironfish-cli, ironfish

replaces 'x' with blank space in transactions cli
  ironfish-cli/src/commands/wallet/transactions.ts
Due: ironfish-cli, ironfish

feat(cli): Add asset selector for `wallet:send`
  ironfish-cli/package.json
  ironfish-cli/src/commands/wallet/send.ts
  yarn.lock
Due: ironfish-cli, ironfish

replaces 'x' with blank space in transactions cli (#2911)
  ironfish-cli/src/commands/wallet/transactions.ts
Due: ironfish-cli, ironfish

fix(cli): Add table flags to `wallet:balances`
  ironfish-cli/src/commands/wallet/balances.ts
Due: ironfish-cli, ironfish

feat(cli): Pool miner will now load the default public address
  ironfish-cli/src/commands/miners/start.ts
Due: ironfish-cli, ironfish

adds 'confirmations' option to wallet:transactions
  ironfish-cli/src/commands/wallet/transactions.ts
  ironfish/src/rpc/routes/wallet/getTransactions.ts
Due: ironfish-cli, ironfish

fix: move balances length check up to avoid extra work
  ironfish-cli/src/commands/wallet/send.ts
Due: ironfish-cli, ironfish

feat(cli): Pool miner will now load the default public address (#2914)
  ironfish-cli/src/commands/miners/start.ts
Due: ironfish-cli, ironfish

fix(cli): Add table flags to `wallet:balances` (#2913)
  ironfish-cli/src/commands/wallet/balances.ts
Due: ironfish-cli, ironfish

fix(cli): Make `fee` denomination in mint/burn consistent with send
  ironfish-cli/src/commands/wallet/burn.ts
  ironfish-cli/src/commands/wallet/mint.ts
Due: ironfish-cli, ironfish

fix(cli): Update amount denominations in mint/burn to be IRON
  ironfish-cli/src/commands/wallet/burn.ts
  ironfish-cli/src/commands/wallet/mint.ts
Due: ironfish-cli, ironfish

fix(cli): Make account optional for mint and burn
  ironfish-cli/src/commands/wallet/burn.ts
  ironfish-cli/src/commands/wallet/mint.ts
Due: ironfish-cli, ironfish

adds 'confirmations' option to wallet:transactions (#2915)
  ironfish-cli/src/commands/wallet/transactions.ts
  ironfish/src/rpc/routes/wallet/getTransactions.ts
Due: ironfish-cli, ironfish

fix(cli): Make `fee` denomination in mint/burn consistent with send (#2916)
  ironfish-cli/src/commands/wallet/burn.ts
  ironfish-cli/src/commands/wallet/mint.ts
Due: ironfish-cli, ironfish

fix(cli): Make account optional for mint and burn (#2918)
  ironfish-cli/src/commands/wallet/burn.ts
  ironfish-cli/src/commands/wallet/mint.ts
Due: ironfish-cli, ironfish

fix(cli): `wallet:send` examples use long-form arguments for clarity
  ironfish-cli/src/commands/wallet/send.ts
Due: ironfish-cli, ironfish

simplifies getTransactions logic with limit
  ironfish/src/rpc/routes/wallet/getTransactions.ts
Due: ironfish

Update mintAsset.ts
  ironfish/src/rpc/routes/wallet/mintAsset.ts
Due: ironfish

fixes lint
  ironfish/src/rpc/routes/wallet/getTransactions.ts
Due: ironfish

fixes webApi URL for /deposits/address
  ironfish/src/webApi.ts
Due: ironfish

fixes webApi URL for /deposits/address (#2922)
  ironfish/src/webApi.ts
Due: ironfish

adds asset name, id to notes in wallet:transaction output
  ironfish-cli/src/commands/wallet/transaction.ts
  ironfish/src/rpc/routes/wallet/getTransaction.ts
  ironfish/src/rpc/routes/wallet/types.ts
Due: ironfish-cli, ironfish

chore: new genesis for phase 3
  ironfish/src/defaultNetworkDefinitions.ts
Due: ironfish

adds asset name, id to notes in wallet:transaction output (#2923)
  ironfish-cli/src/commands/wallet/transaction.ts
  ironfish/src/rpc/routes/wallet/getTransaction.ts
  ironfish/src/rpc/routes/wallet/types.ts
Due: ironfish-cli, ironfish

simplifies getTransactions logic with limit (#2920)
  ironfish/src/rpc/routes/wallet/getTransactions.ts
Due: ironfish

feat(cli): Add asset selector for `wallet:send` (#2912)
  ironfish-cli/package.json
  ironfish-cli/src/commands/wallet/send.ts
  yarn.lock
Due: ironfish-cli, ironfish

fix(cli): `wallet:send` examples use long-form arguments for clarity (#2919)
  ironfish-cli/src/commands/wallet/send.ts
Due: ironfish-cli, ironfish

sends buffers as buffers over wallet transaction rpc endpoints
  ironfish-cli/src/commands/wallet/transaction.ts
  ironfish-cli/src/commands/wallet/transactions.ts
  ironfish/src/rpc/routes/wallet/getTransaction.ts
  ironfish/src/rpc/routes/wallet/getTransactions.ts
  ironfish/src/rpc/routes/wallet/types.ts
Due: ironfish-cli, ironfish

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish-cli: any of: ironfish-cli, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish: any of: ironfish, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
