Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

codecov.yml:

ignore:
  - config/*
  - ironfish-rust-nodejs/*
  - ironfish-rust-wasm/*
comment: false
github_checks:
  annotations: false
coverage:
  fixes:
    - "/home/runner/work/ironfish/ironfish/::/"
  status:
    patch:
      default:
        target: auto
        threshold: 0%
    project:
      default:
        target: 10%
      ironfish-rust:
        target: 10%
        flags:
          - ironfish-rust
      ironfish-cli:
        target: 10%
        flags:
          - ironfish-cli
      ironfish:
        target: 10%
        flags:
          - ironfish
flags:
  ironfish-rust:
    paths:
      - ironfish-rust
    carryforward: true
  ironfish-cli:
    paths:
      - ironfish-cli
    carryforward: true
  ironfish:
    paths:
      - ironfish
    carryforward: true

Add peer disposal
  ironfish/src/network/peers/peerConnectionManager.ts
  ironfish/src/network/peers/peerManager.ts
Due: ironfish

uses account name instead of displayName in rpc (#2339)
  ironfish/src/rpc/routes/accounts/getBalance.ts
  ironfish/src/rpc/routes/accounts/getTransaction.ts
Due: ironfish

updates fee estimator on block disconnect
  ironfish/src/memPool/__fixtures__/recentFeeCache.test.ts.fixture
  ironfish/src/memPool/memPool.ts
  ironfish/src/memPool/queue.ts
  ironfish/src/memPool/recentFeeCache.test.ts
  ironfish/src/memPool/recentFeeCache.ts
  ironfish/src/testUtilities/fixtures.ts
Due: ironfish

Change RPC security to use crpyto library by default
  ironfish/src/rpc/adapters/tlsAdapter.ts
Due: ironfish

fix lint
  ironfish/src/rpc/adapters/tlsAdapter.ts
Due: ironfish

Change RPC security to use crypto library by default (#2341)
  ironfish/src/rpc/adapters/tlsAdapter.ts
Due: ironfish

Move peer identity check
  ironfish/src/network/peers/peerManager.ts
Due: ironfish

Remove disposing log
  ironfish/src/network/peers/peerManager.ts
Due: ironfish

Use getConnectionRetry more often
  ironfish/src/network/peers/peerManager.ts
Due: ironfish

Add back connecting message senders
  ironfish/src/network/peers/peerManager.ts
Due: ironfish

unsignedHash as note.transaction
  ironfish/src/wallet/account.ts
Due: ironfish

replace signedHash with unsignedHash in getNotes
  ironfish/src/rpc/routes/accounts/getNotes.ts
Due: ironfish

add block download speed to status
  ironfish-cli/src/commands/status.ts
  ironfish/src/metrics/meter.ts
  ironfish/src/rpc/routes/node/getStatus.ts
  ironfish/src/syncer.ts
Due: ironfish-cli, ironfish

replace signedHash with unsignedHash in getNotes (#2346)
  ironfish/src/rpc/routes/accounts/getNotes.ts
Due: ironfish

Use transaction serializers in other serializer functions
  ironfish/src/network/utils/serializers.ts
Due: ironfish

get lastest transactions
  ironfish-cli/src/commands/accounts/transactions.ts
  ironfish/src/rpc/routes/accounts/getTransactions.ts
Due: ironfish-cli, ironfish

replace show with limit
  ironfish-cli/src/commands/accounts/transactions.ts
  ironfish/src/rpc/routes/accounts/getTransactions.ts
Due: ironfish-cli, ironfish

separate functions for the different use cases of getTransactions
  ironfish/src/rpc/routes/accounts/getTransactions.ts
Due: ironfish

added yup config validations and tests
  ironfish/src/fileStores/config.test.ts
  ironfish/src/fileStores/config.ts
Due: ironfish

compacts chain db before creating snapshot
  ironfish-cli/src/commands/service/snapshot.ts
Due: ironfish-cli, ironfish

address review comments
  ironfish-cli/src/commands/status.ts
  ironfish/src/metrics/meter.ts
  ironfish/src/syncer.ts
Due: ironfish-cli, ironfish

Limit block sizes to below 2 MB in mining manager
  ironfish/src/mining/manager.ts
Due: ironfish

Add getMinersFeeTransactionSize function to serializers and add test for block size limit
  ironfish/src/mining/__fixtures__/manager.test.ts.fixture
  ironfish/src/mining/manager.test.ts
  ironfish/src/mining/manager.ts
Due: ironfish

Add getMinersFeeTransactionSize to serializers
  ironfish/src/network/utils/serializers.ts
Due: ironfish

compare balances in ORE to prevent floating point error
  ironfish-cli/src/commands/deposit.ts
Due: ironfish-cli, ironfish

Create single error type for rust
  ironfish-rust/src/errors.rs
  ironfish-rust/src/keys/mod.rs
  ironfish-rust/src/keys/public_address.rs
  ironfish-rust/src/keys/view_keys.rs
  ironfish-rust/src/merkle_note.rs
  ironfish-rust/src/nacl.rs
  ironfish-rust/src/note.rs
  ironfish-rust/src/receiving.rs
  ironfish-rust/src/serializing.rs
  ironfish-rust/src/spending.rs
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish

compare balances in ORE to prevent floating point error (#2364)
  ironfish-cli/src/commands/deposit.ts
Due: ironfish-cli, ironfish

Convert all instances of io::Result to Result<T, IronfishError>
  ironfish-rust/src/keys/mod.rs
  ironfish-rust/src/keys/public_address.rs
  ironfish-rust/src/merkle_note.rs
  ironfish-rust/src/merkle_note_hash.rs
  ironfish-rust/src/note.rs
  ironfish-rust/src/receiving.rs
  ironfish-rust/src/spending.rs
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish

compacts chain db before creating snapshot (#2360)
  ironfish-cli/src/commands/service/snapshot.ts
Due: ironfish-cli, ironfish

Slight improvement for converting to napi error type
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust-nodejs/src/nacl.rs
  ironfish-rust-nodejs/src/structs/note.rs
  ironfish-rust-nodejs/src/structs/note_encrypted.rs
  ironfish-rust-nodejs/src/structs/transaction.rs
Due: ironfish-rust, ironfish

Get miner's fee transaction size using a sample miner's fee transaction
  ironfish/src/mining/manager.test.slow.ts
  ironfish/src/mining/manager.test.ts
  ironfish/src/mining/manager.ts
  ironfish/src/network/utils/serializers.ts
Due: ironfish

Fix lint issues
  ironfish/src/mining/manager.ts
Due: ironfish

Fix blockTemplateStream test
  ironfish/src/rpc/routes/mining/blockTemplateStream.test.slow.ts
Due: ironfish

feat: Add accounts status cli command
  ironfish-rust-nodejs/index.d.ts
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/accounts/index.ts
Due: ironfish

feat: add missing files and test
  ironfish-cli/src/commands/accounts/status.ts
  ironfish/src/rpc/routes/accounts/getStatus.test.ts
  ironfish/src/rpc/routes/accounts/getStatus.ts
Due: ironfish-cli, ironfish

feat: slight text edit
  ironfish/src/rpc/routes/accounts/getStatus.test.ts
Due: ironfish

feat: update test
  ironfish/src/rpc/routes/accounts/getStatus.test.ts
  ironfish/src/rpc/routes/accounts/getStatus.ts
Due: ironfish

feat: linted
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/accounts/getStatus.test.ts
  ironfish/src/rpc/routes/accounts/getStatus.ts
Due: ironfish

feat: linted root level
  ironfish-cli/src/commands/accounts/status.ts
Due: ironfish-cli, ironfish

feat: remove unneeded args
  ironfish-cli/src/commands/accounts/status.ts
Due: ironfish-cli, ironfish
