Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

Update cli
  ironfish-cli/src/commands/wallet/send.ts
Due: ironfish-cli, ironfish

Fix out of sync spending key export from ironfish/rust-nodejs
  ironfish-cli/src/commands/wallet/export.ts
Due: ironfish-cli, ironfish

Swap wordsToSpendingKey for spendingKeyToWords
  ironfish-cli/src/commands/wallet/export.ts
Due: ironfish-cli, ironfish

Swap wordsToSpendingKey for spendingKeyToWords (#3246)
  ironfish-cli/src/commands/wallet/export.ts
Due: ironfish-cli, ironfish

return estimated time from server
  ironfish-cli/src/commands/ceremony.ts
  ironfish-cli/src/trusted-setup/client.ts
  ironfish-cli/src/trusted-setup/schema.ts
  ironfish-cli/src/trusted-setup/server.ts
Due: ironfish-cli, ironfish

Clarify randomness text and add blog post
  ironfish-cli/src/commands/ceremony.ts
Due: ironfish-cli, ironfish

Add target beacon randomness value
  ironfish-mpc/README.md
  ironfish-mpc/src/bin/beacon.rs
Due: ironfish

Cargo fmt
  ironfish-mpc/src/bin/beacon.rs
Due: ironfish

sets connected transaction timestamp to block header timestamp
  ironfish/src/wallet/__fixtures__/account.test.ts.fixture
  ironfish/src/wallet/account.test.ts
  ironfish/src/wallet/account.ts
Due: ironfish

return estimated time from server (#3227)
  ironfish-cli/src/commands/ceremony.ts
  ironfish-cli/src/trusted-setup/client.ts
  ironfish-cli/src/trusted-setup/schema.ts
  ironfish-cli/src/trusted-setup/server.ts
Due: ironfish-cli, ironfish

Clarify randomness text and add blog post (#3225)
  ironfish-cli/src/commands/ceremony.ts
Due: ironfish-cli, ironfish

fix args name for chain:asset
  ironfish-cli/src/commands/chain/asset.ts
Due: ironfish-cli, ironfish

feat(ironfish): Enrich assets from chain DB
  ironfish/src/wallet/__fixtures__/wallet.test.ts.fixture
  ironfish/src/wallet/account.test.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
  ironfish/src/wallet/walletdb/assetValue.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish

chore: remove code coverage on ironfish-cli
  codecov.yml
Due: none

fix args name for chain:asset (#3247)
  ironfish-cli/src/commands/chain/asset.ts
Due: ironfish-cli, ironfish

Add the ability to watch a transaction status
  ironfish-cli/src/commands/wallet/send.ts
  ironfish-cli/src/commands/wallet/transaction/index.ts
  ironfish-cli/src/commands/wallet/transaction/watch.ts
  ironfish-cli/src/utils/transaction.ts
  ironfish/src/rpc/routes/wallet/getTransaction.ts
Due: ironfish-cli, ironfish

refactor(ironfish): Change arguments for saveAssetFromChain
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

feat(ironfish): Upsert assets in pending tx
  ironfish/src/wallet/wallet.ts
Due: ironfish

Some UX improvements
  ironfish-cli/src/commands/wallet/send.ts
  ironfish-cli/src/commands/wallet/transaction/watch.ts
  ironfish-cli/src/utils/transaction.ts
Due: ironfish-cli, ironfish

chore: remove code coverage on ironfish-cli (#3229)
  codecov.yml
Due: none

Add the ability to watch a transaction status (#3178)
  ironfish-cli/src/commands/wallet/send.ts
  ironfish-cli/src/commands/wallet/transaction/index.ts
  ironfish-cli/src/commands/wallet/transaction/watch.ts
  ironfish-cli/src/utils/transaction.ts
  ironfish/src/rpc/routes/wallet/getTransaction.ts
Due: ironfish-cli, ironfish

more package/yarn repair
  package.json
  yarn.lock
Due: none

Fix issues in the PR
  ironfish/src/rpc/routes/chain/getTransaction.ts
Due: ironfish

Update yarn.lock
  yarn.lock
Due: none

Revert "refactor(ironfish): Change arguments for saveAssetFromChain"
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

Add mint/burn information to chain.getTransaction route (#3203)
  ironfish/src/rpc/routes/chain/getTransaction.ts
Due: ironfish

Exported accounts have a version (#3222)
  ironfish/src/rpc/routes/wallet/exportAccount.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.ts
  ironfish/src/wallet/walletdb/accountValue.test.ts
  ironfish/src/wallet/walletdb/accountValue.ts
  yarn.lock
Due: ironfish

Revert "Exported accounts have a version (#3222)"
  ironfish/src/rpc/routes/wallet/exportAccount.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.ts
  ironfish/src/wallet/walletdb/accountValue.test.ts
  ironfish/src/wallet/walletdb/accountValue.ts
  yarn.lock
Due: ironfish

Revert "feat(ironfish): Upsert assets in pending tx"
  ironfish/src/wallet/wallet.ts
Due: ironfish

Revert "Revert "refactor(ironfish): Change arguments for saveAssetFromChain""
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

Revert "Exported accounts have a version (#3222)" (#3252)
  ironfish/src/rpc/routes/wallet/exportAccount.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.ts
  ironfish/src/wallet/walletdb/accountValue.test.ts
  ironfish/src/wallet/walletdb/accountValue.ts
  yarn.lock
Due: ironfish

Fix test
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.test.ts
Due: ironfish

Add a VERIFYING state to the trusted setup server
  ironfish-cli/src/trusted-setup/server.ts
Due: ironfish-cli, ironfish

staging's yarn.lock + bech32
  yarn.lock
Due: none

Update import.ts
  ironfish-cli/src/commands/wallet/import.ts
Due: ironfish-cli, ironfish

Update export.ts
  ironfish-cli/src/commands/wallet/export.ts
Due: ironfish-cli, ironfish

yarn lint --fix
  ironfish-cli/src/commands/wallet/import.ts
Due: ironfish-cli, ironfish

Remove isNewAsset
  ironfish/src/blockchain/blockchain.test.ts
Due: ironfish

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish-cli: any of: ironfish-cli, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish: any of: ironfish, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
