Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish

codecov.yml:

ignore:
  - config/*
  - ironfish-rust-nodejs/*
comment: false
github_checks:
  annotations: false
coverage:
  fixes:
    - "/home/runner/work/ironfish/ironfish/::/"
  status:
    patch:
      default:
        target: 10%
        threshold: 0%
    project:
      default:
        target: 10%
      ironfish-rust:
        target: 10%
        flags:
          - ironfish-rust
      ironfish-cli:
        target: 10%
        flags:
          - ironfish-cli
      ironfish:
        target: 10%
        flags:
          - ironfish
flags:
  ironfish-rust:
    paths:
      - ironfish-rust
    carryforward: true
  ironfish:
    paths:
      - ironfish
    carryforward: true

checks if submitted block is heavier when chain changed
  ironfish/src/mining/__fixtures__/manager.test.slow.ts.fixture
  ironfish/src/mining/manager.test.slow.ts
  ironfish/src/mining/manager.ts
Due: ironfish

adds tree size to error message
  ironfish/src/rpc/routes/chain/getNoteWitness.ts
Due: ironfish

adds confirmations to chain/getNoteWitness (#3920)
  ironfish/src/rpc/routes/chain/__fixtures__/getNoteWitness.test.ts.fixture
  ironfish/src/rpc/routes/chain/getNoteWitness.test.ts
  ironfish/src/rpc/routes/chain/getNoteWitness.ts
Due: ironfish

adds rpc to follow transaction gossip stream
  ironfish/src/network/peerNetwork.ts
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/event/__fixtures__/onTransactionGossip.test.ts.fixture
  ironfish/src/rpc/routes/event/index.ts
  ironfish/src/rpc/routes/event/onTransactionGossip.test.ts
  ironfish/src/rpc/routes/event/onTransactionGossip.ts
Due: ironfish

make worker task message header size a const
  ironfish/src/workerPool/tasks/workerMessage.ts
  ironfish/src/workerPool/tasks/workerMessages.test.perf.ts
Due: ironfish

clarify owner of TODO
  ironfish/src/workerPool/tasks/workerMessage.ts
Due: ironfish

rename test util function
  ironfish/src/network/messages/disconnecting.test.ts
  ironfish/src/network/messages/getBlockHeaders.test.ts
  ironfish/src/network/messages/getBlockTransactions.test.ts
  ironfish/src/network/messages/getBlocks.test.ts
  ironfish/src/network/messages/getCompactBlock.test.ts
  ironfish/src/network/messages/identify.test.ts
  ironfish/src/network/messages/newBlockHashes.test.ts
  ironfish/src/network/messages/newCompactBlock.test.ts
  ironfish/src/network/messages/newPooledTransactionHashes.test.ts
  ironfish/src/network/messages/newTransactions.test.ts
  ironfish/src/network/messages/peerList.test.ts
  ironfish/src/network/messages/pooledTransactions.test.ts
  ironfish/src/network/messages/signal.test.ts
  ironfish/src/network/messages/signalRequest.test.ts
  ironfish/src/testUtilities/helpers/serializable.ts
  ironfish/src/workerPool/tasks/createMinersFee.test.ts
  ironfish/src/workerPool/tasks/decryptNotes.test.ts
  ironfish/src/workerPool/tasks/postTransaction.test.ts
  ironfish/src/workerPool/tasks/sleep.test.ts
  ironfish/src/workerPool/tasks/submitTelemetry.test.ts
  ironfish/src/workerPool/tasks/verifyTransaction.test.ts
Due: ironfish

update test due to change in scalar randomness
  ironfish-zkp/src/primitives/value_commitment.rs
Due: ironfish

sets work on submitted block before checking isBlockHeavier
  ironfish/src/mining/__fixtures__/manager.test.slow.ts.fixture
  ironfish/src/mining/manager.test.slow.ts
  ironfish/src/mining/manager.ts
Due: ironfish

emits transaction gossip after filtering for duplicates
  ironfish/src/network/peerNetwork.ts
  ironfish/src/rpc/routes/event/__fixtures__/onTransactionGossip.test.ts.fixture
  ironfish/src/rpc/routes/event/onTransactionGossip.test.ts
  ironfish/src/rpc/routes/event/onTransactionGossip.ts
Due: ironfish

Add chain database size to telemetry
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/metrics/metricsMonitor.ts
  ironfish/src/storage/database/database.ts
  ironfish/src/storage/levelup/database.ts
  ironfish/src/telemetry/telemetry.ts
Due: ironfish

Add unit test
  ironfish/src/blockchain/blockchain.test.ts
Due: ironfish

fix: typescript perf tests run in band, longer timeout
  ironfish/package.json
Due: ironfish

Add perf test reports in CI
  .github/workflows/ci.yml
Due: none

Update output path
  .github/workflows/ci.yml
Due: none

Add test:perf command
  package.json
Due: none

Remove flags
  .github/workflows/ci.yml
Due: none

Use jest-junit test reporter
  ironfish/package.json
  yarn.lock
Due: ironfish

Rename
  ironfish/package.json
Due: ironfish

Update path
  .github/workflows/ci.yml
Due: none

checks if submitted block is heavier when chain changed (#3923)
  ironfish/src/mining/__fixtures__/manager.test.slow.ts.fixture
  ironfish/src/mining/manager.test.slow.ts
  ironfish/src/mining/manager.ts
Due: ironfish

Add permission to github action
  .github/workflows/ci.yml
Due: none

Rename
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/metrics/metricsMonitor.ts
  ironfish/src/telemetry/telemetry.ts
Due: ironfish

Set fail on error to true
  .github/workflows/ci.yml
Due: none

Upload test report
  .github/workflows/ci.yml
Due: none

regenerates fixtures and fixes outdated wallet tests
  ironfish/src/wallet/__fixtures__/account.test.ts.fixture
  ironfish/src/wallet/__fixtures__/wallet.test.ts.fixture
  ironfish/src/wallet/account.test.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

adds rpc to follow transaction gossip stream (#3925)
  ironfish/src/network/peerNetwork.ts
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/event/__fixtures__/onTransactionGossip.test.ts.fixture
  ironfish/src/rpc/routes/event/index.ts
  ironfish/src/rpc/routes/event/onTransactionGossip.test.ts
  ironfish/src/rpc/routes/event/onTransactionGossip.ts
Due: ironfish

fixes flaky onTransactionGossipReceived test
  ironfish/src/rpc/routes/event/onTransactionGossip.test.ts
Due: ironfish

fixes flaky onTransactionGossipReceived test (#3933)
  ironfish/src/rpc/routes/event/onTransactionGossip.test.ts
Due: ironfish

regenerates fixtures and fixes outdated wallet tests (#3931)
  ironfish/src/wallet/__fixtures__/account.test.ts.fixture
  ironfish/src/wallet/__fixtures__/wallet.test.ts.fixture
  ironfish/src/wallet/account.test.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

bumps package versions for v1.3.0
  ironfish-cli/package.json
  ironfish-rust-nodejs/npm/darwin-arm64/package.json
  ironfish-rust-nodejs/npm/darwin-x64/package.json
  ironfish-rust-nodejs/npm/linux-arm64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-arm64-musl/package.json
  ironfish-rust-nodejs/npm/linux-x64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-x64-musl/package.json
  ironfish-rust-nodejs/npm/win32-x64-msvc/package.json
  ironfish-rust-nodejs/package.json
  ironfish/package.json
  simulator/package.json
Due: ironfish-rust, ironfish

bumps package versions for v1.3.0 (#3934)
  ironfish-cli/package.json
  ironfish-rust-nodejs/npm/darwin-arm64/package.json
  ironfish-rust-nodejs/npm/darwin-x64/package.json
  ironfish-rust-nodejs/npm/linux-arm64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-arm64-musl/package.json
  ironfish-rust-nodejs/npm/linux-x64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-x64-musl/package.json
  ironfish-rust-nodejs/npm/win32-x64-msvc/package.json
  ironfish-rust-nodejs/package.json
  ironfish/package.json
  simulator/package.json
Due: ironfish-rust, ironfish

Increase perf test timeout
  .github/workflows/ci.yml
  ironfish/package.json
Due: ironfish

Create new cmd test:perf:report
  .github/workflows/ci.yml
  ironfish/package.json
  package.json
Due: ironfish

updates sync service to submit transaction gossip to api
  ironfish-cli/src/commands/service/sync.ts
  ironfish/src/webApi.ts
Due: ironfish

Refactor transaction perf tests
  ironfish/src/primitives/transaction.test.perf.ts
Due: ironfish

Only run transaciont
  ironfish/package.json
Due: ironfish
