Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

codecov.yml:

ignore:
  - config/*
  - ironfish-rust-nodejs/*
  - ironfish-rust-wasm/*
comment: false
github_checks:
  annotations: false
coverage:
  fixes:
    - "/home/runner/work/ironfish/ironfish/::/"
  status:
    patch:
      default:
        target: auto
        threshold: 0%
    project:
      default:
        target: 10%
      ironfish-rust:
        target: 10%
        flags:
          - ironfish-rust
      ironfish-cli:
        target: 10%
        flags:
          - ironfish-cli
      ironfish:
        target: 10%
        flags:
          - ironfish
flags:
  ironfish-rust:
    paths:
      - ironfish-rust
    carryforward: true
  ironfish-cli:
    paths:
      - ironfish-cli
    carryforward: true
  ironfish:
    paths:
      - ironfish
    carryforward: true

Use built-in no-unused-expressions lint (#1773)
  config/eslint-config-ironfish/index.js
  ironfish/src/mining/stratum/errors.ts
Due: ironfish

Handle peer request for pooled transaction (#1756)
  ironfish/src/memPool/__fixtures__/memPool.test.ts.fixture
  ironfish/src/memPool/memPool.test.ts
  ironfish/src/memPool/memPool.ts
  ironfish/src/mining/manager.test.ts
  ironfish/src/mining/manager.ts
  ironfish/src/network/__fixtures__/peerNetwork.test.ts.fixture
  ironfish/src/network/messages/pooledTransactions.test.ts
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/peerNetwork.ts
Due: ironfish

Make blockchain iteration return buffer hashes (#1771)
  ironfish/src/account/accounts.ts
  ironfish/src/blockchain/blockchain.ts
Due: ironfish

Abort rescan if aborted after waiting for head
  ironfish/src/account/accounts.ts
  ironfish/src/node.ts
Due: ironfish

Abort rescan if aborted after waiting for head (#1772)
  ironfish/src/account/accounts.ts
  ironfish/src/node.ts
Due: ironfish

Update every block
  ironfish/src/account/accounts.ts
Due: ironfish

Fix rescan to scan to chain head if null processor
  ironfish/src/account/__fixtures__/accounts.test.ts.fixture
  ironfish/src/account/accounts.test.ts
  ironfish/src/account/accounts.ts
Due: ironfish

Add more sensible multipart uploading
  ironfish-cli/src/commands/service/snapshot.test.ts
  ironfish-cli/src/commands/service/snapshot.ts
Due: ironfish-cli, ironfish

Clean up intermediate block files
  ironfish-cli/src/commands/service/snapshot.test.ts
  ironfish-cli/src/commands/service/snapshot.ts
Due: ironfish-cli, ironfish

Fixed tests for rescanAccount
  ironfish/src/rpc/routes/accounts/rescanAccount.test.ts
Due: ironfish

Fix rescan to scan to chain head if null processor (#1774)
  ironfish/src/account/__fixtures__/accounts.test.ts.fixture
  ironfish/src/account/accounts.test.ts
  ironfish/src/account/accounts.ts
  ironfish/src/rpc/routes/accounts/rescanAccount.test.ts
Due: ironfish

Improve rescan CLI command UX
  ironfish-cli/src/commands/accounts/rescan.ts
  ironfish/src/account/accounts.ts
  ironfish/src/rpc/routes/accounts/rescanAccount.ts
Due: ironfish-cli, ironfish

Remove extra wait
  ironfish/src/rpc/routes/accounts/rescanAccount.ts
Due: ironfish

Bump versions to 0.1.38, 0.0.16
  ironfish-cli/package.json
  ironfish/package.json
Due: ironfish-cli, ironfish

feat(ironfish): Create unconfirmed balance store for accounts
  ironfish/src/account/accountsdb.ts
  ironfish/src/storage/database/encoding.ts
Due: ironfish

Fix CLI test
  ironfish-cli/src/commands/accounts/rescan.test.ts
  ironfish-cli/src/commands/accounts/rescan.ts
Due: ironfish-cli, ironfish

Improve accounts:rescan CLI command UX (#1776)
  ironfish-cli/src/commands/accounts/rescan.test.ts
  ironfish-cli/src/commands/accounts/rescan.ts
  ironfish/src/account/accounts.ts
  ironfish/src/rpc/routes/accounts/rescanAccount.ts
Due: ironfish-cli, ironfish

Bump versions to 0.1.38, 0.0.16 (#1781)
  ironfish-cli/package.json
  ironfish/package.json
Due: ironfish-cli, ironfish

Fix tests
  ironfish-cli/src/commands/service/snapshot.test.ts
Due: ironfish-cli, ironfish

Add back newline
  ironfish-cli/package.json
Due: ironfish-cli, ironfish

Update yarn.lock
  yarn.lock
Due: none

Require stratum client version
  ironfish/src/fileStores/config.ts
  ironfish/src/mining/stratum/messages.ts
  ironfish/src/mining/stratum/stratumPeers.ts
  ironfish/src/mining/stratum/stratumServer.ts
Due: ironfish

feat(ironfish): Create unconfirmed balance store for accounts (#1782)
  ironfish/src/account/accountsdb.ts
  ironfish/src/storage/database/encoding.ts
Due: ironfish

Require stratum client version (#1784)
  ironfish/src/fileStores/config.ts
  ironfish/src/mining/stratum/messages.ts
  ironfish/src/mining/stratum/stratumPeers.ts
  ironfish/src/mining/stratum/stratumServer.ts
Due: ironfish

feat(ironfish): Update unconfirmed balance in accounts
  ironfish/src/account/account.ts
  ironfish/src/account/accounts.ts
  ironfish/src/account/accountsdb.ts
  ironfish/src/storage/database/encoding.ts
Due: ironfish

FEAT: more miner status info
  ironfish-cli/src/commands/miners/pools/status.ts
  ironfish-cli/src/commands/miners/start.ts
  ironfish/src/mining/pool.ts
  ironfish/src/mining/poolMiner.ts
  ironfish/src/mining/stratum/messages.ts
  ironfish/src/mining/stratum/stratumClient.ts
  ironfish/src/mining/stratum/stratumServer.ts
  ironfish/src/mining/stratum/stratumServerClient.ts
Due: ironfish-cli, ironfish

Fix: refactor miner status info
  ironfish-cli/src/commands/miners/pools/status.ts
  ironfish-cli/src/commands/miners/start.ts
  ironfish/src/mining/pool.ts
  ironfish/src/mining/poolMiner.ts
  ironfish/src/mining/stratum/messages.ts
  ironfish/src/mining/stratum/stratumClient.ts
  ironfish/src/mining/stratum/stratumServer.ts
  ironfish/src/mining/stratum/stratumServerClient.ts
Due: ironfish-cli, ironfish

Avoid copy when returning address information
  ironfish/src/mining/pool.ts
Due: ironfish

Send back unnamed miners
  ironfish/src/mining/pool.ts
Due: ironfish

Fix bug where connectedMiners crashes if empty
  ironfish/src/mining/stratum/messages.ts
Due: ironfish

FEAT: more miner status info (#1729)
  ironfish-cli/src/commands/miners/pools/status.ts
  ironfish-cli/src/commands/miners/start.ts
  ironfish/src/mining/pool.ts
  ironfish/src/mining/poolMiner.ts
  ironfish/src/mining/stratum/messages.ts
  ironfish/src/mining/stratum/stratumClient.ts
  ironfish/src/mining/stratum/stratumServer.ts
  ironfish/src/mining/stratum/stratumServerClient.ts
Due: ironfish-cli, ironfish

Add chain snapshot export functionality (#1655)
  ironfish-cli/package.json
  ironfish-cli/src/commands/service/snapshot.test.ts
  ironfish-cli/src/commands/service/snapshot.ts
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/chain/__fixtures__/snapshotChain.test.ts.fixture
  ironfish/src/rpc/routes/chain/index.ts
  ironfish/src/rpc/routes/chain/snapshotChain.test.ts
  ironfish/src/rpc/routes/chain/snapshotChain.ts
  yarn.lock
Due: ironfish-cli, ironfish

Initial implementation of snapshot import
  ironfish-cli/src/commands/chain/import.ts
  ironfish/src/fileStores/config.ts
Due: ironfish-cli, ironfish

Add archvice unzip; add importChain RPC route
  ironfish-cli/src/commands/chain/import.ts
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/chain/importChain.ts
  ironfish/src/rpc/routes/chain/index.ts
Due: ironfish-cli, ironfish

Initial Derek feedback
  ironfish-cli/src/commands/chain/import.ts
  ironfish/src/rpc/routes/chain/importChain.ts
Due: ironfish-cli, ironfish

Use head sequence to skip unnecessary file reading
  ironfish-cli/src/commands/chain/import.ts
Due: ironfish-cli, ironfish

Move from raw tar call to node-tar
  ironfish-cli/package.json
  ironfish-cli/src/commands/chain/import.ts
  yarn.lock
Due: ironfish-cli, ironfish

Add tests for snapshot import
  ironfish/src/rpc/routes/chain/__fixtures__/importChain.test.ts.fixture
  ironfish/src/rpc/routes/chain/importChain.test.ts
Due: ironfish

Clean up block read
  ironfish/src/rpc/routes/chain/importChain.ts
Due: ironfish

Ensure that tempdir creation works correctly on all platforms
  ironfish-cli/src/commands/chain/import.ts
Due: ironfish-cli, ironfish
