Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish

codecov.yml:

ignore:
  - config/*
  - ironfish-rust-nodejs/*
comment: false
github_checks:
  annotations: false
coverage:
  fixes:
    - "/home/runner/work/ironfish/ironfish/::/"
  status:
    patch:
      default:
        target: 10%
        threshold: 0%
    project:
      default:
        target: 10%
      ironfish-rust:
        target: 10%
        flags:
          - ironfish-rust
      ironfish-cli:
        target: 10%
        flags:
          - ironfish-cli
      ironfish:
        target: 10%
        flags:
          - ironfish
flags:
  ironfish-rust:
    paths:
      - ironfish-rust
    carryforward: true
  ironfish:
    paths:
      - ironfish
    carryforward: true

Bump version to 1.20.0 (#4751)
  ironfish-cli/package.json
  ironfish-rust-nodejs/npm/darwin-arm64/package.json
  ironfish-rust-nodejs/npm/darwin-x64/package.json
  ironfish-rust-nodejs/npm/linux-arm64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-arm64-musl/package.json
  ironfish-rust-nodejs/npm/linux-x64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-x64-musl/package.json
  ironfish-rust-nodejs/npm/win32-x64-msvc/package.json
  ironfish-rust-nodejs/package.json
  ironfish/package.json
Due: ironfish-rust, ironfish

feat(ironfish): Add `wallet/getAccountTransactionDescriptions`
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/wallet/__fixtures__/getAccountTransactionDescriptions.test.ts.fixture
  ironfish/src/rpc/routes/wallet/getAccountTransactionDescriptions.test.ts
  ironfish/src/rpc/routes/wallet/getAccountTransactionDescriptions.ts
  ironfish/src/rpc/routes/wallet/index.ts
Due: ironfish

Fix lint
  ironfish/src/rpc/routes/wallet/getAccountTransactionDescriptions.test.ts
Due: ironfish

Update frost-related Cargo dependencies
  Cargo.lock
  ironfish-rust-nodejs/src/frost.rs
  ironfish-rust/src/transaction/tests.rs
  ironfish-rust/src/transaction/unsigned.rs
Due: ironfish-rust, ironfish

feat(ironfish,rust-nodejs): Add `wallet/getUnsignedTransactionNotes`
  ironfish/src/primitives/index.ts
  ironfish/src/primitives/unsignedTransaction.test.ts
  ironfish/src/primitives/unsignedTransaction.ts
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/wallet/__fixtures__/getUnsignedTransactionNotes.test.ts.fixture
  ironfish/src/rpc/routes/wallet/getUnsignedTransactionNotes.test.ts
  ironfish/src/rpc/routes/wallet/getUnsignedTransactionNotes.ts
  ironfish/src/rpc/routes/wallet/index.ts
  ironfish/src/rpc/routes/wallet/types.ts
Due: ironfish

fix(cli): Remove signerIdentity from create-signature-share
  ironfish-cli/src/commands/wallet/multisig/create-signature-share.ts
Due: ironfish

fix(cli): Remove signerIdentity from create-signature-share (#4756)
  ironfish-cli/src/commands/wallet/multisig/create-signature-share.ts
Due: ironfish

Add some rules for auto-release notes
  .github/release.yml
Due: none

Update to add existing labels
  .github/release.yml
Due: none

PR feedback
  ironfish/src/rpc/routes/wallet/__fixtures__/getUnsignedTransactionNotes.test.ts.fixture
  ironfish/src/rpc/routes/wallet/getUnsignedTransactionNotes.test.ts
Due: ironfish

feat(ironfish,rust-nodejs): Add `wallet/getUnsignedTransactionNotes` (#4755)
  ironfish/src/primitives/index.ts
  ironfish/src/primitives/unsignedTransaction.test.ts
  ironfish/src/primitives/unsignedTransaction.ts
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/wallet/__fixtures__/getUnsignedTransactionNotes.test.ts.fixture
  ironfish/src/rpc/routes/wallet/getUnsignedTransactionNotes.test.ts
  ironfish/src/rpc/routes/wallet/getUnsignedTransactionNotes.ts
  ironfish/src/rpc/routes/wallet/index.ts
  ironfish/src/rpc/routes/wallet/types.ts
Due: ironfish

Uses the public key package in the ironfish-frost library instead of the one provided by frost. This key package containers identifiers and the frost key package
  Cargo.lock
  ironfish-rust-nodejs/src/frost.rs
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust/src/frost_utils/split_secret.rs
  ironfish-rust/src/frost_utils/split_spender_key.rs
  ironfish-rust/src/transaction/tests.rs
  ironfish-rust/src/transaction/unsigned.rs
Due: ironfish-rust, ironfish

updating cargo lock with latest ironfish-frost
  Cargo.lock
Due: none

Uses the public key package in the ironfish-frost
  ironfish-rust-nodejs/src/frost.rs
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust/src/frost_utils/split_secret.rs
  ironfish-rust/src/frost_utils/split_spender_key.rs
  ironfish-rust/src/transaction/unsigned.rs
Due: ironfish-rust, ironfish

Rahul/use public key package with identities (#4759)
  Cargo.lock
  ironfish-rust-nodejs/src/frost.rs
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust/src/frost_utils/split_secret.rs
  ironfish-rust/src/frost_utils/split_spender_key.rs
  ironfish-rust/src/transaction/unsigned.rs
Due: ironfish-rust, ironfish

feat(rust-nodejs): Remove unused descriptions method
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/structs/transaction.rs
Due: ironfish-rust, ironfish

Change createMinersFee task to take buffer memo
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/workerPool/pool.ts
  ironfish/src/workerPool/tasks/createMinersFee.ts
Due: ironfish

Change buffer to 0 length
  ironfish/src/rpc/routes/wallet/createTransaction.ts
Due: ironfish

Change ternary to if statements
  ironfish/src/rpc/routes/wallet/createTransaction.ts
Due: ironfish

Change ternary in sendTransaction to ifs
  ironfish/src/rpc/routes/wallet/sendTransaction.ts
Due: ironfish

Set batch size for FishHash, change consensus param for asset ownership to null
  ironfish/src/fileStores/config.ts
  ironfish/src/networks/definitions/devnet.ts
  ironfish/src/networks/definitions/mainnet.ts
  ironfish/src/networks/definitions/testnet.ts
Due: ironfish

update teset changes
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/memPool/memPool.test.ts
  ironfish/src/rpc/routes/wallet/mintAsset.test.ts
  ironfish/src/wallet/account/account.test.ts
Due: ironfish

saves participant identities on account import
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/frost.rs
  ironfish-rust/src/frost_utils/mod.rs
  ironfish/src/wallet/wallet.test.slow.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish-rust, ironfish

feat(cli,ironfish,rust-nodejs): Render unsigned transaction for signature shares
  ironfish-cli/src/commands/wallet/multisig/create-signature-share.ts
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish/src/primitives/unsignedTransaction.ts
Due: ironfish-rust, ironfish

Fix broken tests
  ironfish/src/workerPool/tasks/createMinersFee.test.ts
  ironfish/src/workerPool/tasks/workerMessages.test.perf.ts
Due: ironfish

Add RUST_BACKTRACE=1 to jest tests (#4742)
  ironfish/package.json
Due: ironfish

fixes test
  ironfish/src/rpc/routes/wallet/multisig/createSignatureShare.test.ts
Due: ironfish

refactor(cli): Update logging
  ironfish-cli/src/commands/wallet/multisig/create-signature-share.ts
Due: ironfish

feat(cli,ironfish,rust-nodejs): Render unsigned transaction details for signature share creation (#4762)
  ironfish-cli/src/commands/wallet/multisig/create-signature-share.ts
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish/src/primitives/unsignedTransaction.ts
Due: ironfish-rust, ironfish

Change Note memos from string to 32 byte buffer (#4743)
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/structs/note.rs
  ironfish-rust-nodejs/tests/demo.test.slow.ts
  ironfish-rust/src/note.rs
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/consensus/verifier.test.ts
  ironfish/src/genesis/addGenesisTransaction.ts
  ironfish/src/genesis/makeGenesisBlock.ts
  ironfish/src/primitives/rawTransaction.test.slow.ts
  ironfish/src/primitives/rawTransaction.test.ts
  ironfish/src/primitives/transaction.test.perf.ts
  ironfish/src/primitives/transaction.test.slow.ts
  ironfish/src/primitives/transactionVerify.test.perf.ts
  ironfish/src/rpc/routes/wallet/__fixtures__/createTransaction.test.ts.fixture
  ironfish/src/rpc/routes/wallet/__fixtures__/sendTransaction.test.ts.fixture
  ironfish/src/rpc/routes/wallet/createTransaction.test.ts
  ironfish/src/rpc/routes/wallet/createTransaction.ts
  ironfish/src/rpc/routes/wallet/multisig/integration.test.slow.ts
  ironfish/src/rpc/routes/wallet/sendTransaction.test.ts
  ironfish/src/rpc/routes/wallet/sendTransaction.ts
  ironfish/src/strategy.test.slow.ts
  ironfish/src/testUtilities/fixtures/blocks.ts
  ironfish/src/testUtilities/fixtures/transactions.ts
  ironfish/src/testUtilities/helpers/transaction.ts
  ironfish/src/testUtilities/utils.ts
  ironfish/src/wallet/wallet.test.slow.ts
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
  ironfish/src/workerPool/pool.ts
  ironfish/src/workerPool/tasks/createMinersFee.test.ts
  ironfish/src/workerPool/tasks/createMinersFee.ts
  ironfish/src/workerPool/tasks/workerMessages.test.perf.ts
Due: ironfish-rust, ironfish

fixes tests
  ironfish/src/rpc/routes/wallet/__importTestCases__/1p20p0_bech32_multisig.txt
  ironfish/src/rpc/routes/wallet/__importTestCases__/1p20p0_json_multisig.txt
  ironfish/src/rpc/routes/wallet/exportAccount.test.ts
  ironfish/src/rpc/routes/wallet/importAccount.test.ts
  ironfish/src/testUtilities/index.ts
  ironfish/src/testUtilities/keys.ts
Due: ironfish

fixess bad fixtures for createTransaction
  ironfish/src/rpc/routes/wallet/__fixtures__/createTransaction.test.ts.fixture
Due: ironfish

fixess bad fixtures for createTransaction (#4765)
  ironfish/src/rpc/routes/wallet/__fixtures__/createTransaction.test.ts.fixture
Due: ironfish

Update crypto_box and tiny-bip39 to the latest version
  Cargo.lock
  ironfish-rust-nodejs/src/nacl.rs
  ironfish-rust/Cargo.toml
  ironfish-rust/src/nacl.rs
Due: ironfish-rust, ironfish

Updated `ironfish-frost` to the latest version
  Cargo.lock
  ironfish-rust-nodejs/src/frost.rs
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust/src/frost_utils/split_secret.rs
  ironfish-rust/src/frost_utils/split_spender_key.rs
  ironfish-rust/src/transaction/unsigned.rs
Due: ironfish-rust, ironfish

fixes rendering of notes in wallet:transaction
  ironfish-cli/src/commands/wallet/transaction/index.ts
Due: ironfish
