Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

codecov.yml:

ignore:
  - config/*
  - ironfish-rust-nodejs/*
  - ironfish-rust-wasm/*
comment: false
github_checks:
  annotations: false
coverage:
  fixes:
    - "/home/runner/work/ironfish/ironfish/::/"
  status:
    patch:
      default:
        target: auto
        threshold: 0%
    project:
      default:
        target: 10%
      ironfish-rust:
        target: 10%
        flags:
          - ironfish-rust
      ironfish-cli:
        target: 10%
        flags:
          - ironfish-cli
      ironfish:
        target: 10%
        flags:
          - ironfish
flags:
  ironfish-rust:
    paths:
      - ironfish-rust
    carryforward: true
  ironfish-cli:
    paths:
      - ironfish-cli
    carryforward: true
  ironfish:
    paths:
      - ironfish
    carryforward: true

Modify accountFixture to serialize/deserialize accounts properly
  ironfish/src/account/__fixtures__/accounts.test.slow.ts.fixture
  ironfish/src/account/accounts.test.slow.ts
  ironfish/src/genesis/genesis.test.slow.ts
  ironfish/src/testUtilities/fixtures.ts
Due: ironfish

Revert fixtures
  ironfish/src/account/__fixtures__/accounts.test.slow.ts.fixture
  ironfish/src/account/__fixtures__/accounts.test.ts.fixture
Due: ironfish

Add `readonly` `id` and remove extra `await`
  ironfish/src/account/account.ts
  ironfish/src/testUtilities/fixtures.ts
Due: ironfish

feat(ironfish): Fetch unspent notes from the decryptable notes map (#1686)
  ironfish/src/account/accounts.test.slow.ts
  ironfish/src/account/accounts.ts
  ironfish/src/genesis/genesis.test.slow.ts
  ironfish/src/testUtilities/fixtures.ts
Due: ironfish

rename hash functions
  ironfish/src/account/accounts.ts
  ironfish/src/memPool/memPool.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/primitives/transaction.ts
  ironfish/src/rpc/routes/chain/followChain.ts
  ironfish/src/rpc/routes/chain/getBlock.ts
  ironfish/src/rpc/routes/chain/getBlockInfo.ts
  ironfish/src/rpc/routes/chain/getTransactionStream.ts
  ironfish/src/rpc/routes/transactions/sendTransaction.ts
Due: ironfish

feat(ironfish): Store serialized notes in the accounts db
  ironfish/src/account/accounts.ts
  ironfish/src/account/database/decryptableNotes.test.ts
  ironfish/src/account/database/decryptableNotes.ts
Due: ironfish

feat(ironfish): Store serialized notes in the accounts db (#1696)
  ironfish/src/account/accounts.ts
  ironfish/src/account/database/decryptableNotes.test.ts
  ironfish/src/account/database/decryptableNotes.ts
Due: ironfish

feat(ironfish): Remove get unspent notes worker pool job
  ironfish/src/account/accounts.ts
  ironfish/src/workerPool/pool.ts
  ironfish/src/workerPool/tasks/__fixtures__/getUnspentNotes.test.ts.fixture
  ironfish/src/workerPool/tasks/getUnspentNotes.test.ts
  ironfish/src/workerPool/tasks/getUnspentNotes.ts
  ironfish/src/workerPool/tasks/handlers.ts
  ironfish/src/workerPool/tasks/workerMessage.ts
  ironfish/src/workerPool/worker.ts
Due: ironfish

feat(ironfish): Remove get unspent notes worker pool job (#1697)
  ironfish/src/account/accounts.ts
  ironfish/src/workerPool/pool.ts
  ironfish/src/workerPool/tasks/__fixtures__/getUnspentNotes.test.ts.fixture
  ironfish/src/workerPool/tasks/getUnspentNotes.test.ts
  ironfish/src/workerPool/tasks/getUnspentNotes.ts
  ironfish/src/workerPool/tasks/handlers.ts
  ironfish/src/workerPool/tasks/workerMessage.ts
  ironfish/src/workerPool/worker.ts
Due: ironfish

update references in tests
  ironfish/src/account/accounts.test.ts
  ironfish/src/memPool/memPool.test.ts
  ironfish/src/mining/manager.test.ts
  ironfish/src/primitives/transaction.test.slow.ts
  ironfish/src/primitives/transaction.ts
  ironfish/src/rpc/routes/transactions/sendTransaction.test.ts
Due: ironfish

Delete old open api files
  config/eslint-config-ironfish/index.js
  openapitools.json
Due: none

Bump versions to 0.1.37, 0.0.15
  ironfish-cli/package.json
  ironfish/package.json
Due: ironfish-cli, ironfish

Change defaultAccountName in db to defaultAccountId (#1688)
  ironfish/src/account/accounts.ts
  ironfish/src/account/accountsdb.ts
  ironfish/src/account/database/meta.ts
Due: ironfish

fix tests
  ironfish/src/testUtilities/mocks.ts
Due: ironfish

Use `getAllIter()` to fetch key and value when loading accounts data
  ironfish/src/account/accountsdb.ts
Due: ironfish

Delete old open api files (#1698)
  config/eslint-config-ironfish/index.js
  openapitools.json
Due: none

adds cli command to get pool status
  ironfish-cli/src/commands/miners/pools/status.ts
  ironfish/src/event.ts
  ironfish/src/index.ts
  ironfish/src/mining/index.ts
  ironfish/src/mining/pool.ts
  ironfish/src/mining/poolDatabase/database.ts
  ironfish/src/mining/poolMiner.ts
  ironfish/src/mining/poolShares.ts
  ironfish/src/mining/stratum/index.ts
  ironfish/src/mining/stratum/messages.ts
  ironfish/src/mining/stratum/stratumClient.ts
  ironfish/src/mining/stratum/stratumServer.ts
  ironfish/src/mining/webhooks/webhookNotifier.ts
Due: ironfish-cli, ironfish

cleans up and removes unnecessary changes
  ironfish/src/event.ts
  ironfish/src/mining/stratum/stratumServer.ts
Due: ironfish

fixes linting
  ironfish-cli/src/commands/miners/pools/status.ts
Due: ironfish-cli, ironfish

Use `getAllIter()` to fetch key and value when loading accounts data (#1699)
  ironfish/src/account/accountsdb.ts
Due: ironfish

Store headHash per account to allow for syncing accounts independently of each other in the future
  ironfish/src/account/accounts.ts
  ironfish/src/account/accountsdb.ts
  ironfish/src/account/database/meta.ts
Due: ironfish

Move logic into separate function, test
  ironfish/src/account/__fixtures__/accounts.test.ts.fixture
  ironfish/src/account/accounts.test.ts
  ironfish/src/account/accounts.ts
Due: ironfish

Fix debug command to work with new head hashes
  ironfish-cli/src/commands/debug.ts
Due: ironfish-cli, ironfish

fixes pool getStatus method
  ironfish/src/mining/pool.ts
Due: ironfish

Add unit test for new updateHeadHash logic
  ironfish/src/account/__fixtures__/accounts.test.ts.fixture
  ironfish/src/account/accounts.test.ts
Due: ironfish

Remove head hash when account is deleted
  ironfish/src/account/accounts.ts
Due: ironfish

address comments
  ironfish/src/metrics/metricsMonitor.ts
  ironfish/src/network/peers/connections/webSocketConnection.ts
  ironfish/src/network/types.ts
  ironfish/src/telemetry/telemetry.ts
  ironfish/src/utils/enums.ts
Due: ironfish

feat(ironfish): Move note decryption when syncing transactions to worker pool
  ironfish/src/account/accounts.ts
  ironfish/src/common/constants.ts
  ironfish/src/workerPool/pool.ts
  ironfish/src/workerPool/tasks/__fixtures__/decryptNotes.test.ts.fixture
  ironfish/src/workerPool/tasks/decryptNotes.test.ts
  ironfish/src/workerPool/tasks/decryptNotes.ts
  ironfish/src/workerPool/tasks/handlers.ts
  ironfish/src/workerPool/tasks/workerMessage.ts
  ironfish/src/workerPool/worker.ts
Due: ironfish

consolidates db methods that query share counts
  ironfish/src/mining/poolDatabase/database.ts
  ironfish/src/mining/poolShares.ts
Due: ironfish

creates share index on publicAddress
  ironfish/src/mining/poolDatabase/migrations/004-add-shares-address-index.ts
Due: ironfish

changes get_status messages
  ironfish/src/mining/stratum/messages.ts
  ironfish/src/mining/stratum/stratumServer.ts
Due: ironfish

Update note length
  ironfish/src/common/constants.ts
  ironfish/src/workerPool/tasks/decryptNotes.test.ts
  ironfish/src/workerPool/tasks/decryptNotes.ts
Due: ironfish

Move worker pool start to fix slow test
  ironfish/src/account/accounts.test.slow.ts
Due: ironfish

Serialize groups of blocks; fix tests
  ironfish-cli/src/commands/service/snapshot.ts
  ironfish/src/rpc/routes/chain/__fixtures__/snapshotChain.test.ts.fixture
  ironfish/src/rpc/routes/chain/snapshotChain.test.ts
  ironfish/src/rpc/routes/chain/snapshotChain.ts
Due: ironfish-cli, ironfish

Add route for returning serialized blocks for snapshots
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/chain/index.ts
  ironfish/src/rpc/routes/chain/snapshotChain.test.ts
  ironfish/src/rpc/routes/chain/snapshotChain.ts
Due: ironfish

Simplify S3 upload
  ironfish-cli/src/commands/service/snapshot.ts
Due: ironfish-cli, ironfish

Remove start and stop parameters
  ironfish-cli/src/commands/service/snapshot.ts
  ironfish/src/rpc/routes/chain/snapshotChain.ts
Due: ironfish-cli, ironfish

UX improvements
  ironfish-cli/src/commands/service/snapshot.ts
Due: ironfish-cli, ironfish

Minimize imports; remove superfluous start and stop params
  ironfish-cli/src/commands/service/snapshot.ts
  ironfish/src/rpc/routes/chain/snapshotChain.test.ts
Due: ironfish-cli, ironfish

Basic working implementation. Needs cleanup
  ironfish-cli/src/commands/service/snapshot.ts
Due: ironfish-cli, ironfish
