Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

codecov.yml:

ignore:
  - config/*
  - ironfish-rust-nodejs/*
  - ironfish-rust-wasm/*
comment: false
github_checks:
  annotations: false
coverage:
  fixes:
    - "/home/runner/work/ironfish/ironfish/::/"
  status:
    patch:
      default:
        target: auto
        threshold: 0%
    project:
      default:
        target: 10%
      ironfish-rust:
        target: 10%
        flags:
          - ironfish-rust
      ironfish-cli:
        target: 10%
        flags:
          - ironfish-cli
      ironfish:
        target: 10%
        flags:
          - ironfish
flags:
  ironfish-rust:
    paths:
      - ironfish-rust
    carryforward: true
  ironfish-cli:
    paths:
      - ironfish-cli
    carryforward: true
  ironfish:
    paths:
      - ironfish
    carryforward: true

test(ironfish): Pass asset identifier
  ironfish/src/rpc/routes/transactions/sendTransaction.test.ts
Due: ironfish

Update zkp
  ironfish-zkp/src/circuits/output.rs
  ironfish-zkp/src/circuits/spend.rs
Due: ironfish

Clean up for sender address (#2761)
  ironfish-rust/src/note.rs
  ironfish-zkp/src/circuits/output.rs
  ironfish-zkp/src/circuits/spend.rs
  ironfish-zkp/src/util.rs
  ironfish/src/primitives/transaction.ts
Due: ironfish-rust, ironfish

feat(cli,ironfish): Update balance CLI command to include `assetIdentifier`
  ironfish-cli/src/commands/accounts/balance.ts
  ironfish/src/utils/currency.ts
Due: ironfish-cli, ironfish

feat: add sender to cli commands
  ironfish-cli/src/commands/accounts/notes.ts
  ironfish-cli/src/commands/accounts/transaction.ts
  ironfish/src/primitives/note.ts
  ironfish/src/rpc/routes/wallet/getNotes.ts
  ironfish/src/rpc/routes/wallet/getTransaction.ts
  ironfish/src/rpc/routes/wallet/types.ts
Due: ironfish-cli, ironfish

feat: add sender to cli commands (#2763)
  ironfish-cli/src/commands/accounts/notes.ts
  ironfish-cli/src/commands/accounts/transaction.ts
  ironfish/src/primitives/note.ts
  ironfish/src/rpc/routes/wallet/getNotes.ts
  ironfish/src/rpc/routes/wallet/getTransaction.ts
  ironfish/src/rpc/routes/wallet/types.ts
Due: ironfish-cli, ironfish

renames addBlock to connectBlock, addBlockTransaction to connectTransaction
  ironfish/src/wallet/account.test.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish

adds separate methods for syncing transactions on a block
  ironfish/src/wallet/__fixtures__/wallet.test.ts.fixture
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish

regenerates fixtures for new tests after rebasing
  ironfish/src/wallet/__fixtures__/account.test.ts.fixture
  ironfish/src/wallet/__fixtures__/wallet.test.ts.fixture
Due: ironfish

replaces saveDecryptedNote, saveTransaction
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish

uses same note construction layout in connectTransaction
  ironfish/src/wallet/account.ts
Due: ironfish

sets submittedSequence for transactions on blocks
  ironfish/src/wallet/account.ts
Due: ironfish

Change code layout a little
  ironfish/src/wallet/account.ts
Due: ironfish

changes updates to unconfirmed balances to use asset identifier
  ironfish/src/wallet/__fixtures__/account.test.ts.fixture
  ironfish/src/wallet/__fixtures__/wallet.test.ts.fixture
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.test.ts
Due: ironfish

fixes usage of spends() and notes()
  ironfish/src/wallet/account.test.ts
Due: ironfish

fixes test failures from rebase merge conflict resolution
  ironfish/src/wallet/account.ts
Due: ironfish

feat: sender cli output text update
  ironfish-cli/src/commands/accounts/notes.ts
  ironfish-cli/src/commands/accounts/transaction.ts
Due: ironfish-cli, ironfish

regenerates fixtures for wallet and account changes
  ironfish/src/wallet/__fixtures__/account.test.ts.fixture
  ironfish/src/wallet/__fixtures__/wallet.test.ts.fixture
Due: ironfish

feat: move sender to transaction level in accounts:transaction
  ironfish-cli/src/commands/accounts/transaction.ts
Due: ironfish-cli, ironfish

feat: change sender output text (#2764)
  ironfish-cli/src/commands/accounts/notes.ts
  ironfish-cli/src/commands/accounts/transaction.ts
Due: ironfish-cli, ironfish

adds scan logic to connectBlock
  ironfish/src/wallet/wallet.ts
Due: ironfish

parallelizes checking each account for pending transaction (#2757)
  ironfish/src/utils/async.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

Update comment on note encryption miner keys constant
  ironfish-rust/src/merkle_note.rs
Due: ironfish-rust, ironfish

Check mints and burns in miner fee transactions
  ironfish-rust/src/transaction/mod.rs
  ironfish/src/primitives/transaction.ts
Due: ironfish-rust, ironfish

Update to Nodejs 18
  .github/workflows/build-ironfish-rust-nodejs.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-brew.yml
  .github/workflows/deploy-npm-ironfish-cli.yml
  .github/workflows/deploy-npm-ironfish-rust-nodejs.yml
  .github/workflows/deploy-npm-ironfish.yml
  README.md
  ironfish-cli/Dockerfile
  ironfish-cli/bin/run
  ironfish-cli/package.json
  ironfish-rust-nodejs/npm/darwin-arm64/package.json
  ironfish-rust-nodejs/npm/darwin-x64/package.json
  ironfish-rust-nodejs/npm/linux-arm64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-arm64-musl/package.json
  ironfish-rust-nodejs/npm/linux-x64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-x64-musl/package.json
  ironfish-rust-nodejs/npm/win32-x64-msvc/package.json
  ironfish-rust-nodejs/package.json
Due: ironfish-rust, ironfish-cli, ironfish

feat(ci): Use 2 threads for rust tests to speed them up
  .github/workflows/rust_ci.yml
Due: none

Update comment on note encryption miner keys constant (#2765)
  ironfish-rust/src/merkle_note.rs
Due: ironfish-rust, ironfish

Check mints and burns in miner fee transactions (#2766)
  ironfish-rust/src/transaction/mod.rs
  ironfish/src/primitives/transaction.ts
Due: ironfish-rust, ironfish

refactor(rust): Use burn value directly for the binding signature of a transaction
  ironfish-rust/src/transaction/burns.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/primitives/transaction.ts
Due: ironfish-rust, ironfish

fix comment
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish

refactor(rust): Rename transaction value balance functions for clarity
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish

feat(cli): Add `assetIdentifier` to pay command
  ironfish-cli/src/commands/accounts/pay.ts
Due: ironfish-cli, ironfish

WIP
  ironfish/src/primitives/note.test.ts
Due: ironfish

WIP
  ironfish/src/primitives/__fixtures__/note.test.ts.fixture
Due: ironfish

refactor(rust): Use burn value directly for the binding signature of a transaction (#2769)
  ironfish-rust/src/transaction/burns.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/primitives/transaction.ts
Due: ironfish-rust, ironfish

fix(ironfish): Init amount as fee
  ironfish/src/rpc/routes/transactions/sendTransaction.ts
Due: ironfish

refactor(zkp): Move ValueCommitment out of circuits, add additional tests
  ironfish-rust/src/merkle_note.rs
  ironfish-rust/src/transaction/mints.rs
  ironfish-rust/src/transaction/outputs.rs
  ironfish-rust/src/transaction/spends.rs
  ironfish-zkp/src/circuits/mint_asset.rs
  ironfish-zkp/src/circuits/mod.rs
  ironfish-zkp/src/circuits/output.rs
  ironfish-zkp/src/circuits/spend.rs
  ironfish-zkp/src/circuits/util.rs
  ironfish-zkp/src/circuits/value_commitment.rs
  ironfish-zkp/src/lib.rs
  ironfish-zkp/src/primitives/mod.rs
  ironfish-zkp/src/primitives/value_commitment.rs
Due: ironfish-rust, ironfish

refactor(rust,zkp): Add ValueCommitment::new helper
  ironfish-rust/src/merkle_note.rs
  ironfish-rust/src/transaction/mints.rs
  ironfish-rust/src/transaction/outputs.rs
  ironfish-rust/src/transaction/spends.rs
  ironfish-zkp/src/circuits/mint_asset.rs
  ironfish-zkp/src/primitives/value_commitment.rs
Due: ironfish-rust, ironfish

test(zkp): Small test for value commitment constructor
  ironfish-zkp/src/primitives/value_commitment.rs
Due: ironfish
