Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

codecov.yml:

ignore:
  - config/*
  - ironfish-rust-nodejs/*
  - ironfish-rust-wasm/*
comment: false
github_checks:
  annotations: false
coverage:
  fixes:
    - "/home/runner/work/ironfish/ironfish/::/"
  status:
    patch:
      default:
        target: auto
        threshold: 0%
    project:
      default:
        target: 10%
      ironfish-rust:
        target: 10%
        flags:
          - ironfish-rust
      ironfish-cli:
        target: 10%
        flags:
          - ironfish-cli
      ironfish:
        target: 10%
        flags:
          - ironfish
flags:
  ironfish-rust:
    paths:
      - ironfish-rust
    carryforward: true
  ironfish-cli:
    paths:
      - ironfish-cli
    carryforward: true
  ironfish:
    paths:
      - ironfish
    carryforward: true

adds comments to test, makes it pass
  ironfish/src/blockchain/blockchain.test.ts
Due: ironfish

Always call syncTransaction
  ironfish/src/network/peerNetwork.ts
Due: ironfish

feat(rust,zkp): Move asset description fields to metadata
  ironfish-rust/src/assets/asset.rs
  ironfish-rust/src/transaction/mints.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-zkp/src/circuits/mint_asset.rs
  ironfish-zkp/src/circuits/util.rs
Due: ironfish-rust, ironfish

Defer syncing transaction until after broadcasting (#2564)
  ironfish/src/network/peerNetwork.ts
Due: ironfish

fixes cause of negative balances (#2565)
  ironfish/src/wallet/__fixtures__/wallet.test.ts.fixture
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish

fix(rust): Bump nonce in unit test
  ironfish-rust/src/assets/asset.rs
Due: ironfish-rust, ironfish

fix(rust): Remove borrowing in `add_mint`
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish

checks for corrupt block in chain before starting
  ironfish-cli/src/commands/start.ts
Due: ironfish-cli, ironfish

feat(rust,zkp): Move asset description fields to metadata (#2572)
  ironfish-rust/src/assets/asset.rs
  ironfish-rust/src/transaction/mints.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-zkp/src/circuits/mint_asset.rs
  ironfish-zkp/src/circuits/util.rs
Due: ironfish-rust, ironfish

refactor(rust,zkp): Change Asset owner public address to asset public key
  ironfish-rust/src/assets/asset.rs
  ironfish-rust/src/keys/mod.rs
  ironfish-rust/src/transaction/mints.rs
Due: ironfish-rust, ironfish

fix(rust): Use AssetPublicKey alias
  ironfish-rust/src/assets/asset.rs
Due: ironfish-rust, ironfish

refactor(rust,zkp): Change Asset owner public address to asset public key (#2573)
  ironfish-rust/src/assets/asset.rs
  ironfish-rust/src/keys/mod.rs
  ironfish-rust/src/transaction/mints.rs
Due: ironfish-rust, ironfish

deletes nullifier from nullifierToNote if nullifier set to null on note
  ironfish/src/wallet/account.ts
Due: ironfish

moves loading unconfirmed balance back to the right place
  ironfish/src/wallet/account.ts
Due: ironfish

amends test
  ironfish/src/wallet/__fixtures__/wallet.test.ts.fixture
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.test.ts
Due: ironfish

updates after rebase
  ironfish/src/wallet/__fixtures__/wallet.test.ts.fixture
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.test.ts
Due: ironfish

checks for corrupt block in chain before starting (#2574)
  ironfish-cli/src/commands/start.ts
Due: ironfish-cli, ironfish

adds test that reproduces double spend afer consensus change (#2571)
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/blockchain/blockchain.test.ts
Due: ironfish

deletes nullifier from nullifierToNote if nullifier set to null on note (#2519)
  ironfish/src/wallet/__fixtures__/wallet.test.ts.fixture
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.test.ts
Due: ironfish

refactor(rust,zkp): Mint circuit now uses pedersen hash for identifier
  ironfish-rust/src/assets/asset.rs
  ironfish-zkp/src/circuits/mint_asset.rs
  ironfish-zkp/src/circuits/util.rs
  ironfish-zkp/src/constants.rs
Due: ironfish-rust, ironfish

fix(rust): add metadata length const
  ironfish-rust/src/assets/asset.rs
Due: ironfish-rust, ironfish

Add chain:repair command to repair nullifier tree
  ironfish-cli/src/commands/chain/hardfork.ts
  ironfish-cli/src/commands/chain/repair.ts
  ironfish-cli/src/commands/chain/rewind.ts
  ironfish-cli/src/commands/start.ts
Due: ironfish-cli, ironfish

refactor(rust,zkp): Use pedersen hash for asset identifier (#2577)
  ironfish-rust/src/assets/asset.rs
  ironfish-zkp/src/circuits/mint_asset.rs
  ironfish-zkp/src/circuits/util.rs
  ironfish-zkp/src/constants.rs
Due: ironfish-rust, ironfish

Add chain:repair command to repair nullifier tree (#2575)
  ironfish-cli/src/commands/chain/hardfork.ts
  ironfish-cli/src/commands/chain/repair.ts
  ironfish-cli/src/commands/chain/rewind.ts
  ironfish-cli/src/commands/start.ts
Due: ironfish-cli, ironfish

feat(rust): Add value commitment to mint description
  ironfish-rust/src/transaction/mints.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/outputs.rs
  ironfish-rust/src/transaction/spending.rs
Due: ironfish-rust, ironfish

Add unit tests
  ironfish-zkp/src/circuits/output.rs
  ironfish-zkp/src/circuits/spend.rs
Due: ironfish

Add cargo.lock
  Cargo.lock
Due: none

Remove rand_core
  ironfish-zkp/Cargo.toml
  ironfish-zkp/src/circuits/output.rs
  ironfish-zkp/src/circuits/spend.rs
Due: ironfish

WIP
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/blockchain/database/headers.ts
  ironfish/src/chainProcessor.ts
  ironfish/src/primitives/block.ts
  ironfish/src/primitives/blockheader.ts
  ironfish/src/rpc/routes/chain/followChain.ts
  ironfish/src/rpc/routes/chain/getBlockInfo.ts
  ironfish/src/rpc/routes/chain/getTransactionStream.ts
  ironfish/src/rpc/routes/chain/utils.ts
  ironfish/src/rpc/routes/events/utils.ts
Due: ironfish

Import Output and Spend class from zcash (#2542)
  Cargo.lock
  ironfish-zkp/Cargo.toml
  ironfish-zkp/src/circuits/mod.rs
  ironfish-zkp/src/circuits/output.rs
  ironfish-zkp/src/circuits/spend.rs
  ironfish-zkp/src/circuits/util.rs
Due: ironfish

Lock file
  Cargo.lock
Due: none

adds accounts:repair command
  ironfish-cli/src/commands/accounts/repair.ts
Due: ironfish-cli, ironfish

adds check that transactions are in blocks
  ironfish-cli/src/commands/accounts/repair.ts
Due: ironfish-cli, ironfish

adds missing log message, fixes lint
  ironfish-cli/src/commands/accounts/repair.ts
Due: ironfish-cli, ironfish

improves rescan messaging
  ironfish-cli/src/commands/accounts/repair.ts
Due: ironfish-cli, ironfish

WIP
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/syncer.ts
Due: ironfish

feat(ci): add job to check cargo lockfile
  .github/workflows/rust_ci.yml
  Cargo.lock
Due: none

feat(ci): add job to check cargo lockfile (#2583)
  .github/workflows/rust_ci.yml
  Cargo.lock
Due: none

Batch merkle tree adds when constructing a new block (#2569)
  ironfish/src/blockchain/blockchain.ts
Due: ironfish

Remove double-logging from syncer
  ironfish/src/syncer.ts
Due: ironfish
