Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish

Fix `cargo clippy` errors generated when `transaction-proofs` is off
  ironfish-rust-wasm/src/transaction/mod.rs
  ironfish-rust/Cargo.toml
Due: ironfish-rust, ironfish

Fix `cargo clippy` errors generated when `transaction-proofs` is off (#5740)
  ironfish-rust-wasm/src/transaction/mod.rs
  ironfish-rust/Cargo.toml
Due: ironfish-rust, ironfish

wasm version bump
  Cargo.lock
  ironfish-rust-wasm/Cargo.toml
Due: ironfish-rust, ironfish

wasm version bump (#5739)
  Cargo.lock
  ironfish-rust-wasm/Cargo.toml
Due: ironfish-rust, ironfish

run workflow on pullrequest for staging temporarily
  .github/workflows/deploy-npm-ironfish-rust-wasm.yml
Due: none

deletes multisig identity on account import
  ironfish/src/rpc/routes/wallet/importAccount.test.ts
  ironfish/src/rpc/routes/wallet/importAccount.ts
  ironfish/src/wallet/errors.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

makes participantName and ledger flags exclusive in dkg
  ironfish-cli/src/commands/wallet/multisig/dkg/round1.ts
  ironfish-cli/src/commands/wallet/multisig/dkg/round2.ts
  ironfish-cli/src/commands/wallet/multisig/dkg/round3.ts
Due: ironfish

Update wasm README with deployment instructions
  ironfish-rust-wasm/README.md
Due: ironfish-rust, ironfish

moving instructions to deployment.md
  ironfish-rust-wasm/DEPLOYMENT.md
  ironfish-rust-wasm/README.md
Due: ironfish-rust, ironfish

deletes multisig identity on account import (#5692)
  ironfish/src/rpc/routes/wallet/importAccount.test.ts
  ironfish/src/rpc/routes/wallet/importAccount.ts
  ironfish/src/wallet/errors.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

makes participantName and ledger flags exclusive in dkg (#5742)
  ironfish-cli/src/commands/wallet/multisig/dkg/round1.ts
  ironfish-cli/src/commands/wallet/multisig/dkg/round2.ts
  ironfish-cli/src/commands/wallet/multisig/dkg/round3.ts
Due: ironfish

removed seq and prev from block and test for exportChainStream
  ironfish/src/rpc/routes/chain/exportChainStream.test.ts
  ironfish/src/rpc/routes/chain/exportChainStream.ts
  ironfish/src/rpc/routes/chain/serializers.ts
  ironfish/src/rpc/routes/chain/types.ts
Due: ironfish

removed assetVerification from getBalance and tests
  ironfish/src/rpc/routes/wallet/getBalance.test.ts
  ironfish/src/rpc/routes/wallet/getBalance.ts
Due: ironfish

removed assetVerification import
  ironfish/src/rpc/routes/wallet/getBalance.ts
Due: ironfish

remoced asset verification test since it was deprecated
  ironfish/src/rpc/routes/wallet/getBalance.test.ts
Due: ironfish

removed assetVerification, assetName, assetCreator, assetOwner ref from getBalances, schema, and tests
  ironfish/src/rpc/routes/wallet/getBalances.test.ts
  ironfish/src/rpc/routes/wallet/getBalances.ts
Due: ironfish

removed main key from block for followChainStream
  ironfish/src/rpc/routes/chain/followChainStream.ts
Due: ironfish

removed notesCount, spendscount, notesEncrypted ref from getTransaction and tests
  ironfish/src/rpc/routes/chain/getTransaction.test.ts
  ironfish/src/rpc/routes/chain/getTransaction.ts
Due: ironfish

removed hash and name from burnAsset
  ironfish/src/rpc/routes/wallet/burnAsset.test.ts
  ironfish/src/rpc/routes/wallet/burnAsset.ts
Due: ironfish

added back in name ref for burnAsset test so it would pass RpcAsset type check
  ironfish/src/rpc/routes/wallet/__fixtures__/burnAsset.test.ts.fixture
  ironfish/src/rpc/routes/wallet/burnAsset.test.ts
Due: ironfish

removed hash ref in mintAsset
  ironfish/src/rpc/routes/wallet/mintAsset.test.ts
  ironfish/src/rpc/routes/wallet/mintAsset.ts
Due: ironfish

Update wasm README with deployment instructions (#5743)
  ironfish-rust-wasm/DEPLOYMENT.md
Due: ironfish-rust, ironfish

Bump versions for release
  Cargo.lock
  ironfish-cli/package.json
  ironfish-rust-nodejs/npm/darwin-arm64/package.json
  ironfish-rust-nodejs/npm/darwin-x64/package.json
  ironfish-rust-nodejs/npm/linux-arm64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-arm64-musl/package.json
  ironfish-rust-nodejs/npm/linux-x64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-x64-musl/package.json
  ironfish-rust-nodejs/npm/win32-x64-msvc/package.json
  ironfish-rust-nodejs/package.json
  ironfish-rust-wasm/Cargo.toml
  ironfish/package.json
Due: ironfish-rust, ironfish

Bump versions for release (#5751)
  Cargo.lock
  ironfish-cli/package.json
  ironfish-rust-nodejs/npm/darwin-arm64/package.json
  ironfish-rust-nodejs/npm/darwin-x64/package.json
  ironfish-rust-nodejs/npm/linux-arm64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-arm64-musl/package.json
  ironfish-rust-nodejs/npm/linux-x64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-x64-musl/package.json
  ironfish-rust-nodejs/npm/win32-x64-msvc/package.json
  ironfish-rust-nodejs/package.json
  ironfish-rust-wasm/Cargo.toml
  ironfish/package.json
Due: ironfish-rust, ironfish

Fix docker builds by pinning rust toolchain
  ironfish-cli/Dockerfile
Due: ironfish

Fix docker builds by pinning rust toolchain (#5753)
  ironfish-cli/Dockerfile
Due: ironfish

Delete brew deploy action
  .github/workflows/deploy-brew.yml
Due: none

feat: support chainport bridge fee upgrade
  ironfish-cli/src/commands/wallet/chainport/send.ts
  ironfish-cli/src/utils/chainport/config.ts
  ironfish-cli/src/utils/chainport/requests.ts
  ironfish-cli/src/utils/chainport/types.ts
  ironfish-cli/src/utils/chainport/utils.ts
Due: ironfish

feat: update memoHex decoding v1 v2
  ironfish-cli/src/utils/chainport/metadata.test.ts
  ironfish-cli/src/utils/chainport/metadata.ts
  ironfish-cli/src/utils/chainport/utils.test.ts
  ironfish-cli/src/utils/chainport/utils.ts
Due: ironfish

feat: update bridge memoHex encoding/decoding and remove upgrade date config
  ironfish-cli/src/commands/wallet/chainport/send.ts
  ironfish-cli/src/utils/chainport/config.ts
  ironfish-cli/src/utils/chainport/metadata.test.ts
  ironfish-cli/src/utils/chainport/metadata.ts
  ironfish-cli/src/utils/chainport/requests.ts
  ironfish-cli/src/utils/chainport/types.ts
  ironfish-cli/src/utils/chainport/utils.test.ts
  ironfish-cli/src/utils/chainport/utils.ts
Due: ironfish

test: add tests for metadata encodeV2 and decodeV2
  ironfish-cli/src/utils/chainport/metadata.test.ts
  ironfish-cli/src/utils/chainport/metadata.ts
Due: ironfish

feat: chainport bridge fee upgrade (#5755)
  ironfish-cli/src/commands/wallet/chainport/send.ts
  ironfish-cli/src/utils/chainport/metadata.test.ts
  ironfish-cli/src/utils/chainport/metadata.ts
  ironfish-cli/src/utils/chainport/requests.ts
  ironfish-cli/src/utils/chainport/types.ts
  ironfish-cli/src/utils/chainport/utils.test.ts
Due: ironfish

bump version
  ironfish-cli/package.json
  ironfish/package.json
Due: ironfish

bump version (#5757)
  ironfish-cli/package.json
  ironfish/package.json
Due: ironfish

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-rust-nodejs/*
  ironfish: any of: ironfish, but not: config/*, ironfish-rust-nodejs/*
