Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

standardizes naming of version constants (#1902)
  ironfish/src/account/accountsdb.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/indexers/minedBlocksIndexer.ts
  ironfish/src/mining/stratum/stratumClient.ts
  ironfish/src/mining/stratum/stratumServer.ts
  ironfish/src/mining/stratum/version.ts
Due: ironfish

Add chain snapshot export functionality (#1655)
  ironfish-cli/package.json
  ironfish-cli/src/commands/service/snapshot.test.ts
  ironfish-cli/src/commands/service/snapshot.ts
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/chain/__fixtures__/snapshotChain.test.ts.fixture
  ironfish/src/rpc/routes/chain/index.ts
  ironfish/src/rpc/routes/chain/snapshotChain.test.ts
  ironfish/src/rpc/routes/chain/snapshotChain.ts
  yarn.lock
Due: ironfish-cli, ironfish

Add snapshot import functionality (#1731)
  ironfish-cli/package.json
  ironfish-cli/src/commands/chain/import.ts
  ironfish-cli/src/commands/service/snapshot.test.ts
  ironfish-cli/src/commands/service/snapshot.ts
  ironfish/src/fileStores/config.ts
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/chain/__fixtures__/importChain.test.ts.fixture
  ironfish/src/rpc/routes/chain/importChain.test.ts
  ironfish/src/rpc/routes/chain/importChain.ts
  ironfish/src/rpc/routes/chain/index.ts
  ironfish/src/utils/index.ts
  ironfish/src/utils/snapshot.ts
  yarn.lock
Due: ironfish-cli, ironfish

removes existing chain database before moving snapshot
  ironfish-cli/src/commands/chain/import.ts
Due: ironfish-cli, ironfish

uses correct database versions when creating/importing snapshots
  ironfish-cli/src/commands/chain/importSnapshot.ts
  ironfish-cli/src/commands/service/snapshot.test.ts
  ironfish-cli/src/commands/service/snapshot.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/rpc/routes/chain/getChainInfo.ts
  ironfish/src/rpc/routes/chain/importChain.ts
  ironfish/src/rpc/routes/chain/snapshotChain.ts
Due: ironfish-cli, ironfish

updates progress bar to impove estimate rendering and include download rate
  ironfish-cli/src/commands/chain/importSnapshot.ts
Due: ironfish-cli, ironfish

addresses pr feedback
  ironfish-cli/src/commands/chain/import.ts
  ironfish-cli/src/commands/service/snapshot.test.ts
  ironfish-cli/src/commands/service/snapshot.ts
  ironfish/src/fileStores/config.ts
  ironfish/src/utils/snapshot.ts
Due: ironfish-cli, ironfish

changes chain:import to chain:importSnapshot
  ironfish-cli/src/commands/chain/importSnapshot.ts
Due: ironfish-cli, ironfish

address pr feedback
  ironfish-cli/src/commands/service/snapshot.test.ts
  ironfish-cli/src/commands/service/snapshot.ts
Due: ironfish-cli, ironfish

restores mock config to fix tests
  ironfish-cli/src/commands/service/snapshot.test.ts
  ironfish-cli/src/commands/service/snapshot.ts
Due: ironfish-cli, ironfish

fixes progress bar
  ironfish-cli/src/commands/chain/import.ts
Due: ironfish-cli, ironfish

changes snapshots to zip database from node datadir
  ironfish-cli/src/commands/chain/import.ts
  ironfish-cli/src/commands/service/snapshot.test.ts
  ironfish-cli/src/commands/service/snapshot.ts
Due: ironfish-cli, ironfish

adds database_version to snapshot manifest
  ironfish-cli/src/commands/chain/importSnapshot.ts
  ironfish-cli/src/commands/service/snapshot.test.ts
  ironfish-cli/src/commands/service/snapshot.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/rpc/routes/chain/getChainInfo.ts
  ironfish/src/utils/snapshot.ts
Due: ironfish-cli, ironfish

fixes tests for strategy changes after rebase of snapshots branch
  ironfish/src/rpc/routes/chain/importChain.test.ts
  ironfish/src/rpc/routes/chain/snapshotChain.test.ts
Due: ironfish

Add explicit version pin instead of hoping that our Cargo.lock doesn't get reset for any reason
  ironfish-rust-nodejs/Cargo.lock
  ironfish-rust/Cargo.lock
  ironfish-rust/Cargo.toml
Due: ironfish-rust, ironfish

Add re-usable build-and-test step for rust-nodejs package
  .github/workflows/build-ironfish-rust-nodejs.yml
  .github/workflows/deploy-npm-ironfish-rust-nodejs.yml
Due: none

Support IDatabaseStore.clear() in a transaction (#1897)
  ironfish/src/storage/database.test.ts
  ironfish/src/storage/database/store.ts
  ironfish/src/storage/levelup/store.ts
Due: ironfish

Fix tests
  ironfish/src/merkletree/merkletree.test.ts
  ironfish/src/testUtilities/helpers/merkletree.ts
  ironfish/src/testUtilities/helpers/storage.ts
Due: ironfish

Make DecrypytedNote transactionHash enc not null (#1887)
  ironfish/src/account/database/decryptedNotes.ts
Due: ironfish

Allow non unqiue IDatabaseStore (#1892)
  ironfish/src/merkletree/merkletree.test.ts
  ironfish/src/storage/database.test.ts
  ironfish/src/storage/database/database.ts
  ironfish/src/testUtilities/helpers/merkletree.ts
  ironfish/src/testUtilities/helpers/storage.ts
Due: ironfish

Support logging in migrations
  ironfish-cli/src/commands/migrations/start.ts
  ironfish/src/logger/index.ts
  ironfish/src/migrations/migration.ts
  ironfish/src/migrations/migrator.ts
Due: ironfish-cli, ironfish

Add re-usable build-and-test step for rust-nodejs package (#1905)
  .github/workflows/build-ironfish-rust-nodejs.yml
  .github/workflows/deploy-npm-ironfish-rust-nodejs.yml
Due: none

Add explicit version pin instead of hoping that our Cargo.lock doesn't get reset for any reason (#1906)
  ironfish-rust-nodejs/Cargo.lock
  ironfish-rust/Cargo.lock
  ironfish-rust/Cargo.toml
Due: ironfish-rust, ironfish

Support logging in migrations (#1908)
  ironfish-cli/src/commands/migrations/start.ts
  ironfish/src/logger/index.ts
  ironfish/src/migrations/migration.ts
  ironfish/src/migrations/migrator.ts
Due: ironfish-cli, ironfish

Add dry run support to migrator
  ironfish-cli/src/commands/migrations/start.ts
  ironfish/src/migrations/migration.ts
  ironfish/src/migrations/migrator.ts
Due: ironfish-cli, ironfish

remove migration, to be handled in a later PR
  ironfish/src/account/accountsdb.ts
  ironfish/src/migrations/data/013-accounts-dedupe.ts
Due: ironfish

fixes exit code for db version, moves SnapshotManifest to cli
  ironfish-cli/src/commands/chain/importSnapshot.ts
  ironfish-cli/src/commands/service/snapshot.ts
  ironfish-cli/src/utils/index.ts
  ironfish-cli/src/utils/snapshot.ts
  ironfish/src/utils/index.ts
Due: ironfish-cli, ironfish

Add dry run support to migrator (#1909)
  ironfish-cli/src/commands/migrations/start.ts
  ironfish/src/migrations/migration.ts
  ironfish/src/migrations/migrator.ts
Due: ironfish-cli, ironfish

changes snapshots to zip database from node datadir (#1874)
  ironfish-cli/src/commands/chain/importSnapshot.ts
  ironfish-cli/src/commands/service/snapshot.test.ts
  ironfish-cli/src/commands/service/snapshot.ts
  ironfish-cli/src/utils/index.ts
  ironfish-cli/src/utils/snapshot.ts
  ironfish/src/fileStores/config.ts
  ironfish/src/rpc/routes/chain/importChain.test.ts
  ironfish/src/rpc/routes/chain/importChain.ts
  ironfish/src/rpc/routes/chain/snapshotChain.test.ts
  ironfish/src/rpc/routes/chain/snapshotChain.ts
  ironfish/src/utils/index.ts
Due: ironfish-cli, ironfish

removes database name from snapshot on unzip
  ironfish-cli/src/commands/chain/importSnapshot.ts
  ironfish-cli/src/commands/service/snapshot.ts
Due: ironfish-cli, ironfish

Disallow importing accounts with the same keys (#1884)
  ironfish/src/account/__fixtures__/accounts.test.ts.fixture
  ironfish/src/account/accounts.test.ts
  ironfish/src/account/accounts.ts
Due: ironfish

adds 'temp' directory in dataDir, uses it in snapshot commands
  ironfish-cli/src/commands/chain/importSnapshot.ts
  ironfish-cli/src/commands/service/snapshot.ts
  ironfish/src/fileStores/config.ts
Due: ironfish-cli, ironfish

Add RSS to telemetry payload
  ironfish/src/telemetry/telemetry.ts
Due: ironfish

removes database name from snapshot on unzip (#1911)
  ironfish-cli/src/commands/chain/importSnapshot.ts
  ironfish-cli/src/commands/service/snapshot.ts
Due: ironfish-cli, ironfish

adds 'temp' directory in dataDir, uses it in snapshot commands (#1912)
  ironfish-cli/src/commands/chain/importSnapshot.ts
  ironfish-cli/src/commands/service/snapshot.ts
  ironfish/src/fileStores/config.ts
Due: ironfish-cli, ironfish

Fix test for duplicate key import
  ironfish/src/account/accounts.test.ts
Due: ironfish

Fix test for duplicate key import (#1913)
  ironfish/src/account/accounts.test.ts
Due: ironfish

address review comments on transaction fetcher
  ironfish/src/network/transactionFetcher.ts
Due: ironfish

fetcher changes
  ironfish/src/network/transactionFetcher.ts
Due: ironfish

initial transaction fetcher
  ironfish/src/network/transactionFetcher.ts
Due: ironfish

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish-cli: any of: ironfish-cli, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish: any of: ironfish, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
