Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

fetcher changes
  ironfish/src/network/transactionFetcher.ts
Due: ironfish

typo
  ironfish/src/network/transactionFetcher.ts
Due: ironfish

WIP
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/transactionFetcher.ts
  ironfish/src/network/version.ts
Due: ironfish

WIP tests
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/testUtilities/mocks.ts
Due: ironfish

Add messages to asserts in accounts
  ironfish/src/account/accounts.ts
Due: ironfish

removes unused snapshots code
  ironfish-cli/src/commands/chain/importSnapshot.ts
  ironfish-cli/src/commands/service/snapshot.ts
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/chain/importChain.test.ts
  ironfish/src/rpc/routes/chain/importChain.ts
  ironfish/src/rpc/routes/chain/index.ts
  ironfish/src/rpc/routes/chain/snapshotChain.test.ts
  ironfish/src/rpc/routes/chain/snapshotChain.ts
Due: ironfish-cli, ironfish

removes rpc fixtures for snapshots
  ironfish/src/rpc/routes/chain/__fixtures__/importChain.test.ts.fixture
  ironfish/src/rpc/routes/chain/__fixtures__/snapshotChain.test.ts.fixture
Due: ironfish

fixes snapshot tests
  ironfish-cli/src/commands/service/snapshot.test.ts
  ironfish-cli/src/commands/service/snapshot.ts
Due: ironfish-cli, ironfish

removes unnecessary assertion
  ironfish-cli/src/commands/service/snapshot.ts
Due: ironfish-cli, ironfish

Add RSS to telemetry payload (#1917)
  ironfish/src/telemetry/telemetry.ts
Due: ironfish

Add rehashRightPath
  ironfish/src/merkletree/merkletree.ts
Due: ironfish

Add messages to asserts in accounts (#1915)
  ironfish/src/account/accounts.ts
Due: ironfish

removes unused snapshots code (#1916)
  ironfish-cli/src/commands/chain/importSnapshot.ts
  ironfish-cli/src/commands/service/snapshot.test.ts
  ironfish-cli/src/commands/service/snapshot.ts
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/chain/__fixtures__/importChain.test.ts.fixture
  ironfish/src/rpc/routes/chain/__fixtures__/snapshotChain.test.ts.fixture
  ironfish/src/rpc/routes/chain/importChain.test.ts
  ironfish/src/rpc/routes/chain/importChain.ts
  ironfish/src/rpc/routes/chain/index.ts
  ironfish/src/rpc/routes/chain/snapshotChain.test.ts
  ironfish/src/rpc/routes/chain/snapshotChain.ts
Due: ironfish-cli, ironfish

uses s3 transfer acceleration for snapshot downloads
  ironfish-cli/src/commands/chain/importSnapshot.ts
  ironfish-cli/src/commands/service/snapshot.ts
  ironfish-cli/src/utils/snapshot.ts
  ironfish/src/fileStores/config.ts
Due: ironfish-cli, ironfish

removes region from default bucket url
  ironfish-cli/src/commands/chain/importSnapshot.ts
Due: ironfish-cli, ironfish

uses s3 transfer acceleration for snapshot downloads (#1919)
  ironfish-cli/src/commands/chain/importSnapshot.ts
  ironfish-cli/src/commands/service/snapshot.ts
  ironfish-cli/src/utils/snapshot.ts
  ironfish/src/fileStores/config.ts
Due: ironfish-cli, ironfish

added new transaction v2 message and handler
  ironfish/src/network/messageRegistry.ts
  ironfish/src/network/messages/newTransactionV2.test.ts
  ironfish/src/network/messages/newTransactionV2.ts
  ironfish/src/network/peerNetwork.ts
Due: ironfish

lint fix
  ironfish/src/network/peerNetwork.ts
Due: ironfish

Updated readme
  ironfish/src/migrations/data/013-wallet-2.ts
  ironfish/src/migrations/data/013-wallet-2/readme.md
Due: ironfish

Fix lint
  ironfish/src/migrations/data/013-wallet-2.ts
Due: ironfish

Add migration for wallet from 11 -> 13
  ironfish/src/account/accountsdb.ts
  ironfish/src/migrations/data/013-wallet-2.ts
  ironfish/src/migrations/data/013-wallet-2/new/accounts.ts
  ironfish/src/migrations/data/013-wallet-2/new/balances.ts
  ironfish/src/migrations/data/013-wallet-2/new/decryptedNotes.ts
  ironfish/src/migrations/data/013-wallet-2/new/headHashes.ts
  ironfish/src/migrations/data/013-wallet-2/new/meta.ts
  ironfish/src/migrations/data/013-wallet-2/new/noteToNullifier.ts
  ironfish/src/migrations/data/013-wallet-2/new/nullifierToNoteHash.ts
  ironfish/src/migrations/data/013-wallet-2/new/stores.ts
  ironfish/src/migrations/data/013-wallet-2/new/transactions.ts
  ironfish/src/migrations/data/013-wallet-2/old/accounts.ts
  ironfish/src/migrations/data/013-wallet-2/old/meta.ts
  ironfish/src/migrations/data/013-wallet-2/old/noteToNullifier.ts
  ironfish/src/migrations/data/013-wallet-2/old/nullifierToNote.ts
  ironfish/src/migrations/data/013-wallet-2/old/stores.ts
  ironfish/src/migrations/data/013-wallet-2/old/transactions.ts
  ironfish/src/migrations/data/013-wallet-2/readme.md
  ironfish/src/migrations/data/index.ts
Due: ironfish

Update new transaction store for migration 013
  ironfish/src/migrations/data/013-wallet-2/new/transactions.ts
Due: ironfish

Add accounts:status and summarized status
  ironfish-cli/src/commands/accounts/status.ts
  ironfish-cli/src/commands/status.ts
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/accounts/getStatus.ts
  ironfish/src/rpc/routes/accounts/index.ts
Due: ironfish-cli, ironfish

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Make BoxKeyPair a class with cleaner factory methods
  ironfish-cli/src/commands/start.ts
  ironfish-rust-nodejs/Cargo.lock
  ironfish-rust-nodejs/Cargo.toml
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/lib.rs
  ironfish/src/network/messages/signal.test.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/peers/peer.test.ts
Due: ironfish-rust, ironfish-cli, ironfish

adds service:snapshot and chain:importSnapshot commands (#1929)
  ironfish-cli/package.json
  ironfish-cli/src/commands/chain/importSnapshot.ts
  ironfish-cli/src/commands/service/snapshot.test.ts
  ironfish-cli/src/commands/service/snapshot.ts
  ironfish-cli/src/utils/index.ts
  ironfish-cli/src/utils/snapshot.ts
  ironfish/src/fileStores/config.ts
  yarn.lock
Due: ironfish-cli, ironfish

Convert all camel case commands to snake case
  ironfish-cli/src/commands/chain/readd-block.ts
  ironfish-cli/src/commands/deposit-all.ts
  ironfish-cli/src/commands/service/sync-transactions.ts
Due: ironfish-cli, ironfish

Convert all camel case commands to snake case (#1931)
  ironfish-cli/src/commands/chain/readd-block.ts
  ironfish-cli/src/commands/deposit-all.ts
  ironfish-cli/src/commands/service/sync-transactions.ts
Due: ironfish-cli, ironfish

Add explaination field to `VerifyError' class
  ironfish/src/blockchain/blockchain.ts
Due: ironfish

Add an error to indicate an empty MerkeTree error
  ironfish/src/consensus/verifier.ts
Due: ironfish

Properly handle and report errors
  ironfish/src/consensus/verifier.ts
Due: ironfish

Use correct error type instead of the generic ERROR
  ironfish/src/workerPool/pool.ts
Due: ironfish

Raise the correct error types depending on the error condition
  ironfish/src/merkletree/merkletree.ts
Due: ironfish

Fix backup command by using snapshot upload
  ironfish-cli/src/commands/backup.ts
  ironfish-cli/src/commands/restore.ts
  ironfish-cli/src/commands/service/snapshot.ts
  ironfish-cli/src/utils/index.ts
  ironfish-cli/src/utils/s3.ts
  ironfish-cli/src/utils/tar.ts
Due: ironfish-cli, ironfish

add tests and fix some bugs
  ironfish/src/network/__fixtures__/transactionFetcher.test.ts.fixture
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/transactionFetcher.test.ts
  ironfish/src/network/transactionFetcher.ts
Due: ironfish

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish-cli: any of: ironfish-cli, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish: any of: ironfish, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
