Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish

WIP
  Cargo.lock
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/frost.rs
  ironfish/src/rpc/routes/wallet/multisig/__fixtures__/createSigningCommitment.test.ts.fixture
  ironfish/src/rpc/routes/wallet/multisig/createSigningCommitment.test.ts
  ironfish/src/rpc/routes/wallet/multisig/createSigningCommitment.ts
  ironfish/src/wallet/account/account.ts
Due: ironfish-rust, ironfish

adding transaction timer class
  ironfish-cli/src/commands/wallet/notes/combine.ts
  ironfish-cli/src/utils/transaction.ts
Due: ironfish

Update to the latest version of ironfish-frost
  Cargo.lock
Due: none

moving multisig out of wallet
  ironfish-cli/src/commands/multisig/account/create.ts
  ironfish-cli/src/commands/multisig/account/identities.ts
  ironfish-cli/src/commands/multisig/create-signature-share.ts
  ironfish-cli/src/commands/multisig/create-signing-commitment.ts
  ironfish-cli/src/commands/multisig/create-signing-package.ts
  ironfish-cli/src/commands/multisig/identity/create.ts
  ironfish-cli/src/commands/multisig/identity/index.ts
  ironfish-cli/src/commands/multisig/sign.ts
Due: ironfish

Move pool miner to V3
  ironfish-cli/src/commands/miners/start.ts
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust/src/mining/mine.rs
  ironfish-rust/src/mining/thread.rs
  ironfish-rust/src/mining/threadpool.rs
  ironfish/src/mining/pool.ts
  ironfish/src/mining/poolMiner.ts
  ironfish/src/mining/soloMiner.ts
  ironfish/src/mining/stratum/clients/client.ts
Due: ironfish-rust, ironfish

Improvements to `ironfish-rust-nodejs/src/frost.rs`
  ironfish-rust-nodejs/src/frost.rs
Due: ironfish-rust, ironfish

Move pool miner to V3 (#4781)
  ironfish-cli/src/commands/miners/start.ts
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust/src/mining/mine.rs
  ironfish-rust/src/mining/thread.rs
  ironfish-rust/src/mining/threadpool.rs
  ironfish/src/mining/pool.ts
  ironfish/src/mining/poolMiner.ts
  ironfish/src/mining/soloMiner.ts
  ironfish/src/mining/stratum/clients/client.ts
Due: ironfish-rust, ironfish

Improve the terminology used around multisig
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/frost.rs
  ironfish-rust-nodejs/src/structs/key_packages.rs
  ironfish-rust/src/frost_utils/split_spender_key.rs
  ironfish/src/rpc/routes/wallet/multisig/createTrustedDealerKeyPackage.test.ts
  ironfish/src/rpc/routes/wallet/multisig/createTrustedDealerKeyPackage.ts
Due: ironfish-rust, ironfish

using variable instead of re-assigning flags field
  ironfish-cli/src/commands/wallet/multisig/identity/create.ts
Due: ironfish

Multisig: add encryption/decryption primitives to ParticipantIdentity and ParticipantSecret
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/frost.rs
Due: ironfish-rust, ironfish

Quit scanning without throwing if the wallet is closed during a scan
  ironfish/src/wallet/wallet.ts
Due: ironfish

adding canperformcountdown flag
  ironfish-cli/src/utils/transaction.ts
Due: ironfish

WIP
  ironfish/src/rpc/routes/wallet/multisig/createSigningPackage.test.ts
Due: ironfish

WIP
  .github/workflows/ci.yml
Due: none

WIP
  .github/workflows/ci.yml
  ironfish/package.json
  package.json
Due: ironfish

Rename `base64.json.test.ts` to `base64json.test.ts`
  ironfish/src/wallet/account/encoder/base64json.test.ts
Due: ironfish

Dont limit to same testt
  ironfish/package.json
Due: ironfish

WIP
  ironfish/src/testUtilities/nodeTest.ts
  ironfish/src/testUtilities/routeTest.ts
Due: ironfish

Fix route and node test cleanups
  ironfish/src/testUtilities/nodeTest.ts
  ironfish/src/testUtilities/routeTest.ts
Due: ironfish

Multisig wallet: generate TDK accounts on the server side
  ironfish-cli/src/commands/wallet/multisig/account/create.ts
  ironfish/src/rpc/routes/wallet/multisig/createSigningCommitment.test.ts
  ironfish/src/rpc/routes/wallet/multisig/createSigningPackage.test.ts
  ironfish/src/rpc/routes/wallet/multisig/createTrustedDealerKeyPackage.test.ts
  ironfish/src/rpc/routes/wallet/multisig/createTrustedDealerKeyPackage.ts
  ironfish/src/rpc/routes/wallet/multisig/integration.test.slow.ts
Due: ironfish

Ensure that the release binaries are built using the right version
  .github/workflows/publish-binaries.yml
Due: none

creating gsk when splitting dealer secret
  ironfish-rust/src/frost_utils/split_secret.rs
  ironfish-rust/src/frost_utils/split_spender_key.rs
Due: ironfish-rust, ironfish

Ensure that the release binaries are built using the right version (#4792)
  .github/workflows/publish-binaries.yml
Due: none

creating gsk when splitting dealer secret (#4788)
  ironfish-rust/src/frost_utils/split_secret.rs
  ironfish-rust/src/frost_utils/split_spender_key.rs
Due: ironfish-rust, ironfish

WIP
  Cargo.lock
  ironfish-rust-nodejs/Cargo.toml
  ironfish-rust-nodejs/src/frost.rs
  ironfish-rust/Cargo.toml
  ironfish/src/rpc/routes/wallet/multisig/createSigningPackage.ts
Due: ironfish-rust, ironfish

name flag optional for multisig identity create (#4778)
  ironfish-cli/src/commands/wallet/multisig/identity/create.ts
Due: ironfish

Add functionality to Base64JsonEncoder to encrypt multisig accounts
  ironfish/src/wallet/account/encoder/base64json.test.ts
  ironfish/src/wallet/account/encoder/base64json.ts
  ironfish/src/wallet/account/encoder/encoder.ts
  ironfish/src/wallet/account/encoder/multisig.ts
Due: ironfish

Add testnet checkpoint for FishHash hardfork
  ironfish/src/networks/definitions/testnet.ts
Due: ironfish

feat(ironfish): Default to identity name when importing
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish

Fix lint
  ironfish/src/wallet/wallet.test.ts
Due: ironfish

Fix some tests
  ironfish/src/rpc/routes/wallet/importAccount.test.ts
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

Fix lint
  ironfish/src/rpc/routes/wallet/importAccount.test.ts
Due: ironfish

Add testnet checkpoint for FishHash hardfork (#4795)
  ironfish/src/networks/definitions/testnet.ts
Due: ironfish

WIP
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/frost.rs
  ironfish/src/rpc/routes/wallet/multisig/createSigningPackage.ts
Due: ironfish-rust, ironfish

wallet/importAccount can now decrypt multisig-encrypted accounts
  ironfish/src/rpc/routes/wallet/__importTestCases__/multisigEncrypted/1p21p0_base64.key
  ironfish/src/rpc/routes/wallet/__importTestCases__/multisigEncrypted/1p21p0_base64.txt
  ironfish/src/rpc/routes/wallet/importAccount.test.ts
  ironfish/src/rpc/routes/wallet/importAccount.ts
  ironfish/src/wallet/account/encoder/account.ts
  ironfish/src/wallet/account/encoder/multisig.ts
Due: ironfish

wallet/multisig/createTrustedDealerKeyPackage now returns encrypted accounts
  ironfish/src/rpc/routes/wallet/multisig/createSigningCommitment.test.ts
  ironfish/src/rpc/routes/wallet/multisig/createSigningPackage.test.ts
  ironfish/src/rpc/routes/wallet/multisig/createTrustedDealerKeyPackage.test.ts
  ironfish/src/rpc/routes/wallet/multisig/createTrustedDealerKeyPackage.ts
  ironfish/src/rpc/routes/wallet/multisig/integration.test.slow.ts
Due: ironfish

ironfish-rust-nodejs: move the multisig structs to the `frost` submodule
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/frost.rs
  ironfish-rust-nodejs/src/structs/key_packages.rs
  ironfish-rust-nodejs/src/structs/mod.rs
  ironfish-rust/src/frost_utils/split_spender_key.rs
Due: ironfish-rust, ironfish

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-rust-nodejs/*
  ironfish: any of: ironfish, but not: config/*, ironfish-rust-nodejs/*
