Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish

Pass through decryptForSpender flag to note decryption (#5671)
  ironfish/src/wallet/wallet.ts
Due: ironfish

added tests for time util for renderSpan and renderEstimate
  ironfish/src/utils/time.test.ts
  ironfish/src/utils/time.ts
Due: ironfish

Switch from ubuntu-latest to ubuntu-22.04
  .github/workflows/build-ironfish-rust-nodejs.yml
  .github/workflows/check-pr-branch.yml
  .github/workflows/ci-regenerate-fixtures.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-node-docker-image.yml
  .github/workflows/deploy-npm-ironfish-cli.yml
  .github/workflows/deploy-npm-ironfish-rust-nodejs.yml
  .github/workflows/deploy-npm-ironfish.yml
  .github/workflows/push-version-to-api.yml
  .github/workflows/rust_ci.yml
  .github/workflows/rust_ci_cache.yml
Due: none

Rust: remove unnecessary uses of dynamic dispatch
  ironfish-rust/src/merkle_note.rs
  ironfish-rust/src/transaction/proposed.rs
  ironfish-rust/src/transaction/spends.rs
Due: ironfish-rust, ironfish

exits cli commands if user rejects Ledger request
  ironfish-cli/src/ui/ledger.ts
Due: ironfish

optionally retry if user rejects request
  ironfish-cli/src/ui/ledger.ts
Due: ironfish

adds migrations README
  ironfish/src/migrations/README.md
Due: ironfish

Add transaction export utils
  ironfish-cli/src/commands/wallet/transactions/index.ts
  ironfish-cli/src/commands/wallet/transactions/transactionExportUtils.ts
Due: ironfish

WASM: expose the native asset identifier
  ironfish-rust-wasm/src/assets.rs
Due: ironfish-rust, ironfish

WASM: add bindings for `Note`
  ironfish-rust-wasm/src/assets.rs
  ironfish-rust-wasm/src/lib.rs
  ironfish-rust-wasm/src/note.rs
  ironfish-rust/src/note.rs
Due: ironfish-rust, ironfish

Switch from ubuntu-latest to ubuntu-22.04 (#5675)
  .github/workflows/build-ironfish-rust-nodejs.yml
  .github/workflows/check-pr-branch.yml
  .github/workflows/ci-regenerate-fixtures.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-node-docker-image.yml
  .github/workflows/deploy-npm-ironfish-cli.yml
  .github/workflows/deploy-npm-ironfish-rust-nodejs.yml
  .github/workflows/deploy-npm-ironfish.yml
  .github/workflows/push-version-to-api.yml
  .github/workflows/rust_ci.yml
  .github/workflows/rust_ci_cache.yml
Due: none

optionally retries in cli commands if user rejects Ledger request (#5672)
  ironfish-cli/src/ui/ledger.ts
Due: ironfish

WASM: add decryption methods to MerkleNote
  ironfish-rust-wasm/src/merkle_note.rs
Due: ironfish-rust, ironfish

Remove unnecessary qualifications from Rust code
  ironfish-rust/src/mining/thread.rs
  ironfish-rust/src/transaction/mints.rs
  ironfish-rust/src/transaction/spends.rs
  ironfish-zkp/src/circuits/util.rs
Due: ironfish-rust, ironfish

WASM: add bindings for the Sapling keys
  ironfish-rust-wasm/src/keys/mod.rs
  ironfish-rust-wasm/src/keys/proof_generation_key.rs
  ironfish-rust-wasm/src/keys/sapling_key.rs
  ironfish-rust-wasm/src/keys/view_keys.rs
  ironfish-rust-wasm/src/primitives.rs
  ironfish-rust/src/keys/mod.rs
  ironfish-rust/src/keys/view_keys.rs
  ironfish-zkp/src/primitives/proof_generation_key.rs
Due: ironfish-rust, ironfish

WASM: add bindings for unsigned transactions and descriptions
  ironfish-rust-wasm/src/transaction/mints.rs
  ironfish-rust-wasm/src/transaction/mod.rs
  ironfish-rust-wasm/src/transaction/spends.rs
  ironfish-rust-wasm/src/transaction/unsigned.rs
  ironfish-rust/src/transaction/mints.rs
  ironfish-rust/src/transaction/spends.rs
  ironfish-rust/src/transaction/unsigned.rs
Due: ironfish-rust, ironfish

WASM: add bindings for `Note`
  ironfish-rust-wasm/src/lib.rs
  ironfish-rust-wasm/src/note.rs
  ironfish-rust/src/note.rs
Due: ironfish-rust, ironfish

Add advanced queries and further refactor
  ironfish-cli/src/commands/wallet/transactions/index.ts
  ironfish/src/rpc/clients/advancedQueries.ts
  ironfish/src/rpc/clients/index.ts
Due: ironfish

adds a single signer transaction signing test
  ironfish/src/wallet/wallet.test.slow.ts
Due: ironfish

adds a single signer transaction signing test (#5683)
  ironfish/src/wallet/wallet.test.slow.ts
Due: ironfish

removes unused argument from RawTransaction.postedSize
  ironfish/src/primitives/rawTransaction.test.slow.ts
  ironfish/src/primitives/rawTransaction.test.ts
  ironfish/src/primitives/rawTransaction.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

removes unused argument from RawTransaction.postedSize (#5684)
  ironfish/src/primitives/rawTransaction.test.slow.ts
  ironfish/src/primitives/rawTransaction.test.ts
  ironfish/src/primitives/rawTransaction.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

throws error in createTransaction if tx is too big
  ironfish/src/wallet/__fixtures__/wallet.test.ts.fixture
  ironfish/src/wallet/errors.ts
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

throws error in createTransaction if tx is too big (#5686)
  ironfish/src/wallet/__fixtures__/wallet.test.ts.fixture
  ironfish/src/wallet/errors.ts
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

checks max transaction size while funding transaction
  ironfish/src/wallet/__fixtures__/wallet.test.ts.fixture
  ironfish/src/wallet/errors.ts
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

adds migrations README (#5677)
  ironfish/src/migrations/README.md
Due: ironfish

WASM: add bindings for `Witness`
  ironfish-rust-wasm/src/lib.rs
  ironfish-rust-wasm/src/witness.rs
  ironfish-rust/src/witness.rs
Due: ironfish-rust, ironfish

WASM: add methods to create randomized keys
  ironfish-rust-wasm/src/keys/view_keys.rs
  ironfish-rust-wasm/src/primitives.rs
Due: ironfish-rust, ironfish

Remove unused/unnecessary code from `ironfish::test_utils`
  ironfish-rust/src/test_util.rs
Due: ironfish-rust, ironfish

displays tx details before signing in 'wallet:sign'
  ironfish-cli/src/commands/wallet/transactions/sign.ts
Due: ironfish

displays tx details before signing in 'wallet:sign' (#5691)
  ironfish-cli/src/commands/wallet/transactions/sign.ts
Due: ironfish

Adds ledger flag to account store
  ironfish-cli/src/commands/wallet/account.ts
  ironfish-cli/src/commands/wallet/burn.ts
  ironfish-cli/src/commands/wallet/chainport/send.ts
  ironfish-cli/src/commands/wallet/import.ts
  ironfish-cli/src/commands/wallet/index.ts
  ironfish-cli/src/commands/wallet/mint.ts
  ironfish-cli/src/commands/wallet/multisig/commitment/create.ts
  ironfish-cli/src/commands/wallet/multisig/dealer/create.ts
  ironfish-cli/src/commands/wallet/multisig/dkg/create.ts
  ironfish-cli/src/commands/wallet/multisig/dkg/round3.ts
  ironfish-cli/src/commands/wallet/multisig/sign.ts
  ironfish-cli/src/commands/wallet/send.ts
  ironfish-cli/src/ledger/ledgerMultiSigner.ts
  ironfish-cli/src/ledger/ledgerSingleSigner.ts
  ironfish/src/rpc/routes/wallet/importAccount.test.ts
  ironfish/src/rpc/routes/wallet/multisig/createSignatureShare.test.ts
  ironfish/src/rpc/routes/wallet/multisig/createSigningCommitment.test.ts
  ironfish/src/rpc/routes/wallet/multisig/createTrustedDealerKeyPackage.ts
  ironfish/src/rpc/routes/wallet/multisig/dkg/round3.ts
  ironfish/src/rpc/routes/wallet/multisig/integration.test.slow.ts
  ironfish/src/rpc/routes/wallet/serializers.ts
  ironfish/src/rpc/routes/wallet/types.ts
  ironfish/src/wallet/account/account.ts
  ironfish/src/wallet/exporter/accountImport.ts
  ironfish/src/wallet/exporter/encoders/base64json.test.ts
  ironfish/src/wallet/exporter/encoders/bech32.test.ts
  ironfish/src/wallet/exporter/encoders/bech32.ts
  ironfish/src/wallet/exporter/encoders/json.test.ts
  ironfish/src/wallet/exporter/encoders/json.ts
  ironfish/src/wallet/exporter/encoders/mnemonic.ts
  ironfish/src/wallet/exporter/encoders/spendingKey.ts
  ironfish/src/wallet/exporter/encryption.test.ts
  ironfish/src/wallet/wallet.test.slow.ts
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
  ironfish/src/wallet/walletdb/accountValue.test.ts
  ironfish/src/wallet/walletdb/accountValue.ts
  ironfish/src/wallet/walletdb/walletdb.test.ts
Due: ironfish

stores identity in multisig account value
  ironfish/src/migrations/data/033-multisig-keys-identity.ts
  ironfish/src/migrations/data/033-multisig-keys-identity/new/accountValue.ts
  ironfish/src/migrations/data/033-multisig-keys-identity/new/headValue.ts
  ironfish/src/migrations/data/033-multisig-keys-identity/new/index.ts
  ironfish/src/migrations/data/033-multisig-keys-identity/new/interfaces/multisigKeys.ts
  ironfish/src/migrations/data/033-multisig-keys-identity/new/multisigKeys.ts
  ironfish/src/migrations/data/033-multisig-keys-identity/old/accountValue.ts
  ironfish/src/migrations/data/033-multisig-keys-identity/old/headValue.ts
  ironfish/src/migrations/data/033-multisig-keys-identity/old/index.ts
  ironfish/src/migrations/data/033-multisig-keys-identity/old/interfaces/multisigKeys.ts
  ironfish/src/migrations/data/033-multisig-keys-identity/old/masterKeyValue.ts
  ironfish/src/migrations/data/033-multisig-keys-identity/old/multisigKeys.ts
  ironfish/src/migrations/data/033-multisig-keys-identity/stores.ts
  ironfish/src/migrations/data/index.ts
  ironfish/src/wallet/wallet.ts
  ironfish/src/wallet/walletdb/accountValue.test.ts
  ironfish/src/wallet/walletdb/multiSigKeys.test.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-rust-nodejs/*
  ironfish: any of: ironfish, but not: config/*, ironfish-rust-nodejs/*
