Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

codecov.yml:

ignore:
  - config/*
  - ironfish-rust-nodejs/*
  - ironfish-rust-wasm/*
comment: false
github_checks:
  annotations: false
coverage:
  fixes:
    - "/home/runner/work/ironfish/ironfish/::/"
  status:
    patch:
      default:
        target: auto
        threshold: 0%
    project:
      default:
        target: 10%
      ironfish-rust:
        target: 10%
        flags:
          - ironfish-rust
      ironfish-cli:
        target: 10%
        flags:
          - ironfish-cli
      ironfish:
        target: 10%
        flags:
          - ironfish
flags:
  ironfish-rust:
    paths:
      - ironfish-rust
    carryforward: true
  ironfish-cli:
    paths:
      - ironfish-cli
    carryforward: true
  ironfish:
    paths:
      - ironfish
    carryforward: true

Remove .entires() call on iterating a map
  ironfish/src/telemetry/telemetry.ts
Due: ironfish

Remove .entires() call on iterating a map (#1733)
  ironfish/src/telemetry/telemetry.ts
Due: ironfish

Code review
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/peers/peer.ts
  ironfish/src/syncer.ts
Due: ironfish

refactor(ironfish): s/decryptableNotes/decryptedNotes
  ironfish/src/account/accounts.test.slow.ts
  ironfish/src/account/accounts.ts
  ironfish/src/account/accountsdb.ts
  ironfish/src/account/database/decryptedNotes.test.ts
  ironfish/src/account/database/decryptedNotes.ts
Due: ironfish

refactor(ironfish): s/decryptableNotes/decryptedNotes (#1736)
  ironfish/src/account/accounts.test.slow.ts
  ironfish/src/account/accounts.ts
  ironfish/src/account/accountsdb.ts
  ironfish/src/account/database/decryptedNotes.test.ts
  ironfish/src/account/database/decryptedNotes.ts
Due: ironfish

Track known block hashes on Peers (#1683)
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/peers/peer.ts
  ironfish/src/syncer.ts
Due: ironfish

Maintain account sync status in accounts
  ironfish/src/account/account.ts
  ironfish/src/account/accounts.ts
  ironfish/src/account/accountsdb.ts
Due: ironfish

Add NewBlockHashes message
  ironfish/src/network/messageRegistry.ts
  ironfish/src/network/messages/newBlockHashes.test.ts
  ironfish/src/network/messages/newBlockHashes.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/types.ts
Due: ironfish

refactor(ironfish): Move decryptedNotes into Account
  ironfish/src/account/account.ts
  ironfish/src/account/accounts.ts
  ironfish/src/account/accountsdb.ts
Due: ironfish

Allow nullable head hash entries
  ironfish/src/account/__fixtures__/accounts.test.ts.fixture
  ironfish/src/account/accounts.test.ts
  ironfish/src/account/accounts.ts
  ironfish/src/account/accountsdb.ts
  ironfish/src/storage/database/encoding.ts
Due: ironfish

replace transaction hashing method in mempool
  ironfish/src/memPool/__fixtures__/memPool.test.ts.fixture
  ironfish/src/memPool/memPool.test.ts
  ironfish/src/memPool/memPool.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/primitives/transaction.ts
Due: ironfish

timeUtils tests
  ironfish/src/utils/time.test.ts
Due: ironfish

Allow nullable head hash entries (#1739)
  ironfish/src/account/__fixtures__/accounts.test.ts.fixture
  ironfish/src/account/accounts.test.ts
  ironfish/src/account/accounts.ts
  ironfish/src/account/accountsdb.ts
  ironfish/src/storage/database/encoding.ts
Due: ironfish

Clean up constructor
  ironfish-cli/src/commands/start.test.ts
  ironfish/src/account/account.ts
  ironfish/src/account/accounts.ts
Due: ironfish-cli, ironfish

Start implementing logic to support per-account head hash
  ironfish-cli/src/commands/debug.ts
  ironfish/src/account/__fixtures__/accounts.test.ts.fixture
  ironfish/src/account/accounts.test.ts
  ironfish/src/account/accounts.ts
  ironfish/src/account/accountsdb.ts
Due: ironfish-cli, ironfish

Add NewBlockHashes message (#1737)
  ironfish/src/network/messageRegistry.ts
  ironfish/src/network/messages/newBlockHashes.test.ts
  ironfish/src/network/messages/newBlockHashes.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/types.ts
Due: ironfish

changes pool blockSubmitted messages for v2 block explorer
  ironfish/src/mining/pool.ts
  ironfish/src/mining/webhooks/webhookNotifier.ts
Due: ironfish

refactor(ironfish): Move decryptedNotes into Account (#1738)
  ironfish-cli/src/commands/start.test.ts
  ironfish/src/account/account.ts
  ironfish/src/account/accounts.ts
  ironfish/src/account/accountsdb.ts
Due: ironfish-cli, ironfish

Send transaction index up in block syncer
  ironfish/src/rpc/routes/chain/followChain.ts
Due: ironfish

address review comments
  ironfish/src/memPool/memPool.test.ts
  ironfish/src/memPool/memPool.ts
  ironfish/src/mining/manager.test.slow.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/primitives/transaction.ts
  ironfish/src/testUtilities/mocks.ts
Due: ironfish

Start implementing logic to support per-account head hash (#1741)
  ironfish-cli/src/commands/debug.ts
  ironfish/src/account/__fixtures__/accounts.test.ts.fixture
  ironfish/src/account/accounts.test.ts
  ironfish/src/account/accounts.ts
  ironfish/src/account/accountsdb.ts
Due: ironfish-cli, ironfish

Replace transaction hashing method in mempool (#1740)
  ironfish/src/memPool/__fixtures__/memPool.test.ts.fixture
  ironfish/src/memPool/memPool.test.ts
  ironfish/src/memPool/memPool.ts
  ironfish/src/mining/manager.test.slow.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/primitives/transaction.ts
  ironfish/src/testUtilities/mocks.ts
Due: ironfish

refactor(ironfish): Encapsulate decrypted notes inside account
  ironfish-cli/src/commands/start.test.ts
  ironfish/src/account/account.ts
  ironfish/src/account/accounts.test.slow.ts
  ironfish/src/account/accounts.ts
Due: ironfish-cli, ironfish

Fix slow tests
  ironfish/src/account/account.ts
  ironfish/src/account/accounts.ts
  ironfish/src/account/accountsdb.ts
Due: ironfish

refactor(ironfish): Encapsulate decrypted notes inside account (#1746)
  ironfish-cli/src/commands/start.test.ts
  ironfish/src/account/account.ts
  ironfish/src/account/accounts.test.slow.ts
  ironfish/src/account/accounts.ts
  ironfish/src/account/accountsdb.ts
Due: ironfish-cli, ironfish

refactor(ironfish): Encapsulate `nullifierToNote` inside account
  ironfish/src/account/account.ts
  ironfish/src/account/accounts.test.slow.ts
  ironfish/src/account/accounts.ts
  ironfish/src/account/accountsdb.ts
Due: ironfish

Fix lint
  ironfish/src/account/account.ts
Due: ironfish

refactor(ironfish): s/nullifier/decryptedNote in `syncTransaction`
  ironfish/src/account/accounts.ts
Due: ironfish

refactor(ironfish): s/nullifier/decryptedNote in `syncTransaction` (#1751)
  ironfish/src/account/accounts.ts
Due: ironfish

refactor(ironfish): Encapsulate `nullifierToNote` inside account (#1750)
  ironfish/src/account/account.ts
  ironfish/src/account/accounts.test.slow.ts
  ironfish/src/account/accounts.ts
  ironfish/src/account/accountsdb.ts
Due: ironfish

Update README with information about preferred installation methods
  README.md
Due: none

refactor(ironfish): Encapsulate transactions inside account
  ironfish/src/account/account.ts
  ironfish/src/account/accounts.test.slow.ts
  ironfish/src/account/accounts.test.ts
  ironfish/src/account/accounts.ts
  ironfish/src/account/accountsdb.ts
  ironfish/src/rpc/routes/accounts/getTransactions.ts
Due: ironfish

Update README with information about preferred installation methods (#1753)
  README.md
Due: none

Rescan now starts from the earliest head hash intead of genesis
  ironfish/src/account/__fixtures__/accounts.test.ts.fixture
  ironfish/src/account/accounts.test.ts
  ironfish/src/account/accounts.ts
Due: ironfish

Update README.md
  README.md
Due: none

Spelling and Grammar fixes
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  ironfish-cli/README.md
  ironfish-rust/README.md
  ironfish/README.md
  ironfish/src/serde/README.md
Due: ironfish-rust, ironfish-cli, ironfish

Enable telemetry as part of testnet command
  ironfish-cli/src/commands/testnet.ts
Due: ironfish-cli, ironfish

Enable telemetry as part of testnet command (#1760)
  ironfish-cli/src/commands/testnet.ts
Due: ironfish-cli, ironfish

Update accountsToRemove map in minedBlocksIndexer
  ironfish/src/indexers/minedBlocksIndexer.ts
Due: ironfish

fix(ironfish): Add mutex for sending transactions
  ironfish/src/account/accounts.ts
Due: ironfish
