Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

Make breaking change into check boxes (#756)
  .github/pull_request_template.md
Due: none

Bump to version 0.1.11 (#766)
  ironfish/package.json
Due: ironfish

Changing max message size for both websocket and (#753)
  ironfish/src/consensus/consensus.ts
  ironfish/src/network/peers/connections/webRtcConnection.ts
  ironfish/src/network/webSocketServer.ts
Due: ironfish

Remove verifier.verifyNewBlock (#759)
  ironfish/src/consensus/verifier.test.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/testUtilities/mocks.ts
Due: ironfish

Don't require async predicate in AsyncUtils.find (#755)
  ironfish/src/mining/director.ts
  ironfish/src/utils/async.ts
Due: ironfish

Allow for Multiple Receipts in Transactions (#758)
  ironfish-cli/src/commands/accounts/pay.test.ts
  ironfish-cli/src/commands/accounts/pay.ts
  ironfish-cli/src/commands/service/faucet.ts
  ironfish/src/account/accounts.test.slow.ts
  ironfish/src/account/accounts.ts
  ironfish/src/primitives/transaction.test.slow.ts
  ironfish/src/rpc/routes/transactions/__fixtures__/sendTransaction.test.ts.fixture
  ironfish/src/rpc/routes/transactions/sendTransaction.test.ts
  ironfish/src/rpc/routes/transactions/sendTransaction.ts
  ironfish/src/testUtilities/fixtures.ts
Due: ironfish-cli, ironfish

Bump network version to 12 (#765)
  ironfish/src/network/version.ts
Due: ironfish

Fix codecov token upload
  .github/workflows/ci.yml
  .github/workflows/rust_ci.yml
Due: none

Reduce MAX_SYNCED_AGE_MS to 5 hours (#764)
  ironfish/src/consensus/consensus.ts
Due: ironfish

Fix banning peers for expired transactions
  ironfish/src/account/accounts.ts
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/consensus/verifier.test.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/memPool/memPool.ts
  ironfish/src/strategy.test.slow.ts
  ironfish/src/testUtilities/fixtures.ts
Due: ironfish

redundant line breaks in the log of invalid blocks #776
  ironfish/src/syncer.ts
Due: ironfish

Revert "Make breaking change into check boxes (#756)"
  .github/pull_request_template.md
Due: none

Bump version to v0.1.12
  ironfish/package.json
Due: ironfish

Upgrade codecov to 3.8.3
  package.json
  yarn.lock
Due: none

Upgrade codecov to 3.8.3 (#785)
  package.json
  yarn.lock
Due: none

Add timestamps in exportChain
  ironfish/src/rpc/routes/chain/exportChain.ts
Due: ironfish

Bugfix: ironfish-cli, unable to run "yarn clean" and "yarn prepack" under Windows (#575)
  .gitignore
  ironfish-cli/package.json
Due: ironfish-cli, ironfish

Minor typos (#637)
  ironfish/README.md
Due: ironfish

Add threads explanation
  ironfish-cli/README.md
Due: ironfish-cli, ironfish

Added new dependency and multithreaded instructions (#527)
  README.md
Due: none

Fix typo
  README.md
Due: none

Add README tip for gcc toolchain errors (#598)
  README.md
Due: none

Fix build tools 2019 link (#602)
  README.md
Due: none

Add timestamps in exportChain (#769)
  ironfish/src/rpc/routes/chain/exportChain.ts
Due: ironfish

redundant line breaks in the log of invalid blocks #776 (#777)
  ironfish/src/syncer.ts
Due: ironfish

Fix passing comma-separated bootstrap nodes to start
  ironfish-cli/src/commands/start.test.ts
  ironfish-cli/src/commands/start.ts
Due: ironfish-cli, ironfish

Fix passing comma-separated bootstrap nodes to start (#786)
  ironfish-cli/src/commands/start.test.ts
  ironfish-cli/src/commands/start.ts
Due: ironfish-cli, ironfish

Abort the ongoing jobs from the previous request
  ironfish/src/mining/miner.ts
  ironfish/src/workerPool/pool.ts
Due: ironfish

Fix lint
  ironfish/src/workerPool/pool.ts
Due: ironfish

fix another lint error
  ironfish/src/workerPool/pool.ts
Due: ironfish

Address feedback
  ironfish-cli/src/commands/service/faucet.ts
Due: ironfish-cli, ironfish

Adjust response object parsing from API
  ironfish-cli/src/commands/service/faucet.ts
  ironfish/src/webApi.ts
Due: ironfish-cli, ironfish

Adjust faucet service command to get multiple requests
  ironfish-cli/src/commands/service/faucet.ts
  ironfish/src/webApi.ts
Due: ironfish-cli, ironfish

Add commented out adjustments to script
  ironfish-cli/scripts/run-network-macos.sh
Due: ironfish-cli, ironfish

Further address feedback
  ironfish-cli/src/commands/service/faucet.ts
  ironfish/src/webApi.ts
Due: ironfish-cli, ironfish

Revert network test script
  ironfish-cli/scripts/run-network-macos.sh
Due: ironfish-cli, ironfish

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish-cli: any of: ironfish-cli, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish: any of: ironfish, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
