Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish

Use new render function in the CLI
  ironfish-cli/src/commands/wallet/balance.ts
  ironfish-cli/src/commands/wallet/balances.ts
  ironfish-cli/src/commands/wallet/burn.ts
  ironfish-cli/src/commands/wallet/mint.ts
  ironfish-cli/src/commands/wallet/multisig/signature/aggregate.ts
  ironfish-cli/src/commands/wallet/notes/combine.ts
  ironfish-cli/src/commands/wallet/notes/index.ts
  ironfish-cli/src/commands/wallet/post.ts
  ironfish-cli/src/commands/wallet/send.ts
  ironfish-cli/src/commands/wallet/transaction/index.ts
  ironfish-cli/src/commands/wallet/transactions.ts
  ironfish-cli/src/utils/asset.ts
  ironfish-cli/src/utils/currency.ts
  ironfish-cli/src/utils/fees.ts
  ironfish-cli/src/utils/note.ts
  ironfish-cli/src/utils/transaction.ts
Due: ironfish

Use the new render function definition
  ironfish-cli/src/commands/wallet/balances.ts
  ironfish-cli/src/commands/wallet/burn.ts
  ironfish-cli/src/commands/wallet/mint.ts
  ironfish-cli/src/commands/wallet/notes/combine.ts
  ironfish-cli/src/commands/wallet/notes/index.ts
  ironfish-cli/src/commands/wallet/send.ts
  ironfish-cli/src/commands/wallet/transaction/index.ts
  ironfish-cli/src/commands/wallet/transactions.ts
  ironfish-cli/src/utils/asset.ts
  ironfish-cli/src/utils/currency.ts
  ironfish-cli/src/utils/transaction.ts
Due: ironfish

yellow
  ironfish-cli/src/commands/wallet/balance.ts
  ironfish-cli/src/utils/asset.ts
Due: ironfish

lazy deserialization in levelup db iter methods (#4877)
  ironfish/src/storage/levelup/store.ts
  ironfish/src/storage/levelup/transaction.ts
Due: ironfish

removes more dead code: clearNullifierToNoteHash
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish

move asset to top level out of balance
  ironfish-cli/src/commands/wallet/burn.ts
  ironfish-cli/src/commands/wallet/mint.ts
  ironfish-cli/src/commands/wallet/send.ts
  ironfish-cli/src/utils/currency.ts
Due: ironfish

removes unused walletDb method (#4865)
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish

Prune cargo vet audits
  supply-chain/config.toml
  supply-chain/imports.lock
Due: none

Update ironfish-frost to the latest version
  Cargo.lock
  ironfish-rust-nodejs/src/multisig.rs
Due: ironfish-rust, ironfish

Implement `wallet/multisig/dkg/round1` RPC
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/multisig.rs
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/wallet/multisig/dkg/index.ts
  ironfish/src/rpc/routes/wallet/multisig/dkg/round1.test.ts
  ironfish/src/rpc/routes/wallet/multisig/dkg/round1.ts
  ironfish/src/rpc/routes/wallet/multisig/index.ts
Due: ironfish-rust, ironfish

Multisig DKG: use the round1 function from `ironfish-frost`
  ironfish-rust-nodejs/src/multisig.rs
Due: ironfish-rust, ironfish

Use new render function in the CLI (#4880)
  ironfish-cli/src/commands/wallet/balance.ts
  ironfish-cli/src/commands/wallet/balances.ts
  ironfish-cli/src/commands/wallet/burn.ts
  ironfish-cli/src/commands/wallet/mint.ts
  ironfish-cli/src/commands/wallet/multisig/signature/aggregate.ts
  ironfish-cli/src/commands/wallet/notes/combine.ts
  ironfish-cli/src/commands/wallet/notes/index.ts
  ironfish-cli/src/commands/wallet/post.ts
  ironfish-cli/src/commands/wallet/send.ts
  ironfish-cli/src/commands/wallet/transaction/index.ts
  ironfish-cli/src/commands/wallet/transactions.ts
  ironfish-cli/src/utils/asset.ts
  ironfish-cli/src/utils/currency.ts
  ironfish-cli/src/utils/fees.ts
  ironfish-cli/src/utils/note.ts
  ironfish-cli/src/utils/transaction.ts
Due: ironfish

Split out helper function and add unit tests
  ironfish/src/utils/currency.test.ts
  ironfish/src/utils/currency.ts
Due: ironfish

ValueFlag cannot assume a BigInt or other type beyond basic parsing due to not knowing the decimal places for the asset, so instead just do some basic parsing to ensure it is a valid number
  ironfish-cli/src/flags.ts
  ironfish/src/utils/fixedNumber.ts
  ironfish/src/utils/index.ts
Due: ironfish

remove todo comments that have been moved to tickets
  ironfish-cli/src/commands/wallet/mint.ts
Due: ironfish

use the right field after rebase changes
  ironfish-cli/src/utils/currency.ts
Due: ironfish

rename function
  ironfish/src/utils/currency.ts
Due: ironfish

Parse values in the proper denomination for CLI commands
  ironfish-cli/src/commands/wallet/burn.ts
  ironfish-cli/src/commands/wallet/mint.ts
  ironfish-cli/src/commands/wallet/send.ts
  ironfish-cli/src/flags.ts
  ironfish-cli/src/utils/currency.ts
  ironfish/src/utils/currency.ts
Due: ironfish

Parse values in the proper denomination for CLI commands (#4884)
  ironfish-cli/src/commands/wallet/burn.ts
  ironfish-cli/src/commands/wallet/mint.ts
  ironfish-cli/src/commands/wallet/send.ts
  ironfish-cli/src/flags.ts
  ironfish-cli/src/utils/currency.ts
  ironfish/src/utils/currency.test.ts
  ironfish/src/utils/currency.ts
  ironfish/src/utils/fixedNumber.ts
  ironfish/src/utils/index.ts
Due: ironfish

Adds transaction timer + progress bar to wallet:send
  ironfish-cli/src/commands/wallet/notes/combine.ts
  ironfish-cli/src/commands/wallet/send.ts
  ironfish-cli/src/utils/spendPostTime.ts
  ironfish-cli/src/utils/transaction.ts
  ironfish/.eslintrc.js
  ironfish/src/fileStores/internal.ts
Due: ironfish

Adds transaction timer + progress bar to wallet:send (#4854)
  ironfish-cli/src/commands/wallet/notes/combine.ts
  ironfish-cli/src/commands/wallet/send.ts
  ironfish-cli/src/utils/spendPostTime.ts
  ironfish-cli/src/utils/transaction.ts
  ironfish/.eslintrc.js
  ironfish/src/fileStores/internal.ts
Due: ironfish

implement dkg/round2 RPC
  Cargo.lock
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/multisig.rs
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/wallet/multisig/dkg/index.ts
  ironfish/src/rpc/routes/wallet/multisig/dkg/round2.test.ts
  ironfish/src/rpc/routes/wallet/multisig/dkg/round2.ts
Due: ironfish-rust, ironfish

updates round2 RPC to return list of packages
  Cargo.lock
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/multisig.rs
  ironfish/src/rpc/routes/wallet/multisig/dkg/round2.ts
Due: ironfish-rust, ironfish

add dkg round1 cli command
  ironfish-cli/src/commands/wallet/multisig/dkg/round1.ts
Due: ironfish

automatically add identity for secretName to round1 participants
  ironfish/src/rpc/routes/wallet/multisig/dkg/round1.test.ts
  ironfish/src/rpc/routes/wallet/multisig/dkg/round1.ts
Due: ironfish

prompts user for secretName if flag not set
  ironfish-cli/src/commands/wallet/multisig/dkg/round1.ts
Due: ironfish

automatically add identity for secretName to round1 participants (#4891)
  ironfish/src/rpc/routes/wallet/multisig/dkg/round1.test.ts
  ironfish/src/rpc/routes/wallet/multisig/dkg/round1.ts
Due: ironfish

return object with recipientIdentity with round2 public package
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/multisig.rs
  ironfish/src/rpc/routes/wallet/multisig/dkg/round2.ts
Due: ironfish-rust, ironfish

Fix an issue with the mint command where the id was not properly being passed
  ironfish-cli/src/commands/wallet/burn.ts
  ironfish-cli/src/commands/wallet/mint.ts
  ironfish-cli/src/commands/wallet/send.ts
  ironfish-cli/src/utils/currency.ts
Due: ironfish

implement dkg/round2 RPC (#4889)
  Cargo.lock
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/multisig.rs
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/wallet/multisig/dkg/index.ts
  ironfish/src/rpc/routes/wallet/multisig/dkg/round2.test.ts
  ironfish/src/rpc/routes/wallet/multisig/dkg/round2.ts
Due: ironfish-rust, ironfish

add DKG round2 CLI command
  ironfish-cli/src/commands/wallet/multisig/dkg/round2.ts
Due: ironfish

updating level db version to 6.1.1
  ironfish/package.json
  yarn.lock
Due: ironfish

add dkg round1 cli command (#4890)
  ironfish-cli/src/commands/wallet/multisig/dkg/round1.ts
Due: ironfish

add DKG round2 CLI command (#4893)
  ironfish-cli/src/commands/wallet/multisig/dkg/round2.ts
Due: ironfish

Avoid an infinite loop in `SaplingKey::generate_key`
  ironfish-rust/src/keys/mod.rs
Due: ironfish-rust, ironfish

Remove unused trusted setup code
  Cargo.lock
  ironfish-cli/src/commands/ceremony/contributions.ts
  ironfish-cli/src/commands/ceremony/index.ts
  ironfish-cli/src/commands/ceremony/service.ts
  ironfish-cli/src/trusted-setup/client.ts
  ironfish-cli/src/trusted-setup/schema.ts
  ironfish-cli/src/trusted-setup/server.ts
  ironfish-cli/src/utils/s3.ts
  ironfish-rust-nodejs/Cargo.toml
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust-nodejs/src/mpc.rs
Due: ironfish-rust, ironfish

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-rust-nodejs/*
  ironfish: any of: ironfish, but not: config/*, ironfish-rust-nodejs/*
