Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

Remove J from ReceiptParams
  ironfish-rust/src/receiving.rs
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish

Remove J from Witness
  ironfish-rust/src/merkle_note.rs
  ironfish-rust/src/receiving.rs
  ironfish-rust/src/spending.rs
  ironfish-rust/src/test_util.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/witness.rs
Due: ironfish-rust, ironfish

Remove J from SpendProof
  ironfish-rust/src/sapling_bls12.rs
  ironfish-rust/src/spending.rs
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish

Remove J from Transaction
  ironfish-rust/src/sapling_bls12.rs
  ironfish-rust/src/spending.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/tests.rs
Due: ironfish-rust, ironfish

Remove J from SpendParams
  ironfish-rust/src/merkle_note.rs
  ironfish-rust/src/sapling_bls12.rs
  ironfish-rust/src/spending.rs
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish

Remove J from ProposedTransaction
  ironfish-rust/src/sapling_bls12.rs
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish

Remove J from test utils
  ironfish-rust/src/test_util.rs
Due: ironfish-rust, ironfish

Function renames, cm -> cmu/commitment
  ironfish-rust/Cargo.toml
  ironfish-rust/src/merkle_note.rs
  ironfish-rust/src/note.rs
  ironfish-rust/src/spending.rs
Due: ironfish-rust, ironfish

Update to now-separate libs
  ironfish-rust/Cargo.lock
  ironfish-rust/Cargo.toml
Due: ironfish-rust, ironfish

ff update: BitIterator deprecated in favor of .to_le_bits()
  ironfish-rust/Cargo.lock
  ironfish-rust/Cargo.toml
  ironfish-rust/src/merkle_note_hash.rs
Due: ironfish-rust, ironfish

feat(ironfish): Expand `parseMessage` to take `string | Buffer`
  ironfish/src/network/messages.ts
  ironfish/src/network/peers/connections/connection.ts
  ironfish/src/network/peers/connections/webRtcConnection.ts
  ironfish/src/network/peers/connections/webSocketConnection.ts
  ironfish/src/network/peers/peer.ts
  ironfish/src/network/peers/peerManager.ts
  ironfish/src/rpc/routes/peers/getPeerMessages.ts
Due: ironfish

Another J removal from util fn
  ironfish-rust/src/spending.rs
Due: ironfish-rust, ironfish

Update cargo.toml with update note
  ironfish-rust/Cargo.toml
Due: ironfish-rust, ironfish

Use librustzcash Nullifier, implemented here: https://github.com/zcash/librustzcash/pull/307/
  ironfish-rust/src/lib.rs
  ironfish-rust/src/note.rs
  ironfish-rust/src/nullifiers.rs
  ironfish-rust/src/spending.rs
Due: ironfish-rust, ironfish

Log commit in cargo.toml
  ironfish-rust/Cargo.toml
Due: ironfish-rust, ironfish

Remove aes* patches from Cargo since we are now using versions still listed on crates.io
  ironfish-rust-nodejs/Cargo.lock
  ironfish-rust-wasm/Cargo.lock
  ironfish-rust/Cargo.lock
  ironfish-rust/Cargo.toml
Due: ironfish-rust, ironfish

feat(ironfish): Create abstract class for serializable network messages
  ironfish/src/common/serializable.ts
  ironfish/src/network/messages/networkMessage.ts
Due: ironfish

Update imports for zcash_primitives, mostly now under zcash_primitives::sapling: https://github.com/zcash/librustzcash/pull/351
  ironfish-rust-nodejs/Cargo.lock
  ironfish-rust-wasm/Cargo.lock
  ironfish-rust/Cargo.lock
  ironfish-rust/src/keys/mod.rs
  ironfish-rust/src/keys/public_address.rs
  ironfish-rust/src/merkle_note.rs
  ironfish-rust/src/merkle_note_hash.rs
  ironfish-rust/src/note.rs
  ironfish-rust/src/receiving.rs
  ironfish-rust/src/spending.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/tests.rs
Due: ironfish-rust, ironfish

Update deps; -wasm probably doesnt work atm. librustzcash commit: d50bb12a97da768dc8f3ee39b81f84262103e6eb
  ironfish-rust-nodejs/Cargo.lock
  ironfish-rust-wasm/Cargo.lock
  ironfish-rust-wasm/Cargo.toml
  ironfish-rust/Cargo.lock
  ironfish-rust/Cargo.toml
  ironfish-rust/src/merkle_note_hash.rs
Due: ironfish-rust, ironfish

Dep updates; minor trait change for librustzcash 2ba80739710f2511b18b67a7f9e082d390427a00
  ironfish-rust-nodejs/Cargo.lock
  ironfish-rust-wasm/Cargo.lock
  ironfish-rust/Cargo.lock
  ironfish-rust/Cargo.toml
  ironfish-rust/src/merkle_note_hash.rs
Due: ironfish-rust, ironfish

Minor change, dep upgrades to latest version of librustzcash
  ironfish-rust-nodejs/Cargo.lock
  ironfish-rust-wasm/Cargo.lock
  ironfish-rust/Cargo.lock
  ironfish-rust/Cargo.toml
  ironfish-rust/src/serializing.rs
Due: ironfish-rust, ironfish

Update ironfish-rust-nodejs to latest version of librustzcash/ironfish-rust changes
  ironfish-rust-nodejs/src/structs/note.rs
  ironfish-rust-nodejs/src/structs/witness.rs
  ironfish-rust/src/sapling_bls12.rs
Due: ironfish-rust, ironfish

Update ironfish-rust-nodejs to latest version of librustzcash/ironfish-rust changes
  ironfish-rust-wasm/Cargo.lock
  ironfish-rust-wasm/Cargo.toml
  ironfish-rust-wasm/src/wasm_structs/note_encrypted.rs
  ironfish-rust-wasm/src/wasm_structs/witness.rs
Due: ironfish-rust, ironfish

Revert loggedMessage type
  ironfish/src/network/peers/peer.ts
  ironfish/src/rpc/routes/peers/getPeerMessages.ts
Due: ironfish

Clean up loggedMessage
  ironfish/src/network/peers/peer.ts
Due: ironfish

Remove now unneeded Sapling in many places, smattering of other lint fixes
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust-nodejs/src/structs/note.rs
  ironfish-rust-nodejs/src/structs/note_encrypted.rs
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust-nodejs/src/structs/witness.rs
  ironfish-rust-wasm/src/lib.rs
  ironfish-rust-wasm/src/wasm_structs/note.rs
  ironfish-rust-wasm/src/wasm_structs/note_encrypted.rs
  ironfish-rust-wasm/src/wasm_structs/transaction.rs
  ironfish-rust-wasm/src/wasm_structs/witness.rs
  ironfish-rust/src/keys/mod.rs
  ironfish-rust/src/keys/public_address.rs
  ironfish-rust/src/keys/test.rs
  ironfish-rust/src/keys/view_keys.rs
  ironfish-rust/src/merkle_note.rs
  ironfish-rust/src/merkle_note_hash.rs
  ironfish-rust/src/note.rs
  ironfish-rust/src/receiving.rs
  ironfish-rust/src/spending.rs
  ironfish-rust/src/test_util.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/tests.rs
  ironfish-rust/src/witness.rs
Due: ironfish-rust, ironfish

Clippy pass
  ironfish-rust/src/keys/mod.rs
  ironfish-rust/src/keys/public_address.rs
  ironfish-rust/src/keys/test.rs
  ironfish-rust/src/merkle_note.rs
  ironfish-rust/src/mining/mine.rs
  ironfish-rust/src/note.rs
  ironfish-rust/src/receiving.rs
  ironfish-rust/src/spending.rs
  ironfish-rust/src/test_util.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/tests.rs
Due: ironfish-rust, ironfish

Update show command
  ironfish-cli/src/commands/peers/show.ts
Due: ironfish-cli, ironfish

Add allow dead code flags for napi struct methods
  ironfish-rust-nodejs/src/lib.rs
Due: ironfish-rust, ironfish

Fix pool payout discord message
  ironfish/src/mining/discord.ts
Due: ironfish

Fix pool payout discord message (#1170)
  ironfish/src/mining/discord.ts
Due: ironfish

Remove unused Note and Nullifier messages
  ironfish/src/network/messages.test.ts
  ironfish/src/network/messages.ts
Due: ironfish

Remove unnecessary TODO (#1164)
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish

Remove unused Note and Nullifier messages (#1163)
  ironfish/src/network/messages.test.ts
  ironfish/src/network/messages.ts
Due: ironfish

feat(ironfish): Create abstract class for serializable network messages (#1169)
  ironfish/src/common/serializable.ts
  ironfish/src/network/messages/networkMessage.ts
Due: ironfish

Downgrade to tagged release version 0.5 for testing
  ironfish-rust-nodejs/Cargo.lock
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust-wasm/Cargo.lock
  ironfish-rust-wasm/Cargo.toml
  ironfish-rust-wasm/src/wasm_structs/note_encrypted.rs
  ironfish-rust/Cargo.lock
  ironfish-rust/Cargo.toml
  ironfish-rust/src/keys/mod.rs
  ironfish-rust/src/keys/public_address.rs
  ironfish-rust/src/merkle_note.rs
  ironfish-rust/src/merkle_note_hash.rs
  ironfish-rust/src/note.rs
  ironfish-rust/src/receiving.rs
  ironfish-rust/src/spending.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/tests.rs
Due: ironfish-rust, ironfish

Remove unneeded deps from -wasm cargo
  ironfish-rust-wasm/Cargo.lock
  ironfish-rust-wasm/Cargo.toml
Due: none

Remove unneeded pairing dep, use intended version of blake2 deps
  ironfish-rust/Cargo.lock
  ironfish-rust/Cargo.toml
  ironfish-rust/src/spending.rs
Due: ironfish-rust, ironfish

Cargo cleanup and clippy fix
  ironfish-rust-nodejs/Cargo.lock
  ironfish-rust-wasm/Cargo.lock
  ironfish-rust-wasm/Cargo.toml
  ironfish-rust/src/serializing.rs
Due: ironfish-rust, ironfish

feat(ironfish): Expand `parseMessage` to take `string | Buffer` (#1168)
  ironfish-cli/src/commands/peers/show.ts
  ironfish/src/network/messages.ts
  ironfish/src/network/peers/connections/connection.ts
  ironfish/src/network/peers/connections/webRtcConnection.ts
  ironfish/src/network/peers/connections/webSocketConnection.ts
  ironfish/src/network/peers/peer.ts
  ironfish/src/network/peers/peerManager.ts
  ironfish/src/rpc/routes/peers/getPeerMessages.ts
Due: ironfish-cli, ironfish

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish-cli: any of: ironfish-cli, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish: any of: ironfish, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
