Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

codecov.yml:

ignore:
  - config/*
  - ironfish-rust-nodejs/*
  - ironfish-rust-wasm/*
comment: false
github_checks:
  annotations: false
coverage:
  fixes:
    - "/home/runner/work/ironfish/ironfish/::/"
  status:
    patch:
      default:
        target: auto
        threshold: 50%
    project:
      default:
        target: 63%
      ironfish-rust:
        target: 53%
        flags:
          - ironfish-rust
      ironfish-cli:
        target: 50%
        flags:
          - ironfish-cli
      ironfish:
        target: 60%
        flags:
          - ironfish
      event:
        target: 84%
        flags:
          - event
      logger:
        target: 90%
        flags:
          - logger
      serde:
        target: 90%
        flags:
          - serde
flags:
  ironfish-rust:
    paths:
      - ironfish-rust
    carryforward: true
  ironfish-cli:
    paths:
      - ironfish-cli
    carryforward: true
  ironfish:
    paths:
      - ironfish
    carryforward: true

Simplified errors
  ironfish/src/miningNew/stratum/errors.ts
  ironfish/src/miningNew/stratum/stratumClient.ts
  ironfish/src/miningNew/stratum/stratumServer.ts
Due: ironfish

Use an LRU cache for miningRequestBlocks
  ironfish/src/miningNew/pool.ts
Due: ironfish

Remove TODO about caching config values since its unnecessary
  ironfish/src/miningNew/manager.ts
Due: ironfish

DEleted old unused messages
  ironfish/src/miningNew/stratum/messages.ts
Due: ironfish

Remove unneeded field from miner
  ironfish/src/miningNew/poolMiner.ts
  ironfish/src/miningNew/soloMiner.ts
Due: ironfish

Pause miner when you are disconnected
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust/src/mining/thread.rs
  ironfish-rust/src/mining/threadpool.rs
  ironfish/src/miningNew/pool.ts
  ironfish/src/miningNew/poolMiner.ts
  ironfish/src/miningNew/stratum/messages.ts
  ironfish/src/miningNew/stratum/stratumClient.ts
  ironfish/src/miningNew/stratum/stratumServer.ts
Due: ironfish-rust, ironfish

Fixed backward function for migration 001
  ironfish/src/mining/poolDatabase/migrations/001-initial.ts
Due: ironfish

Foreward -> Forward
  ironfish/src/mining/poolDatabase/migration.ts
  ironfish/src/mining/poolDatabase/migrations/001-initial.ts
  ironfish/src/mining/poolDatabase/migrator.ts
Due: ironfish

Validate duplicate work submissions by miners
  ironfish/src/miningNew/pool.ts
Due: ironfish

Small cleanup
  ironfish/src/miningNew/stratum/stratumClient.ts
Due: ironfish

Convert balance to big int
  ironfish/src/miningNew/poolShares.ts
Due: ironfish

Configure pool expiration to be 20 blocks
  ironfish/src/mining/poolShares.ts
Due: ironfish

Add PoolDatabase migration system
  ironfish/package.json
  ironfish/src/mining/migrations/001-initial.sql
  ironfish/src/mining/poolDatabase/database.ts
  ironfish/src/mining/poolDatabase/migration.ts
  ironfish/src/mining/poolDatabase/migrations/001-initial.ts
  ironfish/src/mining/poolDatabase/migrations/index.ts
  ironfish/src/mining/poolDatabase/migrator.ts
Due: ironfish

Make public address flag match pool one for now
  ironfish-cli/src/commands/miners/start.ts
Due: ironfish-cli, ironfish

Replace mining with new mining
  ironfish/package.json
  ironfish/src/index.ts
  ironfish/src/mining/__fixtures__/director.test.slow.ts.fixture
  ironfish/src/mining/__fixtures__/director.test.ts.fixture
  ironfish/src/mining/__fixtures__/manager.test.slow.ts.fixture
  ironfish/src/mining/__fixtures__/manager.test.ts.fixture
  ironfish/src/mining/director.test.slow.ts
  ironfish/src/mining/director.test.ts
  ironfish/src/mining/director.ts
  ironfish/src/mining/index.ts
  ironfish/src/mining/manager.test.slow.ts
  ironfish/src/mining/manager.test.ts
  ironfish/src/mining/manager.ts
  ironfish/src/mining/migrations/001-initial.sql
  ironfish/src/mining/mineHeader.ts
  ironfish/src/mining/miner.test.ts
  ironfish/src/mining/miner.ts
  ironfish/src/mining/pool.ts
  ironfish/src/mining/poolMiner.ts
  ironfish/src/mining/poolShares.ts
  ironfish/src/mining/sharesDatabase.ts
  ironfish/src/mining/soloMiner.ts
  ironfish/src/mining/stratum/errors.ts
  ironfish/src/mining/stratum/index.ts
  ironfish/src/mining/stratum/messages.ts
  ironfish/src/mining/stratum/stratumClient.ts
  ironfish/src/mining/stratum/stratumServer.ts
  ironfish/src/mining/utils.ts
  ironfish/src/miningNew/__fixtures__/manager.test.ts.fixture
  ironfish/src/miningNew/index.ts
  ironfish/src/node.ts
  ironfish/src/rpc/routes/mining/blockTemplateStream.ts
  ironfish/src/rpc/routes/mining/submitBlock.ts
  ironfish/src/testUtilities/nodeTest.ts
  ironfish/src/testUtilities/routeTest.ts
  ironfish/src/workerPool/messages.ts
  ironfish/src/workerPool/pool.ts
  ironfish/src/workerPool/tasks/index.ts
  ironfish/src/workerPool/tasks/mineHeader.ts
Due: ironfish

Add basic pool share tracking and persistence
  ironfish-cli/src/commands/miners/pool/start.ts
  ironfish/package.json
  ironfish/src/miningNew/migrations/001-initial.sql
  ironfish/src/miningNew/pool.ts
  ironfish/src/miningNew/poolMiner.ts
  ironfish/src/miningNew/poolShares.ts
  yarn.lock
Due: ironfish-cli, ironfish

Rename publicAddress flag to address
  ironfish-cli/src/commands/miners/start.ts
Due: ironfish-cli, ironfish

Add MiningSoloMiner
  ironfish-cli/src/commands/miners/start.ts
  ironfish/src/miningNew/index.ts
  ironfish/src/miningNew/poolMiner.ts
  ironfish/src/miningNew/soloMiner.ts
Due: ironfish-cli, ironfish

Remove miningDirector status
  ironfish-cli/src/commands/status.test.ts
  ironfish/README.md
  ironfish/src/fileStores/config.ts
  ironfish/src/node.ts
  ironfish/src/rpc/routes/node/getStatus.ts
Due: ironfish-cli, ironfish

Change default pool port to 9034
  ironfish-cli/src/commands/miners/start.ts
  ironfish/src/mining/stratum/stratumServer.ts
Due: ironfish-cli, ironfish

Clarify Miner CLI pool flag
  ironfish-cli/src/commands/miners/start.ts
Due: ironfish-cli, ironfish

Simplify process_commands function
  ironfish-rust/src/mining/thread.rs
Due: ironfish-rust, ironfish

Remove unnecessary and incorrect target default in pool miner
  ironfish/src/miningNew/poolMiner.ts
Due: ironfish

Clean up cumbersome map over iterator
  ironfish/src/miningNew/poolShares.ts
  ironfish/src/utils/index.ts
  ironfish/src/utils/map.ts
Due: ironfish

Remove unnecessary TODO comments
  ironfish-rust/src/mining/thread.rs
  ironfish/src/miningNew/utils.ts
  ironfish/src/rpc/routes/mining/blockTemplateStream.ts
  ironfish/src/serde/BlockTemplateSerde.ts
Due: ironfish-rust, ironfish

Use namespace const label for RPC route
  ironfish/src/rpc/clients/rpcClient.ts
Due: ironfish

Dont set block graffiti on director
  ironfish/src/node.ts
Due: ironfish

Make `Assert` import in memoryClient more specific
  ironfish/src/rpc/clients/memoryClient.ts
Due: ironfish

Remove commented out line
  ironfish/src/rpc/routes/mining/blockTemplateStream.test.slow.ts
Due: ironfish

De-dupe check for new commands in rust worker thread
  ironfish-rust/src/mining/thread.rs
Due: ironfish-rust, ironfish

Set base difficulty to a more realistic value
  ironfish/src/mining/pool.ts
Due: ironfish

fix import, lint error
  ironfish/src/miningNew/poolMiner.ts
  ironfish/src/miningNew/stratum/stratumClient.ts
Due: ironfish

Track work submissions
  ironfish/src/miningNew/pool.ts
Due: ironfish

Added todo note for bug
  ironfish/src/miningNew/poolShares.ts
Due: ironfish

1 more channel type cleanup
  ironfish-rust/src/mining/threadpool.rs
Due: ironfish-rust, ironfish

Remove rust code that isnt used anymore
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust/src/mining.rs
  ironfish-rust/src/mining/mine.rs
Due: ironfish-rust, ironfish

Make account name consistent
  ironfish/src/miningNew/poolShares.ts
Due: ironfish

Add header to rust files
  ironfish-rust/src/mining/mine.rs
  ironfish-rust/src/mining/thread.rs
  ironfish-rust/src/mining/threadpool.rs
Due: ironfish-rust, ironfish

Remove WIP comments from payout class
  ironfish/src/miningNew/poolShares.ts
Due: ironfish

Remove remaining test TODOs
  ironfish/src/mining/manager.test.slow.ts
Due: ironfish
