Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish

Update import-export-test.sh
  ironfish-cli/scripts/import-export-test.sh
Due: ironfish

add node orchestrator + start / stop support
  ironfish-cli/src/automated-test-network/action-worker.ts
  ironfish-cli/src/automated-test-network/actions.ts
  ironfish-cli/src/automated-test-network/index.ts
  ironfish-cli/src/automated-test-network/testnode.ts
  ironfish-cli/src/automated-test-network/utils.ts
  ironfish-cli/src/commands/atf/config.json
  ironfish-cli/src/commands/atf/start.ts
  ironfish-cli/src/commands/atf/stop.ts
  ironfish-cli/src/commands/miners/start.ts
  ironfish-cli/src/commands/start.ts
  ironfish/src/logger/index.ts
Due: ironfish

add a new simulation to test long-running node stability
  simulator/src/commands/start.ts
  simulator/src/commands/stop.ts
  simulator/src/simulations/01-send.ts
  simulator/src/simulations/02-stability.ts
  simulator/src/simulator/simulation-node.ts
  simulator/src/simulator/simulator.ts
Due: none

move code to /simulator/ folder
  ironfish-cli/src/automated-test-network/node.ts
  ironfish-cli/src/commands/atn/start.ts
  ironfish-cli/src/commands/miners/start.ts
  ironfish-cli/src/commands/start.ts
  ironfish/src/logger/index.ts
  lerna.json
  package.json
  simulator/.eslintrc.js
  simulator/.prettierrc.js
  simulator/bin/run
  simulator/package.json
  simulator/src/commands/start.ts
  simulator/src/commands/stop.ts
  simulator/src/index.ts
  simulator/src/simulations/01-send.ts
  simulator/src/simulations/02-stability.ts
  simulator/src/simulations/index.ts
  simulator/src/simulator/accounts.ts
  simulator/src/simulator/chain.ts
  simulator/src/simulator/index.ts
  simulator/src/simulator/logger.ts
  simulator/src/simulator/mint.ts
  simulator/src/simulator/node.ts
  simulator/src/simulator/simulation-node.ts
  simulator/src/simulator/simulator.ts
  simulator/src/simulator/transactions.ts
  simulator/src/simulator/utils.ts
  simulator/tsconfig.eslint.json
  simulator/tsconfig.json
  simulator/tsconfig.test.json
  tools/reset-network-genesis.sh
  tools/version-bump.js
Due: ironfish

feat: rework atn to be more dev friendly
  ironfish-cli/src/automated-test-network/accounts.ts
  ironfish-cli/src/automated-test-network/action-worker.ts
  ironfish-cli/src/automated-test-network/actions.ts
  ironfish-cli/src/automated-test-network/chain.ts
  ironfish-cli/src/automated-test-network/index.ts
  ironfish-cli/src/automated-test-network/simulation-node.ts
  ironfish-cli/src/automated-test-network/simulator.ts
  ironfish-cli/src/automated-test-network/transactions.ts
  ironfish-cli/src/automated-test-network/utils.ts
  ironfish-cli/src/commands/atf/start.ts
  ironfish-cli/src/commands/atn/config.json
  ironfish-cli/src/commands/atn/start.ts
  ironfish-cli/src/commands/atn/stop.ts
Due: ironfish

add event handlers for log, error, close, exit
  simulator/src/commands/start.ts
  simulator/src/simulations/01-send.ts
  simulator/src/simulations/02-stability.ts
  simulator/src/simulations/index.ts
  simulator/src/simulator/simulation-node.ts
Due: none

Add memory / status tracking in sim 2
  simulator/src/simulations/01-send.ts
  simulator/src/simulations/02-stability.ts
  simulator/src/simulator/index.ts
  simulator/src/simulator/status.ts
Due: none

refactor: add per transaction consumers of a block streams instead of mass production block streams
  ironfish-cli/src/automated-test-network/simulator.ts
  ironfish-cli/src/automated-test-network/transactions.ts
  ironfish-cli/src/commands/atn/start.ts
Due: ironfish

add client retries when initializing node client
  simulator/src/simulator/node.ts
  simulator/src/simulator/simulation-node.ts
Due: none

Use internal types for simulation node config
  simulator/src/commands/start.ts
  simulator/src/commands/stop.ts
  simulator/src/simulations/01-send.ts
  simulator/src/simulations/02-stability.ts
  simulator/src/simulator/simulation-node.ts
  simulator/src/simulator/simulator.ts
Due: none

change start command to take argument not flag
  simulator/src/commands/start.ts
Due: none

various changes
  ironfish-cli/src/automated-test-network/accounts.ts
  ironfish-cli/src/automated-test-network/chain.ts
  ironfish-cli/src/automated-test-network/logger.ts
  ironfish-cli/src/automated-test-network/mint.ts
  ironfish-cli/src/automated-test-network/node.ts
  ironfish-cli/src/automated-test-network/simulation-node.ts
  ironfish-cli/src/automated-test-network/simulator.ts
  ironfish-cli/src/automated-test-network/transactions.ts
  ironfish-cli/src/automated-test-network/user-simulations/send.ts
  ironfish-cli/src/automated-test-network/utils.ts
  ironfish-cli/src/commands/atn/config.json
  ironfish-cli/src/commands/atn/start.ts
  ironfish-cli/src/commands/atn/stop.ts
Due: ironfish

Move memory status function to helper lvl
  simulator/src/simulations/02-stability.ts
  simulator/src/simulator/status.ts
Due: none

docs: add utiliy fn comments
  simulator/src/simulations/02-stability.ts
  simulator/src/simulator/accounts.ts
  simulator/src/simulator/chain.ts
  simulator/src/simulator/logger.ts
  simulator/src/simulator/mint.ts
  simulator/src/simulator/simulation-node.ts
  simulator/src/simulator/transactions.ts
  simulator/src/simulator/utils.ts
Due: none

Add demo simulation
  simulator/src/simulations/00-demo.ts
Due: none

misc improvements
  simulator/.gitignore
  simulator/README.md
  simulator/package.json
  simulator/src/commands/index.ts
  simulator/src/commands/start.ts
  simulator/src/simulations/00-demo.ts
  simulator/src/simulations/01-send.ts
  simulator/src/simulations/02-stability.ts
  simulator/src/simulations/04-watermark.ts
  simulator/src/simulator/simulation-node.ts
  simulator/src/simulator/simulator.ts
  simulator/src/simulator/status.ts
  simulator/src/simulator/transactions.ts
  simulator/src/simulator/utils.ts
  yarn.lock
Due: none

Add data_dir cleanup on any exit and address some TODOs
  simulator/package.json
  simulator/src/commands/start.ts
  simulator/src/simulations/00-demo.ts
  simulator/src/simulations/01-send.ts
  simulator/src/simulations/02-stability.ts
  simulator/src/simulations/04-watermark.ts
  simulator/src/simulations/index.ts
  simulator/src/simulator/events.ts
  simulator/src/simulator/index.ts
  simulator/src/simulator/simulation-node.ts
  simulator/src/simulator/simulator.ts
  simulator/src/simulator/utils.ts
Due: none

Improve framework usability
  simulator/README.md
  simulator/bin/run
  simulator/src/commands/start.ts
  simulator/src/simulations/demo.ts
  simulator/src/simulations/index.ts
  simulator/src/simulations/send.ts
  simulator/src/simulations/stability.ts
  simulator/src/simulations/watermark.ts
  simulator/src/simulator/events.ts
  simulator/src/simulator/misc.ts
  simulator/src/simulator/simulation-node.ts
  simulator/src/simulator/simulator.ts
  simulator/src/simulator/utils/accounts.ts
  simulator/src/simulator/utils/chain.ts
  simulator/src/simulator/utils/index.ts
  simulator/src/simulator/utils/mint.ts
  simulator/src/simulator/utils/status.ts
  simulator/src/simulator/utils/transactions.ts
  simulator/tsconfig.json
Due: none

Add support for running simuators for a given duration
  simulator/src/commands/start.ts
  simulator/src/simulations/index.ts
  simulator/src/simulations/send.ts
  simulator/src/simulator/simulation-node.ts
  simulator/src/simulator/simulator.ts
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

fix: libc reference failing in android
  ironfish-rust/src/signal_catcher.rs
Due: ironfish-rust, ironfish

Working express server
  simulator/package.json
  simulator/src/simulations/demo.ts
  simulator/src/simulations/send.ts
  simulator/src/simulations/stability.ts
  simulator/src/simulator/server/index.ts
  simulator/src/simulator/server/routes.ts
  simulator/src/simulator/simulator.ts
  yarn.lock
Due: none

Updated GH Actions to not use NodeJS 12 (#3715)
  .github/workflows/deploy-brew.yml
  .github/workflows/deploy-node-docker-image.yml
  .github/workflows/deploy-npm-ironfish-rust-nodejs.yml
  .github/workflows/rust_ci.yml
Due: none

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-rust-nodejs/*
  ironfish: any of: ironfish, but not: config/*, ironfish-rust-nodejs/*
