Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish

Log chainDB size in chain.open()
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/blockchain/blockchain.ts
Due: ironfish

Add chain database size to telemetry (#3928)
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/metrics/metricsMonitor.ts
  ironfish/src/storage/database/database.ts
  ironfish/src/storage/levelup/database.ts
  ironfish/src/telemetry/telemetry.ts
Due: ironfish

fix: typescript perf tests run in band, longer timeout (#3929)
  ironfish/package.json
Due: ironfish

reuses client between sync methods
  ironfish-cli/src/commands/service/sync.ts
Due: ironfish

Add test baseline metrics and refactor tests
  ironfish/package.json
  ironfish/src/blockchain/__fixtures__/blockchain.test.perf.ts.fixture
  ironfish/src/blockchain/blockchain.test.perf.ts
  ironfish/src/mining/__fixtures__/manager.test.perf.ts.fixture
  ironfish/src/mining/manager.test.perf.ts
  ironfish/src/primitives/__fixtures__/transaction.test.perf.ts.fixture
  ironfish/src/primitives/transaction.test.perf.ts
  ironfish/src/workerPool/tasks/workerMessages.test.perf.ts
Due: ironfish

fixes error message from IronFlag
  ironfish-cli/src/commands/wallet/burn.ts
  ironfish-cli/src/commands/wallet/mint.ts
  ironfish-cli/src/commands/wallet/send.ts
  ironfish-cli/src/flags.ts
Due: ironfish

fixes error message from IronFlag (#3935)
  ironfish-cli/src/commands/wallet/burn.ts
  ironfish-cli/src/commands/wallet/mint.ts
  ironfish-cli/src/commands/wallet/send.ts
  ironfish-cli/src/flags.ts
Due: ironfish

adds expiration to api transaction writes
  ironfish/src/webApi.ts
Due: ironfish

updates sync service to submit transaction gossip to api (#3926)
  ironfish-cli/src/commands/service/sync.ts
  ironfish/src/webApi.ts
Due: ironfish

remove opencl dependency
  .github/workflows/rust_ci.yml
  Cargo.lock
  ironfish-rust/Cargo.toml
  ironfish-zkp/Cargo.toml
Due: ironfish-rust, ironfish

Fix the installation instructions link in the README
  README.md
Due: none

Allow empty strings in the `--memo` argument of `wallet:send`
  ironfish-cli/src/commands/wallet/send.ts
Due: ironfish

Allow empty strings in the `--memo` argument of `wallet:send` (#3938)
  ironfish-cli/src/commands/wallet/send.ts
Due: ironfish

WIP: Add keystore rewrite system
  ironfish/src/fileStores/keyStore.test.ts
  ironfish/src/fileStores/keyStore.ts
Due: ironfish

Add the 'expiration' field to transactions returned by followChainStream
  ironfish/src/rpc/routes/chain/followChainStream.ts
Due: ironfish

Rename the `ironfish_rust` create to `ironfish`
  .github/workflows/rust_ci.yml
  Cargo.lock
  benchmarks/Cargo.toml
  benchmarks/benches/asset.rs
  benchmarks/benches/merkle_note.rs
  benchmarks/benches/sapling_key.rs
  benchmarks/benches/transaction.rs
  ironfish-rust-nodejs/Cargo.toml
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust-nodejs/src/nacl.rs
  ironfish-rust-nodejs/src/rolling_filter.rs
  ironfish-rust-nodejs/src/signal_catcher.rs
  ironfish-rust-nodejs/src/structs/asset.rs
  ironfish-rust-nodejs/src/structs/note.rs
  ironfish-rust-nodejs/src/structs/note_encrypted.rs
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust-nodejs/src/structs/witness.rs
  ironfish-rust/Cargo.toml
Due: ironfish-rust, ironfish

Add descriptions, keywords, and links to Rust crates
  Cargo.toml
  benchmarks/Cargo.toml
  ironfish-rust-nodejs/Cargo.toml
  ironfish-rust/Cargo.toml
  ironfish-zkp/Cargo.toml
Due: ironfish-rust, ironfish

Add a version number to the `ironfish_zkp` on `ironfish_rust`
  ironfish-rust/Cargo.toml
Due: ironfish-rust, ironfish

Ignore the target directories, not just their contents
  .gitignore
Due: none

Make the .git directory optional during build
  ironfish-cli/scripts/build.sh
Due: ironfish

Rename `entrypoint.sh` to `docker-entrypoint.sh`
  ironfish-cli/Dockerfile
  ironfish-cli/scripts/docker-entrypoint.sh
Due: ironfish

Improve Dockerfile
  ironfish-cli/Dockerfile
  ironfish-cli/scripts/build-docker.sh
  ironfish-cli/scripts/entrypoint.sh
Due: ironfish

Add Iron Fish Tank: a Docker Compose application to simulate Iron Fish clusters
  ironfish-tank/README.md
  ironfish-tank/docker-compose.yaml
Due: ironfish

Update crypto_box to the latest version
  Cargo.lock
  ironfish-rust/Cargo.toml
  ironfish-rust/src/nacl.rs
Due: ironfish-rust, ironfish

Update crossbeam-channel to the latest minor version
  Cargo.lock
Due: none

feat: Take 'reverse' parameter as option in loadTransactionsByTime
  ironfish/src/wallet/__fixtures__/account.test.ts.fixture
  ironfish/src/wallet/account.test.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish

Remove limit on notes decrypted in decryptNotes task
  ironfish/src/workerPool/tasks/decryptNotes.test.ts
  ironfish/src/workerPool/tasks/decryptNotes.ts
Due: ironfish

Allow the sapling params to be downloaded at build time
  Cargo.lock
  ironfish-rust/Cargo.toml
  ironfish-rust/build.rs
  ironfish-rust/src/lib.rs
  ironfish-rust/src/sapling_params/params-sha512.txt
Due: ironfish-rust, ironfish

Remove limit on notes decrypted in decryptNotes task (#3950)
  ironfish/src/workerPool/tasks/decryptNotes.test.ts
  ironfish/src/workerPool/tasks/decryptNotes.ts
Due: ironfish

feat: Take 'reverse' parameter as option in loadTransactionsByTime
  ironfish/src/wallet/account.test.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish

Move chain db stat to stats cmd
  ironfish-cli/src/commands/service/stats.ts
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/rpc/routes/chain/getChainInfo.ts
  ironfish/src/telemetry/telemetry.ts
Due: ironfish

Add chain db to node getStatus reponse
  ironfish-cli/src/commands/service/stats.ts
  ironfish/src/rpc/routes/chain/getChainInfo.ts
  ironfish/src/rpc/routes/node/getStatus.ts
Due: ironfish

Move chain db size out of telemetry class and into stats cmd (#3954)
  ironfish-cli/src/commands/service/stats.ts
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/rpc/routes/node/getStatus.ts
  ironfish/src/telemetry/telemetry.ts
Due: ironfish

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-rust-nodejs/*
  ironfish: any of: ironfish, but not: config/*, ironfish-rust-nodejs/*
