Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

Version bump to CLI 48, SDK 25 (#2295)
  ironfish-cli/package.json
  ironfish/package.json
Due: ironfish-cli, ironfish

Drop notes where their transaction is missing
  ironfish/src/migrations/data/013-wallet-2.ts
Due: ironfish

Print out skipped corrupted notes
  ironfish/src/migrations/data/013-wallet-2.ts
Due: ironfish

Comment
  ironfish/src/migrations/data/013-wallet-2.ts
Due: ironfish

Drop notes where their transaction is missing (#2298)
  ironfish/src/migrations/data/013-wallet-2.ts
Due: ironfish

Version bump CLI 49, SDK 26
  ironfish-cli/package.json
  ironfish/package.json
Due: ironfish-cli, ironfish

Correct transaction and block size calculation in followChainStream
  ironfish/src/rpc/routes/chain/followChain.ts
Due: ironfish

Remove some console logs
  ironfish/src/network/peers/peerConnectionManager.ts
  ironfish/src/network/peers/peerManager.ts
Due: ironfish

Move retry out to peer candidates
  ironfish/src/network/peers/addressManager.ts
  ironfish/src/network/peers/peer.ts
  ironfish/src/network/peers/peerConnectionManager.ts
  ironfish/src/network/peers/peerManager.ts
  ironfish/src/network/testUtilities/helpers.ts
Due: ironfish

WIP
  ironfish/src/network/peers/connections/webSocketConnection.ts
  ironfish/src/network/peers/peer.ts
  ironfish/src/network/peers/peerConnectionManager.ts
  ironfish/src/network/peers/peerManager.ts
  ironfish/src/network/testUtilities/helpers.ts
Due: ironfish

Moving around connectionRetry
  ironfish/src/network/peers/peer.ts
  ironfish/src/network/peers/peerManager.ts
Due: ironfish

Update rpc protect rules with auth
  ironfish/src/rpc/routes/router.ts
  ironfish/src/sdk.ts
Due: ironfish

Fix transaction and block size in followChainStream (#2302)
  ironfish/src/rpc/routes/chain/followChain.ts
Due: ironfish

Add ReadWrite Trait, implement for CreateAssetNote
  ironfish-rust/src/common/mod.rs
  ironfish-rust/src/common/readwrite.rs
  ironfish-rust/src/lib.rs
  ironfish-rust/src/note.rs
  ironfish-rust/src/primitives/asset_type.rs
  ironfish-rust/src/proofs/notes/create_asset_note.rs
Due: ironfish-rust, ironfish

Fix TS test lint
  ironfish/src/wallet/wallet.test.ts
Due: ironfish

Rename network/utils/block.ts to network/utils/serializers.ts
  ironfish/src/network/messages/getBlocks.ts
  ironfish/src/network/messages/getCompactBlock.ts
  ironfish/src/network/messages/newBlock.ts
  ironfish/src/network/messages/newBlockV2.ts
  ironfish/src/network/utils/serializers.ts
  ironfish/src/rpc/routes/chain/followChain.ts
Due: ironfish

Add ReadWrite Trait, implement for CreateAssetNote (#2309)
  ironfish-rust/src/common/mod.rs
  ironfish-rust/src/common/readwrite.rs
  ironfish-rust/src/lib.rs
  ironfish-rust/src/note.rs
  ironfish-rust/src/primitives/asset_type.rs
  ironfish-rust/src/proofs/notes/create_asset_note.rs
  ironfish/src/wallet/wallet.test.ts
Due: ironfish-rust, ironfish

feat(ironfish,rust): Remove MintAssetNote
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/structs/assets.rs
  ironfish-rust-nodejs/src/structs/note.rs
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust/src/lib.rs
  ironfish-rust/src/merkle_note.rs
  ironfish-rust/src/notes/create_asset_note.rs
  ironfish-rust/src/notes/creating_asset.rs
  ironfish-rust/src/notes/minting_asset.rs
  ironfish-rust/src/notes/mod.rs
  ironfish-rust/src/notes/note.rs
  ironfish-rust/src/notes/spendable_note.rs
  ironfish-rust/src/proofs/circuit/create_asset.rs
  ironfish-rust/src/proofs/circuit/mint_asset.rs
  ironfish-rust/src/proofs/mod.rs
  ironfish-rust/src/proofs/notes/mint_asset_note.rs
  ironfish-rust/src/receiving.rs
  ironfish-rust/src/spending.rs
  ironfish-rust/src/test_util.rs
  ironfish-rust/src/transaction/miners_fee.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/tests.rs
  ironfish-rust/src/transaction/transfer.rs
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish-rust, ironfish

feat(ironfish,rust): Remove MintAssetNote (#2311)
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/structs/assets.rs
  ironfish-rust-nodejs/src/structs/note.rs
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust/src/lib.rs
  ironfish-rust/src/merkle_note.rs
  ironfish-rust/src/notes/create_asset_note.rs
  ironfish-rust/src/notes/creating_asset.rs
  ironfish-rust/src/notes/minting_asset.rs
  ironfish-rust/src/notes/mod.rs
  ironfish-rust/src/notes/note.rs
  ironfish-rust/src/notes/spendable_note.rs
  ironfish-rust/src/proofs/circuit/create_asset.rs
  ironfish-rust/src/proofs/circuit/mint_asset.rs
  ironfish-rust/src/proofs/mod.rs
  ironfish-rust/src/proofs/notes/mint_asset_note.rs
  ironfish-rust/src/receiving.rs
  ironfish-rust/src/spending.rs
  ironfish-rust/src/test_util.rs
  ironfish-rust/src/transaction/miners_fee.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/tests.rs
  ironfish-rust/src/transaction/transfer.rs
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish-rust, ironfish

Add transaction network util functions
  ironfish/src/network/messages/getBlockTransactions.ts
  ironfish/src/network/messages/newTransaction.ts
  ironfish/src/network/messages/newTransactionV2.ts
  ironfish/src/network/messages/pooledTransactions.ts
  ironfish/src/network/utils/block.ts
  ironfish/src/rpc/routes/chain/followChain.ts
Due: ironfish

Fix lint
  ironfish/src/rpc/routes/chain/followChain.ts
Due: ironfish

Refactor network/utils/blocks to group write/read/size functions of the same type
  ironfish/src/network/utils/block.ts
Due: ironfish

Start adding mint description notes to the merkle tree
  ironfish-rust/src/merkle_note.rs
  ironfish-rust/src/notes/minting_asset.rs
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/primitives/note.ts
  ironfish/src/primitives/transaction.ts
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish-rust, ironfish

Lint cleanup
  ironfish-rust-nodejs/src/structs/assets.rs
  ironfish-rust/src/notes/minting_asset.rs
  ironfish-rust/src/receiving.rs
  ironfish/src/primitives/transaction.ts
Due: ironfish-rust, ironfish

Start adding mint description notes to the merkle tree (#2314)
  ironfish-rust-nodejs/src/structs/assets.rs
  ironfish-rust/src/merkle_note.rs
  ironfish-rust/src/notes/minting_asset.rs
  ironfish-rust/src/receiving.rs
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/primitives/note.ts
  ironfish/src/primitives/transaction.ts
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish-rust, ironfish

Remove protected namespace
  ironfish-cli/src/commands/start.ts
  ironfish/src/rpc/routes/router.ts
  ironfish/src/sdk.test.ts
  ironfish/src/sdk.ts
Due: ironfish-cli, ironfish

change 'unconfirmed' to 'confirming'
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

Refactor network/utils/blocks to group write/read/size functions of the same type (#2313)
  ironfish/src/network/utils/block.ts
Due: ironfish

Add transaction network util functions (#2312)
  ironfish/src/network/messages/getBlockTransactions.ts
  ironfish/src/network/messages/newTransaction.ts
  ironfish/src/network/messages/newTransactionV2.ts
  ironfish/src/network/messages/pooledTransactions.ts
  ironfish/src/network/utils/block.ts
  ironfish/src/rpc/routes/chain/followChain.ts
Due: ironfish

Rename network/utils/block.ts to network/utils/serializers.ts
  ironfish/src/network/messages/getBlockTransactions.ts
  ironfish/src/network/messages/getBlocks.ts
  ironfish/src/network/messages/getCompactBlock.ts
  ironfish/src/network/messages/newBlock.ts
  ironfish/src/network/messages/newBlockV2.ts
  ironfish/src/network/messages/newTransaction.ts
  ironfish/src/network/messages/newTransactionV2.ts
  ironfish/src/network/messages/pooledTransactions.ts
  ironfish/src/network/utils/serializers.ts
  ironfish/src/rpc/routes/chain/followChain.ts
Due: ironfish

Rename network/utils/block.ts to network/utils/serializers.ts (#2323)
  ironfish/src/network/messages/getBlockTransactions.ts
  ironfish/src/network/messages/getBlocks.ts
  ironfish/src/network/messages/getCompactBlock.ts
  ironfish/src/network/messages/newBlock.ts
  ironfish/src/network/messages/newBlockV2.ts
  ironfish/src/network/messages/newTransaction.ts
  ironfish/src/network/messages/newTransactionV2.ts
  ironfish/src/network/messages/pooledTransactions.ts
  ironfish/src/network/utils/serializers.ts
  ironfish/src/rpc/routes/chain/followChain.ts
Due: ironfish

WIP
  ironfish/src/primitives/transaction.test.slow.ts
  ironfish/src/rpc/routes/transactions/sendTransaction.ts
  ironfish/src/testUtilities/fixtures.ts
  ironfish/src/wallet/__fixtures__/wallet.test.ts.fixture
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.test.slow.ts
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

Minor fix in unit test
  ironfish/src/wallet/wallet.test.ts
Due: ironfish

Add max transaction count into consensus
  ironfish/src/consensus/__fixtures__/verifier.test.ts.fixture
  ironfish/src/consensus/consensus.ts
  ironfish/src/consensus/verifier.test.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/mining/manager.ts
Due: ironfish

Move to contextual-free verification, remove hard fork declaration, fix max transaction count
  ironfish/src/consensus/__fixtures__/verifier.test.ts.fixture
  ironfish/src/consensus/consensus.ts
  ironfish/src/consensus/verifier.test.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/mining/manager.ts
Due: ironfish

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish-cli: any of: ironfish-cli, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish: any of: ironfish, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
