Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

codecov.yml:

ignore:
  - config/*
  - ironfish-rust-nodejs/*
  - ironfish-rust-wasm/*
comment: false
github_checks:
  annotations: false
coverage:
  fixes:
    - "/home/runner/work/ironfish/ironfish/::/"
  status:
    patch:
      default:
        target: auto
        threshold: 50%
    project:
      default:
        target: 63%
      ironfish-rust:
        target: 53%
        flags:
          - ironfish-rust
      ironfish-cli:
        target: 50%
        flags:
          - ironfish-cli
      ironfish:
        target: 60%
        flags:
          - ironfish
      event:
        target: 84%
        flags:
          - event
      logger:
        target: 90%
        flags:
          - logger
      serde:
        target: 90%
        flags:
          - serde
flags:
  ironfish-rust:
    paths:
      - ironfish-rust
    carryforward: true
  ironfish-cli:
    paths:
      - ironfish-cli
    carryforward: true
  ironfish:
    paths:
      - ironfish
    carryforward: true

fix lint issue
  ironfish/src/utils/currency.test.ts
Due: ironfish

add displayLocale() to currency utils test
  ironfish/src/utils/currency.test.ts
  ironfish/src/utils/currency.ts
Due: ironfish

add default en-US to fix localization error
  ironfish/src/utils/currency.ts
Due: ironfish

readme update for python version error (#985)
  README.md
Due: none

Fix Issue #875 (#974)
  ironfish/src/utils/currency.test.ts
Due: ironfish

Improve usability around telemetry
  ironfish-cli/src/commands/start.test.ts
  ironfish-cli/src/commands/start.ts
  ironfish-cli/src/commands/testnet.ts
  ironfish-cli/src/images.ts
Due: ironfish-cli, ironfish

Fix test
  ironfish-cli/src/commands/start.test.ts
Due: ironfish-cli, ironfish

Rebase on staging
  ironfish-cli/src/commands/testnet.ts
Due: ironfish-cli, ironfish

Improve usability around telemetry (#987)
  ironfish-cli/src/commands/start.test.ts
  ironfish-cli/src/commands/start.ts
  ironfish-cli/src/commands/testnet.ts
  ironfish-cli/src/images.ts
Due: ironfish-cli, ironfish

fix miner status issue #819
  ironfish/src/rpc/routes/mining/newBlocksStream.ts
Due: ironfish

fix miners:mined scanning status
  ironfish-cli/src/commands/miners/mined.ts
Due: ironfish-cli, ironfish

Remove interval update of hashrate which changes status of @oclif/core CliUx action too often
  ironfish-cli/src/commands/miners/start.ts
Due: ironfish-cli, ironfish

add payment min fee notice
  ironfish-cli/src/commands/accounts/pay.ts
Due: ironfish-cli, ironfish

Github -> GitHub
  CONTRIBUTING.md
Due: none

Review update 1
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/consensus/__fixtures__/verifier.test.ts.fixture
  ironfish/src/consensus/verifier.test.ts
  ironfish/src/consensus/verifier.ts
Due: ironfish

Update telemetry test
  ironfish/src/telemetry/telemetry.test.ts
Due: ironfish

feat(ironfish): Add retry logic and slice submission to telemetry service (#991)
  ironfish/src/telemetry/telemetry.test.ts
  ironfish/src/telemetry/telemetry.ts
Due: ironfish

Debug command will now show multiple CPU models
  ironfish-cli/src/commands/debug.ts
Due: ironfish-cli, ironfish

Github -> GitHub (#1001)
  CONTRIBUTING.md
Due: none

Debug command will now show multiple CPU models (#1003)
  ironfish-cli/src/commands/debug.ts
Due: ironfish-cli, ironfish

Convert telemetry types to strict union types
  ironfish/src/telemetry/interfaces/field.ts
  ironfish/src/telemetry/interfaces/tag.ts
Due: ironfish

Enhanced security/responsible disclosure policy
  SECURITY.md
Due: none

readme typo fix
  ironfish/README.md
Due: ironfish

add ignoreRpc flag for node shutdown()
  ironfish/src/node.ts
  ironfish/src/rpc/routes/node/stopNode.ts
Due: ironfish

Get to 100%
  ironfish/src/consensus/__fixtures__/verifier.test.ts.fixture
  ironfish/src/consensus/verifier.test.ts
  ironfish/src/consensus/verifier.ts
Due: ironfish

Last cleanup
  ironfish/src/consensus/verifier.test.ts
Due: ironfish

Add BlockTemplateStream RPC endpoint
  ironfish/src/rpc/clients/rpcClient.ts
  ironfish/src/rpc/routes/mining/blockTemplateStream.ts
  ironfish/src/rpc/routes/mining/index.ts
  ironfish/src/serde/BlockTemplateSerde.ts
  ironfish/src/serde/index.ts
Due: ironfish

Move 'fetch transactions' for a new block to the memPool
  ironfish/src/memPool/memPool.ts
  ironfish/src/rpc/routes/mining/blockTemplateStream.ts
Due: ironfish

Update RpcClient routes to use ApiNamespace enum
  ironfish/src/rpc/clients/rpcClient.ts
Due: ironfish

Update to latest napi-rs to fix BigInt usage
  ironfish-rust-nodejs/Cargo.lock
  ironfish-rust-nodejs/Cargo.toml
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/structs/note.rs
  ironfish-rust-nodejs/src/structs/transaction.rs
Due: ironfish-rust, ironfish

Add worker message time and adjust request/response messages
  ironfish/src/workerPool/messages.ts
Due: ironfish

Add temp code to job, pool, and worker to allow for new serialized types
  ironfish/src/workerPool/job.ts
  ironfish/src/workerPool/pool.ts
  ironfish/src/workerPool/worker.ts
Due: ironfish

Add createMinersFee serializer and test
  ironfish/src/workerPool/tasks/createMinersFee.test.ts
  ironfish/src/workerPool/tasks/createMinersFee.ts
Due: ironfish

Lint fixes
  ironfish/src/workerPool/tasks/createMinersFee.ts
Due: ironfish

Add temporary code to handle both serialized and unserialized types
  ironfish/src/workerPool/tasks/index.ts
Due: ironfish

Fix instanceof check; clean up flow
  ironfish/src/workerPool/job.ts
  ironfish/src/workerPool/messages.ts
  ironfish/src/workerPool/pool.ts
  ironfish/src/workerPool/tasks/index.ts
Due: ironfish

Rename binary serializer and adjust tests
  ironfish/src/workerPool/tasks/createMinersFee.test.ts
  ironfish/src/workerPool/tasks/createMinersFee.ts
Due: ironfish

Adjust message types
  ironfish/src/workerPool/messages.ts
Due: ironfish

Expose additional methods from underlying bufio module
  ironfish/src/typedefs/bufio.d.ts
Due: ironfish
