Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

feat: remove changes to transaction stream
  ironfish-cli/src/commands/service/sync-deposit-transactions.ts
  ironfish/src/rpc/routes/chain/getTransactionStream.ts
Due: ironfish-cli, ironfish

Clarify comment about the new key
  ironfish-rust/src/keys/mod.rs
Due: ironfish-rust, ironfish

Cleanup circuit utils
  ironfish-zkp/src/circuits/util.rs
Due: ironfish

Don't ban peer on sync disconnect
  ironfish/src/syncer.ts
Due: ironfish

Don't ban peer on sync disconnect (#2554)
  ironfish/src/syncer.ts
Due: ironfish

fixes non-deterministic fee estimator test (#2550)
  ironfish/src/memPool/__fixtures__/feeEstimator.test.ts.fixture
  ironfish/src/memPool/feeEstimator.test.ts
  ironfish/src/memPool/feeEstimator.ts
Due: ironfish

feat(rust): add sapling derived key for asset usage (#2546)
  Cargo.lock
  ironfish-rust/src/keys/mod.rs
  ironfish-zkp/Cargo.toml
  ironfish-zkp/src/circuits/mint_asset.rs
  ironfish-zkp/src/circuits/util.rs
  ironfish-zkp/src/constants.rs
Due: ironfish-rust, ironfish

Move spends and outputs into transaction module (#2528)
  ironfish-rust/src/lib.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/outputs.rs
  ironfish-rust/src/transaction/spending.rs
Due: ironfish-rust, ironfish

Handle negative balances in depositAll
  ironfish-cli/src/commands/deposit-all.ts
Due: ironfish-cli, ironfish

feat(rust): start adding mint description
  ironfish-rust/src/assets/asset.rs
  ironfish-rust/src/lib.rs
  ironfish-rust/src/transaction/mints.rs
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish

WIP feat(rust): Add some mint description fields in transaction
  ironfish-rust/src/transaction/mints.rs
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish

feat(rust): Add serialization for mint descriptions
  ironfish-rust/src/assets/asset.rs
  ironfish-rust/src/transaction/mints.rs
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish

feat(rust): Add mints to ProposedTransaction
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish

refactor(rust): Add placeholder test and some docs
  ironfish-rust/src/transaction/mints.rs
Due: ironfish-rust, ironfish

Remove unecessary wallet wrapper functions
  ironfish/src/wallet/account.ts
Due: ironfish

Remove unecessary wallet wrapper functions (#2559)
  ironfish/src/wallet/account.ts
Due: ironfish

remove magic number for padding and formatted into a table
  ironfish-cli/src/commands/workers/status.ts
Due: ironfish-cli, ironfish

improve output display
  ironfish-cli/src/commands/rpc/status.ts
Due: ironfish-cli, ironfish

fix attributes
  ironfish-cli/src/commands/rpc/status.ts
Due: ironfish-cli, ironfish

print table
  ironfish-cli/src/commands/miners/pools/status.ts
Due: ironfish-cli, ironfish

fix imports
  ironfish-cli/src/commands/miners/pools/status.ts
Due: ironfish-cli, ironfish

add config for headers
  ironfish-cli/src/commands/miners/pools/status.ts
Due: ironfish-cli, ironfish

update
  ironfish-cli/src/commands/miners/pools/status.ts
Due: ironfish-cli, ironfish

add header
  ironfish-cli/src/commands/miners/pools/status.ts
Due: ironfish-cli, ironfish

change width
  ironfish-cli/src/commands/miners/pools/status.ts
Due: ironfish-cli, ironfish

Defer syncing transaction until after broadcasting
  ironfish/src/network/peerNetwork.ts
Due: ironfish

fixes cause of negative balances
  ironfish/src/wallet/__fixtures__/wallet.test.ts.fixture
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish

Add back fixtures
  ironfish/src/mining/__fixtures__/manager.test.slow.ts.fixture
  ironfish/src/primitives/__fixtures__/transaction.test.slow.ts.fixture
  ironfish/src/rpc/routes/mining/__fixtures__/blockTemplateStream.test.slow.ts.fixture
  ironfish/src/rpc/routes/mining/blockTemplateStream.test.slow.ts
  ironfish/src/wallet/__fixtures__/wallet.test.slow.ts.fixture
  ironfish/src/workerPool/tasks/__fixtures__/createTransaction.test.slow.ts.fixture
Due: ironfish

Add perf fixture
  ironfish/src/blockchain/__fixtures__/blockchain.test.perf.ts.fixture
Due: ironfish

Fix lint
  ironfish/src/rpc/routes/mining/blockTemplateStream.test.slow.ts
Due: ironfish

adds chain:rewind command
  ironfish-cli/src/commands/chain/rewind.ts
  ironfish/src/blockchain/blockchain.ts
Due: ironfish-cli, ironfish

Batch merkle tree adds when constructing a new block
  ironfish/src/blockchain/blockchain.ts
Due: ironfish

edits command logging
  ironfish-cli/src/commands/chain/rewind.ts
Due: ironfish-cli, ironfish

fixes lint, checks that sequence is behind head
  ironfish-cli/src/commands/chain/rewind.ts
Due: ironfish-cli, ironfish

adds chain:rewind command (#2568)
  ironfish-cli/src/commands/chain/rewind.ts
  ironfish/src/blockchain/blockchain.ts
Due: ironfish-cli, ironfish

changes chain:rewind to remove blocks
  ironfish-cli/src/commands/chain/rewind.ts
  ironfish/src/blockchain/blockchain.ts
Due: ironfish-cli, ironfish

changes chain:rewind to remove blocks (#2570)
  ironfish-cli/src/commands/chain/rewind.ts
  ironfish/src/blockchain/blockchain.ts
Due: ironfish-cli, ironfish

adds test that reproduces double spend afer consensus change
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/blockchain/blockchain.test.ts
Due: ironfish

WIP
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/blockchain/database/headers.ts
  ironfish/src/chainProcessor.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/utils/serializers.ts
  ironfish/src/primitives/block.ts
  ironfish/src/primitives/blockheader.ts
  ironfish/src/rpc/routes/chain/followChain.ts
  ironfish/src/rpc/routes/chain/getBlockInfo.ts
  ironfish/src/rpc/routes/events/utils.ts
  ironfish/src/serde/PartialHeaderSerde.ts
  ironfish/src/syncer.ts
Due: ironfish

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish-cli: any of: ironfish-cli, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish: any of: ironfish, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
