Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish

codecov.yml:

ignore:
  - config/*
  - ironfish-rust-nodejs/*
comment: false
github_checks:
  annotations: false
coverage:
  fixes:
    - "/home/runner/work/ironfish/ironfish/::/"
  status:
    patch:
      default:
        target: 10%
        threshold: 0%
    project:
      default:
        target: 10%
      ironfish-rust:
        target: 10%
        flags:
          - ironfish-rust
      ironfish-cli:
        target: 10%
        flags:
          - ironfish-cli
      ironfish:
        target: 10%
        flags:
          - ironfish
flags:
  ironfish-rust:
    paths:
      - ironfish-rust
    carryforward: true
  ironfish:
    paths:
      - ironfish
    carryforward: true

CLI debug command uses card output and has json support
  ironfish-cli/src/commands/debug.ts
Due: ironfish

refactor(rust): Use NONCE_LENGTH const
  ironfish-rust/src/xchacha20poly1305.rs
Due: ironfish-rust, ironfish

moves evm tx execution to verifyBlock
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/mining/manager.ts
Due: ironfish

CLI fees command uses card output and has json support
  ironfish-cli/src/commands/fees.ts
Due: ironfish

status command returns json
  ironfish-cli/src/commands/status.ts
Due: ironfish

feat(rust): Add xchacha20poly1305 functions (#5210)
  Cargo.lock
  ironfish-rust/Cargo.toml
  ironfish-rust/src/errors.rs
  ironfish-rust/src/lib.rs
  ironfish-rust/src/serializing/aead.rs
  ironfish-rust/src/xchacha20poly1305.rs
  supply-chain/config.toml
  supply-chain/imports.lock
Due: ironfish-rust, ironfish

use ui json element instead of custom json parsing
  ironfish-cli/src/ui/table.ts
Due: ironfish

status command returns json (#5215)
  ironfish-cli/src/commands/status.ts
Due: ironfish

Remove conditional null
  ironfish/src/consensus/verifier.ts
Due: ironfish

feat(rust,rust-nodejs): Add napi `encrypt` function for xchacha20poly1305
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust-nodejs/src/xchacha20poly1305.rs
  ironfish-rust/src/xchacha20poly1305.rs
Due: ironfish-rust, ironfish

chore(rust): lint rust
  ironfish-rust/src/xchacha20poly1305.rs
Due: ironfish-rust, ironfish

Add verification for native asset shield and unshield (#5206)
  ironfish/src/consensus/verifier.ts
Due: ironfish

use ui json element instead of custom json parsing (#5216)
  ironfish-cli/src/ui/table.ts
Due: ironfish

feat(rust-nodejs): Add napi `decrypt` xchacha20poly1305 function
  ironfish-rust-nodejs/src/xchacha20poly1305.rs
Due: ironfish-rust, ironfish

feat(rust,rust-nodejs): Add napi `encrypt` function for xchacha20poly1305 (#5217)
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust-nodejs/src/xchacha20poly1305.rs
  ironfish-rust/src/xchacha20poly1305.rs
Due: ironfish-rust, ironfish

feat(rust-nodejs): Add napi `decrypt` xchacha20poly1305 function (#5218)
  ironfish-rust-nodejs/src/xchacha20poly1305.rs
Due: ironfish-rust, ironfish

Use placeholders to auto-populate examples
  ironfish-cli/src/commands/chain/assets/info.ts
Due: ironfish

update config descriptions to match our new standard
  ironfish-cli/src/commands/config/edit.ts
  ironfish-cli/src/commands/config/get.ts
  ironfish-cli/src/commands/config/set.ts
  ironfish-cli/src/commands/config/unset.ts
Due: ironfish

update mempool descriptions and add json support to status
  ironfish-cli/src/commands/mempool/status.ts
  ironfish-cli/src/commands/mempool/transactions.ts
Due: ironfish

pays gas fees to miners in minersFee transactions
  ironfish-cli/src/commands/evm/sendTransaction.ts
  ironfish-cli/src/commands/evm/shield-custom-asset.ts
  ironfish-cli/src/commands/evm/shield-iron.ts
  ironfish-cli/src/commands/test-evm.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/consensus/verifier.evm.test.slow.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/evm/__fixtures__/evm.test.ts.fixture
  ironfish/src/evm/evm.test.ts
  ironfish/src/evm/evm.ts
  ironfish/src/mining/manager.ts
Due: ironfish

changes events to undefined in EvmResult when error present
  ironfish-cli/src/commands/evm/shield-iron.ts
  ironfish/src/consensus/verifier.evm.test.slow.ts
  ironfish/src/evm/evm.ts
Due: ironfish

chore(rust-nodejs): Update Napi JS index file
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
Due: none

update migrations descriptions, migrations list supports json
  ironfish-cli/src/commands/migrations/index.ts
  ironfish-cli/src/commands/migrations/revert.ts
  ironfish-cli/src/commands/migrations/start.ts
  ironfish/src/migrations/migrator.ts
Due: ironfish

chore(rust-nodejs): Update Napi JS index file (#5224)
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
Due: none

Add test cases for shielding and unshielding
  ironfish/package.json
  ironfish/src/consensus/__fixtures__/shield-unshield-evm.test.slow.ts.fixture
  ironfish/src/consensus/shield-unshield-evm.test.slow.ts
  ironfish/src/evm/evm.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

restores simulateTx method
  ironfish/src/evm/evm.ts
Due: ironfish

updates peer network header serialization for evm state
  ironfish-cli/src/commands/evm/sendTransaction.ts
  ironfish/src/network/messages/getBlockHeaders.ts
  ironfish/src/network/utils/serializers.ts
Due: ironfish

feat(ironfish,rust-nodejs): Add EncryptedAccount class
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/xchacha20poly1305.rs
  ironfish/src/testUtilities/fixtures/account.ts
  ironfish/src/wallet/account/__fixtures__/encryptedAccount.test.ts.fixture
  ironfish/src/wallet/account/account.ts
  ironfish/src/wallet/account/encryptedAccount.test.ts
  ironfish/src/wallet/account/encryptedAccount.ts
  ironfish/src/wallet/wallet.ts
  ironfish/src/wallet/walletdb/accountValue.test.ts
  ironfish/src/wallet/walletdb/accountValue.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish-rust, ironfish

chore(rust-nodejs): lint rust
  ironfish-rust-nodejs/src/xchacha20poly1305.rs
Due: ironfish-rust, ironfish

chore(rust-nodejs): cargo clippy fix
  ironfish-rust-nodejs/src/xchacha20poly1305.rs
Due: ironfish-rust, ironfish

feat(ironfish): Add test for invalid passphrase
  ironfish/src/wallet/account/__fixtures__/encryptedAccount.test.ts.fixture
  ironfish/src/wallet/account/encryptedAccount.test.ts
Due: ironfish

feat(ironfish): Add error type for failed decryption
  ironfish/src/wallet/account/encryptedAccount.test.ts
  ironfish/src/wallet/account/encryptedAccount.ts
  ironfish/src/wallet/errors.ts
Due: ironfish

CLI debug command uses card output and has json support (#5212)
  ironfish-cli/src/commands/debug.ts
Due: ironfish

feat(ironfish,rust-nodejs): Add EncryptedAccount class (#5226)
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/xchacha20poly1305.rs
  ironfish/src/testUtilities/fixtures/account.ts
  ironfish/src/wallet/account/__fixtures__/encryptedAccount.test.ts.fixture
  ironfish/src/wallet/account/account.ts
  ironfish/src/wallet/account/encryptedAccount.test.ts
  ironfish/src/wallet/account/encryptedAccount.ts
  ironfish/src/wallet/errors.ts
  ironfish/src/wallet/wallet.ts
  ironfish/src/wallet/walletdb/accountValue.test.ts
  ironfish/src/wallet/walletdb/accountValue.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish-rust, ironfish

fixes newCompactBlock test, mining manager tests
  ironfish/src/mining/__fixtures__/manager.test.slow.ts.fixture
  ironfish/src/mining/manager.test.slow.ts
  ironfish/src/network/messages/newCompactBlock.test.ts
Due: ironfish

pays gas fees to miners in minersFee transactions (#5214)
  ironfish-cli/src/commands/evm/sendTransaction.ts
  ironfish-cli/src/commands/evm/shield-custom-asset.ts
  ironfish-cli/src/commands/evm/shield-iron.ts
  ironfish-cli/src/commands/test-evm.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/consensus/verifier.evm.test.slow.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/evm/__fixtures__/evm.test.ts.fixture
  ironfish/src/evm/evm.test.ts
  ironfish/src/evm/evm.ts
  ironfish/src/mining/manager.ts
Due: ironfish

removes stray debugging output
  ironfish-rust/src/transaction/tests.rs
Due: ironfish-rust, ironfish

wip: moves evm transaction signing into rust
  Cargo.lock
  ironfish-rust-nodejs/Cargo.toml
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/multisig.rs
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust/Cargo.toml
  ironfish-rust/src/note.rs
  ironfish-rust/src/transaction/evm.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/tests.rs
  ironfish-rust/src/transaction/unsigned.rs
  ironfish/src/consensus/verifier.evm.test.slow.ts
  ironfish/src/primitives/evmDescription.ts
  ironfish/src/primitives/rawTransaction.test.ts
  ironfish/src/primitives/rawTransaction.ts
  ironfish/src/primitives/transaction.test.ts
  ironfish/src/primitives/transaction.ts
  rust-toolchain.toml
Due: ironfish-rust, ironfish

adds trusted audits and exemptions for new dependencies
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Due: none

CLI fees command uses card output and has json support (#5213)
  ironfish-cli/src/commands/fees.ts
Due: ironfish
