Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

Update value
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish

Replace hardcode value in rust with constants
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/spends.rs
  ironfish-rust/src/transaction/tests.rs
Due: ironfish-rust, ironfish

Raw tx has wrong expiration length
  ironfish/src/primitives/rawTransaction.ts
Due: ironfish

Convert
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/structs/transaction.rs
Due: ironfish-rust, ironfish

Remove testing
  ironfish-rust/src/transaction/tests.rs
  ironfish/src/primitives/rawTransaction.ts
Due: ironfish-rust, ironfish

fmt
  ironfish-rust/src/transaction/tests.rs
Due: ironfish-rust, ironfish

Update post with spending key (#3236)
  ironfish-cli/src/commands/wallet/send.ts
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/primitives/rawTransaction.test.ts
  ironfish/src/primitives/rawTransaction.ts
  ironfish/src/primitives/transaction.test.slow.ts
  ironfish/src/rpc/routes/wallet/__fixtures__/postTransaction.test.ts.fixture
  ironfish/src/rpc/routes/wallet/createTransaction.test.slow.ts
  ironfish/src/rpc/routes/wallet/mintAsset.test.ts
  ironfish/src/rpc/routes/wallet/postTransaction.test.ts
  ironfish/src/rpc/routes/wallet/postTransaction.ts
  ironfish/src/testUtilities/fixtures/blocks.ts
  ironfish/src/testUtilities/fixtures/transactions.ts
  ironfish/src/wallet/wallet.test.slow.ts
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
  ironfish/src/workerPool/pool.ts
  ironfish/src/workerPool/tasks/postTransaction.test.ts
  ironfish/src/workerPool/tasks/postTransaction.ts
Due: ironfish-cli, ironfish

trusted-setup: Handle client disconnects while server is verifying contributions (#3267)
  ironfish-cli/src/trusted-setup/server.ts
Due: ironfish-cli, ironfish

add start date to ceremony
  ironfish-cli/src/commands/ceremony.ts
  ironfish-cli/src/commands/service/ceremony.ts
  ironfish-cli/src/trusted-setup/client.ts
  ironfish-cli/src/trusted-setup/schema.ts
  ironfish-cli/src/trusted-setup/server.ts
Due: ironfish-cli, ironfish

pass token
  ironfish-cli/src/commands/ceremony.ts
Due: ironfish-cli, ironfish

Post with offline
  ironfish-cli/src/commands/wallet/post.ts
  ironfish/src/primitives/transaction.test.slow.ts
  ironfish/src/rpc/routes/wallet/__fixtures__/postTransaction.test.ts.fixture
  ironfish/src/rpc/routes/wallet/createTransaction.test.slow.ts
  ironfish/src/rpc/routes/wallet/mintAsset.test.ts
  ironfish/src/rpc/routes/wallet/postTransaction.test.ts
  ironfish/src/rpc/routes/wallet/postTransaction.ts
  ironfish/src/testUtilities/fixtures/blocks.ts
  ironfish/src/wallet/wallet.test.slow.ts
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish-cli, ironfish

Add raw tx flag to wallet:send
  ironfish-cli/src/commands/wallet/send.ts
Due: ironfish-cli, ironfish

Add start date to ceremony (#3269)
  ironfish-cli/src/commands/ceremony.ts
  ironfish-cli/src/commands/service/ceremony.ts
  ironfish-cli/src/trusted-setup/client.ts
  ironfish-cli/src/trusted-setup/schema.ts
  ironfish-cli/src/trusted-setup/server.ts
Due: ironfish-cli, ironfish

pass flag for IP banning
  ironfish-cli/src/commands/service/ceremony.ts
  ironfish-cli/src/trusted-setup/server.ts
Due: ironfish-cli, ironfish

Support bech32-encoded account import/export in cli (#3213)
  ironfish-cli/package.json
  ironfish-cli/src/commands/wallet/export.ts
  ironfish-cli/src/commands/wallet/import.ts
  yarn.lock
Due: ironfish-cli, ironfish

Move bech32 from root to cli
  ironfish/package.json
Due: ironfish

Exported accounts have a version
  ironfish/src/rpc/routes/wallet/exportAccount.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/walletdb/accountValue.ts
Due: ironfish

Update package.json
  ironfish/package.json
Due: ironfish

Pass flag for IP banning (#3273)
  ironfish-cli/src/commands/service/ceremony.ts
  ironfish-cli/src/trusted-setup/server.ts
Due: ironfish-cli, ironfish

Update export.ts
  ironfish-cli/src/commands/wallet/export.ts
Due: ironfish-cli, ironfish

more package/yarn repair
  package.json
  yarn.lock
Due: none

remove .yarn folder
  package.json
  yarn.lock
Due: none

staging's yarn.lock + bech32
  yarn.lock
Due: none

fix post buffer read
  ironfish-cli/src/commands/wallet/post.ts
Due: ironfish-cli, ironfish

remove all account version stuff
  ironfish/src/rpc/routes/wallet/exportAccount.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.ts
  ironfish/src/wallet/walletdb/accountValue.test.ts
  ironfish/src/wallet/walletdb/accountValue.ts
Due: ironfish

Update message
  ironfish-cli/src/commands/wallet/send.ts
Due: ironfish-cli, ironfish

Replace hardcode values (#2890)
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/spends.rs
  ironfish-rust/src/transaction/tests.rs
  ironfish/src/primitives/rawTransaction.ts
  ironfish/src/primitives/transaction.ts
Due: ironfish-rust, ironfish

switch flag
  ironfish-cli/src/commands/service/ceremony.ts
Due: ironfish-cli, ironfish

feat: minor updates to import command
  ironfish-cli/src/commands/wallet/export.ts
  ironfish-cli/src/commands/wallet/import.ts
  ironfish-cli/src/utils/language.ts
  package.json
  yarn.lock
Due: ironfish-cli, ironfish

Conditionally show msg
  ironfish-cli/src/commands/wallet/send.ts
Due: ironfish-cli, ironfish

Fix IP flag on trusted setup server (#3274)
  ironfish-cli/src/commands/service/ceremony.ts
Due: ironfish-cli, ironfish

Add raw tx flag to wallet:send (#3272)
  ironfish-cli/src/commands/wallet/send.ts
Due: ironfish-cli, ironfish

Offline post (#3271)
  ironfish-cli/src/commands/wallet/post.ts
  ironfish/src/primitives/transaction.test.slow.ts
  ironfish/src/rpc/routes/wallet/__fixtures__/postTransaction.test.ts.fixture
  ironfish/src/rpc/routes/wallet/createTransaction.test.slow.ts
  ironfish/src/rpc/routes/wallet/mintAsset.test.ts
  ironfish/src/rpc/routes/wallet/postTransaction.test.ts
  ironfish/src/rpc/routes/wallet/postTransaction.ts
  ironfish/src/testUtilities/fixtures/blocks.ts
  ironfish/src/wallet/wallet.test.slow.ts
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish-cli, ironfish

Change to return raw tx
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

Refactor mint flow
  ironfish-cli/src/commands/wallet/mint.ts
  ironfish/src/rpc/routes/wallet/mintAsset.test.ts
  ironfish/src/rpc/routes/wallet/mintAsset.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish-cli, ironfish

groups notes by transaction in getNotes RPC
  ironfish/src/rpc/routes/wallet/getNotes.ts
Due: ironfish

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish-cli: any of: ironfish-cli, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish: any of: ironfish, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
