Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

Update test
  ironfish/src/merkletree/merkletree.test.ts
  yarn.lock
Due: ironfish

remove peers of peers logic
  ironfish/src/network/peerNetwork.ts
Due: ironfish

Timeout idle connections when downloading snapshot
  ironfish-cli/src/commands/chain/download.ts
Due: ironfish-cli, ironfish

Add total memory and OS CPU core count to startup telemetry (#1918)
  ironfish/src/metrics/metricsMonitor.ts
  ironfish/src/telemetry/telemetry.ts
Due: ironfish

Add RSS to telemetry payload (#1917) (#1952)
  ironfish/src/telemetry/telemetry.ts
Due: ironfish

remove 0 metrics from telmetry
  ironfish/src/telemetry/telemetry.ts
Due: ironfish

Fix lint errors
  ironfish-cli/src/commands/debug.ts
Due: ironfish-cli, ironfish

Timeout idle connections when downloading snapshot (#1951)
  ironfish-cli/src/commands/chain/download.ts
Due: ironfish-cli, ironfish

Fix lint errors
  ironfish/src/account/accounts.ts
Due: ironfish

refactor tests
  ironfish/src/network/transactionFetcher.test.ts
Due: ironfish

more refactors
  ironfish/src/network/transactionFetcher.test.ts
Due: ironfish

bump versions for release version 0.1.42
  ironfish-cli/package.json
  ironfish-rust-nodejs/npm/darwin-arm64/package.json
  ironfish-rust-nodejs/npm/darwin-x64/package.json
  ironfish-rust-nodejs/npm/linux-arm64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-arm64-musl/package.json
  ironfish-rust-nodejs/npm/linux-x64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-x64-musl/package.json
  ironfish-rust-nodejs/npm/win32-x64-msvc/package.json
  ironfish-rust-nodejs/package.json
  ironfish/package.json
Due: ironfish-rust, ironfish-cli, ironfish

bump versions for release version 0.1.42 (#1957)
  ironfish-cli/package.json
  ironfish-rust-nodejs/npm/darwin-arm64/package.json
  ironfish-rust-nodejs/npm/darwin-x64/package.json
  ironfish-rust-nodejs/npm/linux-arm64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-arm64-musl/package.json
  ironfish-rust-nodejs/npm/linux-x64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-x64-musl/package.json
  ironfish-rust-nodejs/npm/win32-x64-msvc/package.json
  ironfish-rust-nodejs/package.json
  ironfish/package.json
Due: ironfish-rust, ironfish-cli, ironfish

Revert "Fix a bug where tests were timing out"
  config/jest.config.base.js
Due: none

add list of txs to NewTransactionV2 message
  ironfish/src/network/messages/newTransactionV2.test.ts
  ironfish/src/network/messages/newTransactionV2.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/transactionFetcher.test.ts
Due: ironfish

remove it.only
  ironfish/src/network/transactionFetcher.test.ts
Due: ironfish

store peerIdentity in transaction fetcher instead of peers
  ironfish/src/network/transactionFetcher.ts
Due: ironfish

update peersToSendTo
  ironfish/src/network/peerNetwork.ts
Due: ironfish

refactor onNewTransaction
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/peerNetwork.ts
Due: ironfish

refactor isUpgraded (review comments)
  ironfish/src/network/peerNetwork.ts
Due: ironfish

fix linting
  ironfish/src/network/peerNetwork.test.ts
Due: ironfish

handles 'close' event instead of 'end' event
  ironfish-cli/src/commands/chain/download.ts
Due: ironfish-cli, ironfish

handles 'close' event instead of 'end' event (#1959)
  ironfish-cli/src/commands/chain/download.ts
Due: ironfish-cli, ironfish

bumps the CLI version to 0.1.43
  ironfish-cli/package.json
Due: ironfish-cli, ironfish

bumps the CLI version to 0.1.43 (#1962)
  ironfish-cli/package.json
Due: ironfish-cli, ironfish

Dont snapshot resolve after reject
  ironfish-cli/src/commands/chain/download.ts
Due: ironfish-cli, ironfish

Dont snapshot resolve after reject (#1964)
  ironfish-cli/src/commands/chain/download.ts
Due: ironfish-cli, ironfish

Remove last few tweetnacl references
  ironfish-cli/package.json
  ironfish/src/sdk.ts
Due: ironfish-cli, ironfish

Add hex for decoding hex secret keys
  ironfish-rust-nodejs/Cargo.lock
  ironfish-rust-nodejs/src/nacl.rs
  ironfish-rust/Cargo.lock
  ironfish-rust/Cargo.toml
  ironfish-rust/src/lib.rs
Due: ironfish-rust, ironfish

Add tweetnacl compatibility tests
  ironfish/src/tests/tweetnaclCompat.test.ts
Due: ironfish

Move tweetnacl to devDependencies
  ironfish/package.json
Due: ironfish

Remove unused highlight.js resolution
  ironfish/package.json
Due: ironfish

Change StringError to a less hacky, more expected error type
  ironfish-rust/src/errors.rs
  ironfish-rust/src/nacl.rs
Due: ironfish-rust, ironfish

rust-nodejs version is referencing the wrong version
  ironfish/package.json
Due: ironfish

Remove unused set-getter resolution
  package.json
Due: none

Resolve yarn.lock differences
  yarn.lock
Due: none

Temp commit to fix rust-nodejs version
  ironfish/package.json
  yarn.lock
Due: ironfish

Add license headers
  ironfish-rust-nodejs/src/nacl.rs
  ironfish-rust/src/nacl.rs
Due: ironfish-rust, ironfish

Add accountHead status
  ironfish-cli/src/commands/accounts/status.ts
  ironfish-cli/src/commands/status.ts
  ironfish/src/account/accounts.ts
  ironfish/src/rpc/routes/accounts/getStatus.ts
Due: ironfish-cli, ironfish

Rollback NAPI version
  ironfish-rust-nodejs/Cargo.lock
  ironfish-rust-nodejs/Cargo.toml
  ironfish-rust-nodejs/index.d.ts
Due: none

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish-cli: any of: ironfish-cli, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish: any of: ironfish, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
