Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

Add error case in migration for nullifierToNote (#2073)
  ironfish/src/migrations/data/013-wallet-2.ts
Due: ironfish

Clean up some terminal cases for invalid or orphan blocks
  ironfish/src/network/peerNetwork.ts
Due: ironfish

Display stack when CLI crashes
  ironfish-cli/src/command.ts
Due: ironfish-cli, ironfish

Display stack when CLI crashes (#2085)
  ironfish-cli/src/command.ts
Due: ironfish-cli, ironfish

Enable source maps in dev and prod
  ironfish-cli/bin/ironfish
  ironfish-cli/package.json
Due: ironfish-cli, ironfish

more eliminating regression
  ironfish-cli/src/commands/accounts/pay.ts
Due: ironfish-cli, ironfish

More mint asset
  ironfish-rust/src/primitives/asset_type.rs
  ironfish-rust/src/proofs/circuit/create_asset.rs
  ironfish-rust/src/proofs/circuit/mint_asset.rs
Due: ironfish-rust, ironfish

Process blocks while syncing
  ironfish/src/network/blockFetcher.test.ts
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/peerNetwork.ts
Due: ironfish

Enable source maps in dev and prod (#2084)
  ironfish-cli/bin/ironfish
  ironfish-cli/package.json
Due: ironfish-cli, ironfish

fixed transaction indices
  ironfish/src/network/__fixtures__/blockFetcher.test.ts.fixture
  ironfish/src/network/blockFetcher.test.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/testUtilities/fixtures.ts
Due: ironfish

add POSIX standard new line to package.json files
  ironfish-rust-nodejs/npm/darwin-arm64/package.json
  ironfish-rust-nodejs/npm/darwin-x64/package.json
  ironfish-rust-nodejs/npm/linux-arm64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-arm64-musl/package.json
  ironfish-rust-nodejs/npm/linux-x64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-x64-musl/package.json
  ironfish-rust-nodejs/npm/win32-x64-msvc/package.json
  ironfish/package.json
  tools/version-bump.js
Due: ironfish-rust, ironfish

Add newline for version-bump
  tools/version-bump.js
Due: none

pass tests, except the API one
  ironfish-cli/src/commands/accounts/pay.test.ts
  ironfish-cli/src/commands/accounts/pay.ts
Due: ironfish-cli, ironfish

update fixtures
  ironfish/src/network/__fixtures__/blockFetcher.test.ts.fixture
Due: ironfish

update test fixtures
  ironfish/src/network/__fixtures__/blockFetcher.test.ts.fixture
  ironfish/src/network/blockFetcher.test.ts
Due: ironfish

linting fixes
  ironfish-cli/src/commands/accounts/pay.test.ts
  ironfish-cli/src/commands/accounts/pay.ts
Due: ironfish-cli, ironfish

adding back test
  ironfish-cli/src/commands/accounts/pay.test.ts
Due: ironfish-cli, ironfish

add TODOs
  ironfish-cli/src/commands/accounts/pay.test.ts
  ironfish-cli/src/commands/accounts/pay.ts
Due: ironfish-cli, ironfish

list commands to root
  ironfish-cli/src/commands/accounts/index.test.ts
  ironfish-cli/src/commands/accounts/index.ts
  ironfish-cli/src/commands/peers/index.ts
Due: ironfish-cli, ironfish

Throw sendTransaction error in deposit-all
  ironfish-cli/src/commands/deposit-all.ts
Due: ironfish-cli, ironfish

Update tools/version-bump.js
  tools/version-bump.js
Due: none

Create transactions inside of fixture generation
  ironfish/src/network/__fixtures__/blockFetcher.test.ts.fixture
  ironfish/src/network/blockFetcher.test.ts
  ironfish/src/testUtilities/fixtures.ts
Due: ironfish

Regenerate verifier fixture
  ironfish/src/consensus/__fixtures__/verifier.test.ts.fixture
Due: ironfish

Remove comment
  ironfish/src/blockchain/blockchain.ts
Due: ironfish

Fix blru typedef
  ironfish/src/typedefs/blru.ts
Due: ironfish

Remove toThrowErrorInstance
  ironfish/src/storage/database.test.ts
  ironfish/src/testUtilities/matchers/error.ts
  ironfish/src/testUtilities/matchers/index.ts
  ironfish/src/testUtilities/nodeTest.ts
  ironfish/src/workerPool/pool.test.ts
Due: ironfish

Throw sendTransaction error in deposit-all (#2099)
  ironfish-cli/src/commands/deposit-all.ts
Due: ironfish-cli, ironfish

retries 'rm' on chain database to address EBUSY errors
  ironfish-cli/src/commands/chain/download.ts
Due: ironfish-cli, ironfish

deposit-all should not crash if balance changes
  ironfish-cli/src/commands/deposit-all.ts
Due: ironfish-cli, ironfish

Remove toThrowErrorInstance (#2100)
  ironfish/src/storage/database.test.ts
  ironfish/src/testUtilities/matchers/error.ts
  ironfish/src/testUtilities/matchers/index.ts
  ironfish/src/testUtilities/nodeTest.ts
  ironfish/src/workerPool/pool.test.ts
Due: ironfish

retries 'rm' on chain database to address EBUSY errors (#2070)
  ironfish-cli/src/commands/chain/download.ts
Due: ironfish-cli, ironfish

refactor deposit to use pay
  ironfish-cli/src/commands/accounts/pay.test.ts
  ironfish-cli/src/commands/accounts/pay.ts
  ironfish-cli/src/commands/deposit.ts
Due: ironfish-cli, ironfish

factor out getFee
  ironfish-cli/src/commands/accounts/pay.ts
  ironfish-cli/src/commands/deposit.ts
Due: ironfish-cli, ironfish

Add public address comparison
  ironfish-rust/src/proofs/circuit/mint_asset.rs
Due: ironfish-rust, ironfish

add in dynamic fees
  ironfish-cli/src/commands/accounts/pay.test.ts
  ironfish-cli/src/commands/accounts/pay.ts
  ironfish-cli/src/commands/deposit.ts
Due: ironfish-cli, ironfish

add a todo
  ironfish-cli/src/commands/accounts/pay.ts
Due: ironfish-cli, ironfish

Add missing continue, opps
  ironfish-cli/src/commands/deposit-all.ts
Due: ironfish-cli, ironfish

deposit-all should not exit if balance changes (#2103)
  ironfish-cli/src/commands/deposit-all.ts
Due: ironfish-cli, ironfish

Drop blocks if we're actively syncing but not yet synced
  ironfish/src/network/peerNetwork.ts
Due: ironfish

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish-cli: any of: ironfish-cli, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish: any of: ironfish, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
