Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish

codecov.yml:

ignore:
  - config/*
  - ironfish-rust-nodejs/*
comment: false
github_checks:
  annotations: false
coverage:
  fixes:
    - "/home/runner/work/ironfish/ironfish/::/"
  status:
    patch:
      default:
        target: 10%
        threshold: 0%
    project:
      default:
        target: 10%
      ironfish-rust:
        target: 10%
        flags:
          - ironfish-rust
      ironfish-cli:
        target: 10%
        flags:
          - ironfish-cli
      ironfish:
        target: 10%
        flags:
          - ironfish
flags:
  ironfish-rust:
    paths:
      - ironfish-rust
    carryforward: true
  ironfish:
    paths:
      - ironfish
    carryforward: true

Commit beacon randomness (#3616)
  ironfish-mpc/README.md
Due: ironfish

feat(cli,ironfish): Offer name change on duplicate name during import
  ironfish-cli/src/commands/wallet/import.ts
  ironfish/src/rpc/routes/wallet/importAccount.ts
Due: ironfish

fix(ironfish): Check for duplicate account in CLI
  ironfish-cli/src/commands/wallet/import.ts
  ironfish/src/rpc/routes/wallet/importAccount.ts
Due: ironfish

format rust
  ironfish-mpc/src/bin/beacon.rs
Due: ironfish

Update testnet genesis block to use new parameters
  ironfish/src/defaultNetworkDefinitions.ts
Due: ironfish

Remove GetBlockHashes message
  ironfish/src/network/messageRegistry.ts
  ironfish/src/network/messages/getBlockHashes.test.ts
  ironfish/src/network/messages/getBlockHashes.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/types.ts
  ironfish/src/syncer.ts
Due: ironfish

feat: Don't send outbound messages that exceed the max size (#3590)
  ironfish/src/assert.ts
  ironfish/src/network/peers/connections/connection.test.ts
  ironfish/src/network/peers/connections/connection.ts
  ironfish/src/network/peers/connections/webRtcConnection.test.ts
  ironfish/src/network/peers/connections/webRtcConnection.ts
  ironfish/src/network/peers/connections/webSocketConnection.ts
Due: ironfish

feat: remove hard block limit for GetBlocksResponse (#3589)
  ironfish/src/fileStores/config.ts
  ironfish/src/network/__fixtures__/peerNetwork.test.ts.fixture
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/version.ts
Due: ironfish

Remove check for FEATURES min version
  ironfish/src/network/messages/identify.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/peers/peerFeatures.ts
Due: ironfish

feat: smaller max message size and soft message size limit (#3583)
  ironfish/src/network/__fixtures__/peerNetwork.test.ts.fixture
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/testUtilities/helpers.ts
  ironfish/src/network/version.ts
  ironfish/src/syncer.test.ts
  ironfish/src/syncer.ts
Due: ironfish

feat: set block size to 512kb (#3611)
  ironfish/src/defaultNetworkDefinitions.ts
  ironfish/src/memPool/feeEstimator.test.ts
  ironfish/src/memPool/feeEstimator.ts
  ironfish/src/node.ts
  ironfish/src/strategy.test.slow.ts
  ironfish/src/strategy.test.ts
Due: ironfish

Renumber network messages (#3612)
  ironfish/src/network/types.ts
Due: ironfish

Update bootstrap nodes and testnet minFee
  ironfish/src/defaultNetworkDefinitions.ts
Due: ironfish

update test fixtures
  ironfish/src/network/__fixtures__/peerNetwork.test.ts.fixture
Due: ironfish

feat(cli,ironfish): Offer name change on duplicate name during import (#3619)
  ironfish-cli/src/commands/wallet/import.ts
Due: ironfish

Bump to 0.1.71
  ironfish-cli/package.json
  ironfish-rust-nodejs/npm/darwin-arm64/package.json
  ironfish-rust-nodejs/npm/darwin-x64/package.json
  ironfish-rust-nodejs/npm/linux-arm64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-arm64-musl/package.json
  ironfish-rust-nodejs/npm/linux-x64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-x64-musl/package.json
  ironfish-rust-nodejs/npm/win32-x64-msvc/package.json
  ironfish-rust-nodejs/package.json
  ironfish/package.json
Due: ironfish-rust, ironfish

add badge
  README.md
Due: none

change to tues morning
  .github/workflows/ci-regenerate-fixtures.yml
Due: none

use flat
  tools/delete-fixtures.js
Due: none

move badge
  README.md
Due: none

update name for badge
  .github/workflows/ci-regenerate-fixtures.yml
Due: none

Get network info RPC
  ironfish/src/rpc/routes/chain/getNetworkInfo.test.ts
  ironfish/src/rpc/routes/chain/getNetworkInfo.ts
  ironfish/src/rpc/routes/chain/index.ts
Due: ironfish

Add cron job for testing regenerate fixtures (#3614)
  .github/workflows/ci-regenerate-fixtures.yml
  README.md
  tools/delete-fixtures.js
  tools/reset-network-fixtures.sh
  tools/reset-network-genesis.sh
Due: none

Bump to 0.1.71 (#3621)
  ironfish-cli/package.json
  ironfish-rust-nodejs/npm/darwin-arm64/package.json
  ironfish-rust-nodejs/npm/darwin-x64/package.json
  ironfish-rust-nodejs/npm/linux-arm64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-arm64-musl/package.json
  ironfish-rust-nodejs/npm/linux-x64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-x64-musl/package.json
  ironfish-rust-nodejs/npm/win32-x64-msvc/package.json
  ironfish-rust-nodejs/package.json
  ironfish/package.json
Due: ironfish-rust, ironfish

Just return network id
  ironfish/src/rpc/routes/chain/getNetworkInfo.test.ts
  ironfish/src/rpc/routes/chain/getNetworkInfo.ts
Due: ironfish

Replace bigint casting with bigint literal
  ironfish-rust-nodejs/tests/demo.test.slow.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/primitives/target.ts
  ironfish/src/strategy.test.slow.ts
  ironfish/src/syncer.test.ts
  ironfish/src/testUtilities/helpers/blockchain.ts
  ironfish/src/utils/bigint.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.ts
  ironfish/src/wallet/walletdb/walletdb.ts
  ironfish/src/workerPool/tasks/decryptNotes.ts
Due: ironfish-rust, ironfish
