Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

codecov.yml:

ignore:
  - config/*
  - ironfish-rust-nodejs/*
  - ironfish-rust-wasm/*
comment: false
github_checks:
  annotations: false
coverage:
  fixes:
    - "/home/runner/work/ironfish/ironfish/::/"
  status:
    patch:
      default:
        target: auto
        threshold: 0%
    project:
      default:
        target: 10%
      ironfish-rust:
        target: 10%
        flags:
          - ironfish-rust
      ironfish-cli:
        target: 10%
        flags:
          - ironfish-cli
      ironfish:
        target: 10%
        flags:
          - ironfish
flags:
  ironfish-rust:
    paths:
      - ironfish-rust
    carryforward: true
  ironfish-cli:
    paths:
      - ironfish-cli
    carryforward: true
  ironfish:
    paths:
      - ironfish
    carryforward: true

Fix up test
  ironfish/src/network/peerNetwork.test.ts
Due: ironfish

Fix lint
  ironfish/src/network/peerNetwork.test.ts
Due: ironfish

Introduce value by asset type on transaction
  ironfish-rust/src/primitives/asset_type.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/transfer.rs
Due: ironfish-rust, ironfish

Fix failing test
  ironfish-rust/src/proofs/circuit/mint_asset.rs
Due: ironfish-rust, ironfish

Add multi-asset value logic to existing Transaction (#2273)
  ironfish-rust/src/note.rs
  ironfish-rust/src/primitives/asset_type.rs
  ironfish-rust/src/proofs/circuit/mint_asset.rs
  ironfish-rust/src/spending.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/transfer.rs
Due: ironfish-rust, ironfish

Fix improperly serialized disconnect message (#2266)
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/peerNetwork.ts
Due: ironfish

Stream output for accounts:notes (#2246)
  ironfish-cli/src/commands/accounts/notes.ts
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/accounts/getNotes.ts
Due: ironfish-cli, ironfish

add input parse to use.ts
  ironfish-cli/src/commands/accounts/use.ts
Due: ironfish-cli, ironfish

standardize account flags
  ironfish-cli/src/commands/accounts/create.ts
  ironfish-cli/src/commands/accounts/remove.ts
  ironfish-cli/src/commands/accounts/use.ts
Due: ironfish-cli, ironfish

Remove extra trim
  ironfish-cli/src/commands/accounts/remove.ts
  ironfish-cli/src/commands/accounts/use.ts
Due: ironfish-cli, ironfish

adds method to get transaction by unsignedHash
  ironfish/src/rpc/routes/accounts/getTransaction.ts
  ironfish/src/rpc/routes/accounts/getTransactions.ts
  ironfish/src/wallet/account.ts
Due: ironfish

Fix account flag (#2268)
  ironfish-cli/src/commands/accounts/create.ts
  ironfish-cli/src/commands/accounts/remove.ts
  ironfish-cli/src/commands/accounts/use.ts
Due: ironfish-cli, ironfish

adds method to get transaction by unsignedHash (#2274)
  ironfish/src/rpc/routes/accounts/getTransaction.ts
  ironfish/src/rpc/routes/accounts/getTransactions.ts
  ironfish/src/wallet/account.ts
Due: ironfish

Remove account from GetAccountNotesStreamResponse and GetAccountTransactionsStreamResponse and remove account name header in accounts:notes and accounts:transactions
  ironfish-cli/src/commands/accounts/notes.ts
  ironfish-cli/src/commands/accounts/transactions.ts
  ironfish/src/rpc/routes/accounts/getNotes.ts
  ironfish/src/rpc/routes/accounts/getTransactions.ts
Due: ironfish-cli, ironfish

Update tests
  ironfish/src/primitives/transaction.test.slow.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

Remove account from GetAccountNotesStreamResponse and GetAccountTransactionsStreamResponse and remove account name header in accounts:notes and accounts:transactions (#2276)
  ironfish-cli/src/commands/accounts/notes.ts
  ironfish-cli/src/commands/accounts/transactions.ts
  ironfish/src/rpc/routes/accounts/getNotes.ts
  ironfish/src/rpc/routes/accounts/getTransactions.ts
Due: ironfish-cli, ironfish

Pass in header ts in fixture
  ironfish/src/blockchain/blockchain.test.perf.ts
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/indexers/minedBlocksIndexer.test.ts
  ironfish/src/mining/manager.test.slow.ts
  ironfish/src/mining/manager.test.ts
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/primitives/__fixtures__/transaction.test.slow.ts.fixture
  ironfish/src/primitives/transaction.test.slow.ts
  ironfish/src/rpc/routes/mining/blockTemplateStream.test.slow.ts
  ironfish/src/testUtilities/fixtures.ts
  ironfish/src/wallet/account.test.ts
  ironfish/src/wallet/accounts.test.slow.ts
  ironfish/src/wallet/accounts.test.ts
Due: ironfish

Update accounts slow test
  ironfish/src/wallet/accounts.test.slow.ts
Due: ironfish

Address comments
  ironfish/src/primitives/transaction.test.slow.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

Use ResponseError and don't make manual responses
  ironfish/src/rpc/adapters/socketAdapter/socketAdapter.ts
  ironfish/src/rpc/server.ts
Due: ironfish

Fix lint
  ironfish/src/rpc/adapters/socketAdapter/socketAdapter.ts
Due: ironfish

Use ResponseError and don't make manual responses (#2269)
  ironfish/src/rpc/adapters/socketAdapter/socketAdapter.ts
  ironfish/src/rpc/server.ts
Due: ironfish

Set Error.name on all Error subclass
  ironfish-cli/src/utils/s3.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/mining/stratum/errors.ts
  ironfish/src/network/peers/connections/errors.ts
  ironfish/src/rpc/adapters/errors.ts
  ironfish/src/rpc/clients/errors.ts
  ironfish/src/storage/database/encoding.ts
  ironfish/src/storage/database/errors.ts
  ironfish/src/syncer.ts
  ironfish/src/utils/json.ts
  ironfish/src/wallet/errors.ts
  ironfish/src/workerPool/tasks/jobAbort.ts
  ironfish/src/workerPool/tasks/jobError.ts
Due: ironfish-cli, ironfish

Fix lint
  ironfish/src/wallet/errors.ts
Due: ironfish

Set Error.name on all Error subclass (#2279)
  ironfish-cli/src/utils/s3.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/mining/stratum/errors.ts
  ironfish/src/network/peers/connections/errors.ts
  ironfish/src/rpc/adapters/errors.ts
  ironfish/src/rpc/clients/errors.ts
  ironfish/src/storage/database/encoding.ts
  ironfish/src/storage/database/errors.ts
  ironfish/src/syncer.ts
  ironfish/src/utils/json.ts
  ironfish/src/wallet/errors.ts
  ironfish/src/workerPool/tasks/jobAbort.ts
  ironfish/src/workerPool/tasks/jobError.ts
Due: ironfish-cli, ironfish

Stop RPC when request is closed
  ironfish/src/rpc/routes/accounts/getNotes.ts
  ironfish/src/rpc/routes/accounts/getTransactions.ts
  ironfish/src/rpc/routes/mining/exportMined.ts
Due: ironfish

Add empty line after if statements
  ironfish/src/rpc/routes/accounts/getNotes.ts
  ironfish/src/rpc/routes/accounts/getTransactions.ts
  ironfish/src/rpc/routes/mining/exportMined.ts
Due: ironfish

Stop streaming when the connection is closed (#2281)
  ironfish/src/rpc/routes/accounts/getNotes.ts
  ironfish/src/rpc/routes/accounts/getTransactions.ts
  ironfish/src/rpc/routes/mining/exportMined.ts
Due: ironfish

fix(rust): Reset genesis to fix transaction verification unit test
  ironfish-rust/src/merkle_note.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish/src/genesis/genesisBlock.ts
  ironfish/src/primitives/transaction.ts
  ironfish/src/workerPool/tasks/__fixtures__/verifyTransaction.test.ts.fixture
Due: ironfish-rust, ironfish

fix(rust): Reset genesis to fix transaction verification unit test (#2282)
  ironfish-rust/src/merkle_note.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish/src/genesis/genesisBlock.ts
  ironfish/src/primitives/transaction.ts
  ironfish/src/workerPool/tasks/__fixtures__/verifyTransaction.test.ts.fixture
Due: ironfish-rust, ironfish

Fixture updates for main repo
  ironfish/src/account/__fixtures__/accounts.test.slow.ts.fixture
  ironfish/src/account/__fixtures__/accounts.test.ts.fixture
  ironfish/src/blockchain/__fixtures__/blockchain.test.perf.ts.fixture
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/consensus/__fixtures__/verifier.test.ts.fixture
  ironfish/src/indexers/__fixtures__/minedBlocksIndexer.test.ts.fixture
  ironfish/src/memPool/__fixtures__/memPool.test.ts.fixture
  ironfish/src/mining/__fixtures__/manager.test.slow.ts.fixture
  ironfish/src/mining/__fixtures__/manager.test.ts.fixture
  ironfish/src/network/__fixtures__/peerNetwork.test.ts.fixture
  ironfish/src/primitives/__fixtures__/block.test.ts.fixture
  ironfish/src/primitives/__fixtures__/transaction.test.slow.ts.fixture
  ironfish/src/rpc/routes/chain/__fixtures__/getBlock.test.ts.fixture
  ironfish/src/rpc/routes/mining/__fixtures__/blockTemplateStream.test.slow.ts.fixture
  ironfish/src/rpc/routes/transactions/__fixtures__/sendTransaction.test.ts.fixture
  ironfish/src/workerPool/tasks/__fixtures__/createMinersFee.test.ts.fixture
  ironfish/src/workerPool/tasks/__fixtures__/createTransaction.test.slow.ts.fixture
  ironfish/src/workerPool/tasks/__fixtures__/decryptNotes.test.ts.fixture
  ironfish/src/workerPool/tasks/__fixtures__/getUnspentNotes.test.ts.fixture
  ironfish/src/workerPool/tasks/__fixtures__/verifyTransaction.test.ts.fixture
  tools/reset-network-fixtures.sh
Due: ironfish

Add slow and perf fixtures
  ironfish/src/account/__fixtures__/accounts.test.slow.ts.fixture
  ironfish/src/blockchain/__fixtures__/blockchain.test.perf.ts.fixture
  ironfish/src/mining/__fixtures__/manager.test.slow.ts.fixture
  ironfish/src/primitives/__fixtures__/transaction.test.slow.ts.fixture
  ironfish/src/rpc/routes/mining/__fixtures__/blockTemplateStream.test.slow.ts.fixture
  ironfish/src/workerPool/tasks/__fixtures__/createTransaction.test.slow.ts.fixture
Due: ironfish

Uncomment fixtures tool
  tools/reset-network-fixtures.sh
Due: none

Rename accounts tests to wallet tests
  ironfish/src/wallet/__fixtures__/wallet.test.slow.ts.fixture
  ironfish/src/wallet/__fixtures__/wallet.test.ts.fixture
  ironfish/src/wallet/wallet.test.slow.ts
  ironfish/src/wallet/wallet.test.ts
Due: ironfish

Rename accounts tests to wallet tests (#2284)
  ironfish/src/wallet/__fixtures__/wallet.test.slow.ts.fixture
  ironfish/src/wallet/__fixtures__/wallet.test.ts.fixture
  ironfish/src/wallet/wallet.test.slow.ts
  ironfish/src/wallet/wallet.test.ts
Due: ironfish

Rename AccountsDB -> WalletDB
  ironfish-cli/src/commands/debug.ts
  ironfish/src/migrations/data/011-accounts.ts
  ironfish/src/migrations/data/013-wallet-2.ts
  ironfish/src/node.ts
  ironfish/src/wallet/account.test.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish-cli, ironfish

Rename AccountDB folders
  ironfish/src/rpc/routes/accounts/getTransactions.ts
  ironfish/src/rpc/routes/accounts/types.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/index.ts
  ironfish/src/wallet/validator.ts
  ironfish/src/wallet/walletdb/__fixtures__/decryptedNoteValue.test.ts.fixture
  ironfish/src/wallet/walletdb/__fixtures__/transactionValue.test.ts.fixture
  ironfish/src/wallet/walletdb/accountValue.test.ts
  ironfish/src/wallet/walletdb/accountValue.ts
  ironfish/src/wallet/walletdb/decryptedNoteValue.test.ts
  ironfish/src/wallet/walletdb/decryptedNoteValue.ts
  ironfish/src/wallet/walletdb/metaValue.test.ts
  ironfish/src/wallet/walletdb/metaValue.ts
  ironfish/src/wallet/walletdb/transactionValue.test.ts
  ironfish/src/wallet/walletdb/transactionValue.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish

Rename AccountsDB -> WalletDB (#2285)
  ironfish-cli/src/commands/debug.ts
  ironfish/src/migrations/data/011-accounts.ts
  ironfish/src/migrations/data/013-wallet-2.ts
  ironfish/src/node.ts
  ironfish/src/rpc/routes/accounts/getTransactions.ts
  ironfish/src/rpc/routes/accounts/types.ts
  ironfish/src/wallet/account.test.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/index.ts
  ironfish/src/wallet/validator.ts
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
  ironfish/src/wallet/walletdb/__fixtures__/decryptedNoteValue.test.ts.fixture
  ironfish/src/wallet/walletdb/__fixtures__/transactionValue.test.ts.fixture
  ironfish/src/wallet/walletdb/accountValue.test.ts
  ironfish/src/wallet/walletdb/accountValue.ts
  ironfish/src/wallet/walletdb/decryptedNoteValue.test.ts
  ironfish/src/wallet/walletdb/decryptedNoteValue.ts
  ironfish/src/wallet/walletdb/metaValue.test.ts
  ironfish/src/wallet/walletdb/metaValue.ts
  ironfish/src/wallet/walletdb/transactionValue.test.ts
  ironfish/src/wallet/walletdb/transactionValue.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish-cli, ironfish
