Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

codecov.yml:

ignore:
  - config/*
  - ironfish-rust-nodejs/*
  - ironfish-rust-wasm/*
comment: false
github_checks:
  annotations: false
coverage:
  fixes:
    - "/home/runner/work/ironfish/ironfish/::/"
  status:
    patch:
      default:
        target: auto
        threshold: 50%
    project:
      default:
        target: 63%
      ironfish-rust:
        target: 53%
        flags:
          - ironfish-rust
      ironfish-cli:
        target: 50%
        flags:
          - ironfish-cli
      ironfish:
        target: 60%
        flags:
          - ironfish
      event:
        target: 84%
        flags:
          - event
      logger:
        target: 90%
        flags:
          - logger
      serde:
        target: 90%
        flags:
          - serde
flags:
  ironfish-rust:
    paths:
      - ironfish-rust
    carryforward: true
  ironfish-cli:
    paths:
      - ironfish-cli
    carryforward: true
  ironfish:
    paths:
      - ironfish
    carryforward: true

Use configured port for pool
  ironfish-cli/src/commands/miners/start.ts
  ironfish/src/mining/pool.ts
  ironfish/src/mining/stratum/stratumServer.ts
Due: ironfish-cli, ironfish

Give more decimal places for hashrate calculation
  ironfish/src/mining/pool.ts
Due: ironfish

Change default miner threadcount
  ironfish-cli/src/commands/miners/start.ts
Due: ironfish-cli, ironfish

Add hash rate to new work miner message
  ironfish/src/mining/poolMiner.ts
Due: ironfish

Move sqlite to main dependency
  ironfish/package.json
Due: ironfish

Move sqlite to main dependency (#1121)
  ironfish/package.json
Due: ironfish

Remove some unnecessary environment variables
  .github/workflows/deploy-npm-ironfish-cli.yml
  .github/workflows/deploy-npm-ironfish.yml
Due: none

Fix import
  ironfish-cli/src/commands/miners/pool/start.ts
Due: ironfish-cli, ironfish

Upgrade napi-rs and remove NoteBuilder
  ironfish-rust-nodejs/Cargo.lock
  ironfish-rust-nodejs/Cargo.toml
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/structs/note.rs
  ironfish/src/genesis/makeGenesisBlock.ts
  ironfish/src/primitives/note.ts
  ironfish/src/strategy.test.slow.ts
  ironfish/src/workerPool/tasks/createMinersFee.ts
  ironfish/src/workerPool/tasks/createTransaction.ts
Due: ironfish-rust, ironfish

Upgrade napi-rs and remove NoteBuilder (#1119)
  ironfish-rust-nodejs/Cargo.lock
  ironfish-rust-nodejs/Cargo.toml
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/structs/note.rs
  ironfish/src/genesis/makeGenesisBlock.ts
  ironfish/src/primitives/note.ts
  ironfish/src/strategy.test.slow.ts
  ironfish/src/workerPool/tasks/createMinersFee.ts
  ironfish/src/workerPool/tasks/createTransaction.ts
Due: ironfish-rust, ironfish

Add path accessibility verification
  ironfish-cli/src/commands/chain/export.ts
Due: ironfish-cli, ironfish

Recursively create path to export
  ironfish-cli/src/commands/chain/export.ts
Due: ironfish-cli, ironfish

Fix default path of chain:export command (#1035)
  ironfish-cli/src/commands/chain/export.ts
Due: ironfish-cli, ironfish

Fix node native slow test
  ironfish-rust-nodejs/tests/demo.test.slow.ts
Due: ironfish-rust, ironfish

Fix node native slow test (#1122)
  ironfish-rust-nodejs/tests/demo.test.slow.ts
Due: ironfish-rust, ironfish

feat(ironfish): Move create miners fee to buffer serialization
  ironfish/src/workerPool/messages.ts
  ironfish/src/workerPool/pool.ts
  ironfish/src/workerPool/tasks/__fixtures__/createMinersFee.test.ts.fixture
  ironfish/src/workerPool/tasks/createMinersFee.test.ts
  ironfish/src/workerPool/tasks/createMinersFee.ts
  ironfish/src/workerPool/tasks/handlers.ts
  ironfish/src/workerPool/tasks/index.ts
  ironfish/src/workerPool/tasks/workerMessage.ts
  ironfish/src/workerPool/worker.ts
Due: ironfish

Add a flag to skip payouts for the pool
  ironfish-cli/src/commands/miners/pool/start.ts
  ironfish/src/mining/pool.ts
  ironfish/src/mining/poolShares.ts
Due: ironfish-cli, ironfish

Update the window of time used by the hashrate calculation
  ironfish/src/fileStores/config.ts
Due: ironfish

Update the window of time used by the hashrate calculation (#1125)
  ironfish/src/fileStores/config.ts
Due: ironfish

Use oclif allowNo flag
  ironfish-cli/src/commands/miners/pool/start.ts
Due: ironfish-cli, ironfish

Add a flag to skip payouts for the pool (#1124)
  ironfish-cli/src/commands/miners/pool/start.ts
  ironfish/src/mining/pool.ts
  ironfish/src/mining/poolShares.ts
Due: ironfish-cli, ironfish

feat(ironfish): Move create miners fee to buffer serialization (#1123)
  ironfish/src/workerPool/messages.ts
  ironfish/src/workerPool/pool.ts
  ironfish/src/workerPool/tasks/__fixtures__/createMinersFee.test.ts.fixture
  ironfish/src/workerPool/tasks/createMinersFee.test.ts
  ironfish/src/workerPool/tasks/createMinersFee.ts
  ironfish/src/workerPool/tasks/handlers.ts
  ironfish/src/workerPool/tasks/index.ts
  ironfish/src/workerPool/tasks/workerMessage.ts
  ironfish/src/workerPool/worker.ts
Due: ironfish

Bump versions
  ironfish-cli/package.json
  ironfish-rust-nodejs/npm/darwin-arm64/package.json
  ironfish-rust-nodejs/npm/darwin-x64/package.json
  ironfish-rust-nodejs/npm/linux-arm64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-arm64-musl/package.json
  ironfish-rust-nodejs/npm/linux-x64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-x64-musl/package.json
  ironfish-rust-nodejs/npm/win32-x64-msvc/package.json
  ironfish-rust-nodejs/package.json
  ironfish/package.json
Due: ironfish-rust, ironfish-cli, ironfish

Add new lines to package.json files
  ironfish-rust-nodejs/npm/darwin-arm64/package.json
  ironfish-rust-nodejs/npm/darwin-x64/package.json
  ironfish-rust-nodejs/npm/linux-arm64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-arm64-musl/package.json
  ironfish-rust-nodejs/npm/linux-x64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-x64-musl/package.json
  ironfish-rust-nodejs/npm/win32-x64-msvc/package.json
Due: ironfish-rust, ironfish

Bump versions for NPM deploy (#1129)
  ironfish-cli/package.json
  ironfish-rust-nodejs/npm/darwin-arm64/package.json
  ironfish-rust-nodejs/npm/darwin-x64/package.json
  ironfish-rust-nodejs/npm/linux-arm64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-arm64-musl/package.json
  ironfish-rust-nodejs/npm/linux-x64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-x64-musl/package.json
  ironfish-rust-nodejs/npm/win32-x64-msvc/package.json
  ironfish-rust-nodejs/package.json
  ironfish/package.json
Due: ironfish-rust, ironfish-cli, ironfish

Add Python install to Dockerfile for dependency
  ironfish-cli/Dockerfile
Due: ironfish-cli, ironfish

Add Python install to Dockerfile for dependency (#1131)
  ironfish-cli/Dockerfile
Due: ironfish-cli, ironfish

Convert Sleep task to serialized form
  ironfish/src/rpc/routes/workers/getStatus.ts
  ironfish/src/typedefs/bufio.d.ts
  ironfish/src/workerPool/messages.ts
  ironfish/src/workerPool/pool.ts
  ironfish/src/workerPool/tasks/handlers.ts
  ironfish/src/workerPool/tasks/index.ts
  ironfish/src/workerPool/tasks/sleep.test.ts
  ironfish/src/workerPool/tasks/sleep.ts
  ironfish/src/workerPool/tasks/workerMessage.ts
  ironfish/src/workerPool/tasks/workerTask.ts
  ironfish/src/workerPool/worker.ts
Due: ironfish

WIP
  ironfish/src/workerPool/tasks/verifyTransaction.ts
Due: ironfish

feat(ironfish): Move transaction fee to new serializable interface
  ironfish/src/workerPool/messages.ts
  ironfish/src/workerPool/pool.ts
  ironfish/src/workerPool/tasks/__fixtures__/transactionFee.test.ts.fixture
  ironfish/src/workerPool/tasks/handlers.ts
  ironfish/src/workerPool/tasks/index.ts
  ironfish/src/workerPool/tasks/transactionFee.test.ts
  ironfish/src/workerPool/tasks/transactionFee.ts
  ironfish/src/workerPool/tasks/workerMessage.ts
  ironfish/src/workerPool/worker.ts
Due: ironfish

feat(ironfish): Move transaction verification to buffer serialization
  ironfish/src/consensus/verifier.ts
  ironfish/src/workerPool/tasks/verifyTransaction.ts
Due: ironfish

Fix test
  ironfish/src/consensus/verifier.ts
Due: ironfish

Change createTransaction task to use WorkerMessage and WorkerTask
  ironfish/src/workerPool/tasks/createTransaction.ts
  ironfish/src/workerPool/tasks/workerMessage.ts
Due: ironfish

Fix ironfish recursive package during docker build
  ironfish-cli/scripts/build.sh
Due: ironfish-cli, ironfish

Adjust pool handlers for createTransaction
  ironfish/src/workerPool/messages.ts
  ironfish/src/workerPool/pool.ts
  ironfish/src/workerPool/tasks/handlers.ts
  ironfish/src/workerPool/tasks/index.ts
  ironfish/src/workerPool/worker.ts
Due: ironfish

lint stuff
  ironfish/src/workerPool/pool.ts
  ironfish/src/workerPool/worker.ts
Due: ironfish

Add test; fix stuff for test
  ironfish/src/workerPool/tasks/__fixtures__/createTransaction.test.ts.fixture
  ironfish/src/workerPool/tasks/createTransaction.test.ts
  ironfish/src/workerPool/tasks/createTransaction.ts
Due: ironfish

Fix imports and remove NoteBuilder calls
  ironfish/src/workerPool/tasks/createTransaction.ts
  ironfish/src/workerPool/tasks/verifyTransaction.ts
Due: ironfish
