Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

codecov.yml:

ignore:
  - config/*
  - ironfish-rust-nodejs/*
  - ironfish-rust-wasm/*
comment: false
github_checks:
  annotations: false
coverage:
  fixes:
    - "/home/runner/work/ironfish/ironfish/::/"
  status:
    patch:
      default:
        target: auto
        threshold: 0%
    project:
      default:
        target: 10%
      ironfish-rust:
        target: 10%
        flags:
          - ironfish-rust
      ironfish-cli:
        target: 10%
        flags:
          - ironfish-cli
      ironfish:
        target: 10%
        flags:
          - ironfish
flags:
  ironfish-rust:
    paths:
      - ironfish-rust
    carryforward: true
  ironfish-cli:
    paths:
      - ironfish-cli
    carryforward: true
  ironfish:
    paths:
      - ironfish
    carryforward: true

Parallelize downloading and adding blocks (#2491)
  ironfish/src/network/peerNetwork.ts
  ironfish/src/syncer.test.ts
  ironfish/src/syncer.ts
Due: ironfish

Revert "iterates over pending transactions for rebroadcast (#2504)"
  ironfish/src/wallet/__fixtures__/account.test.ts.fixture
  ironfish/src/wallet/account.test.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish

reuses transaction size for different fee rates
  ironfish/src/memPool/feeEstimator.test.ts
  ironfish/src/memPool/feeEstimator.ts
  ironfish/src/rpc/routes/fees/estimateFee.ts
Due: ironfish

iterate over pending transactions for rebroadcast (#2513)
  ironfish/src/wallet/__fixtures__/account.test.ts.fixture
  ironfish/src/wallet/account.test.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish

removes unnecessary condition in getPendingTransactionFee
  ironfish/src/memPool/feeEstimator.ts
Due: ironfish

avoids logging unparsed buffers in error message
  ironfish/src/network/peers/connections/webSocketConnection.ts
Due: ironfish

parallelize block add and transaction verification
  ironfish/src/blockchain/blockchain.ts
Due: ironfish

Handle note status change during getBalance
  ironfish/src/wallet/account.ts
Due: ironfish

Rename variables in getBlockTransaction
  ironfish/src/network/messages/getBlockTransactions.ts
Due: ironfish

PR review changes
  config/eslint-config-ironfish/index.js
  ironfish/src/network/blockFetcher.test.ts
  ironfish/src/network/messages/__fixtures__/getBlockTransactions.test.ts.fixture
  ironfish/src/network/messages/__fixtures__/getBlocks.test.ts.fixture
  ironfish/src/network/messages/__fixtures__/getCompactBlock.test.ts.fixture
  ironfish/src/network/messages/__fixtures__/newBlockV2.test.ts.fixture
  ironfish/src/network/messages/__fixtures__/newTransactionV2.test.ts.fixture
  ironfish/src/network/messages/__fixtures__/pooledTransactions.test.ts.fixture
  ironfish/src/network/messages/getBlockTransactions.test.ts
  ironfish/src/network/messages/getBlocks.test.ts
  ironfish/src/network/messages/getCompactBlock.test.ts
  ironfish/src/network/messages/newBlockV2.test.ts
  ironfish/src/network/messages/newTransactionV2.test.ts
  ironfish/src/network/messages/pooledTransactions.test.ts
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/testUtilities/helpers.ts
  ironfish/src/network/utils/serializers.ts
  ironfish/src/wallet/walletdb/decryptedNoteValue.test.ts
  ironfish/src/wallet/walletdb/transactionValue.test.ts
Due: ironfish

Clean up tests and use Block equals
  ironfish/src/network/messages/getBlockTransactions.test.ts
  ironfish/src/network/messages/getBlocks.test.ts
  ironfish/src/network/messages/getCompactBlock.test.ts
  ironfish/src/network/messages/newBlock.test.ts
  ironfish/src/network/messages/newBlockV2.test.ts
  ironfish/src/network/messages/newTransaction.test.ts
  ironfish/src/network/messages/newTransactionV2.test.ts
  ironfish/src/network/messages/pooledTransactions.test.ts
  ironfish/src/network/peerNetwork.test.ts
Due: ironfish

refactor(zkp): create_asset -> mint_asset
  ironfish-zkp/src/circuits/mint_asset.rs
  ironfish-zkp/src/circuits/mod.rs
Due: ironfish

chore(zkp): Clean up dependencies
  Cargo.lock
  ironfish-zkp/Cargo.toml
Due: ironfish

test(zkp): Use test constraint system in mint asset circuit test
  ironfish-zkp/src/circuits/mint_asset.rs
Due: ironfish

feat(zkp): Introduce Mint Asset circuit (#2511)
  Cargo.lock
  ironfish-rust/src/assets/asset.rs
  ironfish-rust/src/assets/constants.rs
  ironfish-rust/src/assets/mod.rs
  ironfish-zkp/Cargo.toml
  ironfish-zkp/src/circuits/mint_asset.rs
  ironfish-zkp/src/circuits/mod.rs
  ironfish-zkp/src/circuits/util.rs
  ironfish-zkp/src/constants.rs
  ironfish-zkp/src/lib.rs
Due: ironfish-rust, ironfish

feat(rust): Add value balances by asset identifier to Transaction
  ironfish-rust/src/assets/asset.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/value_balances.rs
Due: ironfish-rust, ironfish

refactor(rust): Clean up unused imports
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish

removes unparsed message data from webrtc error output
  ironfish/src/network/peers/connections/webRtcConnection.ts
Due: ironfish

refactor(rust): Lint, file header
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/value_balances.rs
  ironfish-zkp/src/circuits/mint_asset.rs
Due: ironfish-rust, ironfish

refactor(rust): add tests for ValueBalances
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/value_balances.rs
Due: ironfish-rust, ironfish

More PR review changes
  config/eslint-config-ironfish/index.js
  ironfish/src/network/utils/serializers.ts
Due: ironfish

refactor(rust): Set native asset to existing generator point
  ironfish-rust/src/assets/asset.rs
Due: ironfish-rust, ironfish

refactor(rust): Temporarily check for non-native assets just to be safe
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish

Remove diversifier from public address
  ironfish-rust/src/keys/mod.rs
  ironfish-rust/src/keys/public_address.rs
  ironfish-rust/src/keys/test.rs
  ironfish-rust/src/keys/view_keys.rs
  ironfish-rust/src/merkle_note.rs
  ironfish-rust/src/notes/note.rs
  ironfish-rust/src/spending.rs
  ironfish-rust/src/transaction/tests.rs
Due: ironfish-rust, ironfish

feat(rust): Add value balances by asset identifier to Transaction (#2523)
  ironfish-rust/src/assets/asset.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/value_balances.rs
  ironfish-zkp/src/circuits/mint_asset.rs
Due: ironfish-rust, ironfish

remove support for sending old gossip messages
  ironfish/src/network/__fixtures__/peerNetwork.test.ts.fixture
  ironfish/src/network/messages/gossipNetworkMessage.ts
  ironfish/src/network/messages/newBlock.test.ts
  ironfish/src/network/messages/newBlock.ts
  ironfish/src/network/messages/newTransaction.test.ts
  ironfish/src/network/messages/newTransaction.ts
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/types.ts
Due: ironfish

avoids logging unparsed buffers in error message (#2517)
  ironfish/src/network/peers/connections/webRtcConnection.ts
  ironfish/src/network/peers/connections/webSocketConnection.ts
Due: ironfish

feat(rust): add token identifier to asset
  ironfish-rust/src/assets/asset.rs
  ironfish-zkp/src/circuits/mint_asset.rs
  ironfish-zkp/src/circuits/util.rs
Due: ironfish-rust, ironfish

rename function
  ironfish/src/network/peerNetwork.ts
Due: ironfish

Remove support for sending old gossip messages (#2510)
  ironfish/src/network/__fixtures__/peerNetwork.test.ts.fixture
  ironfish/src/network/messages/gossipNetworkMessage.ts
  ironfish/src/network/messages/newBlock.test.ts
  ironfish/src/network/messages/newBlock.ts
  ironfish/src/network/messages/newTransaction.test.ts
  ironfish/src/network/messages/newTransaction.ts
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/types.ts
Due: ironfish

adds blockHash and sequence to decryptedNoteValue
  ironfish/src/migrations/data/014-note-sequence.ts
  ironfish/src/migrations/data/index.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/walletdb/decryptedNoteValue.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish

feat(rust): add token identifier to asset (#2526)
  ironfish-rust/src/assets/asset.rs
  ironfish-zkp/src/circuits/mint_asset.rs
  ironfish-zkp/src/circuits/util.rs
Due: ironfish-rust, ironfish

review comments
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/blockchain/blockchain.ts
Due: ironfish

fixes lint
  ironfish/src/wallet/walletdb/decryptedNoteValue.test.ts
Due: ironfish

Parallelize verify transactions (#2505)
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/blockchain/blockchain.ts
Due: ironfish

Move spends and outputs into transaction module
  ironfish-rust/src/lib.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/outputs.rs
  ironfish-rust/src/transaction/spending.rs
Due: ironfish-rust, ironfish

Update node-datachannel to 0.4.0
  ironfish/package.json
  ironfish/src/network/peers/connections/webRtcConnection.ts
  yarn.lock
Due: ironfish

Simplify fees command
  ironfish-cli/src/commands/fees.ts
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/fees/estimateFeeRates.ts
Due: ironfish-cli, ironfish
