Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

Add replaceConnection functions
  ironfish/src/network/peers/peer.ts
  ironfish/src/network/peers/peerManager.ts
Due: ironfish

Use PeerManager in AddressManager
  ironfish/src/network/peers/addressManager.ts
  ironfish/src/network/peers/peerManager.ts
Due: ironfish

Add check to peerManager
  ironfish/src/network/peers/addressManager.test.ts
  ironfish/src/network/peers/peerManager.ts
Due: ironfish

Fix Github Action warnings
  .github/workflows/build-ironfish-rust-nodejs.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-brew.yml
  .github/workflows/deploy-node-aws.yml
  .github/workflows/deploy-node-github-beta.yml
  .github/workflows/deploy-node-github.yml
  .github/workflows/deploy-npm-ironfish-cli.yml
  .github/workflows/deploy-npm-ironfish-rust-nodejs.yml
  .github/workflows/push-version-to-api.yml
  .github/workflows/rust_ci.yml
Due: none

Push up remaining CI change
  .github/workflows/ci.yml
Due: none

Change consensus limit to 2MB not 2MiB, improve test
  ironfish/src/consensus/consensus.ts
  ironfish/src/mining/manager.test.ts
Due: ironfish

Only store peers in CONNECTED or CONNECTING states (#2275)
  ironfish/src/event.ts
  ironfish/src/network/peers/addressManager.test.ts
  ironfish/src/network/peers/addressManager.ts
  ironfish/src/network/peers/connectionRetry.ts
  ironfish/src/network/peers/peer.test.ts
  ironfish/src/network/peers/peer.ts
  ironfish/src/network/peers/peerConnectionManager.test.ts
  ironfish/src/network/peers/peerConnectionManager.ts
  ironfish/src/network/peers/peerManager.test.ts
  ironfish/src/network/peers/peerManager.ts
  ironfish/src/network/testUtilities/helpers.ts
Due: ironfish

Fix Github Action warnings (#2379)
  .github/workflows/build-ironfish-rust-nodejs.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-brew.yml
  .github/workflows/deploy-node-aws.yml
  .github/workflows/deploy-node-github-beta.yml
  .github/workflows/deploy-node-github.yml
  .github/workflows/deploy-npm-ironfish-cli.yml
  .github/workflows/deploy-npm-ironfish-rust-nodejs.yml
  .github/workflows/push-version-to-api.yml
  .github/workflows/rust_ci.yml
Due: none

Limit block size to below 2MB in mining manager (#2354)
  ironfish/src/consensus/consensus.ts
  ironfish/src/mining/__fixtures__/manager.test.ts.fixture
  ironfish/src/mining/manager.test.slow.ts
  ironfish/src/mining/manager.test.ts
  ironfish/src/mining/manager.ts
Due: ironfish

Show rpc methods mounted on node
  ironfish-cli/src/commands/rpc/index.ts
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/rpc/getRpcMethods.ts
  ironfish/src/rpc/routes/rpc/index.ts
Due: ironfish-cli, ironfish

Simplify Rust error types (#2365)
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust-nodejs/src/nacl.rs
  ironfish-rust-nodejs/src/structs/note.rs
  ironfish-rust-nodejs/src/structs/note_encrypted.rs
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust/src/errors.rs
  ironfish-rust/src/keys/mod.rs
  ironfish-rust/src/keys/public_address.rs
  ironfish-rust/src/keys/view_keys.rs
  ironfish-rust/src/merkle_note.rs
  ironfish-rust/src/merkle_note_hash.rs
  ironfish-rust/src/nacl.rs
  ironfish-rust/src/note.rs
  ironfish-rust/src/receiving.rs
  ironfish-rust/src/serializing.rs
  ironfish-rust/src/spending.rs
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish

Create ironfish-zkp, move all librustzcash exports
  ironfish-rust-nodejs/Cargo.lock
  ironfish-rust-nodejs/Cargo.toml
  ironfish-rust/Cargo.lock
  ironfish-rust/Cargo.toml
  ironfish-rust/README.md
  ironfish-rust/src/keys/mod.rs
  ironfish-rust/src/keys/public_address.rs
  ironfish-rust/src/merkle_note.rs
  ironfish-rust/src/merkle_note_hash.rs
  ironfish-rust/src/note.rs
  ironfish-rust/src/receiving.rs
  ironfish-rust/src/spending.rs
  ironfish-rust/src/test_util.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/tests.rs
  ironfish-zkp/Cargo.toml
  ironfish-zkp/LICENSE-APACHE
  ironfish-zkp/LICENSE-MIT
  ironfish-zkp/README.md
  ironfish-zkp/src/lib.rs
Due: ironfish-rust, ironfish

Add CI for ironfish-zkp
  .github/workflows/rust_ci.yml
Due: none

Setup a Cargo workspace for the rust crates
  .gitignore
  Cargo.lock
  Cargo.toml
  ironfish-rust-nodejs/Cargo.toml
  ironfish-rust/Cargo.lock
  ironfish-rust/Cargo.toml
  ironfish-zkp/Cargo.toml
Due: ironfish-rust, ironfish

Introduce ironfish-zkp crate, Cargo workspace (#2367)
  .github/workflows/rust_ci.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  ironfish-rust-nodejs/Cargo.lock
  ironfish-rust-nodejs/Cargo.toml
  ironfish-rust/Cargo.toml
  ironfish-rust/README.md
  ironfish-rust/src/keys/mod.rs
  ironfish-rust/src/keys/public_address.rs
  ironfish-rust/src/merkle_note.rs
  ironfish-rust/src/merkle_note_hash.rs
  ironfish-rust/src/note.rs
  ironfish-rust/src/receiving.rs
  ironfish-rust/src/spending.rs
  ironfish-rust/src/test_util.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/tests.rs
  ironfish-zkp/Cargo.toml
  ironfish-zkp/LICENSE-APACHE
  ironfish-zkp/LICENSE-MIT
  ironfish-zkp/README.md
  ironfish-zkp/src/lib.rs
Due: ironfish-rust, ironfish

Fix rust-cache CI step to use the proper workspace target directory
  .github/workflows/ci.yml
  .github/workflows/deploy-brew.yml
  .github/workflows/deploy-npm-ironfish-cli.yml
  .github/workflows/rust_ci.yml
Due: none

Fix job trigger path
  .github/workflows/rust_ci.yml
Due: none

Add rust_ci file to the paths that trigger the rust_ci jobs
  .github/workflows/rust_ci.yml
Due: none

Fix rust-cache CI step to use the proper workspace target directory (#2385)
  .github/workflows/ci.yml
  .github/workflows/deploy-brew.yml
  .github/workflows/deploy-npm-ironfish-cli.yml
  .github/workflows/rust_ci.yml
Due: none

Pin macos-11 for CI builds
  .github/workflows/build-ironfish-rust-nodejs.yml
Due: none

update benchmark to take a target directory and build on top
  ironfish-cli/src/commands/chain/benchmark.ts
Due: ironfish-cli, ironfish

simplify
  ironfish-cli/src/commands/chain/benchmark.ts
Due: ironfish-cli, ironfish

truncate numbers
  ironfish-cli/src/commands/chain/benchmark.ts
Due: ironfish-cli, ironfish

review comments
  ironfish-cli/src/commands/chain/benchmark.ts
Due: ironfish-cli, ironfish

fix lint
  ironfish-cli/src/commands/chain/benchmark.ts
Due: ironfish-cli, ironfish

use notesLength and spendsLength
  ironfish-cli/src/commands/chain/benchmark.ts
Due: ironfish-cli, ironfish

add notes
  ironfish-cli/src/commands/chain/benchmark.ts
Due: ironfish-cli, ironfish

update
  ironfish-cli/src/commands/chain/benchmark.ts
Due: ironfish-cli, ironfish

Remove tweetnacl compatibility test
  ironfish/package.json
  ironfish/src/tests/tweetnaclCompat.test.ts
  yarn.lock
Due: ironfish

Pin macos-11 for CI builds (#2387)
  .github/workflows/build-ironfish-rust-nodejs.yml
Due: none

Validate spend authorizing key
  ironfish-rust/src/keys/mod.rs
Due: ironfish-rust, ironfish

Use pub keyword in for napi
  ironfish-rust-nodejs/src/lib.rs
Due: ironfish-rust, ironfish

feat: make testnet deposits depend on values from api
  ironfish-cli/src/commands/deposit.ts
  ironfish/src/webApi.ts
Due: ironfish-cli, ironfish

Use pub keyword in for napi (#2390)
  ironfish-rust-nodejs/src/lib.rs
Due: ironfish-rust, ironfish

Remove tweetnacl compatibility test (#2388)
  ironfish/package.json
  ironfish/src/tests/tweetnaclCompat.test.ts
  yarn.lock
Due: ironfish

Fix clippy warnings
  ironfish-rust/src/keys/mod.rs
  ironfish-rust/src/note.rs
  ironfish-rust/src/spending.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/witness.rs
Due: ironfish-rust, ironfish

Update Rust to 1.64.0, edition 2021
  ironfish-rust/Cargo.toml
  ironfish-zkp/Cargo.toml
  rust-toolchain
Due: ironfish-rust, ironfish

Bump tarpaulin version
  .github/workflows/rust_ci.yml
Due: none

Try bumping version again
  .github/workflows/rust_ci.yml
Due: none

Try clearing cache
  .github/workflows/rust_ci.yml
Due: none

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish-cli: any of: ironfish-cli, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish: any of: ironfish, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
