Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

codecov.yml:

ignore:
  - config/*
  - ironfish-rust-nodejs/*
  - ironfish-rust-wasm/*
comment: false
github_checks:
  annotations: false
coverage:
  fixes:
    - "/home/runner/work/ironfish/ironfish/::/"
  status:
    patch:
      default:
        target: auto
        threshold: 0%
    project:
      default:
        target: 10%
      ironfish-rust:
        target: 10%
        flags:
          - ironfish-rust
      ironfish-cli:
        target: 10%
        flags:
          - ironfish-cli
      ironfish:
        target: 10%
        flags:
          - ironfish
flags:
  ironfish-rust:
    paths:
      - ironfish-rust
    carryforward: true
  ironfish-cli:
    paths:
      - ironfish-cli
    carryforward: true
  ironfish:
    paths:
      - ironfish
    carryforward: true

Move accountsDB into database folder (#2013)
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/database/accountsdb.ts
  ironfish/src/wallet/index.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

increase waiting for full transaction time to 1s
  ironfish/src/network/transactionFetcher.ts
Due: ironfish

increase waiting for full transaction time to 1s (#2014)
  ironfish/src/network/transactionFetcher.ts
Due: ironfish

Rename AccountsValue -> AccountValue
  ironfish-cli/src/commands/accounts/import.ts
  ironfish/src/migrations/data/013-wallet-2/new/accounts.ts
  ironfish/src/migrations/data/013-wallet-2/new/stores.ts
  ironfish/src/testUtilities/fixtures.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/database/accountValue.test.ts
  ironfish/src/wallet/database/accountValue.ts
  ironfish/src/wallet/database/accountsdb.ts
  ironfish/src/wallet/index.ts
  ironfish/src/wallet/validator.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish-cli, ironfish

Add a start:debug command for inspecting the node process
  ironfish-cli/package.json
Due: ironfish-cli, ironfish

Rename AccountsValue -> AccountValue (#2016)
  ironfish-cli/src/commands/accounts/import.ts
  ironfish/src/migrations/data/013-wallet-2/new/accounts.ts
  ironfish/src/migrations/data/013-wallet-2/new/stores.ts
  ironfish/src/testUtilities/fixtures.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/database/accountValue.test.ts
  ironfish/src/wallet/database/accountValue.ts
  ironfish/src/wallet/database/accountsdb.ts
  ironfish/src/wallet/index.ts
  ironfish/src/wallet/validator.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish-cli, ironfish

Rename DecrypytedNotesValue -> DecryptedNoteValue
  ironfish/src/migrations/data/013-wallet-2/new/decryptedNotes.ts
  ironfish/src/migrations/data/013-wallet-2/new/stores.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/database/accountsdb.ts
  ironfish/src/wallet/database/decryptedNoteValue.test.ts
  ironfish/src/wallet/database/decryptedNoteValue.ts
Due: ironfish

Rename DecrypytedNotesValue -> DecryptedNoteValue (#2018)
  ironfish/src/migrations/data/013-wallet-2/new/decryptedNotes.ts
  ironfish/src/migrations/data/013-wallet-2/new/stores.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/database/accountsdb.ts
  ironfish/src/wallet/database/decryptedNoteValue.test.ts
  ironfish/src/wallet/database/decryptedNoteValue.ts
Due: ironfish

Add script to bump package versions
  tools/version-bump.js
Due: none

@ironfish/sdk 0.0.21, ironfish 0.1.44, @ironfish/rust-nodejs 0.1.11
  ironfish-cli/package.json
  ironfish-rust-nodejs/npm/darwin-arm64/package.json
  ironfish-rust-nodejs/npm/darwin-x64/package.json
  ironfish-rust-nodejs/npm/linux-arm64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-arm64-musl/package.json
  ironfish-rust-nodejs/npm/linux-x64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-x64-musl/package.json
  ironfish-rust-nodejs/npm/win32-x64-msvc/package.json
  ironfish-rust-nodejs/package.json
  ironfish/package.json
Due: ironfish-rust, ironfish-cli, ironfish

Move box/unbox message into Rust (#1872)
  ironfish-cli/package.json
  ironfish-cli/src/commands/start.ts
  ironfish-rust-nodejs/Cargo.lock
  ironfish-rust-nodejs/Cargo.toml
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust-nodejs/src/nacl.rs
  ironfish-rust/Cargo.lock
  ironfish-rust/Cargo.toml
  ironfish-rust/src/errors.rs
  ironfish-rust/src/lib.rs
  ironfish-rust/src/nacl.rs
  ironfish/package.json
  ironfish/src/network/identity.ts
  ironfish/src/network/messages/gossipNetworkMessage.ts
  ironfish/src/network/messages/signal.test.ts
  ironfish/src/network/messages/signal.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/peers/encryption.ts
  ironfish/src/network/peers/localPeer.ts
  ironfish/src/network/peers/peer.test.ts
  ironfish/src/network/peers/peerManager.test.ts
  ironfish/src/network/peers/peerManager.ts
  ironfish/src/network/testUtilities/mockLocalPeer.ts
  ironfish/src/tests/tweetnaclCompat.test.ts
  ironfish/src/workerPool/job.test.slow.ts
  ironfish/src/workerPool/pool.ts
  ironfish/src/workerPool/tasks/boxMessage.test.ts
  ironfish/src/workerPool/tasks/boxMessage.ts
  ironfish/src/workerPool/tasks/handlers.ts
  ironfish/src/workerPool/tasks/unboxMessage.test.ts
  ironfish/src/workerPool/tasks/unboxMessage.ts
  ironfish/src/workerPool/tasks/workerMessage.ts
  ironfish/src/workerPool/worker.ts
Due: ironfish-rust, ironfish-cli, ironfish

Add script to bump package versions (#2019)
  tools/version-bump.js
Due: none

bump version to 0.1.44
  ironfish-cli/package.json
  ironfish-rust-nodejs/npm/darwin-arm64/package.json
  ironfish-rust-nodejs/npm/darwin-x64/package.json
  ironfish-rust-nodejs/npm/linux-arm64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-arm64-musl/package.json
  ironfish-rust-nodejs/npm/linux-x64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-x64-musl/package.json
  ironfish-rust-nodejs/npm/win32-x64-msvc/package.json
  ironfish-rust-nodejs/package.json
  ironfish/package.json
Due: ironfish-rust, ironfish-cli, ironfish

bump version to 0.1.44 (#2021)
  ironfish-cli/package.json
  ironfish-rust-nodejs/npm/darwin-arm64/package.json
  ironfish-rust-nodejs/npm/darwin-x64/package.json
  ironfish-rust-nodejs/npm/linux-arm64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-arm64-musl/package.json
  ironfish-rust-nodejs/npm/linux-x64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-x64-musl/package.json
  ironfish-rust-nodejs/npm/win32-x64-msvc/package.json
  ironfish-rust-nodejs/package.json
  ironfish/package.json
Due: ironfish-rust, ironfish-cli, ironfish

updates wallet.getNotes to read from account's decryptedNotes
  ironfish/src/wallet/wallet.ts
Due: ironfish

Rename TransactionsValue -> TransactionValue
  ironfish/src/wallet/database/accountsdb.ts
  ironfish/src/wallet/database/transactionValue.test.ts
  ironfish/src/wallet/database/transactionValue.ts
Due: ironfish

Rename TransactionsValue -> TransactionValue (#2022)
  ironfish/src/wallet/database/accountsdb.ts
  ironfish/src/wallet/database/transactionValue.test.ts
  ironfish/src/wallet/database/transactionValue.ts
Due: ironfish

Rename meta value file to match type
  ironfish/src/wallet/database/accountsdb.ts
  ironfish/src/wallet/database/metaValue.test.ts
  ironfish/src/wallet/database/metaValue.ts
Due: ironfish

Add locks to all functions that modify transactions/notes
  ironfish/src/wallet/wallet.ts
Due: ironfish

Remove mutex lock from removeTransaction
  ironfish/src/wallet/wallet.ts
Due: ironfish

Add a lockWithTime function to mutex, log slow locks in accounts
  ironfish/src/mutex.ts
  ironfish/src/utils/bench.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

fix docker build script
  ironfish-cli/scripts/build.sh
Due: ironfish-cli, ironfish

Fix lint errors
  ironfish/src/fileStores/config.ts
Due: ironfish

fix docker build script (#2025)
  ironfish-cli/scripts/build.sh
Due: ironfish-cli, ironfish

Call build at top level when invoking the app
  ironfish-cli/package.json
Due: ironfish-cli, ironfish

Validate config file settings
  ironfish/src/fileStores/config.ts
Due: ironfish

Rename meta value file to match type (#2023)
  ironfish/src/wallet/database/accountsdb.ts
  ironfish/src/wallet/database/metaValue.test.ts
  ironfish/src/wallet/database/metaValue.ts
Due: ironfish

changes accounts:notes to display only owner notes
  ironfish-cli/src/commands/accounts/notes.test.ts
  ironfish-cli/src/commands/accounts/notes.ts
  ironfish/src/rpc/routes/accounts/getNotes.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish-cli, ironfish

fixes lint: removes unused import
  ironfish/src/wallet/account.ts
Due: ironfish

Add documentation for wallet2 stores
  ironfish/src/wallet/database/decryptedNoteValue.ts
  ironfish/src/wallet/database/transactionValue.ts
Due: ironfish

Add documentation for wallet2 stores (#2029)
  ironfish/src/wallet/database/decryptedNoteValue.ts
  ironfish/src/wallet/database/transactionValue.ts
Due: ironfish

Use BufferSet instead of BufferMap<true>
  ironfish/src/migrations/data/013-wallet-2.ts
  ironfish/src/typedefs/buffer-map.d.ts
Due: ironfish

Use BufferSet instead of BufferMap<true> (#2030)
  ironfish/src/migrations/data/013-wallet-2.ts
  ironfish/src/typedefs/buffer-map.d.ts
Due: ironfish

changes signature of getNotes to match getUnspentNotes
  ironfish/src/rpc/routes/accounts/getNotes.ts
  ironfish/src/wallet/account.ts
Due: ironfish

replace 'noteTxHash'
  ironfish-cli/src/commands/accounts/notes.test.ts
  ironfish-cli/src/commands/accounts/notes.ts
  ironfish/src/rpc/routes/accounts/getNotes.ts
Due: ironfish-cli, ironfish

loads decryptedNotes without computing unconfirmed balance
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/database/accountsdb.ts
Due: ironfish

updates wallet.getNotes to read from account's decryptedNotes (#2024)
  ironfish-cli/src/commands/accounts/notes.test.ts
  ironfish-cli/src/commands/accounts/notes.ts
  ironfish/src/rpc/routes/accounts/getNotes.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish-cli, ironfish
