Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

Replace hex-array library with native (de)serialization (#2794)
  ironfish/package.json
  ironfish/src/serde/BufferSerde.ts
  ironfish/src/serde/Uint8ArraySerde.test.ts
  ironfish/src/serde/Uint8ArraySerde.ts
  ironfish/src/serde/__snapshots__/Uint8ArraySerde.test.ts.snap
  ironfish/src/serde/index.ts
  ironfish/src/storage/database/encoding.ts
  ironfish/src/storage/levelup/store.ts
  ironfish/src/storage/levelup/transaction.ts
  ironfish/src/typedefs/hex-array.d.ts
  yarn.lock
Due: ironfish

Update yarn.lock
  yarn.lock
Due: none

adds chain state fields to balances datastore
  ironfish/src/primitives/rawTransaction.test.ts
  ironfish/src/rpc/routes/wallet/removeAccount.ts
  ironfish/src/wallet/account.test.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
  ironfish/src/wallet/walletdb/__fixtures__/balanceValue.test.ts.fixture
  ironfish/src/wallet/walletdb/balanceValue.test.ts
  ironfish/src/wallet/walletdb/balanceValue.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish

remove unrelated changes
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
Due: none

serialize all target as BE
  ironfish/src/blockchain/database/headers.ts
  ironfish/src/network/utils/serializers.ts
Due: ironfish

REmove fixture
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
Due: ironfish

Replace all fixed sized BigInt serialization and deserialization with bufio (#2781)
  ironfish/src/blockchain/database/headers.ts
  ironfish/src/mining/pool.ts
  ironfish/src/mining/soloMiner.ts
  ironfish/src/network/utils/serializers.ts
  ironfish/src/primitives/blockheader.ts
  ironfish/src/primitives/target.ts
  ironfish/src/serde/BlockTemplateSerde.ts
  ironfish/src/serde/PartialHeaderSerde.ts
  ironfish/src/utils/bigint.test.ts
  ironfish/src/utils/bigint.ts
  ironfish/src/workerPool/tasks/createMinersFee.ts
  ironfish/src/workerPool/tasks/createTransaction.ts
Due: ironfish

Remove buildRawTransaction() in blockchain.test (#2801)
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/blockchain/blockchain.test.ts
Due: ironfish

Update to Nodejs 18 (#2768)
  .github/workflows/build-ironfish-rust-nodejs.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-brew.yml
  .github/workflows/deploy-npm-ironfish-cli.yml
  .github/workflows/deploy-npm-ironfish-rust-nodejs.yml
  .github/workflows/deploy-npm-ironfish.yml
  README.md
  ironfish-cli/Dockerfile
  ironfish-cli/bin/run
  ironfish-cli/package.json
  ironfish-rust-nodejs/npm/darwin-arm64/package.json
  ironfish-rust-nodejs/npm/darwin-x64/package.json
  ironfish-rust-nodejs/npm/linux-arm64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-arm64-musl/package.json
  ironfish-rust-nodejs/npm/linux-x64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-x64-musl/package.json
  ironfish-rust-nodejs/npm/win32-x64-msvc/package.json
  ironfish-rust-nodejs/package.json
  yarn.lock
Due: ironfish-rust, ironfish-cli, ironfish

Add ability to fund transaction externally
  ironfish/src/wallet/wallet.ts
  ironfish/src/wallet/walletdb/decryptedNoteValue.ts
Due: ironfish

Remove useRawTxFixture() fixture
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/primitives/rawTransaction.test.ts
  ironfish/src/testUtilities/fixtures.ts
  ironfish/src/testUtilities/helpers/transaction.ts
  ironfish/src/workerPool/tasks/postTransaction.test.ts
Due: ironfish

Remove useRawTxFixture() fixture (#2804)
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/primitives/rawTransaction.test.ts
  ironfish/src/testUtilities/fixtures.ts
  ironfish/src/testUtilities/helpers/transaction.ts
  ironfish/src/workerPool/tasks/postTransaction.test.ts
Due: ironfish

don't save latest until transaction commit (#2809)
  ironfish/src/blockchain/blockchain.ts
Due: ironfish

Display asset currency in cli accounts:notes
  ironfish-cli/src/commands/accounts/notes.ts
  ironfish/src/rpc/routes/wallet/getNotes.ts
Due: ironfish-cli, ironfish

Create a new cli to get asset info
  ironfish-cli/src/commands/chain/asset.ts
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/chain/getAssetInfo.ts
  ironfish/src/rpc/routes/chain/index.ts
  ironfish/src/rpc/routes/wallet/getNotes.ts
Due: ironfish-cli, ironfish

Display both asset name and id
  ironfish-cli/src/commands/accounts/notes.ts
  ironfish-cli/src/commands/chain/asset.ts
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/chain/getAssetInfo.ts
  ironfish/src/rpc/routes/chain/index.ts
  ironfish/src/rpc/routes/wallet/getNotes.ts
  ironfish/src/utils/blockchain.ts
Due: ironfish-cli, ironfish

Move function to blockchain
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/primitives/asset.ts
  ironfish/src/rpc/routes/wallet/getNotes.ts
  ironfish/src/utils/blockchain.ts
Due: ironfish

Create Native asset value type
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/primitives/asset.ts
Due: ironfish

Format
  ironfish/src/rpc/routes/chain/index.ts
  ironfish/src/rpc/routes/wallet/getNotes.ts
  ironfish/src/utils/blockchain.ts
Due: ironfish

Remove NATIVE_ASSET_VALUE
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/primitives/asset.ts
Due: ironfish

Display asset identifier for accounts:notes cli (#2793)
  ironfish-cli/src/commands/accounts/notes.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/rpc/routes/wallet/getNotes.ts
Due: ironfish-cli, ironfish

Create a new cli to get asset info
  ironfish-cli/src/commands/chain/asset.ts
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/chain/getAssetInfo.ts
  ironfish/src/rpc/routes/chain/index.ts
Due: ironfish-cli, ironfish

feat(ironfish): Add burn method to wallet
  ironfish/src/wallet/__fixtures__/wallet.test.ts.fixture
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

Address comments from PR
  ironfish-cli/src/commands/chain/asset.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/chain/getAsset.test.ts
  ironfish/src/rpc/routes/chain/getAsset.ts
  ironfish/src/rpc/routes/chain/getAssetInfo.ts
  ironfish/src/rpc/routes/chain/index.ts
Due: ironfish-cli, ironfish

feat(ironfish): Update mint arguments to be consistent with pay
  ironfish/src/rpc/routes/assets/mint.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

test(ironfish): Use fixtures for burn tx
  ironfish/src/wallet/__fixtures__/wallet.test.ts.fixture
  ironfish/src/wallet/wallet.test.ts
Due: ironfish

refactor(ironfish): Remove un-needed null
  ironfish/src/wallet/wallet.ts
Due: ironfish

Fix incorrect error
  ironfish/src/rpc/routes/chain/getAsset.ts
Due: ironfish

Remove mintAsset test function
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/testUtilities/fixtures.ts
  ironfish/src/testUtilities/helpers/transaction.ts
Due: ironfish

Add chain:asset command (#2815)
  ironfish-cli/src/commands/chain/asset.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/chain/getAsset.test.ts
  ironfish/src/rpc/routes/chain/getAsset.ts
  ironfish/src/rpc/routes/chain/index.ts
Due: ironfish-cli, ironfish

Remove mintAsset test function (#2810)
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/testUtilities/fixtures.ts
  ironfish/src/testUtilities/helpers/transaction.ts
Due: ironfish

feat(ironfish): Update mint arguments to be consistent with pay (#2817)
  ironfish/src/rpc/routes/assets/mint.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

test(ironfish): Use useMintBlockFixture
  ironfish/src/wallet/__fixtures__/wallet.test.ts.fixture
  ironfish/src/wallet/wallet.test.ts
Due: ironfish

feat(ironfish): Add fixture util
  ironfish/src/testUtilities/fixtures.ts
  ironfish/src/wallet/__fixtures__/wallet.test.ts.fixture
  ironfish/src/wallet/wallet.test.ts
Due: ironfish

renames 'balance' field in balances store to 'unconfirmed'
  ironfish/src/primitives/rawTransaction.test.ts
  ironfish/src/rpc/routes/wallet/removeAccount.ts
  ironfish/src/wallet/account.test.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/walletdb/balanceValue.test.ts
  ironfish/src/wallet/walletdb/balanceValue.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish

Fix note encoding not using CurrencyUtils
  ironfish/src/rpc/routes/assets/mint.test.ts
  ironfish/src/rpc/routes/chain/getTransactionStream.ts
  ironfish/src/rpc/routes/wallet/getNotes.ts
  ironfish/src/rpc/routes/wallet/getTransaction.ts
Due: ironfish

Delete fees RPC namespace
  ironfish-cli/src/commands/service/estimate-fee-rates.ts
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/chain/__fixtures__/estimateFee.test.ts.fixture
  ironfish/src/rpc/routes/chain/estimateFee.test.ts
  ironfish/src/rpc/routes/chain/estimateFee.ts
  ironfish/src/rpc/routes/chain/estimateFeeRates.ts
  ironfish/src/rpc/routes/chain/index.ts
  ironfish/src/rpc/routes/fees/index.ts
  ironfish/src/rpc/routes/index.ts
  ironfish/src/rpc/routes/router.ts
Due: ironfish-cli, ironfish

adds chain state fields to balances datastore (#2792)
  ironfish/src/primitives/rawTransaction.test.ts
  ironfish/src/rpc/routes/wallet/removeAccount.ts
  ironfish/src/wallet/account.test.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
  ironfish/src/wallet/walletdb/__fixtures__/balanceValue.test.ts.fixture
  ironfish/src/wallet/walletdb/balanceValue.test.ts
  ironfish/src/wallet/walletdb/balanceValue.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish

Fix note encoding not using CurrencyUtils (#2821)
  ironfish/src/rpc/routes/assets/mint.test.ts
  ironfish/src/rpc/routes/chain/getTransactionStream.ts
  ironfish/src/rpc/routes/wallet/getNotes.ts
  ironfish/src/rpc/routes/wallet/getTransaction.ts
Due: ironfish

Merge transaction namespace into wallet RPC namespace
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/router.ts
  ironfish/src/rpc/routes/transactions/sendTransaction.ts
Due: ironfish

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish-cli: any of: ironfish-cli, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish: any of: ironfish, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
