Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

codecov.yml:

ignore:
  - config/*
  - ironfish-rust-nodejs/*
  - ironfish-rust-wasm/*
comment: false
github_checks:
  annotations: false
coverage:
  fixes:
    - "/home/runner/work/ironfish/ironfish/::/"
  status:
    patch:
      default:
        target: auto
        threshold: 0%
    project:
      default:
        target: 10%
      ironfish-rust:
        target: 10%
        flags:
          - ironfish-rust
      ironfish-cli:
        target: 10%
        flags:
          - ironfish-cli
      ironfish:
        target: 10%
        flags:
          - ironfish
flags:
  ironfish-rust:
    paths:
      - ironfish-rust
    carryforward: true
  ironfish-cli:
    paths:
      - ironfish-cli
    carryforward: true
  ironfish:
    paths:
      - ironfish
    carryforward: true

fix linting
  ironfish/src/testUtilities/mocks.ts
Due: ironfish

Create first class primitives
  ironfish/src/primitives/transaction.ts
  ironfish/src/primitives/transactions/minersFeeTransaction.ts
  ironfish/src/primitives/transactions/transaction.ts
  ironfish/src/primitives/transactions/transferTransaction.ts
Due: ironfish

Remove some unnecessary vec allocations
  ironfish-rust/src/note.rs
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish

add known hashes to peers of peers
  ironfish/src/network/peerNetwork.ts
Due: ironfish

poseidon hasher
  ironfish-rust/Cargo.lock
  ironfish-rust/Cargo.toml
  ironfish-rust/src/poseidon/constants.rs
  ironfish-rust/src/poseidon/hasher.rs
  ironfish-rust/src/poseidon/mod.rs
  ironfish-rust/src/primitives/asset_type.rs
Due: ironfish-rust, ironfish

Replace gossip nonces with peer seen transaction filter (#1829)
  ironfish/src/network/__fixtures__/peerNetwork.test.ts.fixture
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/peers/peer.ts
  ironfish/src/network/peers/peerManager.ts
Due: ironfish

bump version to 0.0.17 and 0.1.39
  ironfish-cli/package.json
  ironfish/package.json
Due: ironfish-cli, ironfish

Rename AccountsValue -> AccountValue
  ironfish-cli/src/commands/accounts/import.ts
  ironfish/src/account/account.ts
  ironfish/src/account/accounts.ts
  ironfish/src/account/accountsdb.ts
  ironfish/src/account/database/account.test.ts
  ironfish/src/account/database/account.ts
  ironfish/src/account/index.ts
  ironfish/src/account/validator.ts
  ironfish/src/testUtilities/fixtures.ts
Due: ironfish-cli, ironfish

added a basic test that passes
  ironfish-rust/src/poseidon/bls12.rs
  ironfish-rust/src/poseidon/hasher.rs
Due: ironfish-rust, ironfish

update version in cli
  ironfish-cli/package.json
Due: ironfish-cli, ironfish

WIP
  ironfish/src/account/accounts.ts
  ironfish/src/account/accountsdb.ts
  ironfish/src/account/database/transactions.ts
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/blockchain/database/transactions.ts
  ironfish/src/consensus/verifier.test.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/genesis/makeGenesisBlock.ts
  ironfish/src/memPool/memPool.ts
  ironfish/src/mining/manager.ts
  ironfish/src/network/messages/newBlockV2.ts
  ironfish/src/network/messages/newPooledTransactionHashes.ts
  ironfish/src/network/messages/newTransaction.ts
  ironfish/src/network/messages/pooledTransactions.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/utils/block.ts
  ironfish/src/primitives/block.ts
  ironfish/src/primitives/index.ts
  ironfish/src/primitives/transactions/minersFeeTransaction.ts
  ironfish/src/primitives/transactions/transaction.ts
  ironfish/src/primitives/transactions/transferTransaction.ts
  ironfish/src/rpc/routes/chain/followChain.ts
  ironfish/src/rpc/routes/chain/getBlock.ts
  ironfish/src/rpc/routes/chain/getBlockInfo.ts
  ironfish/src/rpc/routes/chain/getTransactionStream.ts
  ironfish/src/rpc/routes/mining/blockTemplateStream.ts
  ironfish/src/rpc/routes/mining/submitBlock.ts
  ironfish/src/serde/BlockTemplateSerde.ts
  ironfish/src/strategy.test.slow.ts
  ironfish/src/strategy.ts
  ironfish/src/telemetry/telemetry.ts
  ironfish/src/testUtilities/fixtures.ts
  ironfish/src/testUtilities/helpers/transaction.ts
  ironfish/src/workerPool/pool.ts
  ironfish/src/workerPool/tasks/createMinersFee.ts
Due: ironfish

bump rust version
  ironfish-rust-nodejs/package.json
  ironfish/package.json
Due: ironfish

bump rust sub-package versions
  ironfish-rust-nodejs/npm/darwin-arm64/package.json
  ironfish-rust-nodejs/npm/darwin-x64/package.json
  ironfish-rust-nodejs/npm/linux-arm64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-arm64-musl/package.json
  ironfish-rust-nodejs/npm/linux-x64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-x64-musl/package.json
  ironfish-rust-nodejs/npm/win32-x64-msvc/package.json
Due: ironfish-rust, ironfish

bump version to 0.0.17 and 0.1.39 (#1834)
  ironfish-cli/package.json
  ironfish-rust-nodejs/npm/darwin-arm64/package.json
  ironfish-rust-nodejs/npm/darwin-x64/package.json
  ironfish-rust-nodejs/npm/linux-arm64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-arm64-musl/package.json
  ironfish-rust-nodejs/npm/linux-x64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-x64-musl/package.json
  ironfish-rust-nodejs/npm/win32-x64-msvc/package.json
  ironfish-rust-nodejs/package.json
  ironfish/package.json
Due: ironfish-rust, ironfish-cli, ironfish

fix some broken tests
  ironfish-cli/package.json
  ironfish/src/network/peerNetwork.test.ts
Due: ironfish-cli, ironfish

fix some broken tests (#1835)
  ironfish-cli/package.json
  ironfish/src/network/peerNetwork.test.ts
Due: ironfish-cli, ironfish

Fixtures
  config/jest.config.base.js
  ironfish/src/account/__fixtures__/accounts.test.slow.ts.fixture
  ironfish/src/account/account.ts
  ironfish/src/account/accounts.test.slow.ts
  ironfish/src/account/accounts.ts
Due: ironfish

Call `combine_hash` async
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/structs/note_encrypted.rs
  ironfish/src/merkletree/hasher.ts
  ironfish/src/merkletree/merkletree.ts
  ironfish/src/merkletree/witness.ts
Due: ironfish-rust, ironfish

WIP
  ironfish/src/network/messageRegistry.ts
  ironfish/src/network/messages/getCompactBlock.ts
  ironfish/src/network/messages/newBlockV2.ts
  ironfish/src/network/types.ts
  ironfish/src/network/utils/block.ts
Due: ironfish

Show max heap sizes in debug command
  ironfish-cli/src/commands/debug.ts
Due: ironfish-cli, ironfish

Change status memory to be relative to max heap
  ironfish-cli/src/commands/status.test.ts
  ironfish-cli/src/commands/status.ts
  ironfish/src/metrics/metricsMonitor.ts
  ironfish/src/rpc/routes/node/getStatus.ts
Due: ironfish-cli, ironfish

Remove TransactionSerde (#1825)
  ironfish/src/consensus/verifier.test.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/primitives/block.ts
  ironfish/src/primitives/transaction.ts
  ironfish/src/rpc/routes/chain/followChain.ts
  ironfish/src/rpc/routes/chain/getBlock.ts
  ironfish/src/serde/BlockTemplateSerde.ts
  ironfish/src/strategy.ts
Due: ironfish

Remove some unnecessary vec allocations (#1830)
  ironfish-rust/src/note.rs
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish

WIP
  ironfish/src/account/accountsdb.ts
  ironfish/src/account/database/transactions.ts
  ironfish/src/blockchain/database/transactions.ts
  ironfish/src/consensus/verifier.test.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/genesis/makeGenesisBlock.ts
  ironfish/src/memPool/memPool.ts
  ironfish/src/network/messages/getBlocks.test.ts
  ironfish/src/network/messages/newBlockV2.ts
  ironfish/src/network/messages/newTransaction.test.ts
  ironfish/src/network/messages/newTransaction.ts
  ironfish/src/network/messages/pooledTransactions.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/utils/block.ts
  ironfish/src/primitives/block.ts
  ironfish/src/primitives/transaction.test.slow.ts
  ironfish/src/primitives/transactions/minersFeeTransaction.ts
  ironfish/src/primitives/transactions/transaction.ts
  ironfish/src/primitives/transactions/transferTransaction.ts
  ironfish/src/rpc/routes/mining/blockTemplateStream.ts
  ironfish/src/rpc/routes/mining/submitBlock.ts
  ironfish/src/serde/BlockTemplateSerde.ts
  ironfish/src/strategy.test.slow.ts
  ironfish/src/testUtilities/fixtures.ts
  ironfish/src/workerPool/pool.ts
  ironfish/src/workerPool/tasks/createMinersFee.ts
  ironfish/src/workerPool/tasks/createTransaction.test.slow.ts
Due: ironfish

Show max heap sizes in debug command (#1839)
  ironfish-cli/src/commands/debug.ts
Due: ironfish-cli, ironfish

Change status memory to be relative to max heap (#1840)
  ironfish-cli/src/commands/status.test.ts
  ironfish-cli/src/commands/status.ts
  ironfish/src/metrics/metricsMonitor.ts
  ironfish/src/rpc/routes/node/getStatus.ts
Due: ironfish-cli, ironfish

First pass on strategy removal
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/primitives/blockheader.test.ts
  ironfish/src/primitives/blockheader.ts
  ironfish/src/strategy.ts
Due: ironfish

Remove strategy from Block/BlockHeader/BlockTemplate
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/blockchain/database/headers.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/indexers/__fixtures__/minedBlocksIndexer.test.ts.fixture
  ironfish/src/indexers/minedBlocksIndexer.test.ts
  ironfish/src/mining/manager.test.slow.ts
  ironfish/src/mining/manager.ts
  ironfish/src/primitives/block.ts
  ironfish/src/primitives/blockheader.test.ts
  ironfish/src/primitives/blockheader.ts
  ironfish/src/serde/BlockTemplateSerde.ts
  ironfish/src/strategy.ts
  ironfish/src/testUtilities/helpers/blockchain.ts
  ironfish/src/testUtilities/matchers/blockchain.ts
Due: ironfish

More BlockSerde strategy removal
  ironfish-cli/src/commands/chain/genesisblock.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/genesis/genesis.test.slow.ts
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/node.ts
  ironfish/src/primitives/block.test.ts
  ironfish/src/rpc/routes/chain/followChain.ts
  ironfish/src/rpc/routes/chain/getBlock.ts
  ironfish/src/strategy.ts
  ironfish/src/syncer.test.ts
  ironfish/src/syncer.ts
  ironfish/src/testUtilities/fixtures.ts
Due: ironfish-cli, ironfish

Make some serializer helpers static
  ironfish-cli/src/commands/chain/genesisblock.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/genesis/genesis.test.slow.ts
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/primitives/block.test.ts
  ironfish/src/primitives/block.ts
  ironfish/src/primitives/blockheader.test.ts
  ironfish/src/primitives/blockheader.ts
  ironfish/src/rpc/routes/chain/followChain.ts
  ironfish/src/rpc/routes/chain/getBlock.ts
  ironfish/src/serde/PartialHeaderSerde.ts
  ironfish/src/syncer.test.ts
  ironfish/src/syncer.ts
  ironfish/src/testUtilities/fixtures.ts
  ironfish/src/testUtilities/matchers/blockchain.ts
Due: ironfish-cli, ironfish

Remove NoteSerde from Strategy
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/primitives/blockheader.test.ts
  ironfish/src/strategy.ts
Due: ironfish

Fix generic
  ironfish/src/account/database/transactions.ts
  ironfish/src/primitives/transactions/minersFeeTransaction.ts
  ironfish/src/primitives/transactions/transaction.ts
Due: ironfish

Fix file name consistency of RoundRobinQueue
  ironfish/src/workerPool/pool.ts
  ironfish/src/workerPool/roundRobinQueue.ts
Due: ironfish

feat(ironfish): Speed up confirmed balance for accounts (#1836)
  ironfish/src/account/__fixtures__/accounts.test.slow.ts.fixture
  ironfish/src/account/account.ts
  ironfish/src/account/accounts.ts
  ironfish/src/account/accountsdb.ts
  ironfish/src/account/database/decryptedNotes.test.ts
  ironfish/src/account/database/decryptedNotes.ts
Due: ironfish

Make if statement consistent with the rest of the code
  ironfish/src/account/account.ts
Due: ironfish

Try to keep models intact
  ironfish/src/account/account.ts
Due: ironfish

Serialize TransactionValue.sequence
  ironfish/src/account/accountsdb.ts
  ironfish/src/account/database/transactions.test.ts
  ironfish/src/account/database/transactions.ts
Due: ironfish

Fix newTransaction
  ironfish/src/network/messages/newTransaction.test.ts
Due: ironfish

Fix circular dependency
  ironfish/src/account/accountsdb.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/primitives/block.ts
  ironfish/src/primitives/transactions/registry.ts
  ironfish/src/primitives/transactions/transaction.ts
  ironfish/src/serde/BlockTemplateSerde.ts
  ironfish/src/testUtilities/fixtures.ts
Due: ironfish

Update GENERAL.yml
  .github/ISSUE_TEMPLATE/GENERAL.yml
Due: none
