Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

Remove unnecessary references to minersFee
  ironfish/src/genesis/genesisBlockDev.ts
  ironfish/src/rpc/routes/mining/blockTemplateStream.ts
Due: ironfish

chore(rust,zkp): Clean up comments, names, add a test
  ironfish-rust/src/transaction/mints.rs
  ironfish-rust/src/transaction/tests.rs
  ironfish-zkp/src/circuits/mint_asset.rs
  ironfish-zkp/src/circuits/output.rs
  ironfish-zkp/src/circuits/spend.rs
  ironfish-zkp/src/circuits/value_commitment.rs
Due: ironfish-rust, ironfish

chore(rust,zkp): Clean up comments, names, add a test (#2649)
  ironfish-rust/src/transaction/mints.rs
  ironfish-rust/src/transaction/tests.rs
  ironfish-zkp/src/circuits/mint_asset.rs
  ironfish-zkp/src/circuits/output.rs
  ironfish-zkp/src/circuits/spend.rs
  ironfish-zkp/src/circuits/value_commitment.rs
Due: ironfish-rust, ironfish

wip rust debug config
  ironfish-rust/.vscode/launch.json
Due: ironfish-rust, ironfish

Remove unnecessary references to minersFee (#2646)
  ironfish/src/genesis/genesisBlockDev.ts
  ironfish/src/rpc/routes/mining/blockTemplateStream.ts
Due: ironfish

Remove unused merkletree encoding file (#2645)
  ironfish/src/merkletree/encoding.ts
Due: ironfish

Undo ci.yml
  .github/workflows/ci.yml
Due: none

Fix comment
  ironfish-rust/src/note.rs
Due: ironfish-rust, ironfish

fix: delete deposit commands after phase 2 end
  ironfish-cli/src/commands/deposit-all.ts
  ironfish-cli/src/commands/deposit.ts
Due: ironfish-cli, ironfish

feat(rust,zkp): Add Mint Description (#2603)
  ironfish-rust/src/assets/asset.rs
  ironfish-rust/src/keys/mod.rs
  ironfish-rust/src/lib.rs
  ironfish-rust/src/sapling_params/sapling-mint.params
  ironfish-rust/src/transaction/mints.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/outputs.rs
  ironfish-rust/src/transaction/spending.rs
  ironfish-zkp/src/bin/generate_params.rs
  ironfish-zkp/src/circuits/mint_asset.rs
  ironfish-zkp/src/circuits/util.rs
  ironfish-zkp/src/constants.rs
  ironfish-zkp/src/lib.rs
Due: ironfish-rust, ironfish

feat(rust): Add burn descriptions to Transaction (#2604)
  ironfish-rust/src/transaction/burns.rs
  ironfish-rust/src/transaction/mints.rs
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish

Replace Payment Address with Subgroup Point in Output and Spend (#2579)
  ironfish-zkp/src/circuits/output.rs
  ironfish-zkp/src/circuits/spend.rs
  ironfish-zkp/src/constants.rs
Due: ironfish

chore(zkp): Add some tests for bad inputs on mint circuit (#2607)
  ironfish-zkp/src/circuits/mint_asset.rs
Due: ironfish

fix(ci): Make clippy check all targets (tests, bin, etc) (#2608)
  .github/workflows/rust_ci.yml
  ironfish-zkp/src/circuits/output.rs
  ironfish-zkp/src/circuits/spend.rs
Due: ironfish

Add back wallet unit tests to network-reset (#2640)
  ironfish/src/wallet/__fixtures__/wallet.test.ts.fixture
  ironfish/src/wallet/wallet.test.ts
Due: ironfish

fix broken fixture
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
Due: ironfish

improve tests
  ironfish/src/network/messages/getBlocks.test.ts
  ironfish/src/network/messages/newBlockV2.test.ts
Due: ironfish

verify transaction commitment before validating transactions
  ironfish/src/consensus/verifier.ts
Due: ironfish

fix tests
  ironfish/src/consensus/verifier.test.ts
Due: ironfish

feat(ironfish,rust,rust-nodejs): Add Napi bindings for mint descriptions
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/structs/asset.rs
  ironfish-rust-nodejs/src/structs/mod.rs
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust/src/assets/asset.rs
  ironfish/src/primitives/mintDescription.ts
  ironfish/src/primitives/transaction.ts
Due: ironfish-rust, ironfish

refactor(rust): Remove unnecessary to-bytes functions, add read_point function
  ironfish-rust/src/assets/asset.rs
  ironfish-rust/src/keys/mod.rs
  ironfish-rust/src/keys/view_keys.rs
  ironfish-rust/src/merkle_note.rs
  ironfish-rust/src/merkle_note_hash.rs
  ironfish-rust/src/note.rs
  ironfish-rust/src/serializing.rs
  ironfish-rust/src/transaction/burns.rs
  ironfish-rust/src/transaction/mints.rs
  ironfish-rust/src/transaction/spending.rs
Due: ironfish-rust, ironfish

refactor(rust): Remove unnecessary to-bytes functions, add read_point function (#2656)
  ironfish-rust/src/assets/asset.rs
  ironfish-rust/src/keys/mod.rs
  ironfish-rust/src/keys/view_keys.rs
  ironfish-rust/src/merkle_note.rs
  ironfish-rust/src/merkle_note_hash.rs
  ironfish-rust/src/note.rs
  ironfish-rust/src/serializing.rs
  ironfish-rust/src/transaction/burns.rs
  ironfish-rust/src/transaction/mints.rs
  ironfish-rust/src/transaction/spending.rs
Due: ironfish-rust, ironfish

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish-cli: any of: ironfish-cli, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish: any of: ironfish, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
