Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

bump versions for v0.1.52
  ironfish-cli/package.json
  ironfish-rust-nodejs/npm/darwin-arm64/package.json
  ironfish-rust-nodejs/npm/darwin-x64/package.json
  ironfish-rust-nodejs/npm/linux-arm64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-arm64-musl/package.json
  ironfish-rust-nodejs/npm/linux-x64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-x64-musl/package.json
  ironfish-rust-nodejs/npm/win32-x64-msvc/package.json
  ironfish-rust-nodejs/package.json
  ironfish/package.json
Due: ironfish-rust, ironfish-cli, ironfish

bump versions for v0.1.52 (#2590)
  ironfish-cli/package.json
  ironfish-rust-nodejs/npm/darwin-arm64/package.json
  ironfish-rust-nodejs/npm/darwin-x64/package.json
  ironfish-rust-nodejs/npm/linux-arm64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-arm64-musl/package.json
  ironfish-rust-nodejs/npm/linux-x64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-x64-musl/package.json
  ironfish-rust-nodejs/npm/win32-x64-msvc/package.json
  ironfish-rust-nodejs/package.json
  ironfish/package.json
Due: ironfish-rust, ironfish-cli, ironfish

complete func doc
  ironfish/src/mining/manager.ts
Due: ironfish

verify transaction with chain info before add it to mempool
  ironfish/src/memPool/feeEstimator.test.ts
  ironfish/src/memPool/memPool.test.ts
  ironfish/src/memPool/memPool.ts
  ironfish/src/mining/manager.test.slow.ts
  ironfish/src/mining/manager.test.ts
  ironfish/src/mining/manager.ts
  ironfish/src/network/blockFetcher.test.ts
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/transactionFetcher.test.ts
  ironfish/src/rpc/routes/mining/blockTemplateStream.test.slow.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

chore(rust,zkp): Add some docs for mint circuit and description
  ironfish-rust/src/transaction/mints.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/spending.rs
  ironfish-zkp/src/circuits/mint_asset.rs
Due: ironfish-rust, ironfish

feat: duplicate syncer rather than extending
  ironfish-cli/src/commands/service/sync-deposit-transactions.ts
  ironfish-cli/src/commands/service/sync-masp-transactions.ts
  ironfish-cli/src/commands/service/sync-transactions.ts
  ironfish/src/webApi.ts
Due: ironfish-cli, ironfish

feat: update class name
  ironfish-cli/src/commands/service/sync-masp-transactions.ts
Due: ironfish-cli, ironfish

avoids re-syncing expired transactions in wallet
  ironfish/src/wallet/__fixtures__/wallet.test.ts.fixture
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

chore(rust): Update `public_key_randomness` comment
  ironfish-rust/src/transaction/mints.rs
Due: ironfish-rust, ironfish

chore(rust,zkp): Add some docs for mint circuit and description (#2594)
  ironfish-rust/src/transaction/mints.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/spending.rs
  ironfish-zkp/src/circuits/mint_asset.rs
Due: ironfish-rust, ironfish

fixes tests of expired transactions
  ironfish/src/wallet/__fixtures__/wallet.test.ts.fixture
  ironfish/src/wallet/wallet.test.ts
Due: ironfish

Encode hard fork into invalid blocks
  ironfish/src/blockchain/blockchain.ts
Due: ironfish

Remove CurrencyUtils.isValid*() (#2498)
  ironfish-cli/src/commands/accounts/pay.ts
  ironfish/src/rpc/routes/transactions/sendTransaction.test.ts
  ironfish/src/rpc/routes/transactions/sendTransaction.ts
  ironfish/src/utils/currency.test.ts
  ironfish/src/utils/currency.ts
Due: ironfish-cli, ironfish

Moved to hard code
  ironfish/src/blockchain/blockchain.ts
Due: ironfish

don't update balance for expired transactions
  ironfish-cli/src/commands/accounts/repair.ts
Due: ironfish-cli, ironfish

Encode hard fork into invalid blocks (#2598)
  ironfish/src/blockchain/blockchain.ts
Due: ironfish

fixes lint
  ironfish-cli/src/commands/accounts/repair.ts
Due: ironfish-cli, ironfish

Add consensus parameters to strategy
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/node.ts
  ironfish/src/strategy.test.slow.ts
  ironfish/src/strategy.test.ts
  ironfish/src/strategy.ts
Due: ironfish

chore(rust,zkp): Minor mint-related cleanup, Mint description tests and params
  ironfish-rust/src/lib.rs
  ironfish-rust/src/sapling_params/sapling-mint.params
  ironfish-rust/src/transaction/mints.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-zkp/src/bin/generate_params.rs
  ironfish-zkp/src/lib.rs
Due: ironfish-rust, ironfish

remove custom eror message
  ironfish/src/fileStores/config.ts
Due: ironfish

Add consensus parameters to strategy (#2596)
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/node.ts
  ironfish/src/strategy.test.slow.ts
  ironfish/src/strategy.test.ts
  ironfish/src/strategy.ts
Due: ironfish

remove duplicate asserts
  ironfish-rust/src/transaction/mints.rs
Due: ironfish-rust, ironfish

feat(rust,zkp): Move asset description fields to metadata (#2572)
  ironfish-rust/src/assets/asset.rs
  ironfish-rust/src/transaction/mints.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-zkp/src/circuits/mint_asset.rs
  ironfish-zkp/src/circuits/util.rs
Due: ironfish-rust, ironfish

refactor(rust,zkp): Add value commitment to mint circuit, sign mint descriptions (#2587)
  ironfish-rust/src/transaction/mints.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/spending.rs
  ironfish-zkp/src/circuits/mint_asset.rs
  ironfish-zkp/src/circuits/util.rs
Due: ironfish-rust, ironfish

refactor(rust,zkp): Use pedersen hash for asset identifier (#2577)
  ironfish-rust/src/assets/asset.rs
  ironfish-zkp/src/circuits/mint_asset.rs
  ironfish-zkp/src/circuits/util.rs
  ironfish-zkp/src/constants.rs
Due: ironfish-rust, ironfish

chore(rust,zkp): Minor mint-related cleanup, Mint description tests and params (#2601)
  ironfish-rust/src/lib.rs
  ironfish-rust/src/sapling_params/sapling-mint.params
  ironfish-rust/src/transaction/mints.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-zkp/src/bin/generate_params.rs
  ironfish-zkp/src/lib.rs
Due: ironfish-rust, ironfish

feat(rust): Add value commitment to mint description (#2578)
  ironfish-rust/src/transaction/mints.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/outputs.rs
  ironfish-rust/src/transaction/spending.rs
Due: ironfish-rust, ironfish

feat(rust): Add mints to ProposedTransaction
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish

WIP feat(rust): Add some mint description fields in transaction
  ironfish-rust/src/transaction/mints.rs
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish

refactor(rust,zkp): Change Asset owner public address to asset public key (#2573)
  ironfish-rust/src/assets/asset.rs
  ironfish-rust/src/keys/mod.rs
  ironfish-rust/src/transaction/mints.rs
Due: ironfish-rust, ironfish

refactor(rust): Add placeholder test and some docs
  ironfish-rust/src/transaction/mints.rs
Due: ironfish-rust, ironfish

feat(rust): Add serialization for mint descriptions
  ironfish-rust/src/assets/asset.rs
  ironfish-rust/src/transaction/mints.rs
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish

feat(rust): start adding mint description
  ironfish-rust/src/assets/asset.rs
  ironfish-rust/src/lib.rs
  ironfish-rust/src/transaction/mints.rs
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish

feat(rust): Add burn descriptions to Transaction
  ironfish-rust/src/transaction/burns.rs
  ironfish-rust/src/transaction/mints.rs
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish

refactor(rust): Add asset preimage length check in `new_with_nonce`
  ironfish-rust/src/assets/asset.rs
Due: ironfish-rust, ironfish

refactor(rust): Use length constants in serialization
  ironfish-rust/src/assets/asset.rs
Due: ironfish-rust, ironfish

refactor(rust): Temporarily comment out serialization of mints
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish

refactor(rust): Add burn builder to separate out value commitment
  ironfish-rust/src/transaction/burns.rs
  ironfish-rust/src/transaction/mints.rs
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish

feat(rust,zkp): Add Mint Description (#2603)
  ironfish-rust/src/assets/asset.rs
  ironfish-rust/src/keys/mod.rs
  ironfish-rust/src/lib.rs
  ironfish-rust/src/sapling_params/sapling-mint.params
  ironfish-rust/src/transaction/mints.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/outputs.rs
  ironfish-rust/src/transaction/spending.rs
  ironfish-zkp/src/bin/generate_params.rs
  ironfish-zkp/src/circuits/mint_asset.rs
  ironfish-zkp/src/circuits/util.rs
  ironfish-zkp/src/constants.rs
  ironfish-zkp/src/lib.rs
Due: ironfish-rust, ironfish

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish-cli: any of: ironfish-cli, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish: any of: ironfish, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
