Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

Add getMinedBlock; add test
  ironfish/src/indexers/__fixtures__/minedBlocksIndexer.test.ts.fixture
  ironfish/src/indexers/minedBlocksIndexer.test.ts
  ironfish/src/indexers/minedBlocksIndexer.ts
Due: ironfish

Address feedback
  ironfish/src/indexers/minedBlocksIndexer.test.ts
  ironfish/src/indexers/minedBlocksIndexer.ts
  ironfish/src/node.ts
Due: ironfish

Clean up parameters and block object for ease of use in RPC route
  ironfish/src/indexer/minedBlocksIndexer.test.ts
  ironfish/src/indexer/minedBlocksIndexer.ts
Due: ironfish

Update test
  ironfish/src/network/peerNetwork.test.ts
Due: ironfish

ban spammy peers, will add a few more safeguards but this is the general idea
  ironfish/src/network/peerNetwork.ts
Due: ironfish

Further feedback
  ironfish/src/indexers/database/accountsToRemove.test.ts
  ironfish/src/indexers/database/sequenceToHashes.test.ts
  ironfish/src/indexers/minedBlocksIndexer.ts
Due: ironfish

use linter
  ironfish/src/network/peerNetwork.ts
Due: ironfish

decrement for successful transactions
  ironfish/src/network/peerNetwork.ts
Due: ironfish

fixed linter error
  ironfish/src/network/peerNetwork.ts
Due: ironfish

remove enableNativeRpcTcpAdapter flag and switch to native TCP adapter
  ironfish/src/fileStores/config.ts
  ironfish/src/rpc/adapters/ipcAdapter.ts
  ironfish/src/sdk.ts
Due: ironfish

Add rolling message counting for peers and banning them if they exceed specific amounts
  ironfish/src/network/messages/disconnecting.ts
  ironfish/src/network/peers/peer.ts
  ironfish/src/network/peers/peerManager.ts
Due: ironfish

ban peers that send lots of bad transactions
  ironfish/src/network/peerNetwork.ts
Due: ironfish

disconnect instead of ban
  ironfish/src/network/messages/disconnecting.ts
  ironfish/src/network/peerNetwork.ts
Due: ironfish

fix linter error
  ironfish/src/network/peerNetwork.ts
Due: ironfish

use milliseconds
  ironfish/src/network/peerNetwork.ts
Due: ironfish

another linter error
  ironfish/src/network/messages/disconnecting.ts
Due: ironfish

use debug not info
  ironfish/src/network/peerNetwork.ts
Due: ironfish

actually pass the logger
  ironfish/src/node.ts
Due: ironfish

more lint
  ironfish/src/network/peerNetwork.ts
Due: ironfish

Ban spammy peers (#1383)
  ironfish/src/network/messages/disconnecting.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/node.ts
Due: ironfish

Document field sizes and speed up merkleHash
  ironfish/src/primitives/noteEncrypted.ts
  ironfish/src/primitives/transaction.ts
Due: ironfish

Move workerPool saturation check above validation for new transaction gossip (#1357)
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/peerNetwork.ts
Due: ironfish

Bump versions to 0.1.34, 0.1.12
  ironfish-cli/package.json
  ironfish/package.json
Due: ironfish-cli, ironfish

remove enableNativeRpcTcpAdapter flag and switch to native TCP adapter (#1388)
  ironfish/src/fileStores/config.ts
  ironfish/src/rpc/adapters/ipcAdapter.ts
  ironfish/src/sdk.ts
Due: ironfish

Bump versions to 0.1.34, 0.1.12 (#1397)
  ironfish-cli/package.json
  ironfish/package.json
Due: ironfish-cli, ironfish

STAGING -> MASTER (#1396)
  ironfish-cli/package.json
  ironfish/package.json
  ironfish/src/fileStores/config.ts
  ironfish/src/network/messages/disconnecting.ts
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/node.ts
  ironfish/src/rpc/adapters/ipcAdapter.ts
  ironfish/src/sdk.ts
Due: ironfish-cli, ironfish

Keeping older 2.4 compose version; added mining pool to configuration; updated docs
  tools/Docker.md
  tools/docker-compose.legacy.yml
  tools/docker-compose.yml
Due: none

Documentation typos fixes
  tools/Docker.md
Due: none

Add index for mined blocks (#1189)
  ironfish/src/account/accounts.ts
  ironfish/src/fileStores/config.ts
  ironfish/src/indexers/__fixtures__/minedBlocksIndexer.test.ts.fixture
  ironfish/src/indexers/database/accountsToRemove.test.ts
  ironfish/src/indexers/database/accountsToRemove.ts
  ironfish/src/indexers/database/meta.test.ts
  ironfish/src/indexers/database/meta.ts
  ironfish/src/indexers/database/minedBlock.test.ts
  ironfish/src/indexers/database/minedBlock.ts
  ironfish/src/indexers/database/sequenceToHashes.test.ts
  ironfish/src/indexers/database/sequenceToHashes.ts
  ironfish/src/indexers/minedBlocksIndexer.test.ts
  ironfish/src/indexers/minedBlocksIndexer.ts
  ironfish/src/node.ts
Due: ironfish

Add flag for searching for single mined block hash
  ironfish-cli/src/commands/miners/mined.ts
  ironfish/src/rpc/routes/mining/exportMined.ts
Due: ironfish-cli, ironfish

Address Jason feedback
  ironfish-cli/src/commands/miners/mined.ts
Due: ironfish-cli, ironfish

Stream mined blocks from MinedBlocksIndexer
  ironfish/src/rpc/routes/mining/exportMined.ts
Due: ironfish

Add CLI flag for scanning forks for mined blocks
  ironfish-cli/src/commands/miners/mined.ts
Due: ironfish-cli, ironfish

Removed the wrong else
  ironfish-cli/src/commands/miners/mined.ts
Due: ironfish-cli, ironfish

Further feedback
  ironfish-cli/src/commands/miners/mined.ts
  ironfish/src/rpc/routes/mining/exportMined.ts
Due: ironfish-cli, ironfish

"Deleted transactions" log should now only display if transactions are actually removed
  ironfish/src/memPool/memPool.ts
Due: ironfish

Adjustment to miners:mined RPC route (#1239)
  ironfish-cli/src/commands/miners/mined.ts
  ironfish/src/rpc/routes/mining/exportMined.ts
Due: ironfish-cli, ironfish

Add indexes to reset command
  ironfish-cli/src/commands/reset.ts
Due: ironfish-cli, ironfish

Add indexes to reset command (#1433)
  ironfish-cli/src/commands/reset.ts
Due: ironfish-cli, ironfish

Revert "STAGING -> MASTER (#1396)"
  ironfish-cli/package.json
  ironfish/package.json
  ironfish/src/fileStores/config.ts
  ironfish/src/network/messages/disconnecting.ts
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/node.ts
  ironfish/src/rpc/adapters/ipcAdapter.ts
  ironfish/src/sdk.ts
Due: ironfish-cli, ironfish

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish-cli: any of: ironfish-cli, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish: any of: ironfish, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
