Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish

raw transaction serde test
  ironfish/src/primitives/__fixtures__/rawTransaction.test.ts.fixture
  ironfish/src/primitives/rawTransaction.test.ts
  ironfish/src/primitives/rawTransaction.ts
Due: ironfish

Replaces isAddress depdenency with our own implementation (#5037)
  ironfish-cli/package.json
  ironfish-cli/src/commands/wallet/chainport/send.ts
  ironfish-cli/src/utils/chainport/address.test.ts
  ironfish-cli/src/utils/chainport/address.ts
  yarn.lock
Due: ironfish

generates keys, sends transfer transaction
  ironfish-cli/src/commands/test-evm.ts
  yarn.lock
Due: ironfish

updates error handling to their new API response 400 object
  ironfish-cli/src/utils/chainport/requests.ts
Due: ironfish

removing old error type
  ironfish-cli/src/utils/chainport/requests.ts
  ironfish-cli/src/utils/chainport/types.ts
Due: ironfish

updates error handling to their new API response 400 object (#5069)
  ironfish-cli/src/utils/chainport/requests.ts
  ironfish-cli/src/utils/chainport/types.ts
Due: ironfish

update assertion
  ironfish/src/primitives/rawTransaction.ts
Due: ironfish

version bump
  ironfish-cli/package.json
  ironfish-rust-nodejs/npm/darwin-arm64/package.json
  ironfish-rust-nodejs/npm/darwin-x64/package.json
  ironfish-rust-nodejs/npm/linux-arm64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-arm64-musl/package.json
  ironfish-rust-nodejs/npm/linux-x64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-x64-musl/package.json
  ironfish-rust-nodejs/npm/win32-x64-msvc/package.json
  ironfish-rust-nodejs/package.json
  ironfish/package.json
Due: ironfish-rust, ironfish

version bump for v2.4
  ironfish-cli/package.json
  ironfish-rust-nodejs/npm/darwin-arm64/package.json
  ironfish-rust-nodejs/npm/darwin-x64/package.json
  ironfish-rust-nodejs/npm/linux-arm64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-arm64-musl/package.json
  ironfish-rust-nodejs/npm/linux-x64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-x64-musl/package.json
  ironfish-rust-nodejs/npm/win32-x64-msvc/package.json
  ironfish-rust-nodejs/package.json
  ironfish/package.json
Due: ironfish-rust, ironfish

version bump for v2.4 (#5070)
  ironfish-cli/package.json
  ironfish-rust-nodejs/npm/darwin-arm64/package.json
  ironfish-rust-nodejs/npm/darwin-x64/package.json
  ironfish-rust-nodejs/npm/linux-arm64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-arm64-musl/package.json
  ironfish-rust-nodejs/npm/linux-x64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-x64-musl/package.json
  ironfish-rust-nodejs/npm/win32-x64-msvc/package.json
  ironfish-rust-nodejs/package.json
  ironfish/package.json
Due: ironfish-rust, ironfish

WIP
  ironfish/src/rpc/routes/wallet/encryptWallet.ts
  ironfish/src/wallet/account/account.ts
  ironfish/src/wallet/wallet.ts
  ironfish/src/wallet/walletdb/accountValue.ts
Due: ironfish

Update remaining artifact github actions to v4
  .github/workflows/deploy-npm-ironfish-rust-nodejs.yml
  .github/workflows/publish-binaries.yml
Due: none

Have WalletScanner use chain directly if available (#5063) (#5066)
  ironfish/src/node.ts
  ironfish/src/wallet/scanner/chainProcessorWithTransactions.ts
  ironfish/src/wallet/scanner/walletScanner.ts
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

Introduce optional pagination to ChainProcessor
  ironfish/src/chainProcessor.ts
  ironfish/src/wallet/scanner/chainProcessorWithTransactions.ts
  ironfish/src/wallet/scanner/walletScanner.ts
Due: ironfish

Added test
  ironfish/src/__fixtures__/chainProcessor.test.ts.fixture
  ironfish/src/chainProcessor.test.ts
Due: ironfish

Introduce optional pagination to ChainProcessor (#5068)
  ironfish/src/__fixtures__/chainProcessor.test.ts.fixture
  ironfish/src/chainProcessor.test.ts
  ironfish/src/chainProcessor.ts
  ironfish/src/wallet/scanner/chainProcessorWithTransactions.ts
  ironfish/src/wallet/scanner/walletScanner.ts
Due: ironfish

Simplify ChainProcessor return logic
  ironfish/src/chainProcessor.ts
Due: ironfish

EVM transaction data 2/2 (#5056)
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust/src/errors.rs
  ironfish-rust/src/transaction/evm.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/tests.rs
  ironfish-rust/src/transaction/unsigned.rs
  ironfish-rust/src/transaction/version.rs
  ironfish/src/blockHasher.test.ts
  ironfish/src/consensus/consensus.test.ts
  ironfish/src/consensus/consensus.ts
  ironfish/src/networks/definitions/devnet.ts
  ironfish/src/networks/definitions/mainnet.ts
  ironfish/src/networks/definitions/testnet.ts
  ironfish/src/networks/networkDefinition.ts
  ironfish/src/primitives/__fixtures__/rawTransaction.test.ts.fixture
  ironfish/src/primitives/evmDescription.ts
  ironfish/src/primitives/rawTransaction.test.ts
  ironfish/src/primitives/rawTransaction.ts
  ironfish/src/primitives/transaction.test.ts
  ironfish/src/primitives/transaction.ts
Due: ironfish-rust, ironfish

Update remaining artifact github actions to v4 (#5072)
  .github/workflows/deploy-npm-ironfish-rust-nodejs.yml
  .github/workflows/publish-binaries.yml
Due: none

Update our fork of `jubjub` to the latest version
  Cargo.lock
  supply-chain/audits.toml
  supply-chain/config.toml
Due: none

Prune the `cargo vet` exemptions
  supply-chain/config.toml
  supply-chain/imports.lock
Due: none

Add a development-only feature to print statistics related to notes encryption
  Cargo.lock
  ironfish-rust-nodejs/Cargo.toml
  ironfish-rust-nodejs/package.json
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust-nodejs/src/stats.rs
  ironfish-rust/Cargo.toml
  ironfish-rust/src/merkle_note.rs
  supply-chain/audits.toml
  supply-chain/imports.lock
Due: ironfish-rust, ironfish

wip: adds example of resetting state root
  ironfish-cli/src/commands/test-evm.ts
Due: ironfish

Add test to ensure chain remains stable
  ironfish/src/__fixtures__/chainProcessor.test.ts.fixture
  ironfish/src/chainProcessor.test.ts
Due: ironfish

Simplify ChainProcessor return logic (#5073)
  ironfish/src/__fixtures__/chainProcessor.test.ts.fixture
  ironfish/src/chainProcessor.test.ts
  ironfish/src/chainProcessor.ts
Due: ironfish

fixes dkg round3 prompt for secret package
  ironfish-cli/src/commands/wallet/multisig/dkg/round3.ts
Due: ironfish

fixes dkg round3 prompt for secret package (#5076)
  ironfish-cli/src/commands/wallet/multisig/dkg/round3.ts
Due: ironfish

Suppress logs during nodeless wallet rescans
  ironfish-cli/src/commands/wallet/rescan.ts
Due: ironfish

wip: tests zondax signing logic
  ironfish-rust/src/transaction/tests.rs
Due: ironfish-rust, ironfish

feat(rust-nodejs): Add xchacha20poly1305 encrypt and decrypt
  Cargo.lock
  ironfish-rust-nodejs/Cargo.toml
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust-nodejs/src/xchacha20poly1305.rs
Due: ironfish-rust, ironfish

wip: simple evm transaction execution (#5067)
  ironfish-cli/package.json
  ironfish-cli/src/commands/test-evm.ts
  ironfish/package.json
  ironfish/src/evm/blockchain.ts
  ironfish/src/evm/evm.ts
  ironfish/src/evm/index.ts
  ironfish/src/evm/state.ts
  yarn.lock
Due: ironfish

setting up zondax test
  ironfish-rust/src/transaction/tests.rs
Due: ironfish-rust, ironfish

updates with fixes
  ironfish-rust/src/transaction/tests.rs
Due: ironfish-rust, ironfish

test
  Cargo.lock
  ironfish-rust/Cargo.toml
  ironfish-rust/src/transaction/tests.rs
Due: ironfish-rust, ironfish

adds signature to unsigned transaction and verifies
  ironfish-rust/src/transaction/tests.rs
  ironfish-rust/src/transaction/unsigned.rs
Due: ironfish-rust, ironfish

feat(ironfish): Add encrypted account and account value
  ironfish/src/testUtilities/fixtures/account.ts
  ironfish/src/wallet/account/account.ts
  ironfish/src/wallet/wallet.ts
  ironfish/src/wallet/walletdb/accountValue.ts
Due: ironfish

feat(ironfish): Add lock and unlock to the wallet
  ironfish/src/wallet/account/account.ts
  ironfish/src/wallet/wallet.ts
  ironfish/src/wallet/walletdb/accountValue.ts
Due: ironfish

feat(ironfish): Add encrypt method to account
  ironfish/src/wallet/account/account.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-rust-nodejs/*
  ironfish: any of: ironfish, but not: config/*, ironfish-rust-nodejs/*
