Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish

codecov.yml:

ignore:
  - config/*
  - ironfish-rust-nodejs/*
comment: false
github_checks:
  annotations: false
coverage:
  fixes:
    - "/home/runner/work/ironfish/ironfish/::/"
  status:
    patch:
      default:
        target: 10%
        threshold: 0%
    project:
      default:
        target: 10%
      ironfish-rust:
        target: 10%
        flags:
          - ironfish-rust
      ironfish-cli:
        target: 10%
        flags:
          - ironfish-cli
      ironfish:
        target: 10%
        flags:
          - ironfish
flags:
  ironfish-rust:
    paths:
      - ironfish-rust
    carryforward: true
  ironfish:
    paths:
      - ironfish
    carryforward: true

refactor(rust-nodejs): Run clippy
  ironfish-rust-nodejs/src/structs/note.rs
  ironfish-rust-nodejs/src/structs/note_encrypted.rs
Due: ironfish-rust, ironfish

adds missing fields to wallet transaction RPCs
  ironfish/src/rpc/routes/wallet/getTransaction.ts
  ironfish/src/rpc/routes/wallet/getTransactions.ts
Due: ironfish

refactor(ironfish): Run lint
  ironfish/src/wallet/wallet.ts
Due: ironfish

adds missing fields to wallet transaction RPCs (#3768)
  ironfish/src/rpc/routes/wallet/getTransaction.ts
  ironfish/src/rpc/routes/wallet/getTransactions.ts
Due: ironfish

Remove undefined from Target constructor (#3765)
  ironfish/src/primitives/target.test.ts
  ironfish/src/primitives/target.ts
Due: ironfish

feature(ironfish): Add RPC route for `chain:broadcast` (#3742)
  ironfish-cli/src/commands/chain/broadcast.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/chain/__fixtures__/broadcastTransaction.test.ts.fixture
  ironfish/src/rpc/routes/chain/broadcastTransaction.test.ts
  ironfish/src/rpc/routes/chain/broadcastTransaction.ts
  ironfish/src/rpc/routes/chain/index.ts
Due: ironfish

Update ironfish/src/rpc/routes/wallet/postTransaction.test.ts
  ironfish/src/rpc/routes/wallet/postTransaction.test.ts
Due: ironfish

Remove setDefaultAccount
  simulator/src/simulator/utils/accounts.ts
Due: none

Fix name typo
  simulator/src/simulator/simulation-node.ts
  simulator/src/simulator/simulator.ts
Due: none

feat(simulator): Support accessing the genesis block in the simulator (#3757)
  ironfish/src/defaultNetworkDefinitions.ts
  ironfish/src/index.ts
  simulator/src/simulator/simulation-node.ts
  simulator/src/simulator/simulator.ts
  simulator/src/simulator/utils/accounts.ts
Due: ironfish

removes noteIndex from each note in chain/getTransaction response
  ironfish/src/rpc/routes/chain/getTransaction.ts
Due: ironfish

expect on transaction hash value
  ironfish/src/rpc/routes/wallet/postTransaction.test.ts
Due: ironfish

adds transactionHashToBlockHash chain index (#3761)
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/blockchain/schema.ts
Due: ironfish

changes method name to include 'Block' for clarity
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/rpc/routes/chain/getTransaction.ts
Due: ironfish

makes blockHash optional in chain/getTransaction requests
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/rpc/routes/chain/__fixtures__/getTransaction.test.ts.fixture
  ironfish/src/rpc/routes/chain/getTransaction.test.ts
  ironfish/src/rpc/routes/chain/getTransaction.ts
Due: ironfish

fixes lint
  ironfish/src/rpc/routes/chain/getTransaction.test.ts
Due: ironfish

fixes 'notes' field name in yup schema
  ironfish/src/rpc/routes/wallet/getTransactions.ts
Due: ironfish

adds hash to response of wallet/postTransaction (#3764)
  ironfish/src/rpc/routes/wallet/postTransaction.test.ts
  ironfish/src/rpc/routes/wallet/postTransaction.ts
Due: ironfish

makes blockHash optional in chain/getTransaction requests (#3762)
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/rpc/routes/chain/__fixtures__/getTransaction.test.ts.fixture
  ironfish/src/rpc/routes/chain/getTransaction.test.ts
  ironfish/src/rpc/routes/chain/getTransaction.ts
Due: ironfish

Use schema result when routing requests (#3710)
  ironfish/src/rpc/routes/faucet/getFunds.ts
  ironfish/src/rpc/routes/router.test.ts
  ironfish/src/rpc/routes/router.ts
  ironfish/src/rpc/routes/wallet/addTransaction.ts
  ironfish/src/rpc/routes/wallet/exportAccount.ts
  ironfish/src/rpc/routes/wallet/getBalance.ts
  ironfish/src/rpc/routes/wallet/getNotes.ts
  ironfish/src/rpc/routes/wallet/getPublicKey.ts
  ironfish/src/rpc/routes/wallet/getTransactions.test.ts
  ironfish/src/rpc/routes/wallet/getTransactions.ts
  ironfish/src/rpc/routes/wallet/postTransaction.ts
Due: ironfish

sets noteSize equal to iniitalNoteIndex + transaction.notes.length
  ironfish/src/rpc/routes/chain/getTransaction.ts
Due: ironfish

Add index & noteIndex in chain/getTransaction (#3709)
  ironfish/src/rpc/routes/chain/getTransaction.ts
Due: ironfish

fixes lint errors from rpc client namespaces
  ironfish/src/rpc/routes/wallet/getTransactions.test.ts
  simulator/src/simulator/utils/accounts.ts
Due: ironfish

fixes lint errors from rpc client namespaces (#3772)
  ironfish/src/rpc/routes/wallet/getTransactions.test.ts
  simulator/src/simulator/utils/accounts.ts
Due: ironfish

bumps package versions for v0.1.75
  ironfish-cli/package.json
  ironfish-rust-nodejs/npm/darwin-arm64/package.json
  ironfish-rust-nodejs/npm/darwin-x64/package.json
  ironfish-rust-nodejs/npm/linux-arm64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-arm64-musl/package.json
  ironfish-rust-nodejs/npm/linux-x64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-x64-musl/package.json
  ironfish-rust-nodejs/npm/win32-x64-msvc/package.json
  ironfish-rust-nodejs/package.json
  ironfish/package.json
Due: ironfish-rust, ironfish

bumps sdk dependency in simulator package
  simulator/package.json
Due: none

bumps package versions for v0.1.75 (#3771)
  ironfish-cli/package.json
  ironfish-rust-nodejs/npm/darwin-arm64/package.json
  ironfish-rust-nodejs/npm/darwin-x64/package.json
  ironfish-rust-nodejs/npm/linux-arm64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-arm64-musl/package.json
  ironfish-rust-nodejs/npm/linux-x64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-x64-musl/package.json
  ironfish-rust-nodejs/npm/win32-x64-msvc/package.json
  ironfish-rust-nodejs/package.json
  ironfish/package.json
  simulator/package.json
Due: ironfish-rust, ironfish

refactor(rust-nodejs): Format
  ironfish-rust-nodejs/src/structs/transaction.rs
Due: ironfish-rust, ironfish

fix: gracefully shutdown simulator on unexpected exit
  simulator/src/commands/start.ts
  simulator/src/simulations/index.ts
  simulator/src/simulations/send.ts
  simulator/src/simulations/stability.ts
  simulator/src/simulator/simulator.ts
Due: none

fix(cli): Fix CLI types
  ironfish-cli/src/commands/chain/genesisadd.ts
  ironfish-cli/src/commands/chain/genesisblock.ts
  ironfish-cli/src/commands/miners/pools/status.ts
  ironfish-cli/src/commands/miners/start.ts
  ironfish-cli/src/commands/service/faucet.ts
  ironfish-cli/src/commands/wallet/export.ts
  ironfish-cli/src/commands/wallet/import.ts
  ironfish-cli/src/commands/wallet/send.ts
Due: ironfish

feat(cli,rust-nodejs): Update `wordsToSpendingKey` and `post`
  ironfish-cli/src/commands/wallet/import.ts
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust-nodejs/tests/demo.test.slow.ts
Due: ironfish-rust, ironfish

fix(simulator): Update to buffer
  simulator/src/simulator/utils/transactions.ts
Due: none

fix(ironfish): Clean up createMinersFee
  ironfish/src/workerPool/tasks/createMinersFee.test.ts
  ironfish/src/workerPool/tasks/createMinersFee.ts
Due: ironfish

Fix some tests
  ironfish/src/rpc/routes/chain/getTransactionStream.test.ts
  ironfish/src/rpc/routes/faucet/getFunds.test.ts
  ironfish/src/rpc/routes/wallet/exportAccount.test.ts
  ironfish/src/rpc/routes/wallet/exportAccount.ts
  ironfish/src/rpc/routes/wallet/getAssets.test.ts
  ironfish/src/rpc/routes/wallet/getPublicKey.test.ts
Due: ironfish

fix(rust-nodejs): Add length check
  ironfish-rust-nodejs/src/lib.rs
Due: ironfish-rust, ironfish

fix some more tests
  ironfish/src/rpc/routes/wallet/create.test.slow.ts
  ironfish/src/strategy.test.slow.ts
Due: ironfish
