Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

Fix lint
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/chain/estimateFee.test.ts
Due: ironfish

Delete fees RPC namespace (#2822)
  ironfish-cli/src/commands/service/estimate-fee-rates.ts
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/chain/__fixtures__/estimateFee.test.ts.fixture
  ironfish/src/rpc/routes/chain/estimateFee.test.ts
  ironfish/src/rpc/routes/chain/estimateFee.ts
  ironfish/src/rpc/routes/chain/estimateFeeRates.ts
  ironfish/src/rpc/routes/chain/index.ts
  ironfish/src/rpc/routes/fees/index.ts
  ironfish/src/rpc/routes/index.ts
  ironfish/src/rpc/routes/router.ts
Due: ironfish-cli, ironfish

Upgrading oclif/core to 1.23.1
  ironfish-cli/package.json
  ironfish-cli/src/commands/accounts/create.ts
  ironfish-cli/src/commands/accounts/import.ts
  ironfish-cli/src/commands/accounts/pay.ts
  ironfish-cli/src/commands/accounts/remove.ts
  ironfish-cli/src/commands/faucet.ts
  ironfish-cli/src/commands/testnet.ts
  yarn.lock
Due: ironfish-cli, ironfish

adds balance delta mapping to transactionValue
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/walletdb/__fixtures__/transactionValue.test.ts.fixture
  ironfish/src/wallet/walletdb/transactionValue.test.ts
  ironfish/src/wallet/walletdb/transactionValue.ts
Due: ironfish

addresses pr feedback
  ironfish/src/wallet/walletdb/transactionValue.ts
Due: ironfish

Remove mintAsset test function (#2810)
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/testUtilities/fixtures.ts
  ironfish/src/testUtilities/helpers/transaction.ts
Due: ironfish

feat(ironfish): Update mint arguments to be consistent with pay (#2817)
  ironfish/src/rpc/routes/assets/mint.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

Revert autochanged files.
  ironfish-rust-nodejs/index.d.ts
Due: none

Return rust-nodejs/index.js to how it was at commit 38d252.
  ironfish-rust-nodejs/index.js
Due: none

Use clean branch
  ironfish-cli/src/commands/accounts/address.ts
  ironfish-cli/src/commands/accounts/index.ts
  ironfish-cli/src/commands/accounts/status.ts
  ironfish-cli/src/commands/chain/benchmark.ts
  ironfish-cli/src/commands/chain/readd-block.ts
  ironfish-cli/src/commands/config/index.ts
  ironfish-cli/src/commands/migrations/index.ts
  ironfish-cli/src/commands/peers/index.ts
  ironfish-cli/src/commands/service/sync-masp-transactions.ts
Due: ironfish-cli, ironfish

feat(ironfish): Add burn method to wallet (#2816)
  ironfish/src/testUtilities/fixtures.ts
  ironfish/src/wallet/__fixtures__/wallet.test.ts.fixture
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

Merge transaction namespace into wallet RPC namespace (#2823)
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/router.ts
  ironfish/src/rpc/routes/transactions/sendTransaction.ts
Due: ironfish

Upgrading oclif/core to 1.23.1 (#2824)
  ironfish-cli/package.json
  ironfish-cli/src/commands/accounts/create.ts
  ironfish-cli/src/commands/accounts/import.ts
  ironfish-cli/src/commands/accounts/pay.ts
  ironfish-cli/src/commands/accounts/remove.ts
  ironfish-cli/src/commands/faucet.ts
  ironfish-cli/src/commands/testnet.ts
  yarn.lock
Due: ironfish-cli, ironfish

adds balance delta mapping to transactionValue (#2819)
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/walletdb/__fixtures__/transactionValue.test.ts.fixture
  ironfish/src/wallet/walletdb/transactionValue.test.ts
  ironfish/src/wallet/walletdb/transactionValue.ts
Due: ironfish

Move transaction routes into wallet folder
  ironfish/src/rpc/routes/index.ts
  ironfish/src/rpc/routes/transactions/index.ts
  ironfish/src/rpc/routes/wallet/__fixtures__/sendTransaction.test.ts.fixture
  ironfish/src/rpc/routes/wallet/index.ts
  ironfish/src/rpc/routes/wallet/sendTransaction.test.ts
  ironfish/src/rpc/routes/wallet/sendTransaction.ts
Due: ironfish

Kill aliases in ironfish-cli (#2825)
  ironfish-cli/src/commands/accounts/address.ts
  ironfish-cli/src/commands/accounts/index.ts
  ironfish-cli/src/commands/accounts/status.ts
  ironfish-cli/src/commands/chain/benchmark.ts
  ironfish-cli/src/commands/chain/readd-block.ts
  ironfish-cli/src/commands/config/index.ts
  ironfish-cli/src/commands/migrations/index.ts
  ironfish-cli/src/commands/peers/index.ts
  ironfish-cli/src/commands/service/sync-masp-transactions.ts
Due: ironfish-cli, ironfish

Move transaction routes into wallet folder (#2829)
  ironfish/src/rpc/routes/index.ts
  ironfish/src/rpc/routes/transactions/index.ts
  ironfish/src/rpc/routes/wallet/__fixtures__/sendTransaction.test.ts.fixture
  ironfish/src/rpc/routes/wallet/index.ts
  ironfish/src/rpc/routes/wallet/sendTransaction.test.ts
  ironfish/src/rpc/routes/wallet/sendTransaction.ts
Due: ironfish

Rename Wallet.pay() -> Wallet.send()
  ironfish-cli/src/commands/accounts/send.ts
  ironfish/src/rpc/routes/wallet/sendTransaction.test.ts
  ironfish/src/rpc/routes/wallet/sendTransaction.ts
  ironfish/src/testUtilities/fixtures.ts
  ironfish/src/wallet/wallet.test.slow.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish-cli, ironfish

Update fixtures
  ironfish/src/rpc/routes/wallet/__fixtures__/sendTransaction.test.ts.fixture
  ironfish/src/wallet/__fixtures__/wallet.test.slow.ts.fixture
Due: ironfish

refactor(ironfish): Move mint asset under wallet namespace
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/assets/index.ts
  ironfish/src/rpc/routes/index.ts
  ironfish/src/rpc/routes/router.ts
  ironfish/src/rpc/routes/wallet/__fixtures__/mintAsset.test.ts.fixture
  ironfish/src/rpc/routes/wallet/index.ts
  ironfish/src/rpc/routes/wallet/mintAsset.test.ts
  ironfish/src/rpc/routes/wallet/mintAsset.ts
Due: ironfish

Rename Wallet.pay() -> Wallet.send() (#2830)
  ironfish-cli/src/commands/accounts/send.ts
  ironfish/src/rpc/routes/wallet/__fixtures__/sendTransaction.test.ts.fixture
  ironfish/src/rpc/routes/wallet/sendTransaction.test.ts
  ironfish/src/rpc/routes/wallet/sendTransaction.ts
  ironfish/src/testUtilities/fixtures.ts
  ironfish/src/wallet/__fixtures__/wallet.test.slow.ts.fixture
  ironfish/src/wallet/wallet.test.slow.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish-cli, ironfish

feat(ironfish): Add RPC route for `wallet/burnAsset`
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/wallet/__fixtures__/burnAsset.test.ts.fixture
  ironfish/src/rpc/routes/wallet/burnAsset.test.ts
  ironfish/src/rpc/routes/wallet/burnAsset.ts
  ironfish/src/rpc/routes/wallet/index.ts
Due: ironfish

feat(cli): Add `wallet:burn` CLI command
  ironfish-cli/src/commands/wallet/burn.ts
Due: ironfish-cli, ironfish

feat(ironfish): Add RPC route for `wallet/burnAsset` (#2833)
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/wallet/__fixtures__/burnAsset.test.ts.fixture
  ironfish/src/rpc/routes/wallet/burnAsset.test.ts
  ironfish/src/rpc/routes/wallet/burnAsset.ts
  ironfish/src/rpc/routes/wallet/index.ts
Due: ironfish

refactor(cli): Fix lint
  ironfish-cli/src/commands/wallet/burn.ts
Due: ironfish-cli, ironfish

feat(cli): Add `wallet:burn` CLI command (#2834)
  ironfish-cli/src/commands/wallet/burn.ts
Due: ironfish-cli, ironfish

refactor(ironfish): Move mint asset under wallet namespace (#2831)
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/assets/index.ts
  ironfish/src/rpc/routes/index.ts
  ironfish/src/rpc/routes/router.ts
  ironfish/src/rpc/routes/wallet/__fixtures__/mintAsset.test.ts.fixture
  ironfish/src/rpc/routes/wallet/index.ts
  ironfish/src/rpc/routes/wallet/mintAsset.test.ts
  ironfish/src/rpc/routes/wallet/mintAsset.ts
Due: ironfish

refactor(cli): `yarn lint:fix`
  ironfish-cli/src/commands/accounts/balance.ts
Due: ironfish-cli, ironfish

feat(rust): use `checked_add` for `ValueBalance`
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/tests.rs
  ironfish-rust/src/transaction/value_balances.rs
Due: ironfish-rust, ironfish

feat(rust): use `checked_add` for `ValueBalance` (#2840)
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/tests.rs
  ironfish-rust/src/transaction/value_balances.rs
Due: ironfish-rust, ironfish

Update napi-rs
  Cargo.lock
  Cargo.toml
  ironfish-rust-nodejs/Cargo.toml
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/package.json
  yarn.lock
Due: none

fixes submittedSequence to be non-nullable
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.ts
  ironfish/src/wallet/walletdb/transactionValue.test.ts
  ironfish/src/wallet/walletdb/transactionValue.ts
Due: ironfish

feat: review updates
  ironfish/src/rpc/routes/chain/getTransactionStream.ts
Due: ironfish

feat: renaming and asset value change
  ironfish/src/rpc/routes/chain/getTransactionStream.ts
Due: ironfish

feat: update get transaction stream to handle multi asset
  ironfish-cli/src/commands/service/sync-masp-transactions.ts
  ironfish/src/webApi.ts
Due: ironfish-cli, ironfish

feat: wire up assets to masp syncer cli command
  ironfish-cli/src/commands/service/sync-masp-transactions.ts
  ironfish/src/rpc/routes/chain/getTransactionStream.ts
  ironfish/src/webApi.ts
Due: ironfish-cli, ironfish

feat: fix typo
  ironfish-cli/src/commands/service/sync-multi-asset.ts
  ironfish/src/rpc/routes/chain/__fixtures__/getTransactionStream.test.ts.fixture
  ironfish/src/rpc/routes/chain/getTransactionStream.test.ts
  ironfish/src/rpc/routes/chain/getTransactionStream.ts
  ironfish/src/webApi.ts
Due: ironfish-cli, ironfish

feat: rename back to assetId since PR was merged for renaming
  ironfish/src/rpc/routes/chain/getTransactionStream.ts
Due: ironfish

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish-cli: any of: ironfish-cli, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish: any of: ironfish, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
