Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

codecov.yml:

ignore:
  - config/*
  - ironfish-rust-nodejs/*
  - ironfish-rust-wasm/*
comment: false
github_checks:
  annotations: false
coverage:
  fixes:
    - "/home/runner/work/ironfish/ironfish/::/"
  status:
    patch:
      default:
        target: auto
        threshold: 50%
    project:
      default:
        target: 63%
      ironfish-rust:
        target: 53%
        flags:
          - ironfish-rust
      ironfish-cli:
        target: 50%
        flags:
          - ironfish-cli
      ironfish:
        target: 60%
        flags:
          - ironfish
      event:
        target: 84%
        flags:
          - event
      logger:
        target: 90%
        flags:
          - logger
      serde:
        target: 90%
        flags:
          - serde
flags:
  ironfish-rust:
    paths:
      - ironfish-rust
    carryforward: true
  ironfish-cli:
    paths:
      - ironfish-cli
    carryforward: true
  ironfish:
    paths:
      - ironfish
    carryforward: true

consistent casing and name fix
  ironfish-cli/src/commands/debug.ts
Due: ironfish-cli, ironfish

Add debug command with accounts head info
  ironfish-cli/src/commands/debug.ts
Due: ironfish-cli, ironfish

Update Package usage to match new code
  ironfish-cli/src/commands/debug.ts
Due: ironfish-cli, ironfish

Removed double license
  ironfish/src/utils/file.ts
Due: ironfish

feat(cli,ironfish): Show heap total in status and rename RSS to Memory (#918)
  ironfish-cli/src/commands/status.test.ts
  ironfish-cli/src/commands/status.ts
  ironfish/src/metrics/metricsMonitor.ts
  ironfish/src/rpc/routes/node/getStatus.ts
Due: ironfish-cli, ironfish

Format miner hash rate using metric system (#921)
  ironfish-cli/src/commands/miners/start.ts
  ironfish/src/utils/file.test.ts
  ironfish/src/utils/file.ts
  ironfish/src/utils/math.test.ts
  ironfish/src/utils/math.ts
Due: ironfish-cli, ironfish

Add debug command with accounts head info (#920)
  ironfish-cli/src/commands/debug.ts
Due: ironfish-cli, ironfish

Minor typos in README.md (#919)
  README.md
Due: none

Bump version to 0.1.20
  ironfish-cli/package.json
  ironfish/package.json
Due: ironfish-cli, ironfish

Fix slow startup when accounts is full
  ironfish/src/account/accountsdb.ts
Due: ironfish

Add GetUnspentNotes worker pool task
  ironfish/src/account/accounts.ts
  ironfish/src/rpc/routes/accounts/getBalance.ts
  ironfish/src/rpc/routes/accounts/removeAccount.ts
  ironfish/src/rpc/routes/transactions/sendTransaction.ts
  ironfish/src/workerPool/messages.ts
  ironfish/src/workerPool/pool.ts
  ironfish/src/workerPool/tasks/getUnspentNotes.ts
  ironfish/src/workerPool/tasks/index.ts
Due: ironfish

Chop leading zeroes from truncated hashes
  ironfish-graph-explorer/src/index.js
  ironfish/src/utils/hash.ts
Due: ironfish

Add worker message time and adjust request/response messages
  ironfish/src/workerPool/messages.ts
Due: ironfish

Expose additional methods from underlying bufio module
  ironfish/src/typedefs/bufio.d.ts
Due: ironfish

Adjust task handlers
  ironfish/src/workerPool/tasks/boxMessage.ts
  ironfish/src/workerPool/tasks/createMinersFee.ts
  ironfish/src/workerPool/tasks/createTransaction.ts
  ironfish/src/workerPool/tasks/jobAbort.ts
  ironfish/src/workerPool/tasks/mineHeader.ts
  ironfish/src/workerPool/tasks/sleep.ts
  ironfish/src/workerPool/tasks/transactionFee.ts
  ironfish/src/workerPool/tasks/unboxMessage.ts
  ironfish/src/workerPool/tasks/verifyTransaction.ts
Due: ironfish

Adjust index.ts to use new return types
  ironfish/src/workerPool/tasks/index.ts
Due: ironfish

Adjust job, pool, and worker to use new serializing behavior
  ironfish/src/workerPool/job.ts
  ironfish/src/workerPool/pool.ts
  ironfish/src/workerPool/worker.ts
Due: ironfish

Change from hardcoded message type strings to enum equivalent
  ironfish/src/rpc/routes/workers/getStatus.ts
Due: ironfish

Fix mineHeader
  ironfish/src/workerPool/tasks/index.ts
  ironfish/src/workerPool/tasks/mineHeader.ts
Due: ironfish

Add AbortSignal to ChainProcessor.update
  ironfish/src/account/accounts.ts
  ironfish/src/chainProcessor.ts
  ironfish/src/rpc/routes/chain/followChain.ts
Due: ironfish

Fix tests and add one for aborting
  config/jestNodeEnvironment.js
  ironfish/src/chainProcessor.test.ts
Due: ironfish

Start fixing tests
  ironfish/src/blockchain/blockchain.test.perf.ts
  ironfish/src/rpc/routes/transactions/sendTransaction.test.ts
Due: ironfish

Fix slow startup when accounts is full (#926)
  ironfish/src/account/accountsdb.ts
Due: ironfish

Fix some tests
  ironfish/src/account/accounts.test.slow.ts
  ironfish/src/account/accounts.test.ts
  ironfish/src/genesis/genesis.test.slow.ts
Due: ironfish

Add a github action to push version to API
  .github/workflows/push-new-version-api.yml
  ironfish-cli/scripts/push-version.sh
Due: ironfish-cli, ironfish

Avoid making BigUInts when comparing hashes
  ironfish-rust/src/mining.rs
Due: ironfish-rust, ironfish

Add timeouts
  ironfish-cli/src/commands/accounts/export.test.ts
  ironfish-cli/src/commands/accounts/rescan.test.ts
  ironfish-cli/src/commands/status.test.ts
Due: ironfish-cli, ironfish

Test via trigger
  .github/workflows/push-new-version-api.yml
Due: none

Move job to main deploy workflow, remove test flow
  .github/workflows/deploy-node-aws.yml
  .github/workflows/push-new-version-api.yml
Due: none

Push version job: use post body instead of query param
  ironfish-cli/scripts/push-version.sh
Due: ironfish-cli, ironfish

Avoid making BigUInts when comparing hashes (#932)
  ironfish-rust/src/mining.rs
Due: ironfish-rust, ironfish

Remove Biguint from Rust code
  ironfish-rust-nodejs/Cargo.lock
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust-wasm/Cargo.lock
  ironfish-rust/Cargo.lock
  ironfish-rust/Cargo.toml
  ironfish-rust/src/mining.rs
  ironfish/src/mining/mineHeader.ts
Due: ironfish-rust, ironfish

Move version push job into it's own step
  .github/workflows/deploy-node-aws.yml
  .github/workflows/push-version-to-api.yml
Due: none

Add a github action to push version to API (#933)
  .github/workflows/push-version-to-api.yml
  ironfish-cli/scripts/push-version.sh
Due: ironfish-cli, ironfish

Create .gitattributes
  .gitattributes
Due: none

Create .gitattributes (#924)
  .gitattributes
Due: none

Remove Biguint from Rust code (#936)
  ironfish-rust-nodejs/Cargo.lock
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust-wasm/Cargo.lock
  ironfish-rust/Cargo.lock
  ironfish-rust/Cargo.toml
  ironfish-rust/src/mining.rs
  ironfish/src/mining/mineHeader.ts
Due: ironfish-rust, ironfish

Fix rescan when account head is on a fork
  ironfish/src/account/accounts.ts
  ironfish/src/blockchain/blockchain.ts
Due: ironfish

feat(ironfish): Update telemetry payloads to match API schema
  ironfish/src/fileStores/config.ts
  ironfish/src/node.ts
  ironfish/src/telemetry/__snapshots__/submit.test.ts.snap
  ironfish/src/telemetry/index.ts
  ironfish/src/telemetry/submit.test.ts
  ironfish/src/telemetry/telemetryBackgroundTask.test.ts
  ironfish/src/telemetry/telemetryBackgroundTask.ts
Due: ironfish

Added a test
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/blockchain/blockchain.ts
Due: ironfish
