Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

feat(rust): Remove intermediate hash step for Assets
  ironfish-rust/src/assets/asset.rs
  ironfish-rust/src/transaction/mints.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/rpc/routes/chain/__fixtures__/getTransactionStream.test.ts.fixture
  ironfish/src/rpc/routes/wallet/__fixtures__/burnAsset.test.ts.fixture
  ironfish/src/wallet/__fixtures__/wallet.test.ts.fixture
  ironfish/src/wallet/wallet.test.ts
Due: ironfish-rust, ironfish

feat(ci): Increase timeout for cargo tarpaulin (#2858)
  .github/workflows/rust_ci.yml
Due: none

feat(rust): Remove intermediate hash step for Assets (#2850)
  ironfish-rust/src/assets/asset.rs
  ironfish-rust/src/transaction/mints.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/rpc/routes/chain/__fixtures__/getTransactionStream.test.ts.fixture
  ironfish/src/rpc/routes/wallet/__fixtures__/burnAsset.test.ts.fixture
  ironfish/src/wallet/__fixtures__/wallet.test.ts.fixture
  ironfish/src/wallet/wallet.test.ts
Due: ironfish-rust, ironfish

refactor(rust): Use already-defined ASSET_LENGTH const
  ironfish-rust/src/assets/asset.rs
Due: ironfish-rust, ironfish

update fixtures
  ironfish-rust-nodejs/index.d.ts
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/rpc/routes/chain/__fixtures__/getTransactionStream.test.ts.fixture
  ironfish/src/rpc/routes/wallet/__fixtures__/burnAsset.test.ts.fixture
  ironfish/src/wallet/__fixtures__/wallet.test.ts.fixture
Due: ironfish

fix(test): Remove hard-coded test timeout override
  ironfish/src/blockchain/blockchain.test.ts
Due: ironfish

feat(rust): Use fallible casting so values arent silently incorrect
  ironfish-rust/src/errors.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/tests.rs
Due: ironfish-rust, ironfish

chore: rescanning wrong deposit address
  ironfish-cli/src/commands/accounts/rescan.ts
Due: ironfish-cli, ironfish

feat(ironfish): Use fields from response
  ironfish-cli/src/commands/wallet/mint.ts
  ironfish/src/rpc/routes/wallet/mintAsset.ts
  ironfish/src/wallet/__fixtures__/wallet.test.ts.fixture
  ironfish/src/wallet/wallet.test.ts
Due: ironfish-cli, ironfish

chore: add default bootstrap node
  ironfish/src/defaultNetworkDefinitions.ts
  ironfish/src/fileStores/internal.ts
  ironfish/src/networkDefinition.ts
Due: ironfish

feat(rust): Use fallible casting so values arent silently incorrect (#2857)
  ironfish-rust/src/errors.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/tests.rs
Due: ironfish-rust, ironfish

fix(test): Remove hard-coded test timeout override (#2859)
  ironfish/src/blockchain/blockchain.test.ts
Due: ironfish

chore: add default bootstrap node (#2860)
  ironfish/src/defaultNetworkDefinitions.ts
  ironfish/src/fileStores/internal.ts
  ironfish/src/networkDefinition.ts
Due: ironfish

test(ironfish): Fix test
  ironfish/src/rpc/routes/wallet/mintAsset.test.ts
  ironfish/src/rpc/routes/wallet/mintAsset.ts
Due: ironfish

test(ironfish): Use fixture for mint
  ironfish/src/wallet/__fixtures__/wallet.test.ts.fixture
  ironfish/src/wallet/wallet.test.ts
Due: ironfish

fixes wallet scan failures
  ironfish/src/wallet/wallet.ts
Due: ironfish

feat(cli,ironfish): Update mint to accept an optional identifier (#2847)
  ironfish-cli/src/commands/wallet/mint.ts
  ironfish/src/rpc/routes/wallet/mintAsset.test.ts
  ironfish/src/rpc/routes/wallet/mintAsset.ts
  ironfish/src/wallet/__fixtures__/wallet.test.ts.fixture
  ironfish/src/wallet/interfaces/mintAssetOptions.ts
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish-cli, ironfish

removes miners fee transactions from forked blocks
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

adds tests of transaction removal
  ironfish/src/wallet/__fixtures__/account.test.ts.fixture
  ironfish/src/wallet/__fixtures__/wallet.test.ts.fixture
  ironfish/src/wallet/account.test.ts
  ironfish/src/wallet/wallet.test.ts
Due: ironfish

fixes wallet scan failures (#2861)
  ironfish/src/wallet/wallet.ts
Due: ironfish

renames removeTransaction to deleteTransaction
  ironfish/src/wallet/__fixtures__/account.test.ts.fixture
  ironfish/src/wallet/account.test.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

removes miners fee transactions from forked blocks (#2852)
  ironfish/src/wallet/__fixtures__/account.test.ts.fixture
  ironfish/src/wallet/__fixtures__/wallet.test.ts.fixture
  ironfish/src/wallet/account.test.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

Bump to version 0.1.57
  ironfish-cli/package.json
  ironfish-rust-nodejs/npm/darwin-arm64/package.json
  ironfish-rust-nodejs/npm/darwin-x64/package.json
  ironfish-rust-nodejs/npm/linux-arm64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-arm64-musl/package.json
  ironfish-rust-nodejs/npm/linux-x64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-x64-musl/package.json
  ironfish-rust-nodejs/npm/win32-x64-msvc/package.json
  ironfish-rust-nodejs/package.json
  ironfish/package.json
Due: ironfish-rust, ironfish-cli, ironfish

Bump to version 0.1.57 (#2865)
  ironfish-cli/package.json
  ironfish-rust-nodejs/npm/darwin-arm64/package.json
  ironfish-rust-nodejs/npm/darwin-x64/package.json
  ironfish-rust-nodejs/npm/linux-arm64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-arm64-musl/package.json
  ironfish-rust-nodejs/npm/linux-x64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-x64-musl/package.json
  ironfish-rust-nodejs/npm/win32-x64-msvc/package.json
  ironfish-rust-nodejs/package.json
  ironfish/package.json
Due: ironfish-rust, ironfish-cli, ironfish

add error message for re-installing with correct version
  ironfish-cli/bin/run
  ironfish-rust-nodejs/package.json
Due: ironfish-cli, ironfish

feat(ironfish): Add getBalances method to wallet and account
  ironfish/src/wallet/__fixtures__/wallet.test.ts.fixture
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

feat(ironfish): Add simple validation for mints and burns
  ironfish/src/consensus/__fixtures__/verifier.test.ts.fixture
  ironfish/src/consensus/verifier.test.ts
  ironfish/src/consensus/verifier.ts
Due: ironfish

add error message for re-installing with correct version (#2866)
  ironfish-cli/bin/run
  ironfish-rust-nodejs/package.json
Due: ironfish-cli, ironfish

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish-cli: any of: ironfish-cli, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish: any of: ironfish, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
