Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

v0.1.24
  ironfish-cli/package.json
Due: ironfish-cli, ironfish

s/peersCount/p2p_PeersCount
  ironfish/src/metrics/metricsMonitor.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/telemetry/telemetry.ts
Due: ironfish

fix(ironfish): Pass in metrics and remove peer network from telemetry (#1033)
  ironfish/src/metrics/metricsMonitor.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/node.ts
  ironfish/src/telemetry/telemetry.ts
Due: ironfish

Change getStatus() RPC to use new metrics gauge
  ironfish/src/rpc/routes/node/getStatus.ts
Due: ironfish

Change getStatus() RPC to use new metrics gauge (#1045)
  ironfish/src/rpc/routes/node/getStatus.ts
Due: ironfish

v0.1.24 (#1044)
  ironfish-cli/package.json
Due: ironfish-cli, ironfish

Allow config:edit to reference the config (#1039)
  ironfish-cli/src/commands/config/edit.ts
Due: ironfish-cli, ironfish

faucet email flag + error handling improvements
  ironfish-cli/src/commands/faucet.ts
Due: ironfish-cli, ironfish

fix faucet max requests error.codeMessage
  ironfish-cli/src/commands/faucet.ts
Due: ironfish-cli, ironfish

Doc update 1
  CONTRIBUTING.md
  README.md
Due: none

Update graph explorer readme.md
  ironfish-graph-explorer/README.md
Due: ironfish

Update locations of where test: commands can be run
  README.md
Due: none

Add request to add bugs being fixed to PRs
  CONTRIBUTING.md
Due: none

Update graph explorer readme
  ironfish-graph-explorer/README.md
Due: ironfish

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Update messages.test.ts
  ironfish/src/network/messages.test.ts
Due: ironfish

Finally got something working well
  ironfish/src/network/messages.test.ts
Due: ironfish

More commits
  ironfish/src/network/messages.test.ts
  ironfish/src/network/messages.ts
Due: ironfish

Update messages.ts
  ironfish/src/network/messages.ts
Due: ironfish

Allow for startup to continue if there is a JSON parse error
  ironfish/src/fileStores/hosts.ts
Due: ironfish

Update to latest napi-rs to fix BigInt usage (#1014)
  ironfish-rust-nodejs/Cargo.lock
  ironfish-rust-nodejs/Cargo.toml
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/structs/note.rs
  ironfish-rust-nodejs/src/structs/transaction.rs
Due: ironfish-rust, ironfish

Bump ironfish-cli to 0.1.22
  ironfish-cli/package.json
Due: ironfish-cli, ironfish

Return a Buffer instead of a NativeNote from decryption functions (#1025)
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/structs/note_encrypted.rs
  ironfish/src/primitives/noteEncrypted.ts
  ironfish/src/workerPool/tasks/getUnspentNotes.ts
Due: ironfish-rust, ironfish

feat(ironfish): Submit peer metrics in telemetry (#1030)
  ironfish/src/telemetry/telemetry.ts
Due: ironfish

Update RpcClient routes to use ApiNamespace enum (#1013)
  ironfish/src/rpc/clients/rpcClient.ts
Due: ironfish

feat(ironfish): Update telemetry flush and metrics intervals to 5m (#1038)
  ironfish/src/telemetry/telemetry.ts
Due: ironfish

feat(ironfish): Move metrics monitor inside telemetry (#1029)
  ironfish/src/metrics/metricsMonitor.ts
  ironfish/src/node.ts
  ironfish/src/syncer.ts
  ironfish/src/telemetry/telemetry.ts
Due: ironfish

Bump version to 0.1.23 (#1028)
  ironfish-cli/package.json
Due: ironfish-cli, ironfish

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish-cli: any of: ironfish-cli, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish: any of: ironfish, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
