Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

Update max transaction size
  ironfish/src/memPool/memPool.test.ts
  ironfish/src/memPool/memPool.ts
Due: ironfish

Update mining manager to skip transactions larger than max block size and update memPool to order transactions by fee rate instead of just fee
  ironfish/src/memPool/__fixtures__/memPool.test.ts.fixture
  ironfish/src/memPool/memPool.test.ts
  ironfish/src/memPool/memPool.ts
  ironfish/src/mining/manager.ts
Due: ironfish

Move max transaction size check to memPool.acceptTransaction and calculate feeRate when creating memPoolEntry
  ironfish/src/memPool/__fixtures__/memPool.test.ts.fixture
  ironfish/src/memPool/memPool.test.ts
  ironfish/src/memPool/memPool.ts
  ironfish/src/mining/manager.ts
Due: ironfish

Update tests to use expect instead of assert
  ironfish/src/memPool/memPool.test.ts
Due: ironfish

adds service command to send fee rate estimates to telemetry (#2416)
  ironfish-cli/src/commands/service/estimate-fee-rates.ts
Due: ironfish-cli, ironfish

Add comments
  ironfish/src/merkletree/merkletree.ts
Due: ironfish

creates benchmark-fees script
  ironfish-cli/src/commands/service/benchmark-fees.ts
Due: ironfish-cli, ironfish

Add more comments
  ironfish/src/merkletree/merkletree.ts
Due: ironfish

Rename getEmptyBlockSize to getBlockWithMinersFeeSize
  ironfish/src/memPool/memPool.test.ts
  ironfish/src/memPool/memPool.ts
  ironfish/src/mining/manager.ts
  ironfish/src/network/utils/serializers.ts
Due: ironfish

Update mining transaction picking logic to use fee rate instead of fee (#2409)
  ironfish/src/memPool/__fixtures__/memPool.test.ts.fixture
  ironfish/src/memPool/memPool.test.ts
  ironfish/src/memPool/memPool.ts
  ironfish/src/mining/manager.ts
  ironfish/src/network/utils/serializers.ts
Due: ironfish

Push V2 consensus upgrade (block size) to activate at block 255000
  ironfish/src/consensus/consensus.ts
Due: ironfish

increases precision of fee calculation
  ironfish/src/memPool/feeEstimator.test.ts
  ironfish/src/memPool/feeEstimator.ts
Due: ironfish

refactor(rust): `OutputProof` -> `OutputDescription`
  ironfish-rust/src/lib.rs
  ironfish-rust/src/outputs.rs
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish

fixes silent failures in chain:download
  ironfish-cli/src/commands/chain/download.ts
Due: ironfish-cli, ironfish

Refactor out seed genesis block from addBlock
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/consensus/verifier.ts
Due: ironfish

more refactor
  ironfish/src/blockchain/blockchain.ts
Due: ironfish

adds newline before 'at least'
  ironfish-cli/src/commands/chain/download.ts
Due: ironfish-cli, ironfish

cleanup
  ironfish/src/blockchain/blockchain.ts
Due: ironfish

fixes silent failures in chain:download (#2441)
  ironfish-cli/src/commands/chain/download.ts
Due: ironfish-cli, ironfish

allows configuration of fee estimator percentiles (#2432)
  ironfish/src/fileStores/config.ts
  ironfish/src/memPool/feeEstimator.test.ts
  ironfish/src/memPool/feeEstimator.ts
  ironfish/src/node.ts
Due: ironfish

increases precision of fee calculation (#2439)
  ironfish/src/memPool/feeEstimator.test.ts
  ironfish/src/memPool/feeEstimator.ts
Due: ironfish

add blockHash & blockSequence for getTransaction (#2127)
  ironfish-cli/src/commands/accounts/transaction.ts
  ironfish/src/rpc/routes/accounts/getTransaction.ts
  ironfish/src/rpc/routes/accounts/types.ts
Due: ironfish-cli, ironfish

Remove unused element (#2434)
  ironfish/src/rpc/routes/fees/estimateFee.ts
Due: ironfish

remove unnecessary check
  ironfish/src/rpc/routes/chain/getRawTransaction.ts
Due: ironfish

add getRawTransaction
  ironfish/src/rpc/routes/chain/getRawTransaction.ts
  ironfish/src/rpc/routes/chain/index.ts
Due: ironfish

Rename getRawTransaction to getTransaction
  ironfish/src/rpc/routes/chain/getTransaction.ts
  ironfish/src/rpc/routes/chain/index.ts
Due: ironfish

fix negative sequence
  ironfish-cli/src/commands/blocks/show.ts
Due: ironfish-cli, ironfish

update show.ts
  ironfish-cli/src/commands/blocks/show.ts
Due: ironfish-cli, ironfish

add logger in place of throw
  ironfish-cli/src/commands/chain/benchmark.ts
Due: ironfish-cli, ironfish

add checks on user input
  ironfish-cli/src/commands/chain/export.ts
Due: ironfish-cli, ironfish

Add from sequence for accounts:rescan
  ironfish-cli/src/commands/accounts/rescan.ts
  ironfish/src/rpc/routes/accounts/rescanAccount.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish-cli, ironfish

Push V2 consensus upgrade (block size) to activate at block 255000 (#2438)
  ironfish/src/consensus/consensus.ts
Due: ironfish

refactor(rust): `OutputProof` -> `OutputDescription` (#2440)
  ironfish-rust/src/lib.rs
  ironfish-rust/src/outputs.rs
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish

Move max transaction size limit to consensus from mempool
  ironfish/src/consensus/verifier.test.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/memPool/memPool.test.ts
  ironfish/src/memPool/memPool.ts
Due: ironfish

Limit from to work with reset only
  ironfish-cli/src/commands/accounts/rescan.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish-cli, ironfish

Verify transaction size limit in wallet pay
  ironfish/src/consensus/__fixtures__/verifier.test.ts.fixture
  ironfish/src/consensus/verifier.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

Remove yarn.lock changes
  yarn.lock
Due: none

refactor(rust): SpendParams, OutputParams to be builder-style (#2417)
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust/src/lib.rs
  ironfish-rust/src/merkle_note.rs
  ironfish-rust/src/note.rs
  ironfish-rust/src/outputs.rs
  ironfish-rust/src/spending.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/tests.rs
  ironfish/src/strategy.test.slow.ts
Due: ironfish-rust, ironfish

refactor(rust): Rename SpendProof to SpendDescription
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/structs/spend_proof.rs
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust/src/lib.rs
  ironfish-rust/src/spending.rs
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish

refactor(nodejs,rust): `Transaction.transaction_fee` -> `Transaction.fee`
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/tests.rs
Due: ironfish-rust, ironfish

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish-cli: any of: ironfish-cli, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish: any of: ironfish, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
