Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

codecov.yml:

ignore:
  - config/*
  - ironfish-rust-nodejs/*
  - ironfish-rust-wasm/*
comment: false
github_checks:
  annotations: false
coverage:
  fixes:
    - "/home/runner/work/ironfish/ironfish/::/"
  status:
    patch:
      default:
        target: auto
        threshold: 50%
    project:
      default:
        target: 63%
      ironfish-rust:
        target: 53%
        flags:
          - ironfish-rust
      ironfish-cli:
        target: 50%
        flags:
          - ironfish-cli
      ironfish:
        target: 60%
        flags:
          - ironfish
      event:
        target: 84%
        flags:
          - event
      logger:
        target: 90%
        flags:
          - logger
      serde:
        target: 90%
        flags:
          - serde
flags:
  ironfish-rust:
    paths:
      - ironfish-rust
    carryforward: true
  ironfish-cli:
    paths:
      - ironfish-cli
    carryforward: true
  ironfish:
    paths:
      - ironfish
    carryforward: true

Set permissions for docker deploys (#1106)
  .github/workflows/deploy-node-github-beta.yml
  .github/workflows/deploy-node-github.yml
Due: none

Fixed moire
  ironfish/src/miningNew/miningPool.ts
Due: ironfish

Pushed up new miner
  ironfish-cli/src/commands/miners/start.ts
  ironfish/src/miningNew/miningPoolMiner.ts
Due: ironfish-cli, ironfish

Started adding more reliable pool connection
  ironfish-cli/src/commands/miners/pool/start.ts
  ironfish/src/account/accounts.ts
  ironfish/src/miningNew/miningPool.ts
  ironfish/src/rpc/adapters/ipcAdapter.test.ts
  ironfish/src/rpc/clients/ipcClient.ts
  ironfish/src/rpc/clients/memoryClient.ts
  ironfish/src/rpc/clients/rpcClient.ts
  ironfish/src/sdk.ts
  ironfish/src/testUtilities/routeTest.ts
  ironfish/src/utils/error.ts
Due: ironfish-cli, ironfish

Add BlockTemplateStream RPC endpoint
  ironfish/src/memPool/memPool.ts
  ironfish/src/rpc/clients/rpcClient.ts
  ironfish/src/rpc/routes/mining/blockTemplateStream.ts
  ironfish/src/rpc/routes/mining/index.ts
  ironfish/src/serde/BlockTemplateSerde.ts
  ironfish/src/serde/index.ts
Due: ironfish

Start the stratum server in pool start
  ironfish/src/miningNew/miningPool.ts
Due: ironfish

Add SubmitBlock RPC endpoint
  ironfish/src/rpc/clients/rpcClient.ts
  ironfish/src/rpc/routes/mining/index.ts
  ironfish/src/rpc/routes/mining/submitBlock.ts
  ironfish/src/serde/BlockTemplateSerde.ts
Due: ironfish

Fix tests
  ironfish/src/miningNew/__fixtures__/manager.test.ts.fixture
  ironfish/src/sdk.test.ts
  ironfish/src/sdk.ts
Due: ironfish

Use miner batch size from SDK instead of hard-coding
  ironfish-cli/src/commands/miners/start.ts
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust/src/mining/thread.rs
  ironfish-rust/src/mining/threadpool.rs
  ironfish/src/miningNew/miningPoolMiner.ts
Due: ironfish-rust, ironfish-cli, ironfish

Move MiningManager to miningNew
  ironfish/src/mining/index.ts
  ironfish/src/miningNew/index.ts
  ironfish/src/miningNew/miningManager.test.slow.ts
  ironfish/src/miningNew/miningManager.test.ts
  ironfish/src/miningNew/miningManager.ts
  ironfish/src/node.ts
  ironfish/src/rpc/routes/mining/submitBlock.ts
Due: ironfish

WIP
  config/tsconfig.base.json
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust/src/mining/mine.rs
  ironfish-rust/src/mining/thread.rs
  ironfish/src/assert.ts
  ironfish/src/miningNew/miningPool.ts
  ironfish/src/miningNew/miningPoolMiner.ts
  ironfish/src/miningNew/stratum/messages.ts
  ironfish/src/miningNew/stratum/stratumClient.ts
  ironfish/src/miningNew/stratum/stratumServer.ts
  ironfish/src/miningNew/utils.ts
  ironfish/src/serde/PartialHeaderSerde.ts
  ironfish/src/typedefs/bufio.d.ts
  ironfish/tsconfig.json
Due: ironfish-rust, ironfish

Remove endpoints relying on Mining Director
  ironfish-cli/src/commands/miners/pool/start.ts
  ironfish-cli/src/commands/miners/start.ts
  ironfish/src/mining/manager.test.slow.ts
  ironfish/src/mining/manager.ts
  ironfish/src/rpc/clients/rpcClient.ts
  ironfish/src/rpc/routes/mining/index.ts
  ironfish/src/rpc/routes/mining/newBlocksStream.ts
  ironfish/src/rpc/routes/mining/submitBlock.ts
  ironfish/src/rpc/routes/mining/successfullyMined.ts
Due: ironfish-cli, ironfish

Recalculating target correctly updates the timestamp as well
  ironfish/src/miningNew/pool.ts
Due: ironfish

Remove unnecessary passing around of serialized header match
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust/src/mining/thread.rs
  ironfish-rust/src/mining/threadpool.rs
Due: ironfish-rust, ironfish

Integrate mining prototype
  ironfish-rust-nodejs/Cargo.lock
  ironfish-rust-wasm/Cargo.lock
  ironfish-rust/Cargo.lock
  ironfish-rust/Cargo.toml
  ironfish-rust/src/mining.rs
  ironfish-rust/src/mining/mine.rs
  ironfish-rust/src/mining/thread.rs
  ironfish-rust/src/mining/threadpool.rs
  ironfish/src/miningNew/miningPool.ts
  ironfish/src/miningNew/miningPoolMiner.ts
  ironfish/src/miningNew/stratum/messages.ts
  ironfish/src/miningNew/stratum/stratumClient.ts
  ironfish/src/miningNew/stratum/stratumServer.ts
  ironfish/src/miningNew/utils.ts
  ironfish/src/typedefs/bufio.d.ts
Due: ironfish-rust, ironfish

Handle rejected error
  ironfish/src/miningNew/miningPool.ts
  ironfish/src/miningNew/stratum/stratumServer.ts
  ironfish/src/rpc/clients/rpcClient.ts
  ironfish/src/rpc/routes/mining/submitBlock.ts
Due: ironfish

Remove sleep from rust thread
  ironfish-rust/src/mining/thread.rs
Due: ironfish-rust, ironfish

Properly handle stratum reconnect
  ironfish/src/miningNew/stratum/stratumClient.ts
Due: ironfish

Miner respects MAX_SAFE_INTEGER limit for randomness
  ironfish-rust/src/mining.rs
  ironfish-rust/src/mining/mine.rs
  ironfish-rust/src/mining/thread.rs
Due: ironfish-rust, ironfish

Make mining pool startable
  ironfish-cli/src/commands/miners/pool/start.ts
  ironfish/src/index.ts
  ironfish/src/miningNew/index.ts
  ironfish/src/miningNew/miningPool.ts
  ironfish/src/miningNew/stratum/stratumServer.ts
Due: ironfish-cli, ironfish

Fixed graffiti issue in pool
  ironfish-cli/src/commands/miners/start.ts
  ironfish/src/miningNew/miningPool.ts
  ironfish/src/miningNew/stratum/stratumServer.ts
Due: ironfish-cli, ironfish

Revert tsconfig change
  config/tsconfig.base.json
Due: none

Add support for recalculating target to pool
  ironfish/src/miningNew/miningPool.ts
  ironfish/src/primitives/target.ts
Due: ironfish

Port first chunk of tests from old mining director
  ironfish/src/mining/__fixtures__/manager.test.slow.ts.fixture
  ironfish/src/mining/__fixtures__/manager.test.ts.fixture
  ironfish/src/mining/manager.test.slow.ts
  ironfish/src/mining/manager.test.ts
Due: ironfish

Import fix for V8 thread safety
  ironfish/src/utils/error.ts
Due: ironfish

Refactor miner
  ironfish-cli/src/commands/miners/start.ts
  ironfish/src/miningNew/miningPool.ts
  ironfish/src/miningNew/miningPoolMiner.ts
  ironfish/src/miningNew/stratum/stratumClient.ts
Due: ironfish-cli, ironfish

Improve error handling in job
  ironfish/src/workerPool/errors.ts
Due: ironfish

Change difficulty format to bigint
  ironfish/src/miningNew/miningPool.ts
  ironfish/src/miningNew/stratum/stratumServer.ts
  ironfish/src/serde/BlockTemplateSerde.ts
Due: ironfish

Port director tests to miningManager.submitBlockTemplate
  ironfish/src/mining/__fixtures__/manager.test.slow.ts.fixture
  ironfish/src/mining/manager.test.slow.ts
Due: ironfish

Change object literal to map
  ironfish/src/miningNew/miningPool.ts
Due: ironfish

Fix lint
  ironfish/src/miningNew/stratum/stratumServer.ts
Due: ironfish

Rename miningNew to remove prefixes
  ironfish/src/miningNew/index.ts
  ironfish/src/miningNew/manager.test.slow.ts
  ironfish/src/miningNew/manager.test.ts
  ironfish/src/miningNew/manager.ts
  ironfish/src/miningNew/pool.ts
  ironfish/src/miningNew/poolMiner.ts
  ironfish/src/miningNew/stratum/stratumClient.ts
  ironfish/src/miningNew/stratum/stratumServer.ts
  ironfish/src/rpc/routes/mining/submitBlock.ts
Due: ironfish

Split out heavier block template logic from endpoints to a class
  ironfish/src/memPool/memPool.ts
  ironfish/src/mining/index.ts
  ironfish/src/mining/manager.ts
  ironfish/src/node.ts
  ironfish/src/rpc/routes/mining/blockTemplateStream.ts
  ironfish/src/rpc/routes/mining/submitBlock.ts
Due: ironfish

Change crash to just not send blocks if not synced
  ironfish/src/rpc/routes/mining/blockTemplateStream.ts
Due: ironfish

Display hash rate
  ironfish/src/miningNew/miningPool.ts
  ironfish/src/miningNew/miningPoolMiner.ts
  ironfish/src/miningNew/stratum/stratumServer.ts
Due: ironfish

Move stratum connection into miner constructor
  ironfish-cli/src/commands/miners/start.ts
  ironfish/src/miningNew/miningPoolMiner.ts
Due: ironfish-cli, ironfish

Try to fix retry logic (still busted)
  ironfish/src/miningNew/stratum/stratumClient.ts
Due: ironfish

fix import, lint error
  ironfish/src/miningNew/poolMiner.ts
  ironfish/src/miningNew/stratum/stratumClient.ts
Due: ironfish

Remove unnecessary and incorrect target default in pool miner
  ironfish/src/miningNew/poolMiner.ts
Due: ironfish

Remove unnecessary Rust dependency
  ironfish-rust-nodejs/Cargo.lock
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust-wasm/Cargo.lock
  ironfish-rust/Cargo.lock
  ironfish-rust/Cargo.toml
  ironfish-rust/src/mining/threadpool.rs
Due: ironfish-rust, ironfish
