Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

codecov.yml:

ignore:
  - config/*
  - ironfish-rust-nodejs/*
  - ironfish-rust-wasm/*
comment: false
github_checks:
  annotations: false
coverage:
  fixes:
    - "/home/runner/work/ironfish/ironfish/::/"
  status:
    patch:
      default:
        target: auto
        threshold: 0%
    project:
      default:
        target: 10%
      ironfish-rust:
        target: 10%
        flags:
          - ironfish-rust
      ironfish-cli:
        target: 10%
        flags:
          - ironfish-cli
      ironfish:
        target: 10%
        flags:
          - ironfish
flags:
  ironfish-rust:
    paths:
      - ironfish-rust
    carryforward: true
  ironfish-cli:
    paths:
      - ironfish-cli
    carryforward: true
  ironfish:
    paths:
      - ironfish
    carryforward: true

add node start time to telemetry
  ironfish/src/telemetry/telemetry.ts
Due: ironfish

allow submitting telemetry without fields
  ironfish/src/telemetry/telemetry.ts
Due: ironfish

Add the ability to exclude the chain DB in backup
  ironfish-cli/src/commands/backup.ts
  ironfish-cli/src/utils/tar.ts
Due: ironfish-cli, ironfish

Update ironfish/src/migrations/data/013-wallet-2.ts
  ironfish/src/migrations/data/013-wallet-2.ts
Due: ironfish

Add the ability to exclude the chain DB in backup (#2002)
  ironfish-cli/src/commands/backup.ts
  ironfish-cli/src/utils/tar.ts
Due: ironfish-cli, ironfish

Fix accounts:transactions to show expiration by default
  ironfish-cli/src/commands/accounts/transactions.ts
Due: ironfish-cli, ironfish

loads chain database as part of wallet 2.0 migration
  ironfish/src/migrations/data/013-wallet-2.ts
  ironfish/src/migrations/data/013-wallet-2/old/stores.ts
Due: ironfish

Improved warnings
  ironfish/src/migrations/data/013-wallet-2.ts
Due: ironfish

closes chainDb at the end of the migration
  ironfish/src/migrations/data/013-wallet-2.ts
Due: ironfish

loads chain database as part of wallet 2.0 migration (#2003)
  ironfish/src/migrations/data/013-wallet-2.ts
  ironfish/src/migrations/data/013-wallet-2/old/stores.ts
Due: ironfish

Change pool payout to be best effort
  ironfish/src/mining/poolShares.ts
Due: ironfish

Fix accounts:transactions to show expiration by default (#2005)
  ironfish-cli/src/commands/accounts/transactions.ts
Due: ironfish-cli, ironfish

adds pending rpc routes to rpc:status
  ironfish-cli/src/commands/rpc/status.test.ts
  ironfish-cli/src/commands/rpc/status.ts
  ironfish/src/rpc/adapters/ipcAdapter.ts
  ironfish/src/rpc/adapters/memoryAdapter.ts
  ironfish/src/rpc/adapters/socketAdapter/socketAdapter.ts
  ironfish/src/rpc/request.ts
  ironfish/src/rpc/routes/rpc/getStatus.ts
Due: ironfish-cli, ironfish

Add migration for Wallet 2.0 (#1838)
  ironfish/src/account/account.ts
  ironfish/src/account/accountsdb.ts
  ironfish/src/migrations/data/013-wallet-2.ts
  ironfish/src/migrations/data/013-wallet-2/new/accounts.ts
  ironfish/src/migrations/data/013-wallet-2/new/balances.ts
  ironfish/src/migrations/data/013-wallet-2/new/decryptedNotes.ts
  ironfish/src/migrations/data/013-wallet-2/new/headHashes.ts
  ironfish/src/migrations/data/013-wallet-2/new/meta.ts
  ironfish/src/migrations/data/013-wallet-2/new/noteToNullifier.ts
  ironfish/src/migrations/data/013-wallet-2/new/nullifierToNoteHash.ts
  ironfish/src/migrations/data/013-wallet-2/new/stores.ts
  ironfish/src/migrations/data/013-wallet-2/new/transactions.ts
  ironfish/src/migrations/data/013-wallet-2/old/accounts.ts
  ironfish/src/migrations/data/013-wallet-2/old/headers.ts
  ironfish/src/migrations/data/013-wallet-2/old/meta.ts
  ironfish/src/migrations/data/013-wallet-2/old/noteToNullifier.ts
  ironfish/src/migrations/data/013-wallet-2/old/nullifierToNote.ts
  ironfish/src/migrations/data/013-wallet-2/old/stores.ts
  ironfish/src/migrations/data/013-wallet-2/old/transactions.ts
  ironfish/src/migrations/data/013-wallet-2/readme.md
  ironfish/src/migrations/data/index.ts
Due: ironfish

Remove short-hand `-d` for `--dry` since it is already in use by the database flag
  ironfish-cli/src/commands/chain/prune.ts
  ironfish-cli/src/commands/migrations/start.ts
Due: ironfish-cli, ironfish

don't request transactions that are already in the mempool
  ironfish/src/network/__fixtures__/transactionFetcher.test.ts.fixture
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/transactionFetcher.test.ts
Due: ironfish

Update ironfish-rust-nodejs/src/nacl.rs
  ironfish-rust-nodejs/src/nacl.rs
Due: ironfish-rust, ironfish

Remove short-hand `-d` for `--dry` since it is already in use by the database flag (#2007)
  ironfish-cli/src/commands/chain/prune.ts
  ironfish-cli/src/commands/migrations/start.ts
Due: ironfish-cli, ironfish

don't broadcast if we already have transaction
  ironfish/src/network/peerNetwork.ts
Due: ironfish

Rename account folder to wallet
  ironfish/src/genesis/makeGenesisBlock.ts
  ironfish/src/index.ts
  ironfish/src/indexers/minedBlocksIndexer.ts
  ironfish/src/mining/poolMiner.ts
  ironfish/src/mining/stratum/stratumServer.ts
  ironfish/src/node.ts
  ironfish/src/rpc/routes/accounts/getAccounts.ts
  ironfish/src/rpc/routes/accounts/getPublicKey.test.ts
  ironfish/src/rpc/routes/accounts/rescanAccount.test.ts
  ironfish/src/rpc/routes/accounts/utils.ts
  ironfish/src/rpc/routes/chain/getTransactionStream.ts
  ironfish/src/sdk.test.ts
  ironfish/src/testUtilities/fixtures.ts
  ironfish/src/testUtilities/helpers/transaction.ts
  ironfish/src/testUtilities/nodeTest.ts
  ironfish/src/testUtilities/routeTest.ts
  ironfish/src/utils/blockchain.ts
  ironfish/src/wallet/__fixtures__/accounts.test.slow.ts.fixture
  ironfish/src/wallet/__fixtures__/accounts.test.ts.fixture
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/accounts.test.slow.ts
  ironfish/src/wallet/accounts.test.ts
  ironfish/src/wallet/accounts.ts
  ironfish/src/wallet/accountsdb.ts
  ironfish/src/wallet/database/accounts.test.ts
  ironfish/src/wallet/database/accounts.ts
  ironfish/src/wallet/database/decryptedNotes.test.ts
  ironfish/src/wallet/database/decryptedNotes.ts
  ironfish/src/wallet/database/meta.test.ts
  ironfish/src/wallet/database/meta.ts
  ironfish/src/wallet/database/transactions.test.ts
  ironfish/src/wallet/database/transactions.ts
  ironfish/src/wallet/index.ts
  ironfish/src/wallet/validator.test.ts
  ironfish/src/wallet/validator.ts
  ironfish/src/workerPool/tasks/decryptNotes.test.ts
  ironfish/src/workerPool/tasks/decryptNotes.ts
Due: ironfish

fixes rpc:status test
  ironfish-cli/src/commands/rpc/status.test.ts
Due: ironfish-cli, ironfish

Deduplicate batch verify logic (#1875)
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish

adds pending rpc routes to rpc:status (#2006)
  ironfish-cli/src/commands/rpc/status.test.ts
  ironfish-cli/src/commands/rpc/status.ts
  ironfish/src/rpc/adapters/ipcAdapter.ts
  ironfish/src/rpc/adapters/memoryAdapter.ts
  ironfish/src/rpc/adapters/socketAdapter/socketAdapter.ts
  ironfish/src/rpc/request.ts
  ironfish/src/rpc/routes/rpc/getStatus.ts
Due: ironfish-cli, ironfish

Move base64 and hex to napi crate
  ironfish-rust-nodejs/Cargo.lock
  ironfish-rust-nodejs/Cargo.toml
  ironfish-rust-nodejs/src/nacl.rs
  ironfish-rust/Cargo.lock
  ironfish-rust/Cargo.toml
  ironfish-rust/src/lib.rs
Due: ironfish-rust, ironfish

Use JS type of Buffer instead of Uint8Array for JS bindings of nacl
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/nacl.rs
  ironfish/src/tests/tweetnaclCompat.test.ts
Due: ironfish-rust, ironfish

Revert weird packaging changes
  ironfish/package.json
  yarn.lock
Due: ironfish

add percentile calc func to utils
  ironfish/src/utils/percentile.ts
Due: ironfish

add getFees method to rpc route
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/fees/getFees.ts
  ironfish/src/rpc/routes/fees/index.ts
  ironfish/src/rpc/routes/index.ts
  ironfish/src/rpc/routes/router.ts
Due: ironfish

add fees command to CLI
  ironfish-cli/src/commands/fees.ts
Due: ironfish-cli, ironfish

add tests for getFees
  ironfish/src/rpc/routes/fees/__fixtures__/getFees.test.ts.fixture
  ironfish/src/rpc/routes/fees/getFees.test.ts
  ironfish/src/utils/percentile.test.ts
Due: ironfish

update assert if blocks to fetch < head height
  ironfish-cli/src/commands/fees.ts
  ironfish/src/rpc/routes/fees/getFees.ts
Due: ironfish-cli, ironfish

clean up
  ironfish/src/rpc/routes/fees/getFees.test.ts
  ironfish/src/rpc/routes/fees/getFees.ts
Due: ironfish

fix lint
  ironfish/src/rpc/routes/fees/getFees.test.ts
Due: ironfish

fix lint again
  ironfish-cli/src/commands/fees.ts
  ironfish/src/rpc/routes/fees/getFees.test.ts
Due: ironfish-cli, ironfish

Rename account folder to wallet (#2008)
  ironfish/src/genesis/makeGenesisBlock.ts
  ironfish/src/index.ts
  ironfish/src/indexers/minedBlocksIndexer.ts
  ironfish/src/mining/poolMiner.ts
  ironfish/src/mining/stratum/stratumServer.ts
  ironfish/src/node.ts
  ironfish/src/rpc/routes/accounts/getAccounts.ts
  ironfish/src/rpc/routes/accounts/getPublicKey.test.ts
  ironfish/src/rpc/routes/accounts/rescanAccount.test.ts
  ironfish/src/rpc/routes/accounts/utils.ts
  ironfish/src/rpc/routes/chain/getTransactionStream.ts
  ironfish/src/sdk.test.ts
  ironfish/src/testUtilities/fixtures.ts
  ironfish/src/testUtilities/helpers/transaction.ts
  ironfish/src/testUtilities/nodeTest.ts
  ironfish/src/testUtilities/routeTest.ts
  ironfish/src/utils/blockchain.ts
  ironfish/src/wallet/__fixtures__/accounts.test.slow.ts.fixture
  ironfish/src/wallet/__fixtures__/accounts.test.ts.fixture
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/accounts.test.slow.ts
  ironfish/src/wallet/accounts.test.ts
  ironfish/src/wallet/accounts.ts
  ironfish/src/wallet/accountsdb.ts
  ironfish/src/wallet/database/accounts.test.ts
  ironfish/src/wallet/database/accounts.ts
  ironfish/src/wallet/database/decryptedNotes.test.ts
  ironfish/src/wallet/database/decryptedNotes.ts
  ironfish/src/wallet/database/meta.test.ts
  ironfish/src/wallet/database/meta.ts
  ironfish/src/wallet/database/transactions.test.ts
  ironfish/src/wallet/database/transactions.ts
  ironfish/src/wallet/index.ts
  ironfish/src/wallet/validator.test.ts
  ironfish/src/wallet/validator.ts
  ironfish/src/workerPool/tasks/decryptNotes.test.ts
  ironfish/src/workerPool/tasks/decryptNotes.ts
Due: ironfish

Rename accounts -> wallet
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/index.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

Rename accounts -> wallet (#2011)
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/index.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

allow submitting telemetry without fields (#2001)
  ironfish/src/telemetry/telemetry.ts
Due: ironfish

Create transaction fetcher and gossip transactions by hash (#1803)
  ironfish/src/network/__fixtures__/peerNetwork.test.ts.fixture
  ironfish/src/network/__fixtures__/transactionFetcher.test.ts.fixture
  ironfish/src/network/messageRegistry.ts
  ironfish/src/network/messages/newTransactionV2.test.ts
  ironfish/src/network/messages/newTransactionV2.ts
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/testUtilities/helpers.ts
  ironfish/src/network/transactionFetcher.test.ts
  ironfish/src/network/transactionFetcher.ts
  ironfish/src/network/version.ts
  ironfish/src/testUtilities/mocks.ts
Due: ironfish

Move accountsDB into database folder
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/database/accountsdb.ts
  ironfish/src/wallet/index.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish
