Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

Create importAccountBase58.ts
  ironfish/src/rpc/routes/wallet/importAccountBase58.ts
Due: ironfish

Update index.ts
  ironfish/src/rpc/routes/wallet/index.ts
Due: ironfish

Update importAccountBase58.ts
  ironfish/src/rpc/routes/wallet/importAccountBase58.ts
Due: ironfish

Update client.ts
  ironfish/src/rpc/clients/client.ts
Due: ironfish

Update import.ts
  ironfish-cli/src/commands/wallet/import.ts
Due: ironfish-cli, ironfish

Add char flag datadir (#3111)
  ironfish-cli/src/commands/chain/genesisblock.ts
  ironfish-cli/src/commands/miners/pools/start.ts
  ironfish-cli/src/commands/service/estimate-fee-rates.ts
  ironfish-cli/src/commands/service/forks.ts
  ironfish-cli/src/flags.ts
Due: ironfish-cli, ironfish

Update export.ts
  ironfish-cli/src/commands/wallet/export.ts
Due: ironfish-cli, ironfish

chore: make spending key size a constant
  ironfish-rust/src/keys/mod.rs
Due: ironfish-rust, ironfish

chore: make spending key size a constant (#3113)
  ironfish-rust/src/keys/mod.rs
Due: ironfish-rust, ironfish

calculates pending balance (#3095)
  ironfish-cli/src/commands/wallet/balance.ts
  ironfish-cli/src/commands/wallet/balances.ts
  ironfish/src/rpc/routes/wallet/getBalance.ts
  ironfish/src/rpc/routes/wallet/getBalances.test.ts
  ironfish/src/rpc/routes/wallet/getBalances.ts
  ironfish/src/rpc/routes/wallet/sendTransaction.test.ts
  ironfish/src/wallet/__fixtures__/account.test.ts.fixture
  ironfish/src/wallet/account.test.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish-cli, ironfish

adds sequenceToTransactionHash index to walletDb
  ironfish/src/migrations/data/016-sequence-to-tx.ts
  ironfish/src/migrations/data/index.ts
  ironfish/src/wallet/__fixtures__/account.test.ts.fixture
  ironfish/src/wallet/account.test.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish

Store consensus parameters
  ironfish/src/memPool/feeEstimator.ts
  ironfish/src/node.ts
Due: ironfish

Remove wallet in fee estimator (#3116)
  ironfish/src/memPool/feeEstimator.test.ts
  ironfish/src/memPool/feeEstimator.ts
  ironfish/src/node.ts
Due: ironfish

feat(ironfish): Move deletion to expiration logic
  ironfish/src/wallet/__fixtures__/account.test.ts.fixture
  ironfish/src/wallet/account.test.ts
  ironfish/src/wallet/account.ts
Due: ironfish

test(ironfish): Update fixture
  ironfish/src/wallet/__fixtures__/account.test.ts.fixture
Due: ironfish

WIP
  ironfish/src/wallet/__fixtures__/account.test.ts.fixture
Due: ironfish

test(ironfish): Update fixture
  Cargo.lock
  ironfish/src/wallet/__fixtures__/account.test.ts.fixture
Due: ironfish

Remove makeBlockAfter from blockchain tests
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/blockchain/blockchain.test.ts
Due: ironfish

Update more tests
  ironfish/src/__fixtures__/chainProcessor.test.ts.fixture
  ironfish/src/__fixtures__/syncer.test.ts.fixture
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/chainProcessor.test.ts
  ironfish/src/consensus/__fixtures__/verifier.test.ts.fixture
  ironfish/src/consensus/verifier.test.ts
  ironfish/src/primitives/__fixtures__/block.test.ts.fixture
  ironfish/src/primitives/block.test.ts
  ironfish/src/rpc/routes/chain/__fixtures__/exportChain.test.ts.fixture
  ironfish/src/rpc/routes/chain/__fixtures__/getBlockInfo.test.ts.fixture
  ironfish/src/rpc/routes/chain/exportChain.test.ts
  ironfish/src/rpc/routes/chain/getBlockInfo.test.ts
  ironfish/src/syncer.test.ts
  ironfish/src/testUtilities/helpers/blockchain.ts
Due: ironfish

Fix lint
  ironfish/src/blockchain/blockchain.test.ts
Due: ironfish

Remove sequence
  ironfish/src/consensus/verifier.test.ts
Due: ironfish

Check isMinersFee when validating transactions (#2758)
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish/src/__fixtures__/chainProcessor.test.ts.fixture
  ironfish/src/__fixtures__/syncer.test.ts.fixture
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/chainProcessor.test.ts
  ironfish/src/consensus/__fixtures__/verifier.test.ts.fixture
  ironfish/src/consensus/verifier.test.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/primitives/__fixtures__/block.test.ts.fixture
  ironfish/src/primitives/block.test.ts
  ironfish/src/rpc/routes/chain/__fixtures__/exportChain.test.ts.fixture
  ironfish/src/rpc/routes/chain/__fixtures__/getBlockInfo.test.ts.fixture
  ironfish/src/rpc/routes/chain/exportChain.test.ts
  ironfish/src/rpc/routes/chain/getBlockInfo.test.ts
  ironfish/src/syncer.test.ts
  ironfish/src/testUtilities/helpers/blockchain.ts
Due: ironfish-rust, ironfish

Change Buffer to JsBuffer in verifyTransactions (#3090)
  ironfish-rust-nodejs/src/structs/transaction.rs
Due: ironfish-rust, ironfish

Change double spend test to use non-native asset
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/blockchain/blockchain.test.ts
Due: ironfish

Change double spend test to use non-native asset (#3126)
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/blockchain/blockchain.test.ts
Due: ironfish

feat: solo miner will wait for new work after submitting
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust/src/mining/thread.rs
  ironfish-rust/src/mining/threadpool.rs
  ironfish/src/mining/poolMiner.ts
  ironfish/src/mining/soloMiner.ts
Due: ironfish-rust, ironfish

adds sequenceToTransactionHash index to walletDb (#3117)
  ironfish/src/migrations/data/016-sequence-to-tx.ts
  ironfish/src/migrations/data/index.ts
  ironfish/src/wallet/__fixtures__/account.test.ts.fixture
  ironfish/src/wallet/account.test.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish

fix(napi): Downgrade to known-good version without segfaults (#3115)
  Cargo.lock
  ironfish-rust-nodejs/Cargo.toml
Due: none

feat: solo miner will wait for new work after submitting (#3127)
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust/src/mining/thread.rs
  ironfish-rust/src/mining/threadpool.rs
  ironfish/src/mining/poolMiner.ts
  ironfish/src/mining/soloMiner.ts
Due: ironfish-rust, ironfish

fixes confirmed balance calculation for transactions without change
  ironfish/src/wallet/__fixtures__/account.test.ts.fixture
  ironfish/src/wallet/account.test.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish

Rename wallet:remove to wallet:delete
  ironfish-cli/src/commands/wallet/delete.ts
Due: ironfish-cli, ironfish

Rename wallet:remove to wallet:delete (#3130)
  ironfish-cli/src/commands/wallet/delete.ts
Due: ironfish-cli, ironfish

fixes lint
  ironfish/src/wallet/account.ts
Due: ironfish

Revert "Update import.ts"
  ironfish-cli/src/commands/wallet/import.ts
Due: ironfish-cli, ironfish

Kill importAccountBase58 rpc
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/wallet/importAccountBase58.ts
Due: ironfish

Update package.json
  ironfish-cli/package.json
Due: ironfish-cli, ironfish

Update package.json
  ironfish/package.json
Due: ironfish

feat(ironfish): Backfill assets from main chain transactions
  ironfish/src/migrations/data/017-backfill-wallet-assets.ts
  ironfish/src/migrations/data/index.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish

Update importAccount.ts
  ironfish/src/rpc/routes/wallet/importAccount.ts
Due: ironfish

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish-cli: any of: ironfish-cli, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish: any of: ironfish, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
