Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

codecov.yml:

ignore:
  - config/*
  - ironfish-rust-nodejs/*
  - ironfish-rust-wasm/*
comment: false
github_checks:
  annotations: false
coverage:
  fixes:
    - "/home/runner/work/ironfish/ironfish/::/"
  status:
    patch:
      default:
        target: auto
        threshold: 0%
    project:
      default:
        target: 10%
      ironfish-rust:
        target: 10%
        flags:
          - ironfish-rust
      ironfish-cli:
        target: 10%
        flags:
          - ironfish-cli
      ironfish:
        target: 10%
        flags:
          - ironfish
flags:
  ironfish-rust:
    paths:
      - ironfish-rust
    carryforward: true
  ironfish-cli:
    paths:
      - ironfish-cli
    carryforward: true
  ironfish:
    paths:
      - ironfish
    carryforward: true

Update importAccount.ts
  ironfish/src/rpc/routes/wallet/importAccount.ts
Due: ironfish

Update index.ts
  ironfish/src/rpc/routes/wallet/index.ts
Due: ironfish

yarn lint --fix
  ironfish-cli/src/commands/wallet/export.ts
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/wallet/exportAccountBase58.ts
  ironfish/src/rpc/routes/wallet/importAccount.ts
Due: ironfish-cli, ironfish

feat(ironfish): Add max mint value in verification (#3107)
  ironfish/src/consensus/__fixtures__/verifier.test.ts.fixture
  ironfish/src/consensus/verifier.test.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/primitives/transaction.ts
Due: ironfish

feat(ironfish): Save assets to wallet db (#2953)
  ironfish/src/wallet/__fixtures__/account.test.ts.fixture
  ironfish/src/wallet/account.test.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish

feat(ironfish): Backfill assets from main chain transactions (#3132)
  ironfish/src/migrations/data/017-backfill-wallet-assets.ts
  ironfish/src/migrations/data/index.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish

feat(ironfish): Add max value per burn
  ironfish/src/consensus/__fixtures__/verifier.test.ts.fixture
  ironfish/src/consensus/verifier.test.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/primitives/transaction.ts
Due: ironfish

WIP
  ironfish-cli/src/commands/service/ceremony.ts
  ironfish-cli/src/commands/service/participate.ts
  ironfish-cli/src/trusted-setup/client.ts
  ironfish-cli/src/trusted-setup/schema.ts
  ironfish-cli/src/trusted-setup/server.ts
Due: ironfish-cli, ironfish

WIP
  Cargo.lock
  ironfish-phase2/Cargo.toml
  ironfish-phase2/src/lib.rs
Due: ironfish

add host
  ironfish-cli/src/commands/service/participate.ts
Due: ironfish-cli, ironfish

migrate reading in G1 and G2 points from powers of tau file
  ironfish-phase2/src/lib.rs
Due: ironfish

WIP
  .github/workflows/rust_ci_cache.yml
  Cargo.lock
  Cargo.toml
  ironfish-setup/.gitignore
  ironfish-setup/Cargo.toml
  ironfish-setup/src/bin/beacon.rs
  ironfish-setup/src/bin/compute.rs
  ironfish-setup/src/bin/new.rs
  ironfish-setup/src/bin/split_params.rs
  ironfish-setup/src/bin/verify.rs
  ironfish-setup/src/bin/verify_transform.rs
Due: ironfish

migrate the new function
  ironfish-phase2/src/lib.rs
Due: ironfish

Add phase2
  Cargo.lock
  Cargo.toml
  ironfish-phase2/.gitignore
  ironfish-phase2/COPYRIGHT
  ironfish-phase2/Cargo.toml
  ironfish-phase2/LICENSE-APACHE
  ironfish-phase2/LICENSE-MIT
  ironfish-phase2/README.md
  ironfish-phase2/examples/mimc.rs
  ironfish-phase2/src/lib.rs
  ironfish-setup/Cargo.toml
  ironfish-setup/src/bin/new.rs
Due: ironfish

Switch ::one() to ::generator()
  ironfish-phase2/src/lib.rs
Due: ironfish

Bump down pairing
  Cargo.lock
  ironfish-phase2/Cargo.toml
  ironfish-phase2/src/lib.rs
Due: ironfish

Simplify uncompressed
  ironfish-phase2/src/lib.rs
Due: ironfish

finish migration for params and migrate some setup code
  Cargo.lock
  ironfish-phase2/Cargo.toml
  ironfish-phase2/examples/mimc.rs
  ironfish-phase2/src/lib.rs
  ironfish-setup/Cargo.toml
  ironfish-setup/src/bin/beacon.rs
  ironfish-setup/src/bin/compute.rs
  ironfish-setup/src/bin/new.rs
  ironfish-setup/src/bin/verify.rs
Due: ironfish

Update package versions
  Cargo.lock
  ironfish-phase2/Cargo.toml
Due: ironfish

Update to latest pairing
  Cargo.lock
  ironfish-phase2/Cargo.toml
  ironfish-phase2/src/lib.rs
  ironfish-setup/Cargo.toml
Due: ironfish

Update merge_pairs
  ironfish-phase2/src/lib.rs
Due: ironfish

Fix identity to generator
  ironfish-phase2/src/lib.rs
Due: ironfish

Remove last unwrap_u8s
  ironfish-phase2/src/lib.rs
Due: ironfish

Fix a write log
  ironfish-setup/src/bin/compute.rs
Due: ironfish

Update split_params file
  ironfish-setup/src/bin/split_params.rs
Due: ironfish

Update remaining ironfish-setup to ironfish_zkp
  ironfish-setup/src/bin/beacon.rs
  ironfish-setup/src/bin/compute.rs
  ironfish-setup/src/bin/verify.rs
  ironfish-setup/src/bin/verify_transform.rs
Due: ironfish

Update to blake2
  Cargo.lock
  ironfish-phase2/Cargo.toml
  ironfish-phase2/src/lib.rs
  ironfish-setup/Cargo.toml
  ironfish-setup/src/bin/beacon.rs
  ironfish-setup/src/bin/compute.rs
  ironfish-setup/src/bin/split_params.rs
  ironfish-setup/src/bin/verify.rs
  ironfish-setup/src/bin/verify_transform.rs
Due: ironfish

Parallelize eval a bit better
  Cargo.lock
  ironfish-phase2/Cargo.toml
  ironfish-phase2/src/lib.rs
Due: ironfish

Add workspace = true to Cargo.toml
  ironfish-setup/Cargo.toml
Due: ironfish

update mint circuit and rebase staging
  ironfish-setup/src/bin/new.rs
  ironfish-setup/src/bin/verify.rs
Due: ironfish

Speed up contribution computation
  ironfish-phase2/src/lib.rs
Due: ironfish

Add ceremony command
  Cargo.lock
  Cargo.toml
  ironfish-cli/src/commands/ceremony.ts
  ironfish-mpc/.gitignore
  ironfish-mpc/COPYRIGHT
  ironfish-mpc/Cargo.toml
  ironfish-mpc/LICENSE-APACHE
  ironfish-mpc/LICENSE-MIT
  ironfish-mpc/README.md
  ironfish-mpc/src/bin/beacon.rs
  ironfish-mpc/src/bin/new.rs
  ironfish-mpc/src/bin/split_params.rs
  ironfish-mpc/src/bin/verify.rs
  ironfish-mpc/src/bin/verify_transform.rs
  ironfish-mpc/src/compute.rs
  ironfish-mpc/src/lib.rs
  ironfish-phase2/Cargo.toml
  ironfish-phase2/examples/mimc.rs
  ironfish-rust-nodejs/Cargo.toml
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust-nodejs/src/mpc.rs
  ironfish-setup/src/bin/beacon.rs
Due: ironfish-rust, ironfish-cli, ironfish

Add verifyTransform to napi
  ironfish-mpc/Cargo.toml
  ironfish-mpc/src/lib.rs
  ironfish-mpc/src/verify_transform.rs
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/mpc.rs
Due: ironfish-rust, ironfish

Add uploading to bucket
  ironfish-cli/src/commands/ceremony.ts
  ironfish-cli/src/utils/s3.ts
Due: ironfish-cli, ironfish

Add pre-signed URL
  ironfish-cli/package.json
  ironfish-cli/src/commands/ceremony.ts
  ironfish-cli/src/trusted-setup/client.ts
  ironfish-cli/src/trusted-setup/schema.ts
  ironfish-cli/src/utils/s3.ts
  yarn.lock
Due: ironfish-cli, ironfish

complete some server functionality
  ironfish-cli/src/commands/ceremony.ts
  ironfish-cli/src/commands/service/ceremony.ts
  ironfish-cli/src/trusted-setup/client.ts
  ironfish-cli/src/trusted-setup/schema.ts
  ironfish-cli/src/trusted-setup/server.ts
  ironfish-cli/src/utils/s3.ts
Due: ironfish-cli, ironfish

default to getting AWS credentials from local config
  ironfish-cli/src/commands/ceremony.ts
  ironfish-cli/src/commands/service/ceremony.ts
  ironfish-cli/src/trusted-setup/server.ts
  ironfish-cli/src/utils/s3.ts
Due: ironfish-cli, ironfish

move S3 functions to S3Utils
  ironfish-cli/src/commands/ceremony.ts
  ironfish-cli/src/commands/service/ceremony.ts
  ironfish-cli/src/trusted-setup/server.ts
  ironfish-cli/src/utils/index.ts
  ironfish-cli/src/utils/s3.ts
Due: ironfish-cli, ironfish

Add queue joining
  ironfish-cli/src/commands/ceremony.ts
  ironfish-cli/src/trusted-setup/client.ts
  ironfish-cli/src/trusted-setup/server.ts
Due: ironfish-cli, ironfish

Connecting the client
  ironfish-cli/src/commands/ceremony.ts
  ironfish-cli/src/trusted-setup/client.ts
  ironfish-cli/src/trusted-setup/schema.ts
Due: ironfish-cli, ironfish
