Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

chore: nuke sync transactions
  ironfish-cli/src/commands/service/sync-transactions.ts
Due: ironfish-cli, ironfish

chore: phase2 cleanup
  ironfish-cli/src/commands/deposit-all.ts
  ironfish-cli/src/commands/deposit.ts
  ironfish-cli/src/utils/currency.ts
  ironfish/src/webApi.ts
Due: ironfish-cli, ironfish

refactor(rust): Remove redundant hex crate
  Cargo.lock
  ironfish-rust-nodejs/Cargo.toml
  ironfish-rust-nodejs/src/nacl.rs
  ironfish-rust/src/keys/mod.rs
  ironfish-rust/src/keys/public_address.rs
  ironfish-rust/src/keys/view_keys.rs
  ironfish-rust/src/lib.rs
  ironfish-rust/src/serializing.rs
Due: ironfish-rust, ironfish

refactor(rust): Remove redundant hex crate (#2657)
  Cargo.lock
  ironfish-rust-nodejs/Cargo.toml
  ironfish-rust-nodejs/src/nacl.rs
  ironfish-rust/src/keys/mod.rs
  ironfish-rust/src/keys/public_address.rs
  ironfish-rust/src/keys/view_keys.rs
  ironfish-rust/src/lib.rs
  ironfish-rust/src/serializing.rs
Due: ironfish-rust, ironfish

refactor(zkp): Circuit tests use StdRng to avoid extra dep
  Cargo.lock
  ironfish-zkp/Cargo.toml
  ironfish-zkp/src/circuits/output.rs
  ironfish-zkp/src/circuits/spend.rs
Due: ironfish

refactor(ironfish,rust-nodejs): s/NativeAsset/Asset
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/structs/asset.rs
  ironfish/src/primitives/mintDescription.ts
  ironfish/src/primitives/transaction.ts
Due: ironfish-rust, ironfish

feat(ironfish): Read burn descriptions from transaction in deserialization
  ironfish/src/primitives/burnDescription.ts
  ironfish/src/primitives/transaction.ts
Due: ironfish

feat(ironfish,rust,rust-nodejs): Add Napi bindings for mint descriptions (#2652)
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/structs/asset.rs
  ironfish-rust-nodejs/src/structs/mod.rs
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust/src/assets/asset.rs
  ironfish/src/primitives/mintDescription.ts
  ironfish/src/primitives/transaction.ts
Due: ironfish-rust, ironfish

refactor(rust): s/`GENERATOR_SIZE`/`MEMO_SIZE` when encrypting note
  ironfish-rust/src/note.rs
Due: ironfish-rust, ironfish

feat(ironfish): Read burn descriptions from transaction in deserialization (#2659)
  ironfish/src/primitives/burnDescription.ts
  ironfish/src/primitives/transaction.ts
Due: ironfish

feat(rust-nodejs): Add `note.asset_identifier()`
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/structs/note.rs
Due: ironfish-rust, ironfish

refactor(zkp): Circuit tests use StdRng to avoid extra dep (#2658)
  Cargo.lock
  ironfish-zkp/Cargo.toml
  ironfish-zkp/src/circuits/output.rs
  ironfish-zkp/src/circuits/spend.rs
Due: ironfish

feat(rust-nodejs): Add `transaction.mint` and `transaction.burn`
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/structs/asset.rs
  ironfish-rust-nodejs/src/structs/transaction.rs
Due: ironfish-rust, ironfish

feat(rust-nodejs): Add `note.asset_identifier()` (#2661)
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/structs/note.rs
Due: ironfish-rust, ironfish

refactor(rust): s/`GENERATOR_SIZE`/`MEMO_SIZE` when encrypting note (#2660)
  ironfish-rust/src/note.rs
Due: ironfish-rust, ironfish

feat(rust-nodejs): Add `transaction.mint` and `transaction.burn` (#2662)
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/structs/asset.rs
  ironfish-rust-nodejs/src/structs/transaction.rs
Due: ironfish-rust, ironfish

implements 'get' on database in storage layer
  ironfish/src/storage/database/database.ts
  ironfish/src/storage/levelup/database.ts
  ironfish/src/storage/levelup/store.ts
Due: ironfish

Code review
  ironfish/src/blockchain/database/headers.ts
Due: ironfish

Code review
  ironfish/src/blockchain/blockchain.ts
Due: ironfish

Remove note size from network and PartialBlock
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/blockchain/database/headers.ts
  ironfish/src/consensus/verifier.test.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/genesis/genesisBlockDev.ts
  ironfish/src/mining/manager.test.slow.ts
  ironfish/src/mining/utils.ts
  ironfish/src/network/messages/getBlocks.test.ts
  ironfish/src/network/messages/getCompactBlock.test.ts
  ironfish/src/network/messages/newBlockV2.test.ts
  ironfish/src/network/utils/serializers.ts
  ironfish/src/primitives/blockheader.test.ts
  ironfish/src/primitives/blockheader.ts
  ironfish/src/rpc/routes/mining/blockTemplateStream.ts
  ironfish/src/rpc/routes/mining/submitBlock.ts
  ironfish/src/serde/BlockTemplateSerde.ts
  ironfish/src/serde/PartialHeaderSerde.ts
  ironfish/src/testUtilities/helpers/blockchain.ts
Due: ironfish

Fix CLI
  ironfish-cli/src/commands/chain/benchmark.ts
  ironfish-cli/src/commands/chain/repair.ts
Due: ironfish-cli, ironfish

Fix blockchain test
  ironfish/src/blockchain/blockchain.test.ts
Due: ironfish

Add fixtures
  ironfish/src/blockchain/__fixtures__/blockchain.test.perf.ts.fixture
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/consensus/__fixtures__/verifier.test.ts.fixture
  ironfish/src/genesis/genesisBlock.ts
  ironfish/src/indexers/__fixtures__/minedBlocksIndexer.test.ts.fixture
  ironfish/src/memPool/__fixtures__/feeEstimator.test.ts.fixture
  ironfish/src/memPool/__fixtures__/memPool.test.ts.fixture
  ironfish/src/mining/__fixtures__/manager.test.slow.ts.fixture
  ironfish/src/mining/__fixtures__/manager.test.ts.fixture
  ironfish/src/network/__fixtures__/blockFetcher.test.ts.fixture
  ironfish/src/network/__fixtures__/peerNetwork.test.ts.fixture
  ironfish/src/network/__fixtures__/transactionFetcher.test.ts.fixture
  ironfish/src/network/messages/__fixtures__/getBlockTransactions.test.ts.fixture
  ironfish/src/network/messages/__fixtures__/getBlocks.test.ts.fixture
  ironfish/src/network/messages/__fixtures__/getCompactBlock.test.ts.fixture
  ironfish/src/network/messages/__fixtures__/newBlockV2.test.ts.fixture
  ironfish/src/network/messages/__fixtures__/newTransactionV2.test.ts.fixture
  ironfish/src/network/messages/__fixtures__/pooledTransactions.test.ts.fixture
  ironfish/src/primitives/__fixtures__/block.test.ts.fixture
  ironfish/src/primitives/__fixtures__/transaction.test.slow.ts.fixture
  ironfish/src/rpc/routes/chain/__fixtures__/getBlock.test.ts.fixture
  ironfish/src/rpc/routes/chain/__fixtures__/getBlockInfo.test.ts.fixture
  ironfish/src/rpc/routes/fees/__fixtures__/estimateFee.test.ts.fixture
  ironfish/src/rpc/routes/mining/__fixtures__/blockTemplateStream.test.slow.ts.fixture
  ironfish/src/rpc/routes/transactions/__fixtures__/sendTransaction.test.ts.fixture
  ironfish/src/wallet/__fixtures__/account.test.ts.fixture
  ironfish/src/wallet/__fixtures__/wallet.test.slow.ts.fixture
  ironfish/src/wallet/__fixtures__/wallet.test.ts.fixture
  ironfish/src/wallet/walletdb/__fixtures__/decryptedNoteValue.test.ts.fixture
  ironfish/src/wallet/walletdb/__fixtures__/transactionValue.test.ts.fixture
  ironfish/src/workerPool/tasks/__fixtures__/createMinersFee.test.ts.fixture
  ironfish/src/workerPool/tasks/__fixtures__/createTransaction.test.slow.ts.fixture
  ironfish/src/workerPool/tasks/__fixtures__/decryptNotes.test.ts.fixture
  ironfish/src/workerPool/tasks/__fixtures__/verifyTransaction.test.ts.fixture
Due: ironfish

Update fixtures
  ironfish/src/blockchain/__fixtures__/blockchain.test.perf.ts.fixture
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/consensus/__fixtures__/verifier.test.ts.fixture
  ironfish/src/indexers/__fixtures__/minedBlocksIndexer.test.ts.fixture
  ironfish/src/memPool/__fixtures__/feeEstimator.test.ts.fixture
  ironfish/src/memPool/__fixtures__/memPool.test.ts.fixture
  ironfish/src/mining/__fixtures__/manager.test.slow.ts.fixture
  ironfish/src/mining/__fixtures__/manager.test.ts.fixture
  ironfish/src/network/__fixtures__/blockFetcher.test.ts.fixture
  ironfish/src/network/__fixtures__/peerNetwork.test.ts.fixture
  ironfish/src/network/__fixtures__/transactionFetcher.test.ts.fixture
  ironfish/src/network/messages/__fixtures__/getBlockTransactions.test.ts.fixture
  ironfish/src/network/messages/__fixtures__/getBlocks.test.ts.fixture
  ironfish/src/network/messages/__fixtures__/getCompactBlock.test.ts.fixture
  ironfish/src/network/messages/__fixtures__/newBlockV2.test.ts.fixture
  ironfish/src/network/messages/__fixtures__/newTransactionV2.test.ts.fixture
  ironfish/src/network/messages/__fixtures__/pooledTransactions.test.ts.fixture
  ironfish/src/primitives/__fixtures__/block.test.ts.fixture
  ironfish/src/primitives/__fixtures__/transaction.test.slow.ts.fixture
  ironfish/src/rpc/routes/chain/__fixtures__/getBlock.test.ts.fixture
  ironfish/src/rpc/routes/chain/__fixtures__/getBlockInfo.test.ts.fixture
  ironfish/src/rpc/routes/fees/__fixtures__/estimateFee.test.ts.fixture
  ironfish/src/rpc/routes/mining/__fixtures__/blockTemplateStream.test.slow.ts.fixture
  ironfish/src/rpc/routes/transactions/__fixtures__/sendTransaction.test.ts.fixture
  ironfish/src/wallet/__fixtures__/account.test.ts.fixture
  ironfish/src/wallet/__fixtures__/wallet.test.slow.ts.fixture
  ironfish/src/wallet/__fixtures__/wallet.test.ts.fixture
  ironfish/src/wallet/walletdb/__fixtures__/decryptedNoteValue.test.ts.fixture
  ironfish/src/wallet/walletdb/__fixtures__/transactionValue.test.ts.fixture
  ironfish/src/workerPool/tasks/__fixtures__/createMinersFee.test.ts.fixture
  ironfish/src/workerPool/tasks/__fixtures__/createTransaction.test.slow.ts.fixture
  ironfish/src/workerPool/tasks/__fixtures__/decryptNotes.test.ts.fixture
  ironfish/src/workerPool/tasks/__fixtures__/verifyTransaction.test.ts.fixture
Due: ironfish

remove BlockHeaderSerde.equals()
  ironfish/src/primitives/block.ts
  ironfish/src/primitives/blockheader.test.ts
  ironfish/src/primitives/blockheader.ts
Due: ironfish

remove BlockSerde.equals
  ironfish/src/primitives/block.test.ts
  ironfish/src/primitives/block.ts
  ironfish/src/testUtilities/matchers/blockchain.ts
Due: ironfish

check work
  ironfish/src/primitives/blockheader.ts
Due: ironfish

Remove BlockHeaderSerde.equals and BlockSerde.equals (#2664)
  ironfish/src/primitives/block.test.ts
  ironfish/src/primitives/block.ts
  ironfish/src/primitives/blockheader.test.ts
  ironfish/src/primitives/blockheader.ts
  ironfish/src/testUtilities/matchers/blockchain.ts
Due: ironfish

changes key types to Buffer
  ironfish/src/storage/database/database.ts
  ironfish/src/storage/levelup/database.ts
Due: ironfish

feat(ironfish,rust-nodejs): Update create transaction handler to include mints and burns
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/structs/asset.rs
  ironfish/src/primitives/note.ts
  ironfish/src/primitives/transaction.ts
  ironfish/src/workerPool/pool.ts
  ironfish/src/workerPool/tasks/__fixtures__/createTransaction.test.slow.ts.fixture
  ironfish/src/workerPool/tasks/createTransaction.test.slow.ts
  ironfish/src/workerPool/tasks/createTransaction.ts
Due: ironfish-rust, ironfish

feat(ironfish,rust-nodejs): Update create transaction handler to include mints and burns (#2665)
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/structs/asset.rs
  ironfish/src/primitives/note.ts
  ironfish/src/primitives/transaction.ts
  ironfish/src/workerPool/pool.ts
  ironfish/src/workerPool/tasks/__fixtures__/createTransaction.test.slow.ts.fixture
  ironfish/src/workerPool/tasks/createTransaction.test.slow.ts
  ironfish/src/workerPool/tasks/createTransaction.ts
Due: ironfish-rust, ironfish

implements 'get' on database in storage layer (#2663)
  ironfish/src/storage/database/database.ts
  ironfish/src/storage/levelup/database.ts
  ironfish/src/storage/levelup/store.ts
Due: ironfish

refactor(ironfish): Read and store Note asset identifier for quicker access
  ironfish/src/primitives/note.ts
Due: ironfish

implements 'put' on database in storage layer
  ironfish/src/storage/database/database.ts
  ironfish/src/storage/levelup/database.ts
  ironfish/src/storage/levelup/store.ts
Due: ironfish

implements 'put' on database in storage layer (#2667)
  ironfish/src/storage/database/database.ts
  ironfish/src/storage/levelup/database.ts
  ironfish/src/storage/levelup/store.ts
Due: ironfish

Fix mining resulting from header changes
  ironfish/src/mining/poolMiner.ts
  ironfish/src/mining/soloMiner.ts
  ironfish/src/mining/utils.ts
  ironfish/src/rpc/routes/mining/submitBlock.ts
Due: ironfish

Remove double spend consensus parameter
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/consensus/consensus.ts
  ironfish/src/consensus/verifier.test.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/testUtilities/matchers/blockchain.ts
Due: ironfish

Move IDatabaseStore.getAllIter() to IDatabase
  ironfish/src/storage/database/database.ts
  ironfish/src/storage/database/types.ts
  ironfish/src/storage/database/utils.test.ts
  ironfish/src/storage/database/utils.ts
  ironfish/src/storage/levelup/database.ts
  ironfish/src/storage/levelup/store.ts
Due: ironfish

added re-org scenario to test
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/blockchain/blockchain.test.ts
Due: ironfish

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish-cli: any of: ironfish-cli, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish: any of: ironfish, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
