Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

Update CLI readme with new faucet command
  ironfish-cli/README.md
Due: ironfish-cli, ironfish

Redundant allocation when sending headerBytes to workers
  ironfish/src/workerPool/tasks/mineHeader.ts
Due: ironfish

Address feedback
  ironfish/src/mining/mineHeader.ts
  ironfish/src/workerPool/tasks/mineHeader.ts
Due: ironfish

Revert "Revert "Update pay.ts""
  ironfish-cli/src/commands/accounts/pay.ts
Due: ironfish-cli, ironfish

Removed custom clean.js script, added rimraf as dev dep, updated .gitignore to ignore .idea directory for people using JetBrains suite of apps
  .gitignore
  ironfish-cli/clean.js
  ironfish-cli/package.json
Due: ironfish-cli, ironfish

Redundant allocation when sending headerBytes to workers (#661)
  ironfish/src/mining/mineHeader.ts
  ironfish/src/workerPool/tasks/mineHeader.ts
Due: ironfish

Alphabetizing devDependencies for rimraf import
  ironfish-cli/package.json
Due: ironfish-cli, ironfish

Use lower case hash in explorer links
  ironfish-cli/src/commands/miners/mined.ts
Due: ironfish-cli, ironfish

Add pull request template
  .github/pull_request_template.md
Due: none

IRO-1379: Update blake3-wasm to blake3 (native)
  ironfish/package.json
  ironfish/src/primitives/blockheader.ts
  ironfish/src/primitives/nullifier.ts
Due: ironfish

stop setting block hash to upper case in link (#601)
  ironfish-cli/src/commands/miners/mined.ts
Due: ironfish-cli, ironfish

_fee_ argument is wrong (#596)
  ironfish-cli/src/commands/accounts/pay.ts
Due: ironfish-cli, ironfish

Change max synced age ms to use block time
  ironfish/src/consensus/consensus.ts
Due: ironfish

Bump version to v0.1.10
  ironfish/package.json
Due: ironfish

Update import.ts (#516)
  ironfish-cli/src/commands/accounts/import.ts
Due: ironfish-cli, ironfish

Do not include invalidSpend blocks to mined stats (#648)
  ironfish/src/mining/director.ts
Due: ironfish

Fix codecov token upload
  .github/workflows/ci.yml
  .github/workflows/rust_ci.yml
Due: none

Add "No" option to breaking change
  .github/pull_request_template.md
Due: none

Rename maxWorkers -> numWorkers
  ironfish/src/mining/miner.ts
  ironfish/src/node.ts
  ironfish/src/workerPool/pool.test.ts
  ironfish/src/workerPool/pool.ts
Due: ironfish

Fix rendering of workers pool
  ironfish-cli/src/commands/workers/status.ts
Due: ironfish-cli, ironfish

Set maximum node workers to 6
  ironfish/src/fileStores/config.ts
  ironfish/src/node.ts
Due: ironfish

Add logger to worker pool
  ironfish/src/workerPool/pool.ts
Due: ironfish

Set maximum node workers to 6 using new option "nodeWorkersMax" (#738)
  ironfish-cli/src/commands/workers/status.ts
  ironfish/src/fileStores/config.ts
  ironfish/src/mining/miner.ts
  ironfish/src/node.ts
  ironfish/src/workerPool/pool.test.ts
  ironfish/src/workerPool/pool.ts
Due: ironfish-cli, ironfish

delete your data directory at ~/.ironfish/database and ~/.ironfish/accounts
  ironfish/src/storage/levelup/database.ts
Due: ironfish

feat: clarify when chain changes your mine block is lost
  ironfish/src/mining/director.ts
Due: ironfish

Update yarn.lock with blake3 change
  yarn.lock
Due: none

fix: update node-gyp to also build with vs2022
  package.json
  yarn.lock
Due: none

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish-cli: any of: ironfish-cli, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish: any of: ironfish, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
