Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

codecov.yml:

ignore:
  - config/*
  - ironfish-rust-nodejs/*
  - ironfish-rust-wasm/*
comment: false
github_checks:
  annotations: false
coverage:
  fixes:
    - "/home/runner/work/ironfish/ironfish/::/"
  status:
    patch:
      default:
        target: auto
        threshold: 0%
    project:
      default:
        target: 10%
      ironfish-rust:
        target: 10%
        flags:
          - ironfish-rust
      ironfish-cli:
        target: 10%
        flags:
          - ironfish-cli
      ironfish:
        target: 10%
        flags:
          - ironfish
flags:
  ironfish-rust:
    paths:
      - ironfish-rust
    carryforward: true
  ironfish-cli:
    paths:
      - ironfish-cli
    carryforward: true
  ironfish:
    paths:
      - ironfish
    carryforward: true

refactor(rust,zkp): Move ValueCommitment and add constructor method (#2707)
  ironfish-rust/src/merkle_note.rs
  ironfish-rust/src/transaction/mints.rs
  ironfish-rust/src/transaction/outputs.rs
  ironfish-rust/src/transaction/spends.rs
  ironfish-zkp/src/circuits/mint_asset.rs
  ironfish-zkp/src/circuits/mod.rs
  ironfish-zkp/src/circuits/output.rs
  ironfish-zkp/src/circuits/spend.rs
  ironfish-zkp/src/circuits/util.rs
  ironfish-zkp/src/circuits/value_commitment.rs
  ironfish-zkp/src/lib.rs
  ironfish-zkp/src/primitives/mod.rs
  ironfish-zkp/src/primitives/value_commitment.rs
Due: ironfish-rust, ironfish

refactor(rust): Encapsulate description verification and remove verify_proof functions to make the code more robust
  ironfish-rust/src/transaction/mints.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/outputs.rs
  ironfish-rust/src/transaction/spends.rs
  ironfish-rust/src/transaction/utils.rs
Due: ironfish-rust, ironfish

refactor(rust): Encapsulate description verification and remove verify_proof functions to make the code more robust (#2756)
  ironfish-rust/src/transaction/mints.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/outputs.rs
  ironfish-rust/src/transaction/spends.rs
  ironfish-rust/src/transaction/utils.rs
Due: ironfish-rust, ironfish

Remove Note.fromNative()
  ironfish/src/primitives/note.ts
  ironfish/src/primitives/rawTransaction.test.ts
Due: ironfish

Separate create from post transaction
  ironfish/src/merkletree/witness.ts
  ironfish/src/primitives/__fixtures__/rawTransaction.test.ts.fixture
  ironfish/src/primitives/note.ts
  ironfish/src/primitives/rawTransaction.test.ts
  ironfish/src/primitives/rawTransaction.ts
  ironfish/src/primitives/transaction.test.slow.ts
  ironfish/src/testUtilities/fixtures.ts
  ironfish/src/wallet/wallet.test.slow.ts
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
  ironfish/src/workerPool/pool.ts
  ironfish/src/workerPool/tasks/__fixtures__/postTransaction.test.ts.fixture
  ironfish/src/workerPool/tasks/handlers.ts
  ironfish/src/workerPool/tasks/postTransaction.ts
  ironfish/src/workerPool/tasks/workerMessage.ts
  ironfish/src/workerPool/worker.ts
Due: ironfish

add new lib
  ironfish/package.json
  ironfish/src/typedefs/bufio.d.ts
  yarn.lock
Due: ironfish

ironfish-cli 0.1.54 -> 0.1.55
  ironfish-cli/package.json
  ironfish-rust-nodejs/npm/darwin-arm64/package.json
  ironfish-rust-nodejs/npm/darwin-x64/package.json
  ironfish-rust-nodejs/npm/linux-arm64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-arm64-musl/package.json
  ironfish-rust-nodejs/npm/linux-x64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-x64-musl/package.json
  ironfish-rust-nodejs/npm/win32-x64-msvc/package.json
  ironfish-rust-nodejs/package.json
  ironfish/package.json
Due: ironfish-rust, ironfish-cli, ironfish

Add rimraf to ironfish-rust-nodejs devDependencies
  ironfish-rust-nodejs/package.json
  yarn.lock
Due: none

Fix failures
  ironfish/src/primitives/rawTransaction.test.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

Split out createTransaction() from postTansction() (#2749)
  ironfish/src/merkletree/witness.ts
  ironfish/src/primitives/__fixtures__/rawTransaction.test.ts.fixture
  ironfish/src/primitives/rawTransaction.test.ts
  ironfish/src/primitives/rawTransaction.ts
  ironfish/src/primitives/transaction.test.slow.ts
  ironfish/src/testUtilities/fixtures.ts
  ironfish/src/wallet/wallet.test.slow.ts
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
  ironfish/src/workerPool/pool.ts
  ironfish/src/workerPool/tasks/__fixtures__/postTransaction.test.ts.fixture
  ironfish/src/workerPool/tasks/handlers.ts
  ironfish/src/workerPool/tasks/postTransaction.ts
  ironfish/src/workerPool/tasks/workerMessage.ts
  ironfish/src/workerPool/worker.ts
Due: ironfish

Add rimraf to ironfish-rust-nodejs devDependencies (#2774)
  ironfish-rust-nodejs/package.json
  yarn.lock
Due: none

switch some bigint serializers over to bufio
  ironfish/src/blockchain/database/headers.ts
  ironfish/src/network/utils/serializers.ts
Due: ironfish

fix lint
  ironfish/src/network/utils/serializers.ts
Due: ironfish

remove unused functions
  ironfish/src/utils/bigint.test.ts
  ironfish/src/utils/bigint.ts
Due: ironfish

Test fixing docker build
  .github/workflows/build-ironfish-rust-nodejs.yml
Due: none

Try new build
  .github/workflows/build-ironfish-rust-nodejs.yml
  ironfish-rust-nodejs/package.json
  yarn.lock
Due: none

Try fix
  .github/workflows/build-ironfish-rust-nodejs.yml
Due: none

Re-enable all builds
  .github/workflows/build-ironfish-rust-nodejs.yml
Due: none

Try llvm-tools-preview
  .github/workflows/build-ironfish-rust-nodejs.yml
Due: none

Try build again
  .github/workflows/build-ironfish-rust-nodejs.yml
Due: none

Next try
  .github/workflows/build-ironfish-rust-nodejs.yml
Due: none

Try abi suffix
  .github/workflows/build-ironfish-rust-nodejs.yml
Due: none

Try only linux
  .github/workflows/build-ironfish-rust-nodejs.yml
Due: none

Fix WorkerPool.postTransaction()
  ironfish/src/workerPool/tasks/postTransaction.ts
Due: ironfish

Try on mac
  .github/workflows/build-ironfish-rust-nodejs.yml
Due: none

Fix WorkerPool.postTransaction() (#2778)
  ironfish/src/workerPool/tasks/postTransaction.ts
Due: ironfish

Add tests for creating transactions
  ironfish/src/primitives/__fixtures__/rawTransaction.test.ts.fixture
  ironfish/src/primitives/rawTransaction.test.ts
  ironfish/src/testUtilities/fixtures.ts
  ironfish/src/workerPool/tasks/__fixtures__/postTransaction.test.ts.fixture
  ironfish/src/workerPool/tasks/postTransaction.test.ts
Due: ironfish

Serialize fixed length BigInts using bufio (#2775)
  ironfish/package.json
  ironfish/src/blockchain/database/headers.ts
  ironfish/src/network/utils/serializers.ts
  ironfish/src/typedefs/bufio.d.ts
  ironfish/src/utils/bigint.test.ts
  ironfish/src/utils/bigint.ts
  yarn.lock
Due: ironfish

Add tests for creating transactions (#2777)
  ironfish/src/primitives/__fixtures__/rawTransaction.test.ts.fixture
  ironfish/src/primitives/rawTransaction.test.ts
  ironfish/src/testUtilities/fixtures.ts
  ironfish/src/workerPool/tasks/__fixtures__/postTransaction.test.ts.fixture
  ironfish/src/workerPool/tasks/postTransaction.test.ts
Due: ironfish

adds separate methods for syncing transactions on a block (#2710)
  ironfish/src/wallet/__fixtures__/account.test.ts.fixture
  ironfish/src/wallet/__fixtures__/wallet.test.ts.fixture
  ironfish/src/wallet/account.test.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish

Add comment
  .github/workflows/build-ironfish-rust-nodejs.yml
Due: none

updates tests to not use balance as a proxy for transaction status
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.test.slow.ts
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish

fixes lint issue
  ironfish/src/wallet/account.ts
Due: ironfish

updates balance only when blocks are connected or disconnected
  ironfish/src/consensus/__fixtures__/verifier.test.ts.fixture
  ironfish/src/genesis/genesis.test.slow.ts
  ironfish/src/wallet/account.test.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.test.slow.ts
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

removes pending balances from balance calculation
  ironfish-cli/src/commands/accounts/balance.ts
  ironfish/src/rpc/routes/transactions/sendTransaction.test.ts
  ironfish/src/rpc/routes/wallet/getBalance.ts
  ironfish/src/wallet/account.test.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish-cli, ironfish

Regenerate verifier fixture
  ironfish/src/consensus/__fixtures__/verifier.test.ts.fixture
Due: ironfish

Fix test relying on pending transaction balance
  ironfish/src/workerPool/tasks/createTransaction.test.slow.ts
Due: ironfish

updates balance only when blocks are connected or disconnected (#2744)
  ironfish-cli/src/commands/accounts/balance.ts
  ironfish/src/consensus/__fixtures__/verifier.test.ts.fixture
  ironfish/src/genesis/genesis.test.slow.ts
  ironfish/src/rpc/routes/transactions/sendTransaction.test.ts
  ironfish/src/rpc/routes/wallet/getBalance.ts
  ironfish/src/wallet/account.test.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.test.slow.ts
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
  ironfish/src/wallet/walletdb/walletdb.ts
  ironfish/src/workerPool/tasks/createTransaction.test.slow.ts
Due: ironfish-cli, ironfish

adds separate wallet methods for disconnecting blocks
  ironfish/src/wallet/__fixtures__/account.test.ts.fixture
  ironfish/src/wallet/__fixtures__/wallet.test.ts.fixture
  ironfish/src/wallet/account.test.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish

Fix tests
  ironfish/src/wallet/__fixtures__/account.test.ts.fixture
  ironfish/src/wallet/__fixtures__/wallet.test.ts.fixture
  ironfish/src/wallet/wallet.test.ts
Due: ironfish
