Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

Fix peer.punish not banning peers
  ironfish/src/network/peers/peer.test.ts
  ironfish/src/network/peers/peer.ts
  ironfish/src/network/peers/peerManager.test.ts
Due: ironfish

Format
  ironfish-zkp/src/circuits/output.rs
  ironfish-zkp/src/circuits/spend.rs
Due: ironfish

Replace payment address with subgroup point
  ironfish-zkp/src/circuits/output.rs
  ironfish-zkp/src/circuits/spend.rs
Due: ironfish

Move to constant.rs
  ironfish-zkp/src/circuits/output.rs
  ironfish-zkp/src/circuits/spend.rs
  ironfish-zkp/src/constants.rs
Due: ironfish

narrows the scope of repairs in accounts:repair
  ironfish-cli/src/commands/accounts/repair.ts
Due: ironfish-cli, ironfish

Handle negative balances in depositAll (#2555)
  ironfish-cli/src/commands/deposit-all.ts
Due: ironfish-cli, ironfish

Fix peer.punish not banning peers (#2585)
  ironfish/src/network/peers/peer.test.ts
  ironfish/src/network/peers/peer.ts
  ironfish/src/network/peers/peerManager.test.ts
Due: ironfish

Remove double-logging from syncer (#2584)
  ironfish/src/syncer.ts
Due: ironfish

Replace Payment Address with Subgroup Point in Output and Spend (#2579)
  ironfish-zkp/src/circuits/output.rs
  ironfish-zkp/src/circuits/spend.rs
  ironfish-zkp/src/constants.rs
Due: ironfish

feat(rust,zkp): Move asset description fields to metadata (#2572)
  ironfish-rust/src/assets/asset.rs
  ironfish-rust/src/transaction/mints.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-zkp/src/circuits/mint_asset.rs
  ironfish-zkp/src/circuits/util.rs
Due: ironfish-rust, ironfish

WIP feat(rust): Add some mint description fields in transaction
  ironfish-rust/src/transaction/mints.rs
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish

feat(rust): start adding mint description
  ironfish-rust/src/assets/asset.rs
  ironfish-rust/src/lib.rs
  ironfish-rust/src/transaction/mints.rs
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish

feat(rust): Add serialization for mint descriptions
  ironfish-rust/src/assets/asset.rs
  ironfish-rust/src/transaction/mints.rs
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish

refactor(rust): Add placeholder test and some docs
  ironfish-rust/src/transaction/mints.rs
Due: ironfish-rust, ironfish

refactor(rust,zkp): Change Asset owner public address to asset public key (#2573)
  ironfish-rust/src/assets/asset.rs
  ironfish-rust/src/keys/mod.rs
  ironfish-rust/src/transaction/mints.rs
Due: ironfish-rust, ironfish

feat(rust): Add value commitment to mint description (#2578)
  ironfish-rust/src/transaction/mints.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/outputs.rs
  ironfish-rust/src/transaction/spending.rs
Due: ironfish-rust, ironfish

feat(rust): Add mints to ProposedTransaction
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish

refactor(rust,zkp): Use pedersen hash for asset identifier (#2577)
  ironfish-rust/src/assets/asset.rs
  ironfish-zkp/src/circuits/mint_asset.rs
  ironfish-zkp/src/circuits/util.rs
  ironfish-zkp/src/constants.rs
Due: ironfish-rust, ironfish

add rewind functionality to chain processor
  ironfish/src/chainProcessor.test.ts
  ironfish/src/chainProcessor.ts
Due: ironfish

make better diff
  ironfish/src/chainProcessor.ts
Due: ironfish

refactor(rust,zkp): Add value commitment to mint circuit, sign mint descriptions
  ironfish-rust/src/transaction/mints.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-zkp/src/circuits/mint_asset.rs
  ironfish-zkp/src/circuits/util.rs
Due: ironfish-rust, ironfish

fix(rust): rename blank_sig to blank_signature
  ironfish-rust/src/transaction/mints.rs
  ironfish-rust/src/transaction/spending.rs
Due: ironfish-rust, ironfish

refactor(rust,zkp): Add value commitment to mint circuit, sign mint descriptions (#2587)
  ironfish-rust/src/transaction/mints.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/spending.rs
  ironfish-zkp/src/circuits/mint_asset.rs
  ironfish-zkp/src/circuits/util.rs
Due: ironfish-rust, ironfish

hugh approach
  ironfish/src/chainProcessor.ts
Due: ironfish

add comment
  ironfish/src/chainProcessor.ts
Due: ironfish

Skip processing the chain if accounts is empty
  ironfish/src/wallet/wallet.ts
Due: ironfish

fixed setting of remove head hash
  ironfish/src/chainProcessor.test.ts
  ironfish/src/chainProcessor.ts
Due: ironfish

Only create a default account on first run
  ironfish-cli/src/commands/start.ts
Due: ironfish-cli, ironfish

Add rewind to chain processor (#2586)
  ironfish/src/chainProcessor.test.ts
  ironfish/src/chainProcessor.ts
Due: ironfish

Only create a default account on first run (#2589)
  ironfish-cli/src/commands/start.ts
Due: ironfish-cli, ironfish

fix build error, remove tx
  ironfish-cli/src/commands/chain/rewind.ts
Due: ironfish-cli, ironfish

fixes rewind to only update accounts that are synced
  ironfish-cli/src/commands/chain/rewind.ts
Due: ironfish-cli, ironfish

reduces scope of transaction in disconnectBlocks
  ironfish-cli/src/commands/chain/rewind.ts
Due: ironfish-cli, ironfish

fixes updating of head hashes
  ironfish-cli/src/commands/chain/rewind.ts
Due: ironfish-cli, ironfish

removes unnecessary call to updateHeadHashes
  ironfish-cli/src/commands/chain/rewind.ts
Due: ironfish-cli, ironfish

changes rewind update wallet head
  ironfish-cli/src/commands/chain/hardfork.ts
  ironfish-cli/src/commands/chain/rewind.ts
Due: ironfish-cli, ironfish

Skip processing the chain if accounts is empty (#2588)
  ironfish/src/wallet/wallet.ts
Due: ironfish

uses updateHead after changes to chainProcessor
  ironfish-cli/src/commands/chain/rewind.ts
Due: ironfish-cli, ironfish

fixes lint
  ironfish-cli/src/commands/chain/rewind.ts
Due: ironfish-cli, ironfish

changes rewind update wallet head (#2580)
  ironfish-cli/src/commands/chain/hardfork.ts
  ironfish-cli/src/commands/chain/rewind.ts
Due: ironfish-cli, ironfish

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish-cli: any of: ironfish-cli, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish: any of: ironfish, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
