Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

codecov.yml:

ignore:
  - config/*
  - ironfish-rust-nodejs/*
  - ironfish-rust-wasm/*
comment: false
github_checks:
  annotations: false
coverage:
  fixes:
    - "/home/runner/work/ironfish/ironfish/::/"
  status:
    patch:
      default:
        target: auto
        threshold: 0%
    project:
      default:
        target: 10%
      ironfish-rust:
        target: 10%
        flags:
          - ironfish-rust
      ironfish-cli:
        target: 10%
        flags:
          - ironfish-cli
      ironfish:
        target: 10%
        flags:
          - ironfish
flags:
  ironfish-rust:
    paths:
      - ironfish-rust
    carryforward: true
  ironfish-cli:
    paths:
      - ironfish-cli
    carryforward: true
  ironfish:
    paths:
      - ironfish
    carryforward: true

Update index.ts
  ironfish/src/rpc/routes/wallet/index.ts
Due: ironfish

chore: pr comment updates
  ironfish-cli/src/commands/wallet/send.ts
Due: ironfish-cli, ironfish

chore: update send command consistent (#2889)
  ironfish-cli/src/commands/wallet/send.ts
Due: ironfish-cli, ironfish

Update createRawTransaction.ts
  ironfish/src/rpc/routes/wallet/createRawTransaction.ts
Due: ironfish

feat(cli,ironfish): Add `wallet:balances` command (#2885)
  ironfish-cli/src/commands/wallet/balances.ts
  ironfish/src/rpc/routes/wallet/getBalances.test.ts
  ironfish/src/rpc/routes/wallet/getBalances.ts
Due: ironfish-cli, ironfish

Fix missing schema minimumBlockConfirmations
  ironfish/src/rpc/routes/wallet/getBalance.ts
Due: ironfish

Frontload validation of confirmations
  ironfish/src/rpc/routes/wallet/getBalance.ts
  ironfish/src/rpc/routes/wallet/getBalances.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

Reduce destructuring balance model
  ironfish/src/wallet/account.ts
Due: ironfish

feat(ironfish): Duplicate assets store into the walletdb
  ironfish/src/wallet/walletdb/__fixtures__/assetsValue.test.ts.fixture
  ironfish/src/wallet/walletdb/assetsValue.test.ts
  ironfish/src/wallet/walletdb/assetsValue.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish

Frontload validation of confirmations (#2892)
  ironfish/src/rpc/routes/wallet/getBalance.ts
  ironfish/src/rpc/routes/wallet/getBalances.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

Reduce destructuring balance model (#2893)
  ironfish/src/wallet/account.ts
Due: ironfish

refactor(ironfish): assets -> asset
  ironfish/src/wallet/walletdb/__fixtures__/assetValue.test.ts.fixture
  ironfish/src/wallet/walletdb/__fixtures__/assetsValue.test.ts.fixture
  ironfish/src/wallet/walletdb/assetValue.test.ts
  ironfish/src/wallet/walletdb/assetValue.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish

fix(ironfish): Use prefix encoding for the asset store
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish

renames minimumBlockConfirmations to confirmations
  ironfish-cli/src/commands/wallet/balance.ts
  ironfish-cli/src/commands/wallet/balances.ts
  ironfish/src/fileStores/config.ts
  ironfish/src/rpc/routes/wallet/getBalance.ts
  ironfish/src/rpc/routes/wallet/getBalances.ts
  ironfish/src/testUtilities/nodeTest.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish-cli, ironfish

refactor(ironfish): `assets` -> `asset` for the blockchain db
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/blockchain/database/__fixtures__/assetValue.test.ts.fixture
  ironfish/src/blockchain/database/__fixtures__/assets.test.ts.fixture
  ironfish/src/blockchain/database/assetValue.test.ts
  ironfish/src/blockchain/database/assetValue.ts
  ironfish/src/blockchain/schema.ts
Due: ironfish

renames minimumBlockConfirmations to confirmations (#2895)
  ironfish-cli/src/commands/wallet/balance.ts
  ironfish-cli/src/commands/wallet/balances.ts
  ironfish/src/fileStores/config.ts
  ironfish/src/rpc/routes/wallet/getBalance.ts
  ironfish/src/rpc/routes/wallet/getBalances.ts
  ironfish/src/testUtilities/nodeTest.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish-cli, ironfish

feat(ironfish): Duplicate assets store into the walletdb (#2894)
  ironfish/src/wallet/walletdb/__fixtures__/assetValue.test.ts.fixture
  ironfish/src/wallet/walletdb/assetValue.test.ts
  ironfish/src/wallet/walletdb/assetValue.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish

refactor(ironfish): `assets` -> `asset` for the blockchain db (#2896)
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/blockchain/database/__fixtures__/assetValue.test.ts.fixture
  ironfish/src/blockchain/database/__fixtures__/assets.test.ts.fixture
  ironfish/src/blockchain/database/assetValue.test.ts
  ironfish/src/blockchain/database/assetValue.ts
  ironfish/src/blockchain/schema.ts
Due: ironfish

cleans up account head usage in wallet (#2887)
  ironfish/src/rpc/routes/wallet/getTransactions.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

Update postTransaction.ts
  ironfish/src/rpc/routes/wallet/postTransaction.ts
Due: ironfish

Revert postTransaction.ts
  ironfish/src/rpc/routes/wallet/postTransaction.ts
Due: ironfish

chore(rust): Upgrade rust version to 1.66.1
  ironfish-rust/src/rolling_filter.rs
  ironfish-zkp/src/circuits/mint_asset.rs
  rust-toolchain.toml
Due: ironfish-rust, ironfish

chore: update Discord invite link
  CONTRIBUTING.md
  ironfish/src/fileStores/config.ts
Due: ironfish

chore: update Discord invite link (#2899)
  CONTRIBUTING.md
  ironfish/src/fileStores/config.ts
Due: ironfish

chore(rust): Upgrade rust version to 1.66.1 (#2898)
  ironfish-rust/src/rolling_filter.rs
  ironfish-zkp/src/circuits/mint_asset.rs
  rust-toolchain.toml
Due: ironfish-rust, ironfish

Bump CLI 0.1.58, SDK 0.0.35, Rust 0.1.21
  ironfish-cli/package.json
  ironfish-rust-nodejs/npm/darwin-arm64/package.json
  ironfish-rust-nodejs/npm/darwin-x64/package.json
  ironfish-rust-nodejs/npm/linux-arm64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-arm64-musl/package.json
  ironfish-rust-nodejs/npm/linux-x64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-x64-musl/package.json
  ironfish-rust-nodejs/npm/win32-x64-msvc/package.json
  ironfish-rust-nodejs/package.json
  ironfish/package.json
Due: ironfish-rust, ironfish-cli, ironfish

feat(ironfish): Remove `AsyncGenerator` return type from `iterateBlockTransactions`
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

fix(ironfish): Fetch transactions per account
  ironfish/src/wallet/wallet.ts
Due: ironfish

feat(ironfish): Don't change behavior in this PR
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

Bump CLI 0.1.58, SDK 0.0.35, Rust 0.1.21 (#2901)
  ironfish-cli/package.json
  ironfish-rust-nodejs/npm/darwin-arm64/package.json
  ironfish-rust-nodejs/npm/darwin-x64/package.json
  ironfish-rust-nodejs/npm/linux-arm64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-arm64-musl/package.json
  ironfish-rust-nodejs/npm/linux-x64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-x64-musl/package.json
  ironfish-rust-nodejs/npm/win32-x64-msvc/package.json
  ironfish-rust-nodejs/package.json
  ironfish/package.json
Due: ironfish-rust, ironfish-cli, ironfish

Break send command into create transaction and post transaction
  ironfish-cli/src/commands/wallet/send.ts
  ironfish/src/consensus/verifier.test.ts
  ironfish/src/primitives/index.ts
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/wallet/createTransaction.ts
  ironfish/src/rpc/routes/wallet/postTransaction.ts
  ironfish/src/testUtilities/fixtures/blocks.ts
  ironfish/src/testUtilities/fixtures/transactions.ts
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish-cli, ironfish

feat(ironfish): Remove `AsyncGenerator` return type from `iterateBlockTransactions` (#2902)
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

fix(ironfish): Keep consistent iteration in block connect events
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

fix(ironfish): Keep consistent iteration in block connect events (#2904)
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

fixes transactionValue to use signed bigints in balance deltas
  ironfish/src/typedefs/bufio.d.ts
  ironfish/src/wallet/walletdb/__fixtures__/transactionValue.test.ts.fixture
  ironfish/src/wallet/walletdb/transactionValue.test.ts
  ironfish/src/wallet/walletdb/transactionValue.ts
Due: ironfish

yarn lint --fix
  ironfish/src/rpc/routes/wallet/createRawTransaction.test.ts
  ironfish/src/rpc/routes/wallet/createRawTransaction.ts
Due: ironfish
