Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish

codecov.yml:

ignore:
  - config/*
  - ironfish-rust-nodejs/*
comment: false
github_checks:
  annotations: false
coverage:
  fixes:
    - "/home/runner/work/ironfish/ironfish/::/"
  status:
    patch:
      default:
        target: 10%
        threshold: 0%
    project:
      default:
        target: 10%
      ironfish-rust:
        target: 10%
        flags:
          - ironfish-rust
      ironfish-cli:
        target: 10%
        flags:
          - ironfish-cli
      ironfish:
        target: 10%
        flags:
          - ironfish
flags:
  ironfish-rust:
    paths:
      - ironfish-rust
    carryforward: true
  ironfish:
    paths:
      - ironfish
    carryforward: true

add AssetVerifier function to return verification status and verified asset metadata in one
  ironfish/src/assets/assetsVerificationApi.ts
  ironfish/src/assets/assetsVerifier.ts
  ironfish/src/rpc/routes/chain/getAsset.ts
  ironfish/src/rpc/routes/types.ts
  ironfish/src/rpc/routes/wallet/burnAsset.ts
  ironfish/src/rpc/routes/wallet/getAsset.ts
  ironfish/src/rpc/routes/wallet/getAssets.ts
  ironfish/src/rpc/routes/wallet/mintAsset.ts
Due: ironfish

Fix Buffer memo in mempool tests
  ironfish/src/memPool/__fixtures__/memPool.test.ts.fixture
  ironfish/src/memPool/memPool.test.ts
Due: ironfish

Fix Buffer memo in mempool tests (#4875)
  ironfish/src/memPool/__fixtures__/memPool.test.ts.fixture
  ironfish/src/memPool/memPool.test.ts
Due: ironfish

Removing temp test variable
  ironfish-cli/src/utils/spendPostTime.ts
Due: ironfish

< to <= for calculating spendPostTime
  ironfish-cli/src/utils/spendPostTime.ts
Due: ironfish

throwing error when user doesn't have enough notes to benchmark
  ironfish-cli/src/utils/spendPostTime.ts
Due: ironfish

Rahul/ifl 2455 refactor explicitly call benchmark spend post time (#4872)
  ironfish-cli/src/commands/wallet/notes/combine.ts
  ironfish-cli/src/utils/spendPostTime.ts
  ironfish/src/fileStores/internal.ts
Due: ironfish

Update autocomplete version to use correct version of Oclif
  ironfish-cli/package.json
  yarn.lock
Due: ironfish

Update autocomplete version to use correct version of Oclif (#4876)
  ironfish-cli/package.json
  yarn.lock
Due: ironfish

Add new verified asset metadata fields to RpcAsset
  ironfish/src/assets/assetsVerificationApi.ts
  ironfish/src/assets/assetsVerifier.ts
  ironfish/src/rpc/routes/chain/getAsset.ts
  ironfish/src/rpc/routes/types.ts
  ironfish/src/rpc/routes/wallet/burnAsset.ts
  ironfish/src/rpc/routes/wallet/getAsset.ts
  ironfish/src/rpc/routes/wallet/getAssets.ts
  ironfish/src/rpc/routes/wallet/mintAsset.ts
Due: ironfish

lazy deserialization in levelup db iter methods
  ironfish/src/storage/levelup/store.ts
  ironfish/src/storage/levelup/transaction.ts
Due: ironfish

updates binary to use xlarge runner
  .github/workflows/publish-binaries.yml
Due: none

fix apple binary generation and add test
  .github/workflows/publish-binaries.yml
Due: none

Move verified metadata fields to the verification sub-object
  ironfish/src/assets/assetsVerificationApi.ts
  ironfish/src/assets/assetsVerifier.ts
  ironfish/src/rpc/routes/chain/getAsset.ts
  ironfish/src/rpc/routes/types.ts
  ironfish/src/rpc/routes/wallet/burnAsset.ts
  ironfish/src/rpc/routes/wallet/getAsset.ts
  ironfish/src/rpc/routes/wallet/getAssets.ts
  ironfish/src/rpc/routes/wallet/getBalance.ts
  ironfish/src/rpc/routes/wallet/getBalances.ts
  ironfish/src/rpc/routes/wallet/mintAsset.ts
Due: ironfish

specify python and make runner bash for windows
  .github/workflows/publish-binaries.yml
Due: none

Move verified metadata fields to the verification sub-object
  ironfish/src/assets/assetsVerificationApi.test.ts
  ironfish/src/assets/assetsVerificationApi.ts
  ironfish/src/assets/assetsVerifier.ts
  ironfish/src/rpc/routes/chain/getAsset.ts
  ironfish/src/rpc/routes/types.ts
  ironfish/src/rpc/routes/wallet/burnAsset.ts
  ironfish/src/rpc/routes/wallet/getAsset.ts
  ironfish/src/rpc/routes/wallet/getAssets.ts
  ironfish/src/rpc/routes/wallet/getBalance.ts
  ironfish/src/rpc/routes/wallet/getBalances.ts
  ironfish/src/rpc/routes/wallet/mintAsset.ts
Due: ironfish

add python setuptools
  .github/workflows/publish-binaries.yml
Due: none

python version to 3.11
  .github/workflows/publish-binaries.yml
Due: none

remove push
  .github/workflows/publish-binaries.yml
Due: none

fix tests
  ironfish/src/assets/assetsVerificationApi.test.ts
  ironfish/src/assets/assetsVerifier.test.ts
Due: ironfish

WIP
  ironfish/src/assets/assetsVerificationApi.ts
  ironfish/src/assets/assetsVerifier.ts
  ironfish/src/rpc/routes/types.ts
Due: ironfish

fix: adjust GHA runner apple binary to publish arm64 (#4881)
  .github/workflows/publish-binaries.yml
Due: none

Improve types for internal verified asset metadata
  ironfish/src/assets/assetsVerificationApi.ts
  ironfish/src/assets/assetsVerifier.ts
  ironfish/src/rpc/routes/types.ts
Due: ironfish

update to use new rpc type
  ironfish-cli/src/utils/asset.ts
  ironfish/src/rpc/routes/wallet/getBalance.ts
  ironfish/src/rpc/routes/wallet/getBalances.ts
Due: ironfish

removes migration logic from before network reset (#4873)
  ironfish/src/migrations/data/016-sequence-to-tx.ts
  ironfish/src/migrations/data/017-sequence-encoding.ts
  ironfish/src/migrations/data/018-backfill-wallet-assets.ts
  ironfish/src/migrations/data/019-backfill-wallet-assets-from-chain.ts
  ironfish/src/migrations/data/020-backfill-null-asset-supplies.ts
  ironfish/src/migrations/data/024-unspent-notes.ts
  ironfish/src/migrations/data/024-unspent-notes/new/index.ts
  ironfish/src/migrations/data/024-unspent-notes/old/AccountValue.ts
  ironfish/src/migrations/data/024-unspent-notes/old/decryptedNoteValue.ts
  ironfish/src/migrations/data/024-unspent-notes/old/index.ts
  ironfish/src/migrations/data/024-unspent-notes/stores.ts
  ironfish/src/migrations/data/025-backfill-wallet-nullifier-to-transaction-hash.ts
  ironfish/src/migrations/data/025-backfill-wallet-nullifier-to-transaction-hash/new/index.ts
  ironfish/src/migrations/data/025-backfill-wallet-nullifier-to-transaction-hash/old/accountValue.ts
  ironfish/src/migrations/data/025-backfill-wallet-nullifier-to-transaction-hash/old/headValue.ts
  ironfish/src/migrations/data/025-backfill-wallet-nullifier-to-transaction-hash/old/index.ts
  ironfish/src/migrations/data/025-backfill-wallet-nullifier-to-transaction-hash/old/transactionValue.ts
  ironfish/src/migrations/data/025-backfill-wallet-nullifier-to-transaction-hash/stores.ts
  ironfish/src/migrations/data/026-timestamp-to-transactions.ts
  ironfish/src/migrations/data/026-timestamp-to-transactions/new/index.ts
  ironfish/src/migrations/data/026-timestamp-to-transactions/old/accountValue.ts
  ironfish/src/migrations/data/026-timestamp-to-transactions/old/index.ts
  ironfish/src/migrations/data/026-timestamp-to-transactions/old/transactionValue.ts
  ironfish/src/migrations/data/026-timestamp-to-transactions/stores.ts
Due: ironfish

test fixes
  ironfish/src/rpc/routes/wallet/getAssets.test.ts
  ironfish/src/rpc/routes/wallet/getBalance.test.ts
  ironfish/src/rpc/routes/wallet/getBalances.test.ts
Due: ironfish

Add new verified asset metadata fields to RpcAsset (#4878)
  ironfish-cli/src/utils/asset.ts
  ironfish/src/assets/assetsVerificationApi.test.ts
  ironfish/src/assets/assetsVerificationApi.ts
  ironfish/src/assets/assetsVerifier.test.ts
  ironfish/src/assets/assetsVerifier.ts
  ironfish/src/rpc/routes/types.ts
  ironfish/src/rpc/routes/wallet/burnAsset.ts
  ironfish/src/rpc/routes/wallet/getAssets.test.ts
  ironfish/src/rpc/routes/wallet/getAssets.ts
  ironfish/src/rpc/routes/wallet/getBalance.test.ts
  ironfish/src/rpc/routes/wallet/getBalance.ts
  ironfish/src/rpc/routes/wallet/getBalances.test.ts
  ironfish/src/rpc/routes/wallet/getBalances.ts
  ironfish/src/rpc/routes/wallet/mintAsset.ts
Due: ironfish

Add new currency render function
  ironfish/src/mining/webhooks/webhookNotifier.ts
  ironfish/src/primitives/rawTransaction.ts
  ironfish/src/rpc/routes/wallet/createTransaction.ts
  ironfish/src/utils/currency.test.ts
  ironfish/src/utils/currency.ts
  ironfish/src/wallet/errors.ts
Due: ironfish

Use new render function signature based off RpcAsset changes
  ironfish/src/rpc/routes/wallet/createTransaction.ts
  ironfish/src/utils/currency.test.ts
  ironfish/src/utils/currency.ts
  ironfish/src/wallet/errors.ts
Due: ironfish

Add napi binding for round one
  Cargo.lock
  ironfish-cli/foo.json
  ironfish-rust-nodejs/Cargo.toml
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/multisig.rs
  ironfish-rust/Cargo.toml
  ironfish/src/rpc/routes/wallet/multisig/dkgRoundOne.ts
  ironfish/src/wallet/wallet.test.slow.ts
Due: ironfish-rust, ironfish

add checkout_ref for workflow dispatch
  .github/workflows/publish-binaries.yml
Due: none

add checkout_ref for workflow dispatch (#4882)
  .github/workflows/publish-binaries.yml
Due: none

Switch ironfish-frost to andrea/dkg-secret-package-serde
  Cargo.lock
  ironfish-rust-nodejs/Cargo.toml
  ironfish-rust-nodejs/src/multisig.rs
  ironfish-rust/Cargo.toml
Due: ironfish-rust, ironfish

Prune cargo vet audits
  supply-chain/config.toml
  supply-chain/imports.lock
Due: none

Cleanup more uses of `request()` in tests
  ironfish/src/rpc/routes/config/getConfig.test.ts
  ironfish/src/rpc/routes/config/setConfig.test.ts
  ironfish/src/rpc/routes/wallet/multisig/createTrustedDealerKeyPackage.test.ts
  ironfish/src/rpc/routes/worker/getStatus.test.ts
Due: ironfish

Add napi binding for round2
  ironfish-rust-nodejs/src/multisig.rs
Due: ironfish-rust, ironfish

code review changes
  ironfish/src/rpc/routes/wallet/sendTransaction.ts
  ironfish/src/utils/currency.ts
Due: ironfish

Add new currency render function (#4879)
  ironfish/src/mining/webhooks/webhookNotifier.ts
  ironfish/src/primitives/rawTransaction.ts
  ironfish/src/rpc/routes/wallet/createTransaction.ts
  ironfish/src/rpc/routes/wallet/sendTransaction.ts
  ironfish/src/utils/currency.test.ts
  ironfish/src/utils/currency.ts
  ironfish/src/wallet/errors.ts
Due: ironfish

Render question mark for unknown assets
  ironfish-cli/src/commands/wallet/assets.ts
  ironfish-cli/src/commands/wallet/balance.ts
  ironfish-cli/src/commands/wallet/balances.ts
  ironfish-cli/src/utils/asset.ts
Due: ironfish

Render question mark for unknown assets (#4888)
  ironfish-cli/src/commands/wallet/assets.ts
  ironfish-cli/src/commands/wallet/balance.ts
  ironfish-cli/src/commands/wallet/balances.ts
  ironfish-cli/src/utils/asset.ts
Due: ironfish
