Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

codecov.yml:

ignore:
  - config/*
  - ironfish-rust-nodejs/*
  - ironfish-rust-wasm/*
comment: false
github_checks:
  annotations: false
coverage:
  fixes:
    - "/home/runner/work/ironfish/ironfish/::/"
  status:
    patch:
      default:
        target: auto
        threshold: 0%
    project:
      default:
        target: 10%
      ironfish-rust:
        target: 10%
        flags:
          - ironfish-rust
      ironfish-cli:
        target: 10%
        flags:
          - ironfish-cli
      ironfish:
        target: 10%
        flags:
          - ironfish
flags:
  ironfish-rust:
    paths:
      - ironfish-rust
    carryforward: true
  ironfish-cli:
    paths:
      - ironfish-cli
    carryforward: true
  ironfish:
    paths:
      - ironfish
    carryforward: true

add confirming status for transactions
  ironfish/src/account/accounts.ts
Due: ironfish

Add confirming status for getTransaction
  ironfish/src/account/accounts.ts
Due: ironfish

Disallow importing accounts with the same keys
  ironfish/src/account/__fixtures__/accounts.test.ts.fixture
  ironfish/src/account/accounts.test.ts
  ironfish/src/account/accounts.ts
Due: ironfish

Add first pass on migration
  ironfish/src/account/accountsdb.ts
  ironfish/src/migrations/data/013-accounts-dedupe.ts
Due: ironfish

Rename error
  ironfish-rust/src/errors.rs
  ironfish-rust/src/tweetnacl.rs
Due: ironfish-rust, ironfish

Remove unused privateIdentity param in IronfishSdk
  ironfish/src/sdk.ts
Due: ironfish

Add tools to bench mark segments of code (#1881)
  ironfish/src/utils/bench.test.ts
  ironfish/src/utils/bench.ts
Due: ironfish

Make DecrypytedNote transactionHash enc not null
  ironfish/src/account/database/decryptedNotes.ts
Due: ironfish

Allow non unqiue IDatabaseStore
  ironfish/src/storage/database/database.ts
Due: ironfish

Remove unused privateIdentity param in IronfishSdk (#1885)
  ironfish/src/sdk.ts
Due: ironfish

Add other tweetnacl function replacements
  ironfish-cli/src/commands/start.ts
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust/src/tweetnacl.rs
  ironfish/src/network/identity.ts
  ironfish/src/network/messages/gossipNetworkMessage.ts
  ironfish/src/network/messages/signal.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/peers/encryption.ts
Due: ironfish-rust, ironfish-cli, ironfish

Remove magic numbers
  ironfish-rust/src/tweetnacl.rs
Due: ironfish-rust, ironfish

Remove filter for gossip nonces
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/syncer.ts
Due: ironfish

Fix a bug where tests were timing out
  config/jest.config.base.js
Due: none

Fix tests
  ironfish/src/network/__fixtures__/peerNetwork.test.ts.fixture
  ironfish/src/network/peerNetwork.test.ts
Due: ironfish

Fix lint
  ironfish/src/network/peerNetwork.test.ts
Due: ironfish

Remove filter for gossip nonces (#1890)
  ironfish/src/network/__fixtures__/peerNetwork.test.ts.fixture
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/syncer.ts
Due: ironfish

Bump version to 0.1.41
  ironfish-cli/package.json
  ironfish-rust-nodejs/npm/darwin-arm64/package.json
  ironfish-rust-nodejs/npm/darwin-x64/package.json
  ironfish-rust-nodejs/npm/linux-arm64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-arm64-musl/package.json
  ironfish-rust-nodejs/npm/linux-x64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-x64-musl/package.json
  ironfish-rust-nodejs/npm/win32-x64-msvc/package.json
  ironfish-rust-nodejs/package.json
  ironfish/package.json
Due: ironfish-rust, ironfish-cli, ironfish

Add DatabaseStoreValue and DatabaseStoreKey
  ironfish/src/storage/database/store.ts
Due: ironfish

Support IDatabaseStore.clear() in a transaction
  ironfish/src/storage/database/store.ts
  ironfish/src/storage/levelup/store.ts
Due: ironfish

bump network version
  ironfish/src/network/version.ts
Due: ironfish

Fixed a bug where not all errors were handled properly
  ironfish-cli/src/commands/debug.ts
Due: ironfish-cli, ironfish

Revert "Fixed a bug where not all errors were handled properly"
  ironfish-cli/src/commands/debug.ts
Due: ironfish-cli, ironfish

Update jest.config.base.js
  config/jest.config.base.js
Due: none

Bump version 0.1.41 (#1893)
  ironfish-cli/package.json
  ironfish-rust-nodejs/npm/darwin-arm64/package.json
  ironfish-rust-nodejs/npm/darwin-x64/package.json
  ironfish-rust-nodejs/npm/linux-arm64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-arm64-musl/package.json
  ironfish-rust-nodejs/npm/linux-x64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-x64-musl/package.json
  ironfish-rust-nodejs/npm/win32-x64-msvc/package.json
  ironfish-rust-nodejs/package.json
  ironfish/package.json
  ironfish/src/network/version.ts
Due: ironfish-rust, ironfish-cli, ironfish

Fix transaction status
  ironfish/src/account/accounts.ts
Due: ironfish

standardizes naming of version constants
  ironfish/src/account/accountsdb.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/indexers/minedBlocksIndexer.ts
  ironfish/src/mining/stratum/stratumClient.ts
  ironfish/src/mining/stratum/stratumServer.ts
  ironfish/src/mining/stratum/version.ts
Due: ironfish

Support IDatabaseStore.clear() in a transaction
  ironfish/src/storage/database.test.ts
  ironfish/src/storage/database/store.ts
  ironfish/src/storage/levelup/store.ts
Due: ironfish

Add DatabaseStoreValue and DatabaseStoreKey (#1894)
  ironfish/src/storage/database/store.ts
Due: ironfish

Allow non unqiue IDatabaseStore
  ironfish/src/storage/database.test.ts
  ironfish/src/storage/database/database.ts
Due: ironfish

Fix feedback
  ironfish/src/storage/database/database.ts
Due: ironfish

Fixed lint
  ironfish/src/storage/database.test.ts
Due: ironfish

Revert "Fix a bug where tests were timing out"
  config/jest.config.base.js
Due: none

standardizes naming of version constants (#1896)
  ironfish/src/account/accountsdb.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/indexers/minedBlocksIndexer.ts
  ironfish/src/mining/stratum/stratumClient.ts
  ironfish/src/mining/stratum/stratumServer.ts
  ironfish/src/mining/stratum/version.ts
Due: ironfish

Update libc
  ironfish-rust-nodejs/Cargo.lock
  ironfish-rust/Cargo.lock
Due: ironfish-rust, ironfish

Revert "standardizes naming of version constants (#1896)"
  ironfish/src/account/accountsdb.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/indexers/minedBlocksIndexer.ts
  ironfish/src/mining/stratum/stratumClient.ts
  ironfish/src/mining/stratum/stratumServer.ts
  ironfish/src/mining/stratum/version.ts
Due: ironfish

Update libc (#1901)
  ironfish-rust-nodejs/Cargo.lock
  ironfish-rust/Cargo.lock
Due: ironfish-rust, ironfish

Revert "standardizes naming of version constants (#1896)" (#1903)
  ironfish/src/account/accountsdb.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/indexers/minedBlocksIndexer.ts
  ironfish/src/mining/stratum/stratumClient.ts
  ironfish/src/mining/stratum/stratumServer.ts
  ironfish/src/mining/stratum/version.ts
Due: ironfish
