Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish

codecov.yml:

ignore:
  - config/*
  - ironfish-rust-nodejs/*
comment: false
github_checks:
  annotations: false
coverage:
  fixes:
    - "/home/runner/work/ironfish/ironfish/::/"
  status:
    patch:
      default:
        target: 10%
        threshold: 0%
    project:
      default:
        target: 10%
      ironfish-rust:
        target: 10%
        flags:
          - ironfish-rust
      ironfish-cli:
        target: 10%
        flags:
          - ironfish-cli
      ironfish:
        target: 10%
        flags:
          - ironfish
flags:
  ironfish-rust:
    paths:
      - ironfish-rust
    carryforward: true
  ironfish:
    paths:
      - ironfish
    carryforward: true

rejects client messages if client not in session
  ironfish-cli/src/multisigBroker/errors.ts
  ironfish-cli/src/multisigBroker/server.ts
Due: ironfish

Remove CurrencyUtils.encode
  ironfish-cli/src/commands/wallet/burn.ts
  ironfish-cli/src/commands/wallet/chainport/send.ts
  ironfish-cli/src/commands/wallet/mint.ts
  ironfish-cli/src/commands/wallet/notes/combine.ts
  ironfish-cli/src/commands/wallet/send.ts
  ironfish-cli/src/utils/fees.ts
  ironfish-cli/src/utils/spendPostTime.ts
  ironfish/src/mining/poolShares.ts
  ironfish/src/rpc/routes/chain/estimateFeeRate.ts
  ironfish/src/rpc/routes/chain/estimateFeeRates.ts
  ironfish/src/rpc/routes/chain/getAsset.test.ts
  ironfish/src/rpc/routes/chain/getAsset.ts
  ironfish/src/rpc/routes/chain/getTransactionStream.ts
  ironfish/src/rpc/routes/wallet/burnAsset.test.ts
  ironfish/src/rpc/routes/wallet/burnAsset.ts
  ironfish/src/rpc/routes/wallet/getAccountNotesStream.test.ts
  ironfish/src/rpc/routes/wallet/getAccountNotesStream.ts
  ironfish/src/rpc/routes/wallet/getAsset.ts
  ironfish/src/rpc/routes/wallet/getAssets.ts
  ironfish/src/rpc/routes/wallet/getBalances.ts
  ironfish/src/rpc/routes/wallet/mintAsset.test.ts
  ironfish/src/rpc/routes/wallet/serializers.ts
  ironfish/src/utils/currency.test.ts
  ironfish/src/utils/currency.ts
  ironfish/src/utils/yup.test.ts
Due: ironfish

Add zod routes to RPC
  ironfish/package.json
  ironfish/src/rpc/routes/config/getConfig.ts
  ironfish/src/rpc/routes/router.ts
  yarn.lock
Due: ironfish

Implement zod parsing
  ironfish/src/rpc/routes/router.ts
Due: ironfish

yarn lock
  yarn.lock
Due: none

handles reconnect/rejoin status in session managers (#5564)
  ironfish-cli/src/multisigBroker/clients/client.ts
  ironfish-cli/src/multisigBroker/sessionManagers/dkgSessionManager.ts
  ironfish-cli/src/multisigBroker/sessionManagers/sessionManager.ts
  ironfish-cli/src/multisigBroker/sessionManagers/signingSessionManager.ts
Due: ironfish

use github action for uploading codecov
  .github/workflows/ci.yml
  .github/workflows/rust_ci.yml
  package.json
Due: none

use github action for uploading codecov (#5571)
  .github/workflows/ci.yml
  .github/workflows/rust_ci.yml
  package.json
Due: none

Add createdAt to createAccount RPC
  ironfish/src/rpc/routes/wallet/create.test.slow.ts
  ironfish/src/rpc/routes/wallet/createAccount.ts
Due: ironfish

PR comments
  ironfish/src/rpc/routes/wallet/create.test.slow.ts
  ironfish/src/rpc/routes/wallet/createAccount.ts
Due: ironfish

move files
  ironfish/src/index.ts
  ironfish/src/wallet/multisig.test.slow.ts
  ironfish/src/wallet/multisig.ts
Due: ironfish

Export multisig from SDK
  ironfish/src/wallet/index.ts
  ironfish/src/wallet/multisig.test.slow.ts
  ironfish/src/wallet/multisig.ts
Due: ironfish

Move test file
  ironfish/src/index.ts
  ironfish/src/multisig.test.slow.ts
  ironfish/src/multisig.ts
  ironfish/src/wallet/index.ts
Due: ironfish

split main unit tests across 2 processes to increase ci speed
  .github/workflows/ci.yml
Due: none

Ran `cargo vet prune`
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Due: none

clears onDisconnected event handler when ending session
  ironfish-cli/src/multisigBroker/sessionManagers/sessionManager.ts
Due: ironfish

clears onDisconnected event handler when ending session (#5573)
  ironfish-cli/src/multisigBroker/sessionManagers/sessionManager.ts
Due: ironfish

replaces multisig broker code with @ironfish/multisig-broker
  ironfish-cli/package.json
  ironfish-cli/src/commands/wallet/multisig/dkg/create.ts
  ironfish-cli/src/commands/wallet/multisig/server.ts
  ironfish-cli/src/commands/wallet/multisig/sign.ts
  ironfish-cli/src/multisigBroker/README.md
  ironfish-cli/src/multisigBroker/adapters/adapter.ts
  ironfish-cli/src/multisigBroker/adapters/index.ts
  ironfish-cli/src/multisigBroker/adapters/tcpAdapter.ts
  ironfish-cli/src/multisigBroker/adapters/tlsAdapter.ts
  ironfish-cli/src/multisigBroker/clients/client.ts
  ironfish-cli/src/multisigBroker/clients/index.ts
  ironfish-cli/src/multisigBroker/clients/tcpClient.ts
  ironfish-cli/src/multisigBroker/clients/tlsClient.ts
  ironfish-cli/src/multisigBroker/errors.ts
  ironfish-cli/src/multisigBroker/index.ts
  ironfish-cli/src/multisigBroker/messages.ts
  ironfish-cli/src/multisigBroker/server.ts
  ironfish-cli/src/multisigBroker/serverClient.ts
  ironfish-cli/src/multisigBroker/utils.ts
  ironfish-cli/src/utils/multisig/index.ts
  ironfish-cli/src/utils/multisig/sessionManagers/dkgSessionManager.ts
  ironfish-cli/src/utils/multisig/sessionManagers/index.ts
  ironfish-cli/src/utils/multisig/sessionManagers/sessionManager.ts
  ironfish-cli/src/utils/multisig/sessionManagers/signingSessionManager.ts
  yarn.lock
Due: ironfish

testing more shards
  .github/workflows/ci.yml
Due: none

replaces multisig broker code with @ironfish/multisig-broker (#5574)
  ironfish-cli/package.json
  ironfish-cli/src/commands/wallet/multisig/dkg/create.ts
  ironfish-cli/src/commands/wallet/multisig/server.ts
  ironfish-cli/src/commands/wallet/multisig/sign.ts
  ironfish-cli/src/multisigBroker/README.md
  ironfish-cli/src/multisigBroker/adapters/adapter.ts
  ironfish-cli/src/multisigBroker/adapters/index.ts
  ironfish-cli/src/multisigBroker/adapters/tcpAdapter.ts
  ironfish-cli/src/multisigBroker/adapters/tlsAdapter.ts
  ironfish-cli/src/multisigBroker/clients/client.ts
  ironfish-cli/src/multisigBroker/clients/index.ts
  ironfish-cli/src/multisigBroker/clients/tcpClient.ts
  ironfish-cli/src/multisigBroker/clients/tlsClient.ts
  ironfish-cli/src/multisigBroker/errors.ts
  ironfish-cli/src/multisigBroker/index.ts
  ironfish-cli/src/multisigBroker/messages.ts
  ironfish-cli/src/multisigBroker/server.ts
  ironfish-cli/src/multisigBroker/serverClient.ts
  ironfish-cli/src/multisigBroker/utils.ts
  ironfish-cli/src/utils/multisig/index.ts
  ironfish-cli/src/utils/multisig/sessionManagers/dkgSessionManager.ts
  ironfish-cli/src/utils/multisig/sessionManagers/index.ts
  ironfish-cli/src/utils/multisig/sessionManagers/sessionManager.ts
  ironfish-cli/src/utils/multisig/sessionManagers/signingSessionManager.ts
  yarn.lock
Due: ironfish

move rpc adapter tests to slow
  ironfish/src/rpc/adapters/tests/adapterTest.ts
  ironfish/src/rpc/adapters/tests/http.adapter.test.slow.ts
  ironfish/src/rpc/adapters/tests/ipc.adapter.test.slow.ts
  ironfish/src/rpc/adapters/tests/tcp.adapter.test.slow.ts
Due: ironfish

move rpc adapter tests to slow (#5575)
  ironfish/src/rpc/adapters/tests/adapterTest.ts
  ironfish/src/rpc/adapters/tests/http.adapter.test.slow.ts
  ironfish/src/rpc/adapters/tests/ipc.adapter.test.slow.ts
  ironfish/src/rpc/adapters/tests/tcp.adapter.test.slow.ts
Due: ironfish

use 3 shards for regular tests and 2 shards for slow tests
  .github/workflows/ci.yml
Due: none

Add createdAt to createAccount RPC (#5569)
  ironfish/src/rpc/routes/wallet/create.test.slow.ts
  ironfish/src/rpc/routes/wallet/createAccount.ts
Due: ironfish

explicitly define each shard
  .github/workflows/ci.yml
Due: none

shard unit tests in CI for faster CI runs (#5572)
  .github/workflows/ci.yml
Due: none

Change the `ironfish-frost` dependency to use the crate from crates.io
  Cargo.lock
  ironfish-rust-nodejs/Cargo.toml
  ironfish-rust/Cargo.toml
  supply-chain/audits.toml
  supply-chain/config.toml
Due: ironfish-rust, ironfish

circuit struct serialization
  Cargo.lock
  ironfish-zkp/Cargo.toml
  ironfish-zkp/src/circuits/mint_asset.rs
  ironfish-zkp/src/circuits/output.rs
  ironfish-zkp/src/circuits/spend.rs
  ironfish-zkp/src/circuits/util.rs
  ironfish-zkp/src/primitives/proof_generation_key.rs
  ironfish-zkp/src/primitives/value_commitment.rs
Due: ironfish

move proof generation key extension to ironfish-zkp
  Cargo.lock
  ironfish-zkp/Cargo.toml
Due: ironfish

fix review comments, cleanup
  ironfish-zkp/src/circuits/mint_asset.rs
  ironfish-zkp/src/circuits/output.rs
  ironfish-zkp/src/circuits/spend.rs
  ironfish-zkp/src/circuits/util.rs
  ironfish-zkp/src/primitives/proof_generation_key.rs
  ironfish-zkp/src/primitives/value_commitment.rs
Due: ironfish

Circuit struct serialization (#5565)
  ironfish-zkp/src/circuits/mint_asset.rs
  ironfish-zkp/src/circuits/output.rs
  ironfish-zkp/src/circuits/spend.rs
  ironfish-zkp/src/circuits/util.rs
  ironfish-zkp/src/primitives/proof_generation_key.rs
  ironfish-zkp/src/primitives/value_commitment.rs
Due: ironfish

shard rust unit tests on ci
  .github/workflows/rust_ci.yml
Due: none

try removing clean artifact step
  .github/workflows/rust_ci.yml
Due: none

shard rust unit tests on ci (#5578)
  .github/workflows/rust_ci.yml
Due: none

split very long running test into smaller tests
  ironfish-rust/src/transaction/tests.rs
Due: ironfish-rust, ironfish

split very long running test into smaller tests (#5579)
  ironfish-rust/src/transaction/tests.rs
Due: ironfish-rust, ironfish
