Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish

Try buildx
  .github/workflows/test-deploy-node-docker-image.yml
Due: none

Try adding platforms
  .github/workflows/test-deploy-node-docker-image.yml
Due: none

Try install
  .github/workflows/test-deploy-node-docker-image.yml
Due: none

Feat: support chain/getBlocks
  ironfish/src/rpc/routes/chain/getBlocks.ts
  ironfish/src/rpc/routes/chain/index.ts
Due: ironfish

Upgrade node-datachannel to 0.8.0 (#4941)
  ironfish/package.json
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/peers/connections/webRtcConnection.test.ts
  ironfish/src/network/peers/connections/webRtcConnection.ts
  ironfish/src/network/peers/localPeer.ts
  ironfish/src/network/peers/peer.test.ts
  ironfish/src/network/peers/peerManager.test.ts
  ironfish/src/network/peers/peerManager.ts
  ironfish/src/network/testUtilities/mockLocalPeer.ts
  ironfish/src/network/types.ts
  ironfish/src/node.ts
  yarn.lock
Due: ironfish

Feat: add getBlocks to rpc client
  ironfish/src/rpc/clients/client.ts
Due: ironfish

Feat: add serializeRpcTransaction
  ironfish/src/rpc/routes/chain/getBlock.ts
  ironfish/src/rpc/routes/chain/getBlocks.ts
  ironfish/src/rpc/routes/chain/utils.ts
Due: ironfish

Feat: add tests for getBlocks
  ironfish/src/rpc/routes/chain/getBlocks.test.ts
Due: ironfish

Fix: clear unnecessary import
  ironfish/src/rpc/routes/chain/getBlock.ts
  ironfish/src/rpc/routes/chain/getBlocks.ts
Due: ironfish

Adds logic to determine if a transaction is a bridge transaction
  ironfish/src/wallet/wallet.ts
Due: ironfish

Remove use of deprecated block.previous in RemoteChainProcessor
  ironfish/src/wallet/remoteChainProcessor.ts
Due: ironfish

Remove unused eventLoopResolve in Wallet
  ironfish/src/wallet/wallet.ts
Due: ironfish

Update build ironfish-rust-nodejs to fix deprecation warnings
  .github/workflows/build-ironfish-rust-nodejs.yml
Due: none

Try updating macos
  .github/workflows/build-ironfish-rust-nodejs.yml
  .github/workflows/deploy-brew.yml
  .github/workflows/publish-binaries.yml
Due: none

Fix typo
  .github/workflows/build-ironfish-rust-nodejs.yml
Due: none

Update Checkout action in CI to v4
  .github/workflows/ci.yml
Due: none

Remove unused eventLoopResolve in Wallet (#4946)
  ironfish/src/wallet/wallet.ts
Due: ironfish

Remove use of deprecated block.previous in RemoteChainProcessor (#4945)
  ironfish/src/wallet/remoteChainProcessor.ts
Due: ironfish

Validates public address is accurate for corresponding keys on import
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/lib.rs
  ironfish/src/wallet/validator.test.ts
  ironfish/src/wallet/validator.ts
Due: ironfish-rust, ironfish

Fix: getBlocks test
  ironfish/src/rpc/routes/chain/getBlocks.test.ts
Due: ironfish

Fix: add serialized back to serializeRpcTransaction
  ironfish/src/rpc/routes/chain/getBlock.ts
  ironfish/src/rpc/routes/chain/utils.ts
Due: ironfish

Fix deprecation and wrong runners in build-ironfish-rust-nodejs.yml (#4948)
  .github/workflows/build-ironfish-rust-nodejs.yml
  .github/workflows/deploy-brew.yml
  .github/workflows/publish-binaries.yml
Due: none

Update Checkout action in CI to v4 (#4947)
  .github/workflows/ci.yml
Due: none

Validates public address is accurate for corresponding keys on import (#4950)
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/lib.rs
  ironfish/src/wallet/validator.test.ts
  ironfish/src/wallet/validator.ts
Due: ironfish-rust, ironfish

Fix tests
  ironfish/src/rpc/routes/chain/__fixtures__/getBlocks.test.ts.fixture
  ironfish/src/rpc/routes/chain/getBlocks.test.ts
  ironfish/src/rpc/routes/chain/getBlocks.ts
  ironfish/src/rpc/routes/chain/utils.ts
Due: ironfish

Remove MAX_BLOCKS_RANGE
  ironfish/src/rpc/routes/chain/getBlocks.ts
Due: ironfish

Make range inclusive
  ironfish/src/rpc/routes/chain/getBlocks.test.ts
  ironfish/src/rpc/routes/chain/getBlocks.ts
Due: ironfish

Rename height to sequence
  ironfish/src/rpc/routes/chain/getBlocks.ts
Due: ironfish

Support serialized parameter
  ironfish/src/rpc/routes/chain/getBlocks.ts
Due: ironfish

With to At
  ironfish/src/rpc/routes/chain/getBlocks.ts
Due: ironfish

Use getBlockRange
  ironfish/src/rpc/routes/chain/__fixtures__/getBlocks.test.ts.fixture
  ironfish/src/rpc/routes/chain/getBlocks.test.ts
  ironfish/src/rpc/routes/chain/getBlocks.ts
Due: ironfish

add public account create description for multisig bridge integration
  Cargo.lock
  ironfish-rust/Cargo.toml
  ironfish-rust/src/errors.rs
  ironfish-rust/src/lib.rs
  ironfish-rust/src/public_account/create.rs
  ironfish-rust/src/public_account/mod.rs
Due: ironfish-rust, ironfish

add test and bugfix
  ironfish-rust/src/errors.rs
  ironfish-rust/src/public_account/create.rs
Due: ironfish-rust, ironfish

updates to handle transfer
  ironfish-rust/src/public_account/description.rs
  ironfish-rust/src/public_account/mod.rs
  ironfish-rust/src/public_account/transfer.rs
Due: ironfish-rust, ironfish

clippy and fmt
  ironfish-rust/src/public_account/description.rs
  ironfish-rust/src/public_account/mod.rs
  ironfish-rust/src/public_account/transfer.rs
Due: ironfish-rust, ironfish

Remove old migration code
  ironfish/src/migrations/data/021-add-version-to-accounts/schemaOld.ts
Due: ironfish

Remove old migration code (#4954)
  ironfish/src/migrations/data/021-add-version-to-accounts/schemaOld.ts
Due: ironfish

Change account not to have 1 object constructor
  ironfish/src/wallet/account/account.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

Feat: support chain/getBlocks (#4942)
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/chain/__fixtures__/getBlocks.test.ts.fixture
  ironfish/src/rpc/routes/chain/getBlock.ts
  ironfish/src/rpc/routes/chain/getBlocks.test.ts
  ironfish/src/rpc/routes/chain/getBlocks.ts
  ironfish/src/rpc/routes/chain/index.ts
  ironfish/src/rpc/routes/chain/utils.ts
Due: ironfish

Update description of wallet:rescan
  ironfish-cli/src/commands/wallet/rescan.ts
  ironfish/src/rpc/routes/wallet/rescanAccount.ts
Due: ironfish

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-rust-nodejs/*
  ironfish: any of: ironfish, but not: config/*, ironfish-rust-nodejs/*
