Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

WIP
  ironfish/src/consensus/verifier.ts
  ironfish/src/network/__fixtures__/blockFetcher.test.ts.fixture
  ironfish/src/network/blockFetcher.test.ts
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/primitives/__fixtures__/block.test.ts.fixture
  ironfish/src/primitives/block.test.ts
  ironfish/src/testUtilities/mocks.ts
Due: ironfish

Add a checked version of parseNumber function
  ironfish-cli/src/args.ts
Due: ironfish-cli, ironfish

Use the newly created `parseNumberChecked` function to parse start/end sequence values
  ironfish-cli/src/commands/chain/export.ts
Due: ironfish-cli, ironfish

updates wallet to store transactions by hash with signature
  ironfish/src/migrations/data/013-wallet-2.ts
  ironfish/src/rpc/routes/accounts/utils.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/accounts.test.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

uses unsignedHash in CLI output for transactions, notes
  ironfish/src/rpc/routes/accounts/utils.ts
Due: ironfish

Add tests
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/network/__fixtures__/blockFetcher.test.ts.fixture
  ironfish/src/network/blockFetcher.test.ts
Due: ironfish

fix #2066, allow chain backup (#2067)
  ironfish-cli/src/commands/backup.ts
Due: ironfish-cli, ironfish

WIP
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/network/__fixtures__/blockFetcher.test.ts.fixture
  ironfish/src/network/blockFetcher.test.ts
  ironfish/src/network/peerNetwork.ts
Due: ironfish

use current block for newBlock
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/mining/manager.ts
Due: ironfish

updates getTransaction rpc to loop through transactions to find by unsigned hash
  ironfish/src/rpc/routes/accounts/getTransaction.ts
Due: ironfish

MinersFeeTransaction status of forker block (#2053)
  ironfish/src/account/accounts.ts
Due: ironfish

updates wallet to store transactions by hash with signature (#2069)
  ironfish/src/migrations/data/013-wallet-2.ts
  ironfish/src/rpc/routes/accounts/getTransaction.ts
  ironfish/src/rpc/routes/accounts/utils.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/accounts.test.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

Add error case in migration for nullifierToNote
  ironfish/src/migrations/data/013-wallet-2.ts
Due: ironfish

WIP
  ironfish/src/consensus/verifier.test.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/network/__fixtures__/peerNetwork.test.ts.fixture
  ironfish/src/network/blockFetcher.test.ts
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/testUtilities/helpers.ts
  ironfish/src/syncer.ts
  ironfish/src/testUtilities/mocks.ts
Due: ironfish

WIP
  ironfish/src/consensus/__fixtures__/verifier.test.ts.fixture
  ironfish/src/consensus/verifier.test.ts
  ironfish/src/network/__fixtures__/blockFetcher.test.ts.fixture
  ironfish/src/network/blockFetcher.test.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/testUtilities/helpers.ts
Due: ironfish

Estimate fee from mempool
  ironfish-cli/package.json
  ironfish-cli/src/commands/fees/estimateFees.ts
  ironfish-cli/src/commands/fees/fees.ts
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/fees/estimateFees.ts
  ironfish/src/rpc/routes/fees/index.ts
Due: ironfish-cli, ironfish

fixed some tests and lint
  ironfish-cli/src/commands/start.ts
  ironfish/src/network/__fixtures__/blockFetcher.test.ts.fixture
  ironfish/src/network/__fixtures__/peerNetwork.test.ts.fixture
  ironfish/src/network/blockFetcher.test.ts
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/testUtilities/mocks.ts
Due: ironfish-cli, ironfish

fix lint
  ironfish-cli/src/commands/fees/estimateFees.ts
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/fees/estimateFees.ts
Due: ironfish-cli, ironfish

Fix create account / scan race condition
  ironfish/src/wallet/wallet.ts
Due: ironfish

Fix create account / scan race condition (#2079)
  ironfish/src/wallet/wallet.ts
Due: ironfish

Save some relevant fields on object
  ironfish-cli/src/commands/status.test.ts
  ironfish-cli/src/commands/status.ts
  ironfish/src/account/accounts.ts
  ironfish/src/chainProcessor.ts
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/accounts/getStatus.ts
  ironfish/src/rpc/routes/accounts/index.ts
  ironfish/src/rpc/routes/node/getStatus.ts
Due: ironfish-cli, ironfish

Code review
  ironfish-cli/src/commands/status.ts
Due: ironfish-cli, ironfish

Limit test workers
  ironfish-cli/package.json
Due: ironfish-cli, ironfish

fix tests
  ironfish/src/network/__fixtures__/peerNetwork.test.ts.fixture
  ironfish/src/network/peerNetwork.test.ts
Due: ironfish

Add accounts:status and summarized status (#1927)
  ironfish-cli/package.json
  ironfish-cli/src/commands/status.test.ts
  ironfish-cli/src/commands/status.ts
  ironfish/src/account/accounts.ts
  ironfish/src/chainProcessor.ts
  ironfish/src/rpc/routes/node/getStatus.ts
Due: ironfish-cli, ironfish

First proof of concept for a create asset circuit. By no means expected to be actually usable beyond testing/prototyping
  ironfish-rust/src/primitives/asset_type.rs
  ironfish-rust/src/proofs/circuit/create_asset.rs
  ironfish-rust/src/proofs/circuit/mod.rs
  ironfish-rust/src/proofs/circuit/mycircuit.rs
  ironfish-rust/src/proofs/circuit/sapling.rs
  ironfish-rust/src/transaction/transfer.rs
Due: ironfish-rust, ironfish

First proof of concept for a create asset circuit. By no means expected to be actually usable beyond testing/prototyping (#2081)
  ironfish-rust/src/primitives/asset_type.rs
  ironfish-rust/src/proofs/circuit/create_asset.rs
  ironfish-rust/src/proofs/circuit/mod.rs
  ironfish-rust/src/proofs/circuit/mycircuit.rs
  ironfish-rust/src/proofs/circuit/sapling.rs
  ironfish-rust/src/transaction/transfer.rs
Due: ironfish-rust, ironfish

Minor code change to read the code easier
  ironfish/src/wallet/wallet.ts
Due: ironfish

Merge start:debug into start:js
  ironfish-cli/package.json
Due: ironfish-cli, ironfish

Minor code change to read the code easier (#2082)
  ironfish/src/wallet/wallet.ts
Due: ironfish

fix lru caches types and add test
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/network/__fixtures__/blockFetcher.test.ts.fixture
  ironfish/src/network/blockFetcher.test.ts
  ironfish/src/typedefs/blru.ts
Due: ironfish

WIP Mint Asset Circuit, also includes public address added to asset info
  ironfish-rust/src/primitives/asset_type.rs
  ironfish-rust/src/proofs/circuit/create_asset.rs
  ironfish-rust/src/proofs/circuit/mint_asset.rs
  ironfish-rust/src/proofs/circuit/mod.rs
  ironfish-rust/src/proofs/circuit/output.rs
  ironfish-rust/src/proofs/circuit/sapling.rs
  ironfish-rust/src/proofs/circuit/spend.rs
  ironfish-rust/src/receiving.rs
  ironfish-rust/src/spending.rs
  ironfish-rust/src/transaction/transfer.rs
Due: ironfish-rust, ironfish

added test for compact block transaction hashes
  ironfish/src/primitives/__fixtures__/block.test.ts.fixture
  ironfish/src/primitives/block.test.ts
Due: ironfish

Merge start:debug into start:js (#2083)
  ironfish-cli/package.json
Due: ironfish-cli, ironfish

lint
  ironfish/src/primitives/block.test.ts
Due: ironfish

update pay command
  ironfish-cli/src/commands/accounts/pay.ts
Due: ironfish-cli, ironfish

adjustments and adding currency.ts
  ironfish-cli/src/commands/accounts/pay.ts
  ironfish/src/utils/currency.ts
Due: ironfish-cli, ironfish

Improve error
  ironfish/src/migrations/data/013-wallet-2.ts
Due: ironfish

Fix broken accounts:pay tests
  ironfish-cli/src/commands/accounts/pay.test.ts
Due: ironfish-cli, ironfish

Change isInvalid to take header or hash
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/network/blockFetcher.test.ts
  ironfish/src/network/peerNetwork.ts
Due: ironfish

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish-cli: any of: ironfish-cli, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish: any of: ironfish, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
