Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

codecov.yml:

ignore:
  - config/*
  - ironfish-rust-nodejs/*
  - ironfish-rust-wasm/*
comment: false
github_checks:
  annotations: false
coverage:
  fixes:
    - "/home/runner/work/ironfish/ironfish/::/"
  status:
    patch:
      default:
        target: auto
        threshold: 50%
    project:
      default:
        target: 63%
      ironfish-rust:
        target: 53%
        flags:
          - ironfish-rust
      ironfish-cli:
        target: 50%
        flags:
          - ironfish-cli
      ironfish:
        target: 60%
        flags:
          - ironfish
      event:
        target: 84%
        flags:
          - event
      logger:
        target: 90%
        flags:
          - logger
      serde:
        target: 90%
        flags:
          - serde
flags:
  ironfish-rust:
    paths:
      - ironfish-rust
    carryforward: true
  ironfish-cli:
    paths:
      - ironfish-cli
    carryforward: true
  ironfish:
    paths:
      - ironfish
    carryforward: true

Remove account and config RPC calls from TCP (#892)
  ironfish-cli/src/commands/config/show.ts
  ironfish/src/sdk.ts
Due: ironfish-cli, ironfish

Check the API for faucet transactions before fetching balance (#898)
  ironfish-cli/src/commands/service/faucet.ts
Due: ironfish-cli, ironfish

Use path.join for worker file path (#897)
  ironfish/src/workerPool/pool.ts
  ironfish/src/workerPool/worker.ts
Due: ironfish

Fix transaction withReference and use in followChain (#881)
  ironfish/src/primitives/block.ts
  ironfish/src/primitives/transaction.ts
  ironfish/src/rpc/routes/chain/followChain.ts
  ironfish/src/strategy.test.slow.ts
Due: ironfish

service:sync: Only fetch head from API when no head arg (#887)
  ironfish-cli/src/commands/service/sync.ts
Due: ironfish-cli, ironfish

Upgrade axios to fix CVE-2021-3749 (#874)
  ironfish-cli/package.json
  ironfish/package.json
  package.json
  yarn.lock
Due: ironfish-cli, ironfish

Add issue template (#617)
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
  .github/ISSUE_TEMPLATE/GENERAL.yml
Due: none

Fix the Sapling related links
  ironfish-rust/README.md
Due: ironfish-rust, ironfish

Add TCP Secure flag to allow secure config over TCP
  ironfish-cli/src/command.ts
  ironfish-cli/src/commands/start.ts
  ironfish-cli/src/flags.ts
  ironfish/src/fileStores/config.ts
  ironfish/src/sdk.ts
Due: ironfish-cli, ironfish

Add TCP Secure flag to allow secure config over TCP (#908)
  ironfish-cli/src/command.ts
  ironfish-cli/src/commands/start.ts
  ironfish-cli/src/flags.ts
  ironfish/src/fileStores/config.ts
  ironfish/src/sdk.ts
Due: ironfish-cli, ironfish

Dont set config overrides unless not default value
  ironfish-cli/src/command.ts
  ironfish-cli/src/flags.ts
  ironfish/src/fileStores/config.ts
Due: ironfish-cli, ironfish

Dont set config overrides unless not default value (#910)
  ironfish-cli/src/command.ts
  ironfish-cli/src/flags.ts
  ironfish/src/fileStores/config.ts
Due: ironfish-cli, ironfish

Change IpcAdapter to use keys constructor
  ironfish-cli/src/command.ts
  ironfish-cli/src/flags.ts
  ironfish/src/fileStores/config.ts
  ironfish/src/rpc/adapters/ipcAdapter.ts
  ironfish/src/rpc/clients/ipcClient.ts
  ironfish/src/typedefs/node-ipc.d.ts
Due: ironfish-cli, ironfish

Tag the chainProcessor logger
  ironfish/src/chainProcessor.ts
Due: ironfish

Throw error if chain processor head not found in chain
  ironfish/src/chainProcessor.ts
Due: ironfish

Remove unnecessary test
  ironfish/src/account/accounts.test.ts
Due: ironfish

Remove unused name field from chainProcessor
  ironfish/src/chainProcessor.ts
  ironfish/src/rpc/routes/chain/followChain.ts
Due: ironfish

Make chainProcessor add/remove private
  ironfish/src/chainProcessor.ts
Due: ironfish

Use chainProcessor in Accounts
  ironfish/src/account/accounts.test.ts
  ironfish/src/account/accounts.ts
Due: ironfish

Add hashChanged to chainProcessor update
  ironfish/src/account/accounts.ts
  ironfish/src/chainProcessor.ts
Due: ironfish

Set hash to previousBlockHash when removing blocks
  ironfish/src/chainProcessor.ts
Due: ironfish

Change ironfish-cli build dir to ./ from ./src
  ironfish-cli/package.json
  ironfish-cli/tsconfig.json
Due: ironfish-cli, ironfish

Move mining logic from NodeJS to Rust
  ironfish-rust-nodejs/Cargo.lock
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.ts
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust-wasm/Cargo.lock
  ironfish-rust/Cargo.lock
  ironfish-rust/Cargo.toml
  ironfish-rust/src/lib.rs
  ironfish-rust/src/mining.rs
  ironfish/src/mining/mineHeader.ts
  ironfish/src/mining/miner.test.ts
  ironfish/src/workerPool/tasks/index.ts
  ironfish/src/workerPool/tasks/mineHeader.ts
Due: ironfish-rust, ironfish

Fix the Sapling related links (#907)
  ironfish-rust/README.md
Due: ironfish-rust, ironfish

Linter/license cleanup
  ironfish-rust/src/mining.rs
Due: ironfish-rust, ironfish

Fix one more lint check
  ironfish-rust-nodejs/src/lib.rs
Due: ironfish-rust, ironfish

Add trait to since it already implements it
  ironfish-rust-nodejs/src/lib.rs
Due: ironfish-rust, ironfish

Move mining logic from NodeJS to Rust (#916)
  ironfish-rust-nodejs/Cargo.lock
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.ts
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust-wasm/Cargo.lock
  ironfish-rust/Cargo.lock
  ironfish-rust/Cargo.toml
  ironfish-rust/src/lib.rs
  ironfish-rust/src/mining.rs
  ironfish/src/mining/mineHeader.ts
  ironfish/src/mining/miner.test.ts
  ironfish/src/workerPool/tasks/index.ts
  ironfish/src/workerPool/tasks/mineHeader.ts
Due: ironfish-rust, ironfish

Change ironfish-cli build dir to ./ from ./src (#915)
  ironfish-cli/package.json
  ironfish-cli/tsconfig.json
Due: ironfish-cli, ironfish

Fix circular dependency import
  ironfish/src/chainProcessor.ts
Due: ironfish

Clear the chain processor when resetting accounts
  ironfish/src/account/accounts.ts
Due: ironfish

Fix up ChainProcessor and use in Accounts store for processing blocks (#914)
  ironfish/src/account/accounts.test.ts
  ironfish/src/account/accounts.ts
  ironfish/src/chainProcessor.ts
  ironfish/src/rpc/routes/chain/followChain.ts
Due: ironfish

Allow version to be driven by lib consumer
  ironfish-cli/package.json
  ironfish-cli/scripts/build.sh
  ironfish-cli/src/command.ts
  ironfish-cli/src/commands/start.test.ts
  ironfish-cli/src/commands/start.ts
  ironfish-cli/src/hooks/version.ts
  ironfish-cli/src/package.ts
  ironfish/package.json
  ironfish/src/network/peerNetwork.ts
  ironfish/src/node.ts
  ironfish/src/package.ts
  ironfish/src/platform.ts
  ironfish/src/rpc/routes/node/getStatus.ts
  ironfish/src/sdk.ts
Due: ironfish-cli, ironfish

Allow version to be driven by lib consumer (#917)
  ironfish-cli/package.json
  ironfish-cli/scripts/build.sh
  ironfish-cli/src/command.ts
  ironfish-cli/src/commands/start.test.ts
  ironfish-cli/src/commands/start.ts
  ironfish-cli/src/hooks/version.ts
  ironfish-cli/src/package.ts
  ironfish/package.json
  ironfish/src/network/peerNetwork.ts
  ironfish/src/node.ts
  ironfish/src/package.ts
  ironfish/src/platform.ts
  ironfish/src/rpc/routes/node/getStatus.ts
  ironfish/src/sdk.ts
Due: ironfish-cli, ironfish

feat(cli,ironfish): Show heap total in status and rename RSS to Memory
  ironfish-cli/src/commands/status.test.ts
  ironfish-cli/src/commands/status.ts
  ironfish/src/metrics/metricsMonitor.ts
  ironfish/src/rpc/routes/node/getStatus.ts
Due: ironfish-cli, ironfish

Minor typos in README.md
  README.md
Due: none

Fix test
  ironfish-cli/src/commands/status.test.ts
Due: ironfish-cli, ironfish

Format miner hash rate using metric system
  ironfish-cli/src/commands/miners/start.ts
  ironfish/src/utils/file.test.ts
  ironfish/src/utils/file.ts
  ironfish/src/utils/math.test.ts
  ironfish/src/utils/math.ts
Due: ironfish-cli, ironfish

Add more system info, whether telemetry is enabled
  ironfish-cli/src/commands/debug.ts
Due: ironfish-cli, ironfish
