Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish

adds test of simple transaction signing
  ironfish-rust/src/transaction/tests.rs
Due: ironfish-rust, ironfish

chore: updates split secret location, also uses key based approach for identifier/keypackage mapping (#4605)
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/frost.rs
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust-nodejs/src/structs/key_packages.rs
  ironfish/src/wallet/wallet.test.slow.ts
Due: ironfish-rust, ironfish

updates ParticipantSecret napi with serde
  Cargo.lock
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/frost.rs
  ironfish-rust-nodejs/tests/frost.test.slow.ts
  ironfish-rust/Cargo.toml
  ironfish/src/wallet/wallet.test.slow.ts
Due: ironfish-rust, ironfish

Add timeouts back to RPC tests
  ironfish/src/rpc/adapters/tests/adapterTest.ts
Due: ironfish

Remove networkId config value
  ironfish-cli/src/commands/start.ts
  ironfish/src/fileStores/config.ts
  ironfish/src/networkDefinition.ts
  ironfish/src/node.ts
  ironfish/src/sdk.ts
  ironfish/src/testUtilities/nodeTest.ts
Due: ironfish

Remove networkId config value (#4610)
  ironfish-cli/src/commands/start.ts
  ironfish/src/fileStores/config.ts
  ironfish/src/networkDefinition.ts
  ironfish/src/node.ts
  ironfish/src/sdk.ts
  ironfish/src/testUtilities/nodeTest.ts
Due: ironfish

Add timeouts back to RPC tests (#4609)
  ironfish/src/rpc/adapters/tests/adapterTest.ts
Due: ironfish

Convert unspentNoteHashes to PrefixArrayEncoding
  ironfish/src/migrations/data/024-unspent-notes.ts
  ironfish/src/migrations/data/024-unspent-notes/new/index.ts
  ironfish/src/migrations/data/030-value-to-unspent-note.ts
  ironfish/src/migrations/data/030-value-to-unspent-note/old/index.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish

Require Node.js 20 for tests in README
  README.md
Due: none

updates ParticipantSecret napi with serde (#4607)
  Cargo.lock
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/frost.rs
  ironfish-rust-nodejs/tests/frost.test.slow.ts
  ironfish-rust/Cargo.toml
  ironfish/src/wallet/wallet.test.slow.ts
Due: ironfish-rust, ironfish

chore: updates split secret location, also uses key based approach for identifier/keypackage mapping
  ironfish/src/rpc/routes/multisig/createTrustedDealerKeyPackage.ts
  ironfish/src/rpc/routes/namespaces.ts
Due: ironfish

add createTrustedDealerKeyPackage rpc
  ironfish/src/rpc/routes/index.ts
  ironfish/src/rpc/routes/multisig/createTrustedDealerKeyPackage.test.ts
  ironfish/src/rpc/routes/multisig/createTrustedDealerKeyPackage.ts
  ironfish/src/rpc/routes/multisig/index.ts
Due: ironfish

feat: create trusted dealer key packages rpc (#4611)
  ironfish/src/rpc/routes/index.ts
  ironfish/src/rpc/routes/multisig/createTrustedDealerKeyPackage.test.ts
  ironfish/src/rpc/routes/multisig/createTrustedDealerKeyPackage.ts
  ironfish/src/rpc/routes/multisig/index.ts
  ironfish/src/rpc/routes/namespaces.ts
Due: ironfish

replaces unwrap with expect in test_sign_simple
  ironfish-rust/src/transaction/tests.rs
Due: ironfish-rust, ironfish

adds test of simple transaction signing (#4606)
  ironfish-rust/src/transaction/tests.rs
Due: ironfish-rust, ironfish

Make consensus properties on chain and wallet readonly
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/consensus/consensus.ts
  ironfish/src/consensus/verifier.test.ts
  ironfish/src/memPool/memPool.test.ts
  ironfish/src/mining/manager.test.slow.ts
  ironfish/src/strategy.ts
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

Make typed versions of default network definitions
  ironfish/src/defaultNetworkDefinition.test.ts
  ironfish/src/defaultNetworkDefinitions.ts
  ironfish/src/genesisBlocks/devnet.ts
  ironfish/src/genesisBlocks/mainnet.ts
  ironfish/src/genesisBlocks/testnet.ts
Due: ironfish

Replace serialized network definitions with typed versions
  ironfish/src/consensus/consensus.ts
  ironfish/src/defaultNetworkDefinition.test.ts
  ironfish/src/defaultNetworkDefinitions.ts
  ironfish/src/genesisBlocks/devnet.ts
  ironfish/src/genesisBlocks/mainnet.ts
  ironfish/src/genesisBlocks/testnet.ts
  ironfish/src/networkDefinition.ts
Due: ironfish

Use typed versions of default network definitions (#4613)
  ironfish/src/consensus/consensus.ts
  ironfish/src/defaultNetworkDefinitions.ts
  ironfish/src/genesisBlocks/devnet.ts
  ironfish/src/genesisBlocks/mainnet.ts
  ironfish/src/genesisBlocks/testnet.ts
  ironfish/src/networkDefinition.ts
Due: ironfish

Adds signingCommitment type and endpoitn
  ironfish/src/rpc/routes/multisig/createSigningCommitment.ts
  ironfish/src/rpc/routes/multisig/types.ts
Due: ironfish

changing namespace to multisig
  ironfish/src/rpc/routes/multisig/createSigningCommitment.test.ts
  ironfish/src/rpc/routes/multisig/createSigningCommitment.ts
  ironfish/src/rpc/routes/multisig/index.ts
Due: ironfish

test creates signing commitment
  ironfish/src/rpc/routes/multisig/createSigningCommitment.test.ts
Due: ironfish

Adding TODO
  ironfish/src/rpc/routes/multisig/createSigningCommitment.ts
Due: ironfish

Rahul/ifl 2052 add walletmultisigcreatesigningcommitment (#4615)
  ironfish/src/rpc/routes/multisig/createSigningCommitment.test.ts
  ironfish/src/rpc/routes/multisig/createSigningCommitment.ts
  ironfish/src/rpc/routes/multisig/index.ts
  ironfish/src/rpc/routes/multisig/types.ts
Due: ironfish

adds version to RawTransactionSerde
  ironfish/src/primitives/rawTransaction.test.ts
  ironfish/src/primitives/rawTransaction.ts
  ironfish/src/wallet/wallet.test.ts
Due: ironfish

Only deserialize genesis seed block once in chain
  ironfish/src/blockchain/blockchain.ts
Due: ironfish

adds UnsignedTransaction primitive
  ironfish/src/primitives/unsignedTransaction.ts
Due: ironfish

adds nullable serialized UnsignedTransaction to RawTransaction
  ironfish/src/primitives/__fixtures__/rawTransaction.test.slow.ts.fixture
  ironfish/src/primitives/rawTransaction.test.slow.ts
  ironfish/src/primitives/rawTransaction.ts
Due: ironfish

adds UnsignedTransaction primitive (#4619)
  ironfish/src/primitives/unsignedTransaction.ts
Due: ironfish

Use chain.head in feeEstimator instead of chain.latest
  ironfish/src/memPool/feeEstimator.ts
Due: ironfish

simplifies signing commitment test
  ironfish/src/rpc/routes/multisig/createSigningCommitment.test.ts
Due: ironfish

simplifies signing commitment test (#4622)
  ironfish/src/rpc/routes/multisig/createSigningCommitment.test.ts
Due: ironfish

Combine networks into network files
  ironfish/src/defaultNetworkDefinitions.ts
  ironfish/src/index.ts
  ironfish/src/networks/definitions/devnet.ts
  ironfish/src/networks/definitions/index.ts
  ironfish/src/networks/definitions/mainnet.ts
  ironfish/src/networks/definitions/testnet.ts
  ironfish/src/networks/index.ts
  ironfish/src/networks/networkDefinition.ts
  ironfish/src/node.ts
Due: ironfish

derives public_address from view_key in build
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust/src/keys/mod.rs
  ironfish-rust/src/keys/view_keys.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/tests.rs
  ironfish/src/primitives/rawTransaction.ts
  ironfish/src/wallet/wallet.test.slow.ts
Due: ironfish-rust, ironfish

Combine networks into network files (#4623)
  ironfish/src/defaultNetworkDefinitions.ts
  ironfish/src/index.ts
  ironfish/src/networks/definitions/devnet.ts
  ironfish/src/networks/definitions/index.ts
  ironfish/src/networks/definitions/mainnet.ts
  ironfish/src/networks/definitions/testnet.ts
  ironfish/src/networks/index.ts
  ironfish/src/networks/networkDefinition.ts
  ironfish/src/node.ts
Due: ironfish

fixes slow unsigned test
  ironfish-rust-nodejs/tests/unsigned.test.slow.ts
Due: ironfish-rust, ironfish

prevents the filestore from throwing an error when an empty file exists
  ironfish/src/fileStores/fileStore.ts
Due: ironfish

adds test to confirm empty file works
  ironfish/src/fileStores/fileStore.test.ts
Due: ironfish

removes comment
  ironfish/src/fileStores/fileStore.test.ts
Due: ironfish

Require Node.js 20 for tests in README (#4612)
  README.md
Due: none

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-rust-nodejs/*
  ironfish: any of: ironfish, but not: config/*, ironfish-rust-nodejs/*
