Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

Convert some deposit-all numbers to bigints (#2407)
  ironfish-cli/src/commands/deposit-all.ts
  ironfish/src/utils/bigint.ts
Due: ironfish-cli, ironfish

Rust minor code cleanup (#2398)
  ironfish-rust-nodejs/src/structs/note.rs
  ironfish-rust/src/keys/public_address.rs
  ironfish-rust/src/merkle_note.rs
  ironfish-rust/src/note.rs
  ironfish-rust/src/receiving.rs
  ironfish-rust/src/spending.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/tests.rs
Due: ironfish-rust, ironfish

feat: updates based on api PR and change deposit to only deposit in minimum allowed increments
  ironfish-cli/src/commands/deposit.ts
  ironfish/src/webApi.ts
Due: ironfish-cli, ironfish

feat: rename for consistency
  ironfish-cli/src/commands/deposit.ts
  ironfish/src/webApi.ts
Due: ironfish-cli, ironfish

More progress
  ironfish/src/merkletree/merkletree.test.ts
  ironfish/src/merkletree/merkletree.ts
Due: ironfish

fee estimator
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust/src/receiving.rs
  ironfish-rust/src/spending.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish/src/memPool/transactionSizeEstimator.ts
  ironfish/src/wallet/wallet.ts
  yarn.lock
Due: ironfish-rust, ironfish

yarn revert
  yarn.lock
Due: none

Format
  ironfish/src/memPool/transactionSizeEstimator.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

stop wallet rebroadcasting expired transactions (#2399)
  ironfish/src/wallet/__fixtures__/wallet.test.ts.fixture
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

fix(bignumber): use bigint to calc ores
  ironfish-cli/src/commands/accounts/pay.ts
  ironfish-cli/src/commands/deposit-all.ts
  ironfish-cli/src/commands/deposit.ts
  ironfish-cli/src/commands/miners/mined.ts
  ironfish-cli/src/utils/currency.ts
  ironfish/package.json
  ironfish/src/genesis/genesis.test.slow.ts
  ironfish/src/genesis/makeGenesisBlock.ts
  ironfish/src/mining/webhooks/webhookNotifier.ts
  ironfish/src/utils/currency.test.ts
  ironfish/src/utils/currency.ts
  yarn.lock
Due: ironfish-cli, ironfish

display iron amount
  ironfish-cli/src/commands/accounts/pay.ts
Due: ironfish-cli, ironfish

Fix storing currency as numbers
  ironfish-cli/src/commands/accounts/pay.ts
  ironfish-cli/src/commands/chain/genesisblock.ts
  ironfish-cli/src/commands/deposit-all.ts
  ironfish-cli/src/commands/deposit.ts
  ironfish-cli/src/commands/miners/mined.ts
  ironfish-cli/src/utils/currency.ts
  ironfish/package.json
  ironfish/src/mining/webhooks/webhookNotifier.ts
  ironfish/src/rpc/routes/mining/exportMined.ts
  ironfish/src/utils/currency.test.ts
  ironfish/src/utils/currency.ts
  ironfish/src/utils/fixedNumber.test.ts
  ironfish/src/utils/fixedNumber.ts
  yarn.lock
Due: ironfish-cli, ironfish

fixed small bug in FixedNumberUtils
  ironfish/src/utils/fixedNumber.test.ts
  ironfish/src/utils/fixedNumber.ts
Due: ironfish

Use bigint to calc currency to avoid float precision problem (#2368)
  ironfish-cli/src/commands/accounts/pay.ts
  ironfish-cli/src/commands/chain/genesisblock.ts
  ironfish-cli/src/commands/deposit-all.ts
  ironfish-cli/src/commands/deposit.ts
  ironfish-cli/src/commands/miners/mined.ts
  ironfish-cli/src/utils/currency.ts
  ironfish/package.json
  ironfish/src/genesis/genesis.test.slow.ts
  ironfish/src/genesis/makeGenesisBlock.ts
  ironfish/src/mining/webhooks/webhookNotifier.ts
  ironfish/src/rpc/routes/mining/exportMined.ts
  ironfish/src/utils/currency.test.ts
  ironfish/src/utils/currency.ts
  ironfish/src/utils/fixedNumber.test.ts
  ironfish/src/utils/fixedNumber.ts
  yarn.lock
Due: ironfish-cli, ironfish

replace number with string for getFee
  ironfish-cli/src/commands/accounts/pay.ts
  ironfish-cli/src/commands/deposit-all.ts
  ironfish-cli/src/commands/deposit.ts
  ironfish/src/rpc/routes/fees/getFees.ts
Due: ironfish-cli, ironfish

fix test
  ironfish/src/rpc/routes/fees/getFees.test.ts
Due: ironfish

show note for spender in getTransaction
  ironfish/src/wallet/account.ts
Due: ironfish

More updates
  ironfish/src/merkletree/merkletree.ts
Due: ironfish

adds rpc:token cli command (#2293)
  ironfish-cli/src/commands/rpc/token.ts
Due: ironfish-cli, ironfish

feat: update textual output to be more concise
  ironfish-cli/src/commands/deposit.ts
Due: ironfish-cli, ironfish

feat: character update text output
  ironfish-cli/src/commands/deposit.ts
Due: ironfish-cli, ironfish

remove todo; use currency-utils; remove default radix
  ironfish-cli/src/commands/deposit-all.ts
  ironfish-cli/src/commands/deposit.ts
  ironfish/src/rpc/routes/fees/getFees.test.ts
  ironfish/src/rpc/routes/fees/getFees.ts
Due: ironfish-cli, ironfish

feat: use math utils function
  ironfish-cli/src/commands/deposit.ts
Due: ironfish-cli, ironfish

replace number with string for getFee (#2411)
  ironfish-cli/src/commands/accounts/pay.ts
  ironfish-cli/src/commands/deposit-all.ts
  ironfish-cli/src/commands/deposit.ts
  ironfish/src/rpc/routes/fees/getFees.test.ts
  ironfish/src/rpc/routes/fees/getFees.ts
Due: ironfish-cli, ironfish

refactor(ironfish,rust): s/receipt/output (#2408)
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust/src/keys/view_keys.rs
  ironfish-rust/src/lib.rs
  ironfish-rust/src/merkle_note.rs
  ironfish-rust/src/note.rs
  ironfish-rust/src/outputs.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/tests.rs
  ironfish/src/genesis/makeGenesisBlock.ts
  ironfish/src/primitives/blockheader.ts
  ironfish/src/strategy.test.slow.ts
  ironfish/src/strategy.ts
Due: ironfish-rust, ironfish

Finish fixing tree rehashing
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/merkletree/merkletree.test.ts
  ironfish/src/merkletree/merkletree.ts
  ironfish/src/strategy.test.slow.ts
  ironfish/src/testUtilities/helpers/merkletree.ts
  ironfish/src/workerPool/tasks/createTransaction.test.slow.ts
Due: ironfish

Remove transaction.spends and receive
  ironfish/src/memPool/transactionSizeEstimator.ts
Due: ironfish

Fix up tests
  ironfish/src/merkletree/merkletree.test.ts
  ironfish/src/merkletree/merkletree.ts
  ironfish/src/testUtilities/helpers/merkletree.ts
Due: ironfish

Move leafIndex into the for loop
  ironfish/src/merkletree/merkletree.ts
Due: ironfish

Calculate tx size with fix number
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust/src/receiving.rs
  ironfish-rust/src/spending.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish/src/memPool/transactionSizeEstimator.ts
Due: ironfish-rust, ironfish

Move size estimation to fee estimator
  ironfish/src/memPool/__fixtures__/feeEstimator.test.ts.fixture
  ironfish/src/memPool/feeEstimator.test.ts
  ironfish/src/memPool/feeEstimator.ts
  ironfish/src/memPool/memPool.ts
  ironfish/src/memPool/transactionSizeEstimator.ts
  ironfish/src/node.ts
Due: ironfish

Address comments
  ironfish/src/memPool/__fixtures__/feeEstimator.test.ts.fixture
  ironfish/src/memPool/feeEstimator.ts
Due: ironfish

update additional amount needed
  ironfish/src/memPool/feeEstimator.ts
Due: ironfish

add recursive rehash method
  ironfish/src/merkletree/merkletree.test.ts
  ironfish/src/merkletree/merkletree.ts
Due: ironfish

Pass in fee estimator to mempool
  ironfish/src/memPool/memPool.ts
  ironfish/src/node.ts
Due: ironfish

Estimate transaction size (#2410)
  ironfish/src/memPool/__fixtures__/feeEstimator.test.ts.fixture
  ironfish/src/memPool/feeEstimator.test.ts
  ironfish/src/memPool/feeEstimator.ts
  ironfish/src/memPool/memPool.ts
  ironfish/src/node.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

perform notes decryption in worker thread
  ironfish/src/rpc/routes/accounts/getTransaction.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

update way to get transaction notes
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

refactor(rust,ironfish): Update MerkleNote/NoteEncrypted to OutputDescription
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/structs/mod.rs
  ironfish-rust-nodejs/src/structs/output_description.rs
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust-nodejs/tests/demo.test.slow.ts
  ironfish-rust/src/lib.rs
  ironfish-rust/src/output_description.rs
  ironfish-rust/src/outputs.rs
  ironfish-rust/src/spending.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/tests.rs
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/merkletree/database/leaves.test.ts
  ironfish/src/merkletree/database/leaves.ts
  ironfish/src/merkletree/hasher.ts
  ironfish/src/merkletree/witness.ts
  ironfish/src/migrations/data/013-wallet-2.ts
  ironfish/src/primitives/block.ts
  ironfish/src/primitives/blockheader.ts
  ironfish/src/primitives/outputDescription.ts
  ironfish/src/primitives/transaction.ts
  ironfish/src/serde/BlockTemplateSerde.ts
  ironfish/src/serde/PartialHeaderSerde.ts
  ironfish/src/strategy.test.slow.ts
  ironfish/src/wallet/walletdb/walletdb.ts
  ironfish/src/workerPool/tasks/createTransaction.test.slow.ts
  ironfish/src/workerPool/tasks/createTransaction.ts
  ironfish/src/workerPool/tasks/decryptNotes.ts
Due: ironfish-rust, ironfish

Update ironfish-cli/src/commands/deposit.ts
  ironfish-cli/src/commands/deposit.ts
Due: ironfish-cli, ironfish

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish-cli: any of: ironfish-cli, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish: any of: ironfish, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
