Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

WIP
  ironfish/src/account/accounts.ts
Due: ironfish

Add TransactionType
  config/jest.config.base.js
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust-wasm/src/wasm_structs/transaction.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/tests.rs
  ironfish/src/account/__fixtures__/accounts.test.slow.ts.fixture
  ironfish/src/account/__fixtures__/accounts.test.ts.fixture
  ironfish/src/blockchain/__fixtures__/blockchain.test.perf.ts.fixture
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/consensus/__fixtures__/verifier.test.ts.fixture
  ironfish/src/genesis/genesisBlock.ts
  ironfish/src/genesis/genesisBlockDev.ts
  ironfish/src/genesis/makeGenesisBlock.ts
  ironfish/src/indexers/__fixtures__/minedBlocksIndexer.test.ts.fixture
  ironfish/src/memPool/__fixtures__/memPool.test.ts.fixture
  ironfish/src/merkletree/database/leaves.test.ts
  ironfish/src/mining/__fixtures__/manager.test.slow.ts.fixture
  ironfish/src/mining/__fixtures__/manager.test.ts.fixture
  ironfish/src/network/__fixtures__/peerNetwork.test.ts.fixture
  ironfish/src/primitives/__fixtures__/block.test.ts.fixture
  ironfish/src/primitives/__fixtures__/transaction.test.slow.ts.fixture
  ironfish/src/primitives/transaction.test.slow.ts
  ironfish/src/primitives/transaction.ts
  ironfish/src/rpc/routes/chain/__fixtures__/getBlock.test.ts.fixture
  ironfish/src/rpc/routes/mining/__fixtures__/blockTemplateStream.test.slow.ts.fixture
  ironfish/src/rpc/routes/transactions/__fixtures__/sendTransaction.test.ts.fixture
  ironfish/src/strategy.test.slow.ts
  ironfish/src/workerPool/tasks/__fixtures__/createMinersFee.test.ts.fixture
  ironfish/src/workerPool/tasks/__fixtures__/createTransaction.test.slow.ts.fixture
  ironfish/src/workerPool/tasks/__fixtures__/decryptNotes.test.ts.fixture
  ironfish/src/workerPool/tasks/__fixtures__/getUnspentNotes.test.ts.fixture
  ironfish/src/workerPool/tasks/__fixtures__/verifyTransaction.test.ts.fixture
  ironfish/src/workerPool/tasks/createMinersFee.ts
  ironfish/src/workerPool/tasks/createTransaction.ts
Due: ironfish-rust, ironfish

Fixed bug
  ironfish-cli/package.json
Due: ironfish-cli, ironfish

initial transaction fetcher
  ironfish/src/network/transactionFetcher.ts
Due: ironfish

improve fetcher and some peer network implementation
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/transactionFetcher.ts
Due: ironfish

add NewPooledTransactionHashes message
  ironfish/src/network/messageRegistry.ts
  ironfish/src/network/messages/newPooledTransactionHashes.test.ts
  ironfish/src/network/messages/newPooledTransactionHashes.ts
  ironfish/src/network/peerNetwork.ts
Due: ironfish

Fixed bug 819
  ironfish/src/rpc/routes/node/getStatus.ts
Due: ironfish

Fixed mining status, bug 819
  ironfish/src/rpc/routes/node/getStatus.test.ts
  ironfish/src/rpc/routes/node/getStatus.ts
Due: ironfish

Update getStatus.test.ts
  ironfish/src/rpc/routes/node/getStatus.test.ts
Due: ironfish

Re-add stratum server listener
  ironfish/src/mining/stratum/stratumServer.ts
Due: ironfish

More testing
  ironfish/src/merkletree/merkletree.test.ts
  ironfish/src/merkletree/merkletree.ts
Due: ironfish

Remove peer banning
  ironfish/src/network/peerNetwork.ts
Due: ironfish

Fix tests
  ironfish/src/network/peerNetwork.test.ts
Due: ironfish

fixed PR comments
  ironfish/src/network/messages/newPooledTransactionHashes.ts
Due: ironfish

Add handler for GetBlockTransactionsRequest (#1795)
  ironfish/src/network/__fixtures__/peerNetwork.test.ts.fixture
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/peerNetwork.ts
Due: ironfish

Add NewPooledTransactionHashes message (#1804)
  ironfish/src/network/messageRegistry.ts
  ironfish/src/network/messages/newPooledTransactionHashes.test.ts
  ironfish/src/network/messages/newPooledTransactionHashes.ts
  ironfish/src/network/peerNetwork.ts
Due: ironfish

feat(rust,rust-nodejs): Add asset type to note
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/structs/note.rs
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust-nodejs/tests/demo.test.slow.ts
  ironfish-rust/src/errors.rs
  ironfish-rust/src/note.rs
  ironfish-rust/src/primitives/asset_type.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish/src/genesis/makeGenesisBlock.ts
  ironfish/src/merkletree/database/leaves.test.ts
  ironfish/src/strategy.test.slow.ts
  ironfish/src/workerPool/tasks/createMinersFee.ts
  ironfish/src/workerPool/tasks/createTransaction.ts
Due: ironfish-rust, ironfish

Clean up some errors
  ironfish-rust-nodejs/src/structs/note.rs
  ironfish-rust/src/errors.rs
  ironfish-rust/src/primitives/asset_type.rs
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish

Remove asset type from `post`
  ironfish-rust-nodejs/src/structs/note.rs
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish

Fix Napi post
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/structs/transaction.rs
Due: ironfish-rust, ironfish

Fix JS code
  ironfish/src/genesis/makeGenesisBlock.ts
  ironfish/src/strategy.test.slow.ts
  ironfish/src/workerPool/tasks/createTransaction.ts
Due: ironfish

Update to assetIdentifier
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/structs/note.rs
Due: ironfish-rust, ironfish

Add default identifier
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/structs/note.rs
  ironfish-rust-nodejs/tests/demo.test.slow.ts
  ironfish-rust/src/primitives/asset_type.rs
  ironfish/src/genesis/makeGenesisBlock.ts
  ironfish/src/merkletree/database/leaves.test.ts
  ironfish/src/strategy.test.slow.ts
  ironfish/src/workerPool/tasks/createMinersFee.ts
  ironfish/src/workerPool/tasks/createTransaction.ts
Due: ironfish-rust, ironfish

Newline
  ironfish-rust-nodejs/src/structs/note.rs
Due: ironfish-rust, ironfish

Minor nits
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/structs/note.rs
  ironfish-rust-nodejs/tests/demo.test.slow.ts
  ironfish/src/genesis/makeGenesisBlock.ts
  ironfish/src/merkletree/database/leaves.test.ts
  ironfish/src/strategy.test.slow.ts
  ironfish/src/workerPool/tasks/createMinersFee.ts
  ironfish/src/workerPool/tasks/createTransaction.ts
Due: ironfish-rust, ironfish

Fix formatting
  ironfish-rust-nodejs/src/structs/note.rs
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust-nodejs/tests/demo.test.slow.ts
Due: ironfish-rust, ironfish

Fix unused wasm
  ironfish-rust-wasm/src/wasm_structs/note.rs
Due: ironfish-rust, ironfish

Fix some Rust test
  ironfish-rust/src/merkle_note.rs
  ironfish-rust/src/note.rs
  ironfish-rust/src/receiving.rs
  ironfish-rust/src/spending.rs
  ironfish-rust/src/transaction/tests.rs
Due: ironfish-rust, ironfish

Revert "Add TransactionType"
  config/jest.config.base.js
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust-wasm/src/wasm_structs/transaction.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/tests.rs
  ironfish/src/account/__fixtures__/accounts.test.slow.ts.fixture
  ironfish/src/account/__fixtures__/accounts.test.ts.fixture
  ironfish/src/blockchain/__fixtures__/blockchain.test.perf.ts.fixture
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/consensus/__fixtures__/verifier.test.ts.fixture
  ironfish/src/genesis/genesisBlock.ts
  ironfish/src/genesis/genesisBlockDev.ts
  ironfish/src/genesis/makeGenesisBlock.ts
  ironfish/src/indexers/__fixtures__/minedBlocksIndexer.test.ts.fixture
  ironfish/src/memPool/__fixtures__/memPool.test.ts.fixture
  ironfish/src/merkletree/database/leaves.test.ts
  ironfish/src/mining/__fixtures__/manager.test.slow.ts.fixture
  ironfish/src/mining/__fixtures__/manager.test.ts.fixture
  ironfish/src/network/__fixtures__/peerNetwork.test.ts.fixture
  ironfish/src/primitives/__fixtures__/block.test.ts.fixture
  ironfish/src/primitives/__fixtures__/transaction.test.slow.ts.fixture
  ironfish/src/primitives/transaction.test.slow.ts
  ironfish/src/primitives/transaction.ts
  ironfish/src/rpc/routes/chain/__fixtures__/getBlock.test.ts.fixture
  ironfish/src/rpc/routes/mining/__fixtures__/blockTemplateStream.test.slow.ts.fixture
  ironfish/src/rpc/routes/transactions/__fixtures__/sendTransaction.test.ts.fixture
  ironfish/src/strategy.test.slow.ts
  ironfish/src/workerPool/tasks/__fixtures__/createMinersFee.test.ts.fixture
  ironfish/src/workerPool/tasks/__fixtures__/createTransaction.test.slow.ts.fixture
  ironfish/src/workerPool/tasks/__fixtures__/decryptNotes.test.ts.fixture
  ironfish/src/workerPool/tasks/__fixtures__/getUnspentNotes.test.ts.fixture
  ironfish/src/workerPool/tasks/__fixtures__/verifyTransaction.test.ts.fixture
  ironfish/src/workerPool/tasks/createMinersFee.ts
  ironfish/src/workerPool/tasks/createTransaction.ts
Due: ironfish-rust, ironfish

fix(ironfish): Remove `submittedSequence` check in `accounts:transactions`
  ironfish/src/account/accounts.ts
  ironfish/src/rpc/routes/accounts/getTransactions.ts
Due: ironfish

Fix serialization of asset type
  ironfish-rust-nodejs/tests/demo.test.slow.ts
  ironfish-rust/src/note.rs
  ironfish-rust/src/primitives/asset_type.rs
Due: ironfish-rust, ironfish

Update wasm
  ironfish-rust-wasm/src/wasm_structs/note_encrypted.rs
Due: ironfish-rust, ironfish

Remove wasm code
  .github/workflows/rust_ci.yml
  README.md
  codecov.yml
  ironfish-rust-wasm/Cargo.lock
  ironfish-rust-wasm/Cargo.toml
  ironfish-rust-wasm/README.md
  ironfish-rust-wasm/build.js
  ironfish-rust-wasm/package.json
  ironfish-rust-wasm/src/lib.rs
  ironfish-rust-wasm/src/panic_hook/mod.rs
  ironfish-rust-wasm/src/wasm_structs/errors.rs
  ironfish-rust-wasm/src/wasm_structs/mod.rs
  ironfish-rust-wasm/src/wasm_structs/note.rs
  ironfish-rust-wasm/src/wasm_structs/note_encrypted.rs
  ironfish-rust-wasm/src/wasm_structs/spend_proof.rs
  ironfish-rust-wasm/src/wasm_structs/transaction.rs
  ironfish-rust-wasm/src/wasm_structs/witness.rs
  ironfish-rust-wasm/tsconfig.json
  ironfish-rust/src/lib.rs
  lerna.json
  package.json
Due: ironfish-rust, ironfish

Re-generate fixtures
  ironfish/src/account/__fixtures__/accounts.test.slow.ts.fixture
  ironfish/src/account/__fixtures__/accounts.test.ts.fixture
  ironfish/src/blockchain/__fixtures__/blockchain.test.perf.ts.fixture
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/consensus/__fixtures__/verifier.test.ts.fixture
  ironfish/src/genesis/genesisBlock.ts
  ironfish/src/indexers/__fixtures__/minedBlocksIndexer.test.ts.fixture
  ironfish/src/memPool/__fixtures__/memPool.test.ts.fixture
  ironfish/src/mining/__fixtures__/manager.test.slow.ts.fixture
  ironfish/src/mining/__fixtures__/manager.test.ts.fixture
  ironfish/src/network/__fixtures__/peerNetwork.test.ts.fixture
  ironfish/src/primitives/__fixtures__/block.test.ts.fixture
  ironfish/src/primitives/__fixtures__/transaction.test.slow.ts.fixture
  ironfish/src/primitives/__snapshots__/nullifier.test.ts.snap
  ironfish/src/rpc/routes/chain/__fixtures__/getBlock.test.ts.fixture
  ironfish/src/rpc/routes/mining/__fixtures__/blockTemplateStream.test.slow.ts.fixture
  ironfish/src/rpc/routes/transactions/__fixtures__/sendTransaction.test.ts.fixture
  ironfish/src/serde/__snapshots__/Uint8ArraySerde.test.ts.snap
  ironfish/src/workerPool/tasks/__fixtures__/createMinersFee.test.ts.fixture
  ironfish/src/workerPool/tasks/__fixtures__/createTransaction.test.slow.ts.fixture
  ironfish/src/workerPool/tasks/__fixtures__/decryptNotes.test.ts.fixture
  ironfish/src/workerPool/tasks/__fixtures__/getUnspentNotes.test.ts.fixture
  ironfish/src/workerPool/tasks/__fixtures__/verifyTransaction.test.ts.fixture
Due: ironfish

Fix encrypted note size
  ironfish/src/primitives/noteEncrypted.ts
Due: ironfish

I love hard coded numbers
  ironfish-rust-wasm/src/wasm_structs/transaction.rs
  ironfish/src/merkletree/database/leaves.ts
  ironfish/src/primitives/transaction.ts
Due: ironfish-rust, ironfish

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish-cli: any of: ironfish-cli, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish: any of: ironfish, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
