Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

codecov.yml:

ignore:
  - config/*
  - ironfish-rust-nodejs/*
  - ironfish-rust-wasm/*
comment: false
github_checks:
  annotations: false
coverage:
  fixes:
    - "/home/runner/work/ironfish/ironfish/::/"
  status:
    patch:
      default:
        target: auto
        threshold: 0%
    project:
      default:
        target: 10%
      ironfish-rust:
        target: 10%
        flags:
          - ironfish-rust
      ironfish-cli:
        target: 10%
        flags:
          - ironfish-cli
      ironfish:
        target: 10%
        flags:
          - ironfish
flags:
  ironfish-rust:
    paths:
      - ironfish-rust
    carryforward: true
  ironfish-cli:
    paths:
      - ironfish-cli
    carryforward: true
  ironfish:
    paths:
      - ironfish
    carryforward: true

Remove estimate fee (#3094)
  ironfish/src/memPool/feeEstimator.test.ts
  ironfish/src/memPool/feeEstimator.ts
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/chain/estimateFee.test.ts
  ironfish/src/rpc/routes/chain/estimateFee.ts
  ironfish/src/rpc/routes/chain/index.ts
Due: ironfish

Accounts for spends size
  ironfish-cli/src/commands/wallet/send.ts
  ironfish-cli/src/flags.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish-cli, ironfish

Lint
  ironfish-cli/src/flags.ts
Due: ironfish-cli, ironfish

Reset spends
  ironfish/src/wallet/wallet.ts
Due: ironfish

remove 'IRON' in desc for coin
  ironfish-cli/src/commands/wallet/burn.ts
  ironfish-cli/src/commands/wallet/mint.ts
  ironfish-cli/src/commands/wallet/send.ts
Due: ironfish-cli, ironfish

mint/burn examples syntax, use short-form like send
  ironfish-cli/src/commands/wallet/burn.ts
  ironfish-cli/src/commands/wallet/mint.ts
Due: ironfish-cli, ironfish

fixes getBalances test
  ironfish/src/rpc/routes/wallet/getBalances.test.ts
Due: ironfish

adds tests for getTransactionType
  ironfish/src/wallet/__fixtures__/wallet.test.ts.fixture
  ironfish/src/wallet/wallet.test.ts
Due: ironfish

feat(ironfish): Add max mint value in verification
  ironfish/src/consensus/__fixtures__/verifier.test.ts.fixture
  ironfish/src/consensus/verifier.test.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/primitives/transaction.ts
Due: ironfish

added comment 1
  ironfish-cli/src/commands/wallet/mint.ts
Due: ironfish-cli, ironfish

added comment 2
  ironfish-cli/src/commands/wallet/mint.ts
Due: ironfish-cli, ironfish

Update CLI text descriptions (#3105)
  ironfish-cli/src/commands/wallet/burn.ts
  ironfish-cli/src/commands/wallet/mint.ts
  ironfish-cli/src/commands/wallet/send.ts
Due: ironfish-cli, ironfish

Add char flag for --datadir
  ironfish-cli/src/commands/chain/genesisblock.ts
  ironfish-cli/src/commands/miners/pools/start.ts
  ironfish-cli/src/commands/service/estimate-fee-rates.ts
  ironfish-cli/src/commands/service/forks.ts
  ironfish-cli/src/flags.ts
Due: ironfish-cli, ironfish

account for spends when estimate size (#3096)
  ironfish-cli/src/commands/wallet/send.ts
  ironfish-cli/src/flags.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish-cli, ironfish

change dryRun to dry
  ironfish-cli/src/commands/chain/genesisblock.ts
Due: ironfish-cli, ironfish

Update package.json
  ironfish-rust-nodejs/package.json
Due: none

Update import.ts
  ironfish-cli/src/commands/wallet/import.ts
Due: ironfish-cli, ironfish

Revert "Update package.json"
  ironfish-rust-nodejs/package.json
Due: none

Update package.json
  package.json
Due: none

Update export.ts
  ironfish-cli/src/commands/wallet/export.ts
Due: ironfish-cli, ironfish

Fix imports
  ironfish-cli/src/commands/wallet/export.ts
  ironfish-cli/src/commands/wallet/import.ts
Due: ironfish-cli, ironfish

lint
  ironfish-cli/src/commands/wallet/export.ts
  ironfish-cli/src/commands/wallet/import.ts
Due: ironfish-cli, ironfish

Change where bs58check dep lives
  ironfish-cli/package.json
  package.json
Due: ironfish-cli, ironfish

fix bug
  ironfish-cli/src/commands/chain/genesisblock.ts
Due: ironfish-cli, ironfish

Remove wallet from fee estimator
  ironfish/src/memPool/feeEstimator.test.ts
  ironfish/src/memPool/feeEstimator.ts
Due: ironfish

Check isMinersFee when validating transactions
  ironfish/src/consensus/verifier.ts
Due: ironfish

fix(napi): Downgrade to known-good version without segfaults
  Cargo.lock
  ironfish-rust-nodejs/Cargo.toml
Due: none

Fix tests
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish/src/consensus/__fixtures__/verifier.test.ts.fixture
  ironfish/src/consensus/verifier.test.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/testUtilities/helpers/blockchain.ts
Due: ironfish-rust, ironfish

Fix some tests
  ironfish/src/__fixtures__/chainProcessor.test.ts.fixture
  ironfish/src/chainProcessor.test.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/primitives/block.test.ts
Due: ironfish

Format code
  ironfish-rust-nodejs/src/structs/transaction.rs
Due: ironfish-rust, ironfish

Revert "lint"
  ironfish-cli/src/commands/wallet/export.ts
  ironfish-cli/src/commands/wallet/import.ts
Due: ironfish-cli, ironfish

Revert "Fix imports"
  ironfish-cli/src/commands/wallet/export.ts
  ironfish-cli/src/commands/wallet/import.ts
Due: ironfish-cli, ironfish

Revert "Update export.ts"
  ironfish-cli/src/commands/wallet/export.ts
Due: ironfish-cli, ironfish

Revert "Update package.json"
  package.json
Due: none

Revert "Revert "Update package.json""
  ironfish-rust-nodejs/package.json
Due: none

Revert "Update import.ts"
  ironfish-cli/src/commands/wallet/import.ts
Due: ironfish-cli, ironfish

Create exportAccountBase58.ts
  ironfish/src/rpc/routes/wallet/exportAccountBase58.ts
Due: ironfish

Update package.json
  ironfish/package.json
Due: ironfish
