Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish

codecov.yml:

ignore:
  - config/*
  - ironfish-rust-nodejs/*
comment: false
github_checks:
  annotations: false
coverage:
  fixes:
    - "/home/runner/work/ironfish/ironfish/::/"
  status:
    patch:
      default:
        target: 10%
        threshold: 0%
    project:
      default:
        target: 10%
      ironfish-rust:
        target: 10%
        flags:
          - ironfish-rust
      ironfish-cli:
        target: 10%
        flags:
          - ironfish-cli
      ironfish:
        target: 10%
        flags:
          - ironfish
flags:
  ironfish-rust:
    paths:
      - ironfish-rust
    carryforward: true
  ironfish:
    paths:
      - ironfish
    carryforward: true

exports merkletree from sdk
  ironfish/src/index.ts
Due: ironfish

makes NativeWitness conform to the same interface as Witness in TypeScript
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust-nodejs/src/structs/witness.rs
  ironfish/src/merkletree/witness.ts
  ironfish/src/primitives/rawTransaction.ts
  ironfish/src/wallet/multisig.test.slow.ts
Due: ironfish-rust, ironfish

removes unneeded enum
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/structs/transaction.rs
Due: ironfish-rust, ironfish

adds signingPackageFromRaw method
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/structs/transaction.rs
Due: ironfish-rust, ironfish

adds method to NativeSigningCommitment to get raw_commitments
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/multisig.rs
  ironfish/src/wallet/multisig.test.slow.ts
Due: ironfish-rust, ironfish

adds napi methods to support aggregating frost signature shares
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/multisig.rs
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish/src/wallet/multisig.test.slow.ts
Due: ironfish-rust, ironfish

adds napi methods for getting raw signing commitments from nonces
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/multisig.rs
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish/src/wallet/multisig.test.slow.ts
Due: ironfish-rust, ironfish

uses decrypt_legacy to decrypt legacy account exports
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/multisig.rs
  ironfish/src/wallet/exporter/encryption.ts
Due: ironfish-rust, ironfish

fixes errors and warnings from error formatting
  ironfish-rust-nodejs/src/multisig.rs
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust/src/errors.rs
  ironfish-rust/src/transaction/unsigned.rs
  ironfish/src/rpc/routes/wallet/multisig/dkg/round3.test.ts
Due: ironfish-rust, ironfish

Add derived key
  Cargo.lock
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/structs/encryption_key.rs
  ironfish-rust-nodejs/src/structs/mod.rs
  ironfish-rust-nodejs/src/xchacha20poly1305.rs
  ironfish-rust/Cargo.toml
  ironfish-rust/src/errors.rs
  ironfish-rust/src/xchacha20poly1305.rs
  ironfish/src/wallet/account/masterKey.ts
  ironfish/src/wallet/masterKey.ts
  ironfish/src/wallet/wallet.ts
  ironfish/src/wallet/walletdb/accountValue.ts
  ironfish/src/wallet/walletdb/masterKeyValue.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish-rust, ironfish

Refactor with master key
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/structs/encryption_key.rs
  ironfish-rust-nodejs/src/structs/mod.rs
  ironfish-rust-nodejs/src/xchacha20poly1305.rs
  ironfish-rust/src/xchacha20poly1305.rs
  ironfish/src/wallet/account/account.ts
  ironfish/src/wallet/account/encryptedAccount.ts
  ironfish/src/wallet/masterKey.ts
  ironfish/src/wallet/wallet.ts
  ironfish/src/wallet/walletdb/masterKeyValue.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish-rust, ironfish

Build passes
  ironfish/src/rpc/routes/wallet/create.ts
  ironfish/src/rpc/routes/wallet/createAccount.ts
  ironfish/src/rpc/routes/wallet/rename.ts
  ironfish/src/rpc/routes/wallet/renameAccount.ts
  ironfish/src/rpc/routes/wallet/resetAccount.ts
  ironfish/src/wallet/account/account.ts
  ironfish/src/wallet/account/encryptedAccount.ts
  ironfish/src/wallet/masterKey.ts
  ironfish/src/wallet/wallet.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish

Working with new passphrase
  ironfish-cli/src/commands/wallet/create.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish

defines MultisigHardwareSigner for Ledger multisig keys
  ironfish/src/wallet/interfaces/multisigKeys.ts
  ironfish/src/wallet/walletdb/multiSigKeys.test.ts
  ironfish/src/wallet/walletdb/multisigKeys.ts
Due: ironfish

feat(rust): Add struct for XChaCha20Poly1305 key
  Cargo.lock
  ironfish-rust/Cargo.toml
  ironfish-rust/src/errors.rs
  ironfish-rust/src/xchacha20poly1305.rs
  supply-chain/config.toml
Due: ironfish-rust, ironfish

feat(rust): Add struct for XChaCha20Poly1305 key (#5365)
  Cargo.lock
  ironfish-rust/Cargo.toml
  ironfish-rust/src/errors.rs
  ironfish-rust/src/xchacha20poly1305.rs
  supply-chain/config.toml
Due: ironfish-rust, ironfish

defines MultisigHardwareSigner for Ledger multisig keys (#5366)
  ironfish/src/wallet/interfaces/multisigKeys.ts
  ironfish/src/wallet/walletdb/multiSigKeys.test.ts
  ironfish/src/wallet/walletdb/multisigKeys.ts
Due: ironfish

supports importing multisig Ledger accounts
  ironfish/src/rpc/routes/wallet/__importTestCases__/2p6p0_json_multisig.txt
  ironfish/src/rpc/routes/wallet/serializers.ts
  ironfish/src/wallet/exporter/accountImport.ts
  ironfish/src/wallet/exporter/multisig.ts
Due: ironfish

dont parse this diagram as a doctest
  ironfish-rust/src/frost_utils/account_keys.rs
Due: ironfish-rust, ironfish

dont parse this diagram as a doctest (#5368)
  ironfish-rust/src/frost_utils/account_keys.rs
Due: ironfish-rust, ironfish

make secret optional in multisig secrets
  ironfish/src/rpc/routes/wallet/exportAccount.test.ts
  ironfish/src/rpc/routes/wallet/importAccount.test.ts
  ironfish/src/rpc/routes/wallet/multisig/createParticipant.test.ts
  ironfish/src/rpc/routes/wallet/multisig/dkg/round1.test.ts
  ironfish/src/rpc/routes/wallet/multisig/dkg/round1.ts
  ironfish/src/rpc/routes/wallet/multisig/dkg/round2.ts
  ironfish/src/rpc/routes/wallet/multisig/dkg/round3.ts
  ironfish/src/rpc/routes/wallet/multisig/getIdentities.ts
  ironfish/src/rpc/routes/wallet/multisig/getIdentity.ts
  ironfish/src/wallet/exporter/encryption.ts
  ironfish/src/wallet/wallet.test.slow.ts
  ironfish/src/wallet/wallet.ts
  ironfish/src/wallet/walletdb/multisigIdentityValue.ts
  ironfish/src/wallet/walletdb/multisigSecretValue.ts
  ironfish/src/wallet/walletdb/walletdb.test.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish

fix test
  ironfish/src/rpc/routes/wallet/multisig/createParticipant.test.ts
Due: ironfish

adds helper functions to deserialize round2 public packages
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/multisig.rs
Due: ironfish-rust, ironfish

wip
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/multisig.rs
Due: ironfish-rust, ironfish

fixes rust lint in multisig.rs, removes commented-out code
  ironfish-rust-nodejs/src/multisig.rs
Due: ironfish-rust, ironfish

updates ironfish-frost dependency to latest commit on main
  Cargo.lock
  ironfish-rust-nodejs/Cargo.toml
  ironfish-rust/Cargo.toml
Due: ironfish-rust, ironfish

updates cargo vet with exemptions and audits for new dependencies
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Due: none

dirty upgrade to frost no-std
  Cargo.lock
  ironfish-rust-nodejs/Cargo.toml
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/multisig.rs
  ironfish-rust-nodejs/src/structs/note.rs
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust/Cargo.toml
  ironfish-rust/src/errors.rs
  ironfish-rust/src/frost_utils/account_keys.rs
  ironfish-rust/src/frost_utils/mod.rs
  ironfish-rust/src/frost_utils/split_secret.rs
  ironfish-rust/src/frost_utils/split_spender_key.rs
  ironfish-rust/src/transaction/unsigned.rs
Due: ironfish-rust, ironfish

broadens cargo vet audit policy for reddsa
  supply-chain/config.toml
Due: none

specifies std feature for ironfish-frost in ironfish-rust-nodejs
  ironfish-rust-nodejs/Cargo.toml
Due: none

feat(rust-nodejs): Create napi struct for xchacha20poly1305 key
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/xchacha20poly1305.rs
Due: ironfish-rust, ironfish

ts memory allocation issues in rust
  .github/workflows/ci.yml
  Cargo.lock
  ironfish-rust-nodejs/Cargo.toml
  ironfish-rust/Cargo.toml
Due: ironfish-rust, ironfish

updates ironfish-frost in Cargo.lock for allocation fix
  Cargo.lock
Due: none

feat(ironfish): Store salt and nonce on encrypted account
  ironfish/src/wallet/account/encryptedAccount.ts
  ironfish/src/wallet/walletdb/accountValue.test.ts
  ironfish/src/wallet/walletdb/accountValue.ts
Due: ironfish

uses default features from ironfish-frost
  ironfish-rust/Cargo.toml
Due: ironfish-rust, ironfish

bubbles up errors as napi errors in multisig.rs instead of unwrapping
  ironfish-rust-nodejs/src/multisig.rs
Due: ironfish-rust, ironfish

refactors derive_account_keys to return a result
  ironfish-rust-nodejs/src/multisig.rs
  ironfish-rust/src/frost_utils/account_keys.rs
  ironfish-rust/src/transaction/tests.rs
Due: ironfish-rust, ironfish

removes unwrap uses
  ironfish-rust/src/frost_utils/split_spender_key.rs
  ironfish-rust/src/transaction/unsigned.rs
Due: ironfish-rust, ironfish
