Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish

uses frost signature in mint descriptions
  ironfish-rust/src/transaction/mints.rs
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish

finishes first implementation of 'generate_key_shares'
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish

Do not prefix the public key on the message to sign
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish

wip implements 'generate_key'
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish

Use serialize function instead of hashing algorithm for comparison
  ironfish/src/primitives/blockheader.ts
  ironfish/src/serde/PartialHeaderSerde.ts
Due: ironfish

prepares to test frost key derivation with transactions
  benchmarks/benches/merkle_note.rs
  ironfish-rust/src/merkle_note.rs
  ironfish-rust/src/transaction/mints.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/outputs.rs
  ironfish-rust/src/transaction/spends.rs
  ironfish-rust/src/transaction/tests.rs
Due: ironfish-rust, ironfish

- derives SubgroupPoint from key package bytes - updates transaction to be a frost transaction
  ironfish-rust/src/transaction/tests.rs
Due: ironfish-rust, ironfish

Use performance.now for snapshot duration (#4480)
  ironfish-cli/src/snapshot.ts
Due: ironfish

Return whether accounts are view only from the accounts status RPC
  ironfish-cli/src/commands/wallet/status.ts
  ironfish/src/rpc/routes/wallet/getAccountsStatus.ts
Due: ironfish

Add test
  ironfish/src/rpc/routes/wallet/getAccountsStatus.test.ts
Due: ironfish

Return whether account is view only from getAccountsStatus RPC (#4481)
  ironfish-cli/src/commands/wallet/status.ts
  ironfish/src/rpc/routes/wallet/getAccountsStatus.test.ts
  ironfish/src/rpc/routes/wallet/getAccountsStatus.ts
Due: ironfish

test(rust): Derive proof generation key and public address properly
  ironfish-rust/src/keys/mod.rs
  ironfish-rust/src/transaction/tests.rs
Due: ironfish-rust, ironfish

WIP
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust/src/keys/mod.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish/src/wallet/account/account.ts
  ironfish/src/wallet/wallet.test.slow.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish-rust, ironfish

Add napi
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/lib.rs
Due: ironfish-rust, ironfish

Display a clearer error when passing --path and an invalid argument
  ironfish-cli/src/commands/wallet/import.ts
Due: ironfish

Remove hashing algorithm from unit test assertions (#4478)
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/testUtilities/helpers.ts
  ironfish/src/primitives/blockheader.test.ts
  ironfish/src/primitives/blockheader.ts
  ironfish/src/serde/PartialHeaderSerde.ts
Due: ironfish

Remove unused account parameter in getAccountsStatus
  ironfish-cli/src/commands/wallet/status.ts
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/wallet/getAccountsStatus.ts
Due: ironfish

WIP
  ironfish/src/rpc/routes/wallet/getAccountStatus.ts
  ironfish/src/rpc/routes/wallet/getAccountsStatus.ts
  ironfish/src/rpc/routes/wallet/types.ts
  ironfish/src/rpc/routes/wallet/utils.ts
Due: ironfish

Finish tests
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/wallet/__fixtures__/getAccountsStatus.test.ts.fixture
  ironfish/src/rpc/routes/wallet/getAccountStatus.test.ts
  ironfish/src/rpc/routes/wallet/getAccountsStatus.test.ts
  ironfish/src/rpc/routes/wallet/index.ts
Due: ironfish

Display a clearer error when passing --path and an invalid argument (#4483)
  ironfish-cli/src/commands/wallet/import.ts
Due: ironfish

Fix status command
  ironfish-cli/src/commands/wallet/status.ts
Due: ironfish

Fix lint
  ironfish/src/rpc/clients/client.ts
Due: ironfish

add license
  .github/workflows/publish-binaries.yml
  tools/build-binary.go
Due: none

replace libc with core::ffi in wasm
  ironfish-rust/src/signal_catcher.rs
Due: ironfish-rust, ironfish

enable js feature in getrandom
  Cargo.lock
  ironfish-zkp/Cargo.toml
Due: ironfish

Remove unused account parameter in getAccountsStatus and add getAccountStatus (#4482)
  ironfish-cli/src/commands/wallet/status.ts
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/wallet/__fixtures__/getAccountsStatus.test.ts.fixture
  ironfish/src/rpc/routes/wallet/getAccountStatus.test.ts
  ironfish/src/rpc/routes/wallet/getAccountStatus.ts
  ironfish/src/rpc/routes/wallet/getAccountsStatus.test.ts
  ironfish/src/rpc/routes/wallet/getAccountsStatus.ts
  ironfish/src/rpc/routes/wallet/index.ts
  ironfish/src/rpc/routes/wallet/types.ts
  ironfish/src/rpc/routes/wallet/utils.ts
Due: ironfish

Wait for connnection status on add peer command
  ironfish-cli/src/commands/peers/add.ts
  ironfish/src/rpc/routes/peer/addPeer.ts
Due: ironfish

Fix tests
  ironfish/src/rpc/routes/peer/addPeer.test.ts
  ironfish/src/rpc/routes/peer/addPeer.ts
Due: ironfish

Napi outputs signing shares
  ironfish/src/wallet/__fixtures__/wallet.test.slow.ts.fixture
  ironfish/src/wallet/wallet.test.slow.ts
Due: ironfish

Wait for connection status on add peer command (#4448)
  ironfish-cli/src/commands/peers/add.ts
  ironfish/src/rpc/routes/peer/addPeer.test.ts
  ironfish/src/rpc/routes/peer/addPeer.ts
Due: ironfish

rebuild windows binary to test
  .github/workflows/publish-binaries.yml
Due: none

WIP
  config/jest.config.base.js
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust/src/keys/mod.rs
  ironfish-rust/src/keys/view_keys.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/util.rs
Due: ironfish-rust, ironfish

SDK and CLI v1.14.0
  ironfish-cli/package.json
  ironfish-rust-nodejs/npm/darwin-arm64/package.json
  ironfish-rust-nodejs/npm/darwin-x64/package.json
  ironfish-rust-nodejs/npm/linux-arm64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-arm64-musl/package.json
  ironfish-rust-nodejs/npm/linux-x64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-x64-musl/package.json
  ironfish-rust-nodejs/npm/win32-x64-msvc/package.json
  ironfish-rust-nodejs/package.json
  ironfish/package.json
Due: ironfish-rust, ironfish

SDK and CLI v1.14.0 (#4485)
  ironfish-cli/package.json
  ironfish-rust-nodejs/npm/darwin-arm64/package.json
  ironfish-rust-nodejs/npm/darwin-x64/package.json
  ironfish-rust-nodejs/npm/linux-arm64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-arm64-musl/package.json
  ironfish-rust-nodejs/npm/linux-x64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-x64-musl/package.json
  ironfish-rust-nodejs/npm/win32-x64-msvc/package.json
  ironfish-rust-nodejs/package.json
  ironfish/package.json
Due: ironfish-rust, ironfish

Return round one per participant
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish/src/wallet/wallet.test.slow.ts
Due: ironfish-rust, ironfish

WIP
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish

testing macos m1 runner
  .github/workflows/publish-binaries.yml
Due: none

Add napi method to create signing package
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish/src/wallet/wallet.test.slow.ts
Due: ironfish-rust, ironfish

adds coordinator signing package to test
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust/src/keys/mod.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish/src/primitives/rawTransaction.ts
  ironfish/src/wallet/__fixtures__/wallet.test.slow.ts.fixture
  ironfish/src/wallet/wallet.test.slow.ts
Due: ironfish-rust, ironfish

fixes import on accounts that do not include viewKey
  ironfish/src/wallet/account/encoder/bech32json.test.ts
  ironfish/src/wallet/account/encoder/json.test.ts
  ironfish/src/wallet/account/encoder/json.ts
  ironfish/src/wallet/validator.ts
Due: ironfish

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-rust-nodejs/*
  ironfish: any of: ironfish, but not: config/*, ironfish-rust-nodejs/*
