Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

codecov.yml:

ignore:
  - config/*
  - ironfish-rust-nodejs/*
  - ironfish-rust-wasm/*
comment: false
github_checks:
  annotations: false
coverage:
  fixes:
    - "/home/runner/work/ironfish/ironfish/::/"
  status:
    patch:
      default:
        target: auto
        threshold: 0%
    project:
      default:
        target: 10%
      ironfish-rust:
        target: 10%
        flags:
          - ironfish-rust
      ironfish-cli:
        target: 10%
        flags:
          - ironfish-cli
      ironfish:
        target: 10%
        flags:
          - ironfish
flags:
  ironfish-rust:
    paths:
      - ironfish-rust
    carryforward: true
  ironfish-cli:
    paths:
      - ironfish-cli
    carryforward: true
  ironfish:
    paths:
      - ironfish
    carryforward: true

Add nodeName and blockGraffiti to debug command (#1862)
  ironfish-cli/src/commands/debug.ts
Due: ironfish-cli, ironfish

Remove unnecessary toString() for graffiti and nodeName
  ironfish/src/rpc/routes/node/getStatus.ts
Due: ironfish

chore: this adds doc for function parameters
  ironfish/src/blockchain/blockchain.ts
Due: ironfish

wip rust unbox/box
  benchmarks.js
  ironfish-rust-nodejs/Cargo.lock
  ironfish-rust-nodejs/Cargo.toml
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust/src/lib.rs
Due: ironfish-rust, ironfish

update comments
  ironfish/src/network/peerNetwork.ts
Due: ironfish

Upgrade rust dependencies (#1864)
  ironfish-rust-nodejs/Cargo.lock
  ironfish-rust-nodejs/Cargo.toml
  ironfish-rust/Cargo.lock
  ironfish-rust/Cargo.toml
  ironfish-rust/src/keys/mod.rs
  ironfish-rust/src/keys/public_address.rs
  ironfish-rust/src/merkle_note.rs
  ironfish-rust/src/merkle_note_hash.rs
  ironfish-rust/src/note.rs
  ironfish-rust/src/receiving.rs
  ironfish-rust/src/serializing.rs
  ironfish-rust/src/spending.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/tests.rs
Due: ironfish-rust, ironfish

Add batch verify transactions worker task
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/consensus/verifier.test.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/workerPool/pool.ts
  ironfish/src/workerPool/tasks/handlers.ts
  ironfish/src/workerPool/tasks/verifyTransactions.ts
  ironfish/src/workerPool/tasks/workerMessage.ts
  ironfish/src/workerPool/worker.ts
Due: ironfish-rust, ironfish

Minor cleanup
  ironfish-rust/src/transaction/mod.rs
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/workerPool/pool.ts
Due: ironfish-rust, ironfish

WIP: Testing multicore + debug output
  ironfish-rust/src/transaction/mod.rs
  ironfish/src/blockchain/blockchain.ts
Due: ironfish-rust, ironfish

Batch verify proofs for all spends and receives at a transaction level
  ironfish-rust/src/receiving.rs
  ironfish-rust/src/spending.rs
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish

Add nodeName and blockGraffiti to status command (#1863)
  ironfish-cli/src/commands/status.test.ts
  ironfish-cli/src/commands/status.ts
  ironfish/src/rpc/routes/node/getStatus.ts
Due: ironfish-cli, ironfish

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Fix getTransaction() build errors after rebase
  ironfish/src/account/account.ts
Due: ironfish

Code review
  ironfish/src/network/messages/getCompactBlock.ts
  ironfish/src/network/messages/newBlockV2.ts
Due: ironfish

Replace gossip nonce filter with seen transaction filter (#1865)
  ironfish/src/network/__fixtures__/peerNetwork.test.ts.fixture
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/peers/peerManager.ts
Due: ironfish

Create GetCompactBlock request and response messages (#1856)
  ironfish/src/network/messageRegistry.ts
  ironfish/src/network/messages/getCompactBlock.test.ts
  ironfish/src/network/messages/getCompactBlock.ts
  ironfish/src/network/messages/newBlockV2.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/types.ts
  ironfish/src/network/utils/block.ts
Due: ironfish

First pass on implementing box/unbox in Rust
  ironfish-rust-nodejs/Cargo.lock
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust/Cargo.lock
  ironfish-rust/Cargo.toml
  ironfish-rust/src/errors.rs
  ironfish-rust/src/lib.rs
  ironfish-rust/src/tweetnacl.rs
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/peers/encryption.ts
  ironfish/src/network/peers/localPeer.ts
  ironfish/src/network/peers/peerManager.test.ts
  ironfish/src/network/peers/peerManager.ts
  ironfish/src/network/testUtilities/mockLocalPeer.ts
  ironfish/src/workerPool/job.test.slow.ts
  ironfish/src/workerPool/pool.ts
  ironfish/src/workerPool/tasks/boxMessage.test.ts
  ironfish/src/workerPool/tasks/boxMessage.ts
  ironfish/src/workerPool/tasks/handlers.ts
  ironfish/src/workerPool/tasks/unboxMessage.test.ts
  ironfish/src/workerPool/tasks/unboxMessage.ts
  ironfish/src/workerPool/tasks/workerMessage.ts
  ironfish/src/workerPool/worker.ts
Due: ironfish-rust, ironfish

Update PROPOSAL.yml
  .github/ISSUE_TEMPLATE/PROPOSAL.yml
Due: none

Update GENERAL.yml
  .github/ISSUE_TEMPLATE/GENERAL.yml
Due: none

Update config.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Delete GENERAL.yml
  .github/ISSUE_TEMPLATE/GENERAL.yml
Due: none

Cherrypick
  ironfish-cli/src/commands/chain/forks.ts
  ironfish-cli/src/commands/restore.ts
  ironfish-cli/src/commands/start.ts
  ironfish-rust/src/transaction/mod.rs
  ironfish/src/account/accounts.test.ts
  ironfish/src/account/accounts.ts
  ironfish/src/chainProcessor.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/fileStores/keyStore.ts
  ironfish/src/mining/pool.ts
  ironfish/src/mining/poolDatabase/database.ts
  ironfish/src/mining/poolDatabase/migrations/001-initial.ts
  ironfish/src/mining/soloMiner.ts
  ironfish/src/network/peers/peerManager.ts
  ironfish/src/node.ts
  ironfish/src/primitives/noteEncrypted.ts
  ironfish/src/primitives/target.test.ts
  ironfish/src/primitives/target.ts
  ironfish/src/primitives/transaction.ts
  ironfish/src/rpc/adapters/socketAdapter/socketAdapter.ts
  ironfish/src/rpc/clients/errors.ts
  ironfish/src/rpc/messageBuffer.test.ts
  ironfish/src/storage/database.test.ts
  ironfish/src/storage/database/database.ts
  ironfish/src/telemetry/interfaces/metric.ts
  ironfish/src/testUtilities/fixtures.ts
  ironfish/src/utils/types.ts
Due: ironfish-rust, ironfish-cli, ironfish

Add handler for GetCompactBlockRequest
  ironfish/src/network/__fixtures__/peerNetwork.test.ts.fixture
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/primitives/block.ts
Due: ironfish

Add handler for GetCompactBlockRequest (#1859)
  ironfish/src/network/__fixtures__/peerNetwork.test.ts.fixture
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/primitives/block.ts
Due: ironfish

Display options extend from CliUx.ux.table (#1855)
  ironfish-cli/src/commands/accounts/transactions.ts
Due: ironfish-cli, ironfish

Merge staging branch
  ironfish/src/node.ts
Due: ironfish

Rename var, use ref instead of cursor
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/structs/transaction.rs
Due: ironfish-rust, ironfish

Batch verify transactions (#1867)
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust/src/receiving.rs
  ironfish-rust/src/spending.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/consensus/verifier.test.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/workerPool/pool.ts
  ironfish/src/workerPool/tasks/handlers.ts
  ironfish/src/workerPool/tasks/verifyTransactions.ts
  ironfish/src/workerPool/tasks/workerMessage.ts
  ironfish/src/workerPool/worker.ts
Due: ironfish-rust, ironfish

Deduplicate batch verify logic
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish

Allow fullUnicode in commands with nodeName/graffiti output
  ironfish-cli/src/commands/peers/list.ts
  ironfish-cli/src/commands/status.ts
Due: ironfish-cli, ironfish

Allow fullUnicode in commands with nodeName/graffiti output (#1876)
  ironfish-cli/src/commands/peers/list.ts
  ironfish-cli/src/commands/status.ts
Due: ironfish-cli, ironfish

Add new renderSpan() to render time to human text
  ironfish/src/utils/time.test.ts
  ironfish/src/utils/time.ts
Due: ironfish

Remove commented code
  ironfish/src/utils/time.ts
Due: ironfish

Add IRONFISH_EXPOSE_GC to expose garbage collector
  ironfish-cli/bin/ironfish
  ironfish-cli/package.json
  ironfish-cli/src/commands/debug.ts
Due: ironfish-cli, ironfish

Add new renderSpan() to render time to human text (#1878)
  ironfish/src/utils/time.test.ts
  ironfish/src/utils/time.ts
Due: ironfish

Add tools to bench mark segments of code
  ironfish/src/utils/bench.test.ts
  ironfish/src/utils/bench.ts
Due: ironfish

Add IRONFISH_EXPOSE_GC to expose garbage collector (#1880)
  ironfish-cli/bin/ironfish
  ironfish-cli/package.json
  ironfish-cli/src/commands/debug.ts
Due: ironfish-cli, ironfish
