Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

codecov.yml:

ignore:
  - config/*
  - ironfish-rust-nodejs/*
  - ironfish-rust-wasm/*
comment: false
github_checks:
  annotations: false
coverage:
  fixes:
    - "/home/runner/work/ironfish/ironfish/::/"
  status:
    patch:
      default:
        target: auto
        threshold: 50%
    project:
      default:
        target: 63%
      ironfish-rust:
        target: 53%
        flags:
          - ironfish-rust
      ironfish-cli:
        target: 50%
        flags:
          - ironfish-cli
      ironfish:
        target: 60%
        flags:
          - ironfish
      event:
        target: 84%
        flags:
          - event
      logger:
        target: 90%
        flags:
          - logger
      serde:
        target: 90%
        flags:
          - serde
flags:
  ironfish-rust:
    paths:
      - ironfish-rust
    carryforward: true
  ironfish-cli:
    paths:
      - ironfish-cli
    carryforward: true
  ironfish:
    paths:
      - ironfish
    carryforward: true

Fix lint
  ironfish/src/primitives/block.test.ts
Due: ironfish

Fix typo
  ironfish/src/genesis/makeGenesisBlock.ts
Due: ironfish

Fix test failure
  ironfish/src/primitives/__fixtures__/block.test.ts.fixture
Due: ironfish

Put miner's fee transaction first on blocks (#489)
  ironfish/src/account/__fixtures__/accounts.test.slow.ts.fixture
  ironfish/src/account/__fixtures__/accounts.test.ts.fixture
  ironfish/src/blockchain/__fixtures__/blockchain.test.perf.ts.fixture
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/consensus/__fixtures__/verifier.test.ts.fixture
  ironfish/src/consensus/verifier.test.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/genesis/makeGenesisBlock.ts
  ironfish/src/memPool/__fixtures__/memPool.test.ts.fixture
  ironfish/src/mining/__fixtures__/director.test.slow.ts.fixture
  ironfish/src/mining/director.test.slow.ts
  ironfish/src/primitives/__fixtures__/block.test.ts.fixture
  ironfish/src/primitives/__fixtures__/transaction.test.slow.ts.fixture
  ironfish/src/primitives/block.test.ts
  ironfish/src/rpc/routes/chain/__fixtures__/getBlock.test.ts.fixture
  ironfish/src/rpc/routes/transactions/__fixtures__/sendTransaction.test.ts.fixture
  ironfish/src/testUtilities/fixtures.ts
  tools/reset-network-genesis.sh
Due: ironfish

update docs with cmake information
  README.md
Due: none

Bump version to v0.1.6
  ironfish/package.json
Due: ironfish

Fix accountsDB not closing properly
  ironfish-cli/src/commands/reset.ts
  ironfish/src/account/accounts.ts
Due: ironfish-cli, ironfish

Fix accountsDB not closing properly (#495)
  ironfish-cli/src/commands/reset.ts
  ironfish/src/account/accounts.ts
Due: ironfish-cli, ironfish

Bump version to v0.1.6 (#496)
  ironfish/package.json
Due: ironfish

Bump DB schema versions to 3
  ironfish/src/account/accountsdb.ts
  ironfish/src/blockchain/blockchain.ts
Due: ironfish

Bump DB schema versions to 3 (#498)
  ironfish/src/account/accountsdb.ts
  ironfish/src/blockchain/blockchain.ts
Due: ironfish

Bump network version to 11
  ironfish/src/network/version.ts
Due: ironfish

Dont include double spends in a mined block
  ironfish/src/memPool/memPool.ts
  ironfish/src/mining/__fixtures__/director.test.ts.fixture
  ironfish/src/mining/director.test.ts
  ironfish/src/mining/director.ts
  ironfish/src/testUtilities/fixtures.ts
Due: ironfish

Prevent dropped TX if bad TX shares spends
  ironfish/src/mining/director.ts
  ironfish/src/utils/async.ts
Due: ironfish

Fix miner adding double spends (#486)
  ironfish/src/memPool/memPool.ts
  ironfish/src/mining/__fixtures__/director.test.ts.fixture
  ironfish/src/mining/director.test.ts
  ironfish/src/mining/director.ts
  ironfish/src/testUtilities/fixtures.ts
  ironfish/src/utils/async.ts
Due: ironfish

Upgrade version to 0.1.7
  ironfish/package.json
Due: ironfish

Update import.ts
  ironfish-cli/src/commands/accounts/import.ts
Due: ironfish-cli, ironfish

Fix graph-explorer
  ironfish-graph-explorer/package.json
  ironfish-graph-explorer/webpack.config.js
Due: ironfish

Switch blake3 to native bindings
  ironfish/src/primitives/blockheader.ts
Due: ironfish

Various small improvements and code optimizations
  ironfish/src/account/accounts.test.slow.ts
  ironfish/src/account/accounts.ts
  ironfish/src/account/accountsdb.ts
  ironfish/src/blockchain/blockchain.test.perf.ts
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/blockchain/encoding.ts
  ironfish/src/blockchain/schema.ts
  ironfish/src/testUtilities/nodeTest.ts
Due: ironfish

Added new dependency and multithreaded instructions
  README.md
  ironfish-cli/README.md
Due: ironfish-cli, ironfish

Fix fork finder evicting non stale blocks
  ironfish-cli/src/commands/chain/forks.ts
Due: ironfish-cli, ironfish

Disable telemetry globally
  ironfish/src/telemetry/index.ts
Due: ironfish

Add field to chain:block to show if the block is on the main chain
  ironfish/src/rpc/routes/chain/getBlockInfo.ts
Due: ironfish

Reset accounts when accounts head does not exist in the chain
  ironfish/src/account/accounts.test.ts
  ironfish/src/account/accounts.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/node.ts
Due: ironfish

Fix graph-explorer (#519)
  ironfish-graph-explorer/package.json
  ironfish-graph-explorer/webpack.config.js
Due: ironfish

Reset accounts when accounts head does not exist in the chain (#540)
  ironfish/src/account/accounts.test.ts
  ironfish/src/account/accounts.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/node.ts
Due: ironfish
