Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

codecov.yml:

ignore:
  - config/*
  - ironfish-rust-nodejs/*
  - ironfish-rust-wasm/*
comment: false
github_checks:
  annotations: false
coverage:
  fixes:
    - "/home/runner/work/ironfish/ironfish/::/"
  status:
    patch:
      default:
        target: auto
        threshold: 50%
    project:
      default:
        target: 63%
      ironfish-rust:
        target: 53%
        flags:
          - ironfish-rust
      ironfish-cli:
        target: 50%
        flags:
          - ironfish-cli
      ironfish:
        target: 60%
        flags:
          - ironfish
      event:
        target: 84%
        flags:
          - event
      logger:
        target: 90%
        flags:
          - logger
      serde:
        target: 90%
        flags:
          - serde
flags:
  ironfish-rust:
    paths:
      - ironfish-rust
    carryforward: true
  ironfish-cli:
    paths:
      - ironfish-cli
    carryforward: true
  ironfish:
    paths:
      - ironfish
    carryforward: true

Return a Buffer instead of a NativeNote from decryption functions (#1025)
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/structs/note_encrypted.rs
  ironfish/src/primitives/noteEncrypted.ts
  ironfish/src/workerPool/tasks/getUnspentNotes.ts
Due: ironfish-rust, ironfish

Update RpcClient routes to use ApiNamespace enum (#1013)
  ironfish/src/rpc/clients/rpcClient.ts
Due: ironfish

Fix ordering issue in creating telemetry node id (#1027)
  ironfish-cli/src/commands/start.ts
Due: ironfish-cli, ironfish

fix(ironfish): Pass in metrics and remove peer network from telemetry (#1033)
  ironfish/src/metrics/metricsMonitor.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/node.ts
  ironfish/src/telemetry/telemetry.ts
Due: ironfish

Add telemetry status to status command (#1036)
  ironfish-cli/src/commands/status.test.ts
  ironfish-cli/src/commands/status.ts
  ironfish/src/rpc/routes/node/getStatus.ts
  ironfish/src/telemetry/telemetry.ts
Due: ironfish-cli, ironfish

Change getStatus() RPC to use new metrics gauge (#1045)
  ironfish/src/rpc/routes/node/getStatus.ts
Due: ironfish

feat(ironfish): Move metrics monitor inside telemetry (#1029)
  ironfish/src/metrics/metricsMonitor.ts
  ironfish/src/node.ts
  ironfish/src/syncer.ts
  ironfish/src/telemetry/telemetry.ts
Due: ironfish

Move telemetry tags to fields (#1026)
  ironfish/src/node.ts
  ironfish/src/telemetry/telemetry.ts
Due: ironfish

Bump version to 0.1.23 (#1028)
  ironfish-cli/package.json
Due: ironfish-cli, ironfish

feat(ironfish): Update telemetry flush and metrics intervals to 5m (#1038)
  ironfish/src/telemetry/telemetry.ts
Due: ironfish

Update messages.test.ts
  ironfish/src/network/messages.test.ts
Due: ironfish

v0.1.24 (#1044)
  ironfish-cli/package.json
Due: ironfish-cli, ironfish

Create messages.test.ts.fixture
  ironfish/src/network/__fixtures__/messages.test.ts.fixture
Due: ironfish

More commits
  ironfish/src/network/messages.test.ts
  ironfish/src/network/messages.ts
Due: ironfish

Final cleanup
  ironfish/src/network/messages.test.ts
Due: ironfish

Update messages.ts
  ironfish/src/network/messages.ts
Due: ironfish

More tests
  ironfish/src/network/messages.test.ts
Due: ironfish

Finally got something working well
  ironfish/src/network/messages.test.ts
Due: ironfish

100%
  ironfish/src/network/messages.test.ts
Due: ironfish

Rework added testcases
  ironfish/src/network/messages.test.ts
Due: ironfish

new cli command - accounts:transactions
  ironfish-cli/README.md
  ironfish-cli/src/commands/accounts/transactions.test.ts
  ironfish-cli/src/commands/accounts/transactions.ts
  ironfish/src/account/accounts.ts
  ironfish/src/rpc/clients/rpcClient.ts
  ironfish/src/rpc/routes/transactions/getTransactionNotes.ts
  ironfish/src/rpc/routes/transactions/index.ts
Due: ironfish-cli, ironfish

fix linting
  ironfish-cli/src/commands/accounts/transactions.test.ts
Due: ironfish-cli, ironfish

Delete .yarnrc
  ironfish-cli/.yarnrc
Due: ironfish-cli, ironfish

Fix '..' imports
  ironfish/src/account/accounts.ts
  ironfish/src/consensus/verifier.test.ts
  ironfish/src/fileStores/hosts.ts
  ironfish/src/memPool/memPool.test.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/peers/addressManager.ts
  ironfish/src/network/testUtilities/mockIdentity.ts
  ironfish/src/network/testUtilities/mockPrivateIdentity.ts
  ironfish/src/rpc/routes/workers/getStatus.test.ts
  ironfish/src/workerPool/job.test.slow.ts
Due: ironfish

Fix '..' imports (#1087)
  ironfish/src/account/accounts.ts
  ironfish/src/consensus/verifier.test.ts
  ironfish/src/fileStores/hosts.ts
  ironfish/src/memPool/memPool.test.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/peers/addressManager.ts
  ironfish/src/network/testUtilities/mockIdentity.ts
  ironfish/src/network/testUtilities/mockPrivateIdentity.ts
  ironfish/src/rpc/routes/workers/getStatus.test.ts
  ironfish/src/workerPool/job.test.slow.ts
Due: ironfish

added basic cli endpoint for expected fee
  ironfish-cli/src/commands/accounts/pay.ts
  ironfish/src/memPool/memPool.ts
  ironfish/src/rpc/clients/rpcClient.ts
  ironfish/src/rpc/routes/index.ts
  ironfish/src/rpc/routes/memPool/getEstimatedFee.ts
  ironfish/src/rpc/routes/memPool/index.ts
  ironfish/src/rpc/routes/router.ts
  ironfish/src/sdk.ts
Due: ironfish-cli, ironfish

addressed PR comments
  ironfish-cli/src/commands/accounts/pay.ts
  ironfish/src/memPool/memPool.ts
  ironfish/src/rpc/clients/rpcClient.ts
  ironfish/src/rpc/routes/memPool/getEstimatedFee.ts
Due: ironfish-cli, ironfish

accounts:pay and accounts:balance updates
  ironfish-cli/src/commands/accounts/balance.test.ts
  ironfish-cli/src/commands/accounts/balance.ts
  ironfish-cli/src/commands/accounts/pay.ts
  ironfish/src/account/accounts.ts
  ironfish/src/rpc/routes/accounts/getBalance.ts
  ironfish/src/utils/currency.test.ts
  ironfish/src/utils/currency.ts
Due: ironfish-cli, ironfish

add assertHasAccount() in getTransactionNotes
  ironfish/src/account/accounts.ts
Due: ironfish

remove memo from cli prompt
  ironfish-cli/src/commands/accounts/pay.ts
Due: ironfish-cli, ironfish
