Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

codecov.yml:

ignore:
  - config/*
  - ironfish-rust-nodejs/*
  - ironfish-rust-wasm/*
comment: false
github_checks:
  annotations: false
coverage:
  fixes:
    - "/home/runner/work/ironfish/ironfish/::/"
  status:
    patch:
      default:
        target: auto
        threshold: 50%
    project:
      default:
        target: 63%
      ironfish-rust:
        target: 53%
        flags:
          - ironfish-rust
      ironfish-cli:
        target: 50%
        flags:
          - ironfish-cli
      ironfish:
        target: 60%
        flags:
          - ironfish
      event:
        target: 84%
        flags:
          - event
      logger:
        target: 90%
        flags:
          - logger
      serde:
        target: 90%
        flags:
          - serde
flags:
  ironfish-rust:
    paths:
      - ironfish-rust
    carryforward: true
  ironfish-cli:
    paths:
      - ironfish-cli
    carryforward: true
  ironfish:
    paths:
      - ironfish
    carryforward: true

Check if head hashes are equal before accessing DB
  ironfish/src/chainProcessor.ts
Due: ironfish

Throttle followChain RPC route (#882)
  ironfish/src/chainProcessor.ts
  ironfish/src/rpc/routes/chain/followChain.ts
Due: ironfish

Update failing test
  ironfish/src/strategy.test.slow.ts
Due: ironfish

feat(ironfish): Add heap and rss gauges to `metricsMonitor`
  ironfish/src/metrics/gauge.ts
  ironfish/src/metrics/metricsMonitor.ts
Due: ironfish

Return to checkboxes
  .github/pull_request_template.md
Due: none

Remove extra fields and un-require others
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
Due: none

Add general issue
  .github/ISSUE_TEMPLATE/GENERAL.yml
Due: none

Change version field to input and add placeholder
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
Due: none

feat(cli,ironfish): Add memory usage to status command
  ironfish-cli/src/commands/status.test.ts
  ironfish-cli/src/commands/status.ts
  ironfish/src/rpc/routes/node/getStatus.test.ts
  ironfish/src/rpc/routes/node/getStatus.ts
Due: ironfish-cli, ironfish

Use `SetTimeoutToken` type and `null` type
  ironfish/src/metrics/gauge.ts
  ironfish/src/metrics/meter.ts
  ironfish/src/metrics/metricsMonitor.ts
  ironfish/src/mining/director.ts
  ironfish/src/network/peers/peerConnectionManager.ts
  ironfish/src/network/peers/peerManager.ts
Due: ironfish

Use memory size utility and create memory field
  ironfish-cli/src/commands/status.test.ts
  ironfish-cli/src/commands/status.ts
  ironfish/src/rpc/routes/node/getStatus.test.ts
  ironfish/src/rpc/routes/node/getStatus.ts
Due: ironfish-cli, ironfish

Upgrade axios to fix CVE-2021-3749
  ironfish-cli/package.json
  ironfish/package.json
  package.json
  yarn.lock
Due: ironfish-cli, ironfish

Create `SetIntervalToken`
  ironfish/src/metrics/meter.ts
  ironfish/src/metrics/metricsMonitor.ts
  ironfish/src/network/peers/peerManager.ts
  ironfish/src/utils/types.ts
Due: ironfish

feat(cli,ironfish): Add memory usage to status command (#890)
  ironfish-cli/src/commands/status.test.ts
  ironfish-cli/src/commands/status.ts
  ironfish/src/rpc/routes/node/getStatus.test.ts
  ironfish/src/rpc/routes/node/getStatus.ts
Due: ironfish-cli, ironfish

Remove version and logs from general template
  .github/ISSUE_TEMPLATE/GENERAL.yml
Due: none

Fix transaction withReference and use in followChain (#881)
  ironfish/src/primitives/block.ts
  ironfish/src/primitives/transaction.ts
  ironfish/src/rpc/routes/chain/followChain.ts
  ironfish/src/strategy.test.slow.ts
Due: ironfish

feat(ironfish): Add heap and rss gauges to `metricsMonitor` (#888)
  ironfish-cli/src/commands/status.test.ts
  ironfish-cli/src/commands/status.ts
  ironfish/src/metrics/gauge.ts
  ironfish/src/metrics/meter.ts
  ironfish/src/metrics/metricsMonitor.ts
  ironfish/src/mining/director.ts
  ironfish/src/network/peers/peerConnectionManager.ts
  ironfish/src/network/peers/peerManager.ts
  ironfish/src/rpc/routes/node/getStatus.test.ts
  ironfish/src/rpc/routes/node/getStatus.ts
  ironfish/src/utils/types.ts
Due: ironfish-cli, ironfish

Fix overly large faucet fee (#879)
  ironfish-cli/src/commands/service/faucet.ts
Due: ironfish-cli, ironfish

Upgrade axios to fix CVE-2021-3749 (#874)
  ironfish-cli/package.json
  ironfish/package.json
  package.json
  yarn.lock
Due: ironfish-cli, ironfish

Make batch size configurable for miner
  ironfish-cli/src/commands/miners/start.ts
  ironfish/src/fileStores/config.ts
  ironfish/src/mining/miner.test.ts
  ironfish/src/mining/miner.ts
Due: ironfish-cli, ironfish

Default batch size as 10000
  ironfish/src/fileStores/config.ts
Due: ironfish

Fix lint errors
  ironfish/src/fileStores/config.ts
Due: ironfish

Remove account and config RPC calls from TCP
  ironfish-cli/src/commands/config/show.ts
  ironfish/src/sdk.ts
Due: ironfish-cli, ironfish

Add issue template (#617)
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
  .github/ISSUE_TEMPLATE/GENERAL.yml
Due: none

Update worker pool log to be clearer
  ironfish/src/workerPool/pool.ts
Due: ironfish

Use path.join instead of concatenating paths
  ironfish/src/workerPool/worker.ts
Due: ironfish

Use path.join for worker file path (#897)
  ironfish/src/workerPool/pool.ts
  ironfish/src/workerPool/worker.ts
Due: ironfish

service:sync: Only fetch head from API when no head arg
  ironfish-cli/src/commands/service/sync.ts
Due: ironfish-cli, ironfish

Remove account and config RPC calls from TCP (#892)
  ironfish-cli/src/commands/config/show.ts
  ironfish/src/sdk.ts
Due: ironfish-cli, ironfish

service:sync: Only fetch head from API when no head arg (#887)
  ironfish-cli/src/commands/service/sync.ts
Due: ironfish-cli, ironfish

Make batch size configurable for miner (#894)
  ironfish-cli/src/commands/miners/start.ts
  ironfish/src/fileStores/config.ts
  ironfish/src/mining/miner.test.ts
  ironfish/src/mining/miner.ts
Due: ironfish-cli, ironfish

Check the API for faucet transactions before fetching balance
  ironfish-cli/src/commands/service/faucet.ts
Due: ironfish-cli, ironfish

Check the API for faucet transactions before fetching balance (#898)
  ironfish-cli/src/commands/service/faucet.ts
Due: ironfish-cli, ironfish

Bump version to 0.1.19
  ironfish/package.json
Due: ironfish
