Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

Fix a few bugs in the migration
  ironfish/src/migrations/data/013-wallet-2.ts
  ironfish/src/storage/database/store.ts
Due: ironfish

Fix crash with DB creation
  ironfish/src/migrations/data/013-wallet-2.ts
Due: ironfish

WIP
  ironfish/src/migrations/data/013-wallet-2.ts
  ironfish/src/migrations/data/013-wallet-2/new/stores.ts
  ironfish/src/migrations/data/013-wallet-2/old/stores.ts
  ironfish/src/migrations/migrator.ts
Due: ironfish

Add telemetry for RPC response times and success rate (#2177)
  ironfish/src/metrics/meter.ts
  ironfish/src/metrics/metricsMonitor.ts
  ironfish/src/metrics/rollingAverage.ts
  ironfish/src/network/messageRegistry.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/telemetry/telemetry.ts
  ironfish/src/utils/bench.ts
Due: ironfish

Version bump fix
  ironfish-cli/package.json
  ironfish-rust-nodejs/npm/darwin-arm64/package.json
  ironfish-rust-nodejs/npm/darwin-x64/package.json
  ironfish-rust-nodejs/npm/linux-arm64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-arm64-musl/package.json
  ironfish-rust-nodejs/npm/linux-x64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-x64-musl/package.json
  ironfish-rust-nodejs/npm/win32-x64-msvc/package.json
  ironfish-rust-nodejs/package.json
  ironfish/package.json
Due: ironfish-rust, ironfish-cli, ironfish

Version bump fix (#2179)
  ironfish-cli/package.json
  ironfish-rust-nodejs/npm/darwin-arm64/package.json
  ironfish-rust-nodejs/npm/darwin-x64/package.json
  ironfish-rust-nodejs/npm/linux-arm64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-arm64-musl/package.json
  ironfish-rust-nodejs/npm/linux-x64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-x64-musl/package.json
  ironfish-rust-nodejs/npm/win32-x64-msvc/package.json
  ironfish-rust-nodejs/package.json
  ironfish/package.json
Due: ironfish-rust, ironfish-cli, ironfish

Remove Sapling argument from batch_verify_transactions
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/tests.rs
Due: ironfish-rust, ironfish

Remove Sapling from {Spend|Receipt}Params
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust/src/receiving.rs
  ironfish-rust/src/spending.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/tests.rs
Due: ironfish-rust, ironfish

refactor(rust): Move note content and preimage building to util file
  ironfish-rust/src/primitives/asset_type.rs
  ironfish-rust/src/proofs/circuit/create_asset.rs
  ironfish-rust/src/proofs/circuit/mint_asset.rs
  ironfish-rust/src/proofs/circuit/mod.rs
  ironfish-rust/src/proofs/circuit/spend.rs
  ironfish-rust/src/proofs/circuit/util.rs
Due: ironfish-rust, ironfish

fix RPC stream kills process on disconnect
  ironfish/src/mining/pool.ts
  ironfish/src/mining/soloMiner.ts
  ironfish/src/rpc/clients/socketClient.ts
  ironfish/src/rpc/response.ts
  ironfish/src/rpc/stream.ts
Due: ironfish

Remove old debug code
  ironfish-cli/package.json
  ironfish/src/migrations/data/013-wallet-2.ts
Due: ironfish-cli, ironfish

Share close functionality between socket adapters
  ironfish/src/rpc/clients/ipcClient.ts
  ironfish/src/rpc/clients/socketClient.ts
  ironfish/src/rpc/clients/tcpClient.ts
Due: ironfish

fixes tests that clear in-memory wallet stores
  ironfish/src/wallet/accounts.test.slow.ts
Due: ironfish

Share close functionality between socket adapters (#2184)
  ironfish/src/rpc/clients/ipcClient.ts
  ironfish/src/rpc/clients/socketClient.ts
  ironfish/src/rpc/clients/tcpClient.ts
Due: ironfish

Added test to demonstrate failure
  ironfish/src/rpc/adapters/ipcAdapter.test.ts
Due: ironfish

Update ironfish/src/migrations/data/013-wallet-2.ts
  ironfish/src/migrations/data/013-wallet-2.ts
Due: ironfish

Move encoding test to its own file
  ironfish/src/metrics/meter.ts
  ironfish/src/storage/database.test.ts
  ironfish/src/storage/database/encoding.test.ts
Due: ironfish

Prefix wallet stores with account ID (#2146)
  ironfish-cli/src/commands/accounts/import.ts
  ironfish-cli/src/commands/migrations/start.ts
  ironfish/src/migrations/data/013-wallet-2.ts
  ironfish/src/migrations/data/013-wallet-2/new/accounts.ts
  ironfish/src/migrations/data/013-wallet-2/new/decryptedNotes.ts
  ironfish/src/migrations/data/013-wallet-2/new/stores.ts
  ironfish/src/migrations/data/013-wallet-2/new/transactions.ts
  ironfish/src/migrations/data/013-wallet-2/old/sequenceToHash.ts
  ironfish/src/migrations/data/013-wallet-2/old/stores.ts
  ironfish/src/migrations/migration.ts
  ironfish/src/migrations/migrator.ts
  ironfish/src/primitives/noteEncrypted.ts
  ironfish/src/storage/database/batch.ts
  ironfish/src/storage/database/encoding.test.ts
  ironfish/src/storage/database/encoding.ts
  ironfish/src/storage/database/store.ts
  ironfish/src/storage/database/types.ts
  ironfish/src/storage/levelup/batch.ts
  ironfish/src/utils/bench.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/accounts.test.slow.ts
  ironfish/src/wallet/database/accountValue.test.ts
  ironfish/src/wallet/database/accountValue.ts
  ironfish/src/wallet/database/accountsdb.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish-cli, ironfish

address review comments
  ironfish/src/rpc/response.ts
  ironfish/src/rpc/stream.ts
Due: ironfish

review comments
  ironfish/src/rpc/response.ts
Due: ironfish

fix tests
  ironfish/src/rpc/adapters/ipcAdapter.test.ts
Due: ironfish

use bitcoin core bloom filter
  ironfish-rust-nodejs/src/rolling_filter.rs
  ironfish/src/tests/bfilterCompat.test.ts
Due: ironfish-rust, ironfish

Move/Rename RollingFilter
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/rolling_filter.rs
  ironfish-rust/src/lib.rs
  ironfish-rust/src/rolling_filter.rs
Due: ironfish-rust, ironfish

WIP Rolling Filter ports and tests
  ironfish-rust-nodejs/Cargo.lock
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust-nodejs/src/rolling_filter.rs
  ironfish-rust/Cargo.lock
  ironfish-rust/Cargo.toml
  ironfish-rust/src/lib.rs
  ironfish-rust/src/rolling_filter.rs
  ironfish-rust/src/rolling_filter2.rs
  ironfish/src/rollingfilter.js
  ironfish/src/tests/bfilterCompat.test.ts
Due: ironfish-rust, ironfish

Test change stuff
  ironfish-rust-nodejs/Cargo.lock
  ironfish-rust-nodejs/Cargo.toml
  ironfish-rust-nodejs/src/rolling_filter.rs
  ironfish/src/tests/bfilterCompat.test.ts
Due: ironfish-rust, ironfish

Use xxhash
  ironfish-rust-nodejs/Cargo.lock
  ironfish-rust/Cargo.lock
  ironfish-rust/Cargo.toml
  ironfish-rust/src/rolling_filter.rs
  ironfish-rust/src/rolling_filter2.rs
Due: ironfish-rust, ironfish

Remove compat test file, since it isn't really useful beyond the initial perf comparison
  ironfish/src/tests/bfilterCompat.test.ts
Due: ironfish

Use new rust RollingFilter instead of JS one
  ironfish/src/network/peerNetwork.ts
Due: ironfish

fix ts-nocheck
  ironfish/src/tests/bfilterCompat.test.ts
Due: ironfish

Remove first rolling filter implementation
  ironfish-rust/src/lib.rs
  ironfish-rust/src/rolling_filter.rs
  ironfish-rust/src/rolling_filter2.rs
Due: ironfish-rust, ironfish

Cleanup the rolling filter code a bit, add a simple test
  ironfish-rust/src/rolling_filter2.rs
Due: ironfish-rust, ironfish

evict transactions cache from account
  ironfish/src/rpc/routes/accounts/getNotes.ts
  ironfish/src/rpc/routes/accounts/getTransaction.ts
  ironfish/src/rpc/routes/accounts/getTransactions.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/accounts.test.slow.ts
  ironfish/src/wallet/accounts.test.ts
  ironfish/src/wallet/database/accountsdb.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

restore saving decrypted note to database
  ironfish/src/wallet/account.ts
Due: ironfish

Move back to expected version of napi, remove old js test file
  ironfish-rust-nodejs/Cargo.lock
  ironfish-rust-nodejs/Cargo.toml
  ironfish/src/rollingfilter.js
Due: ironfish

Format nit on Cargo.toml
  ironfish-rust/Cargo.toml
Due: ironfish-rust, ironfish

evict transactions cache from account (#2188)
  ironfish/src/rpc/routes/accounts/getNotes.ts
  ironfish/src/rpc/routes/accounts/getTransaction.ts
  ironfish/src/rpc/routes/accounts/getTransactions.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/accounts.test.slow.ts
  ironfish/src/wallet/accounts.test.ts
  ironfish/src/wallet/database/accountsdb.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

Add license header
  ironfish-rust-nodejs/src/rolling_filter.rs
  ironfish-rust/src/rolling_filter.rs
Due: ironfish-rust, ironfish

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish-cli: any of: ironfish-cli, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish: any of: ironfish, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
