Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

Move IDatabaseStore.getAllIter() to IDatabase (#2670)
  ironfish/src/storage/database/database.ts
  ironfish/src/storage/database/types.ts
  ironfish/src/storage/database/utils.test.ts
  ironfish/src/storage/database/utils.ts
  ironfish/src/storage/levelup/database.ts
  ironfish/src/storage/levelup/store.ts
Due: ironfish

implements 'put' on database in storage layer (#2667)
  ironfish/src/storage/database/database.ts
  ironfish/src/storage/levelup/database.ts
  ironfish/src/storage/levelup/store.ts
Due: ironfish

implements 'get' on database in storage layer (#2663)
  ironfish/src/storage/database/database.ts
  ironfish/src/storage/levelup/database.ts
  ironfish/src/storage/levelup/store.ts
Due: ironfish

replaces unsigned transactions hashes in rpc responses
  ironfish/src/rpc/routes/accounts/getNotes.ts
  ironfish/src/rpc/routes/accounts/getTransaction.ts
  ironfish/src/rpc/routes/accounts/getTransactions.ts
  ironfish/src/rpc/routes/accounts/types.ts
  ironfish/src/rpc/routes/chain/followChain.ts
  ironfish/src/rpc/routes/chain/getBlock.ts
  ironfish/src/rpc/routes/chain/getBlockInfo.ts
  ironfish/src/rpc/routes/chain/getTransaction.ts
  ironfish/src/rpc/routes/chain/getTransactionStream.ts
  ironfish/src/rpc/routes/transactions/sendTransaction.test.ts
  ironfish/src/rpc/routes/transactions/sendTransaction.ts
  ironfish/src/wallet/account.ts
Due: ironfish

Remove ability to customize database names
  ironfish-cli/src/command.ts
  ironfish-cli/src/commands/chain/genesisblock.ts
  ironfish-cli/src/commands/reset.ts
  ironfish-cli/src/commands/start.ts
  ironfish-cli/src/flags.ts
  ironfish/src/fileStores/config.ts
  ironfish/src/node.ts
  ironfish/src/sdk.test.ts
  ironfish/src/sdk.ts
Due: ironfish-cli, ironfish

Remove ability to customize database names (#2683)
  ironfish-cli/src/command.ts
  ironfish-cli/src/commands/chain/genesisblock.ts
  ironfish-cli/src/commands/reset.ts
  ironfish-cli/src/commands/start.ts
  ironfish-cli/src/flags.ts
  ironfish/src/fileStores/config.ts
  ironfish/src/node.ts
  ironfish/src/sdk.test.ts
  ironfish/src/sdk.ts
Due: ironfish-cli, ironfish

Convert properties to fields
  ironfish/src/fileStores/config.ts
Due: ironfish

replaces unsigned transactions hashes in rpc responses (#2684)
  ironfish/src/rpc/routes/accounts/getNotes.ts
  ironfish/src/rpc/routes/accounts/getTransaction.ts
  ironfish/src/rpc/routes/accounts/getTransactions.ts
  ironfish/src/rpc/routes/accounts/types.ts
  ironfish/src/rpc/routes/chain/followChain.ts
  ironfish/src/rpc/routes/chain/getBlock.ts
  ironfish/src/rpc/routes/chain/getBlockInfo.ts
  ironfish/src/rpc/routes/chain/getTransaction.ts
  ironfish/src/rpc/routes/chain/getTransactionStream.ts
  ironfish/src/rpc/routes/transactions/sendTransaction.test.ts
  ironfish/src/rpc/routes/transactions/sendTransaction.ts
  ironfish/src/wallet/account.ts
Due: ironfish

Move specialized logic into KeyStore
  ironfish/src/fileStores/config.test.ts
  ironfish/src/fileStores/config.ts
  ironfish/src/fileStores/keyStore.test.ts
  ironfish/src/fileStores/keyStore.ts
  ironfish/src/node.ts
Due: ironfish

Move specialized logic into KeyStore (#2685)
  ironfish/src/fileStores/config.test.ts
  ironfish/src/fileStores/config.ts
  ironfish/src/fileStores/keyStore.test.ts
  ironfish/src/fileStores/keyStore.ts
  ironfish/src/node.ts
Due: ironfish

feat(ironfish): Add assets store to blockchain (#2677)
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/blockchain/database/assets.test.ts
  ironfish/src/blockchain/database/assets.ts
  ironfish/src/blockchain/schema.ts
Due: ironfish

feat: masp transaction syncer tester (#2628)
  ironfish-cli/src/commands/service/sync-masp-transactions.ts
  ironfish/src/webApi.ts
Due: ironfish-cli, ironfish

Convert properties to fields (#2687)
  ironfish/src/fileStores/config.ts
Due: ironfish

Fix KeyStore not saving value if matching default
  ironfish/src/fileStores/keyStore.test.ts
  ironfish/src/fileStores/keyStore.ts
Due: ironfish

Expanded the test
  ironfish/src/fileStores/keyStore.test.ts
Due: ironfish

Materialize config defaults
  ironfish/src/fileStores/config.ts
  ironfish/src/rpc/routes/config/getConfig.test.ts
  ironfish/src/utils/yup.test.ts
Due: ironfish

Fix KeyStore not saving value if matching default (#2688)
  ironfish/src/fileStores/keyStore.test.ts
  ironfish/src/fileStores/keyStore.ts
Due: ironfish

Restore deleted key
  ironfish/src/fileStores/config.ts
Due: ironfish

Change URL
  ironfish/src/utils/yup.test.ts
Due: ironfish

Materialize config defaults (#2689)
  ironfish/src/fileStores/config.ts
  ironfish/src/rpc/routes/config/getConfig.test.ts
  ironfish/src/utils/yup.test.ts
Due: ironfish

feat(ironfish,rust-nodejs): Update assets store when updating blocks
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/structs/asset.rs
  ironfish-rust/src/assets/asset.rs
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/blockchain/database/__fixtures__/assets.test.ts.fixture
  ironfish/src/blockchain/database/assets.test.ts
  ironfish/src/blockchain/database/assets.ts
  ironfish/src/primitives/burnDescription.ts
  ironfish/src/primitives/mintDescription.ts
  ironfish/src/primitives/transaction.ts
Due: ironfish-rust, ironfish

feat: masp transaction syncer
  ironfish-cli/src/commands/service/sync-masp-transactions.ts
Due: ironfish-cli, ironfish

Cleanup
  ironfish-cli/src/commands/service/sync-masp-transactions.ts
Due: ironfish-cli, ironfish

Clean up assert
  ironfish-cli/src/commands/service/sync-masp-transactions.ts
Due: ironfish-cli, ironfish

Move maxSyncedAgeBlocks to config from consensus
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/consensus/consensus.ts
  ironfish/src/defaultNetworkDefinitions.ts
  ironfish/src/fileStores/config.ts
  ironfish/src/networkDefinition.ts
  ironfish/src/node.ts
  ironfish/src/rpc/routes/chain/getConsensusParameters.test.ts
  ironfish/src/rpc/routes/chain/getConsensusParameters.ts
  ironfish/src/strategy.test.slow.ts
  ironfish/src/strategy.test.ts
Due: ironfish

WIP
  ironfish-cli/src/commands/chain/genesisblock.ts
  ironfish/src/genesis/makeGenesisBlock.ts
Due: ironfish-cli, ironfish

WIP
  ironfish-cli/src/commands/chain/genesisblock.ts
  ironfish/src/genesis/genesis.test.slow.ts
  ironfish/src/genesis/makeGenesisBlock.ts
Due: ironfish-cli, ironfish

Move maxSyncedAgeBlocks to config from consensus (#2691)
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/consensus/consensus.ts
  ironfish/src/defaultNetworkDefinitions.ts
  ironfish/src/fileStores/config.ts
  ironfish/src/networkDefinition.ts
  ironfish/src/node.ts
  ironfish/src/rpc/routes/chain/getConsensusParameters.test.ts
  ironfish/src/rpc/routes/chain/getConsensusParameters.ts
  ironfish/src/strategy.test.slow.ts
  ironfish/src/strategy.test.ts
Due: ironfish

Add back test to verify genesis block transaction in worker pool
  ironfish/src/workerPool/job.test.slow.ts
Due: ironfish

Add back test to verify genesis block transaction in worker pool (#2692)
  ironfish/src/workerPool/job.test.slow.ts
Due: ironfish

Adjust comment
  ironfish-cli/src/commands/chain/genesisblock.ts
Due: ironfish-cli, ironfish

More renaming
  ironfish-cli/src/commands/chain/genesisblock.ts
Due: ironfish-cli, ironfish

feat: masp transaction syncer (#2544)
  ironfish-cli/src/commands/service/sync-masp-transactions.ts
Due: ironfish-cli, ironfish

tweak network definitions
  ironfish-cli/src/commands/chain/genesisblock.ts
  ironfish/src/defaultNetworkDefinitions.ts
  ironfish/src/node.ts
Due: ironfish-cli, ironfish

tweak network definitions (#2690)
  ironfish-cli/src/commands/chain/genesisblock.ts
  ironfish/src/defaultNetworkDefinitions.ts
  ironfish/src/node.ts
Due: ironfish-cli, ironfish

WIP
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/primitives/transaction.test.slow.ts
  ironfish/src/primitives/transaction.ts
  ironfish/src/testUtilities/fixtures.ts
  ironfish/src/wallet/wallet.test.slow.ts
  ironfish/src/wallet/wallet.ts
  ironfish/src/workerPool/pool.ts
  ironfish/src/workerPool/tasks/createTransaction.ts
  yarn.lock
Due: ironfish

Delete minedBlockIndexer
  ironfish-cli/src/commands/backup.ts
  ironfish-cli/src/commands/miners/mined.ts
  ironfish-cli/src/commands/reset.ts
  ironfish/src/fileStores/config.ts
  ironfish/src/indexers/__fixtures__/minedBlocksIndexer.test.ts.fixture
  ironfish/src/indexers/database/accountsToRemove.test.ts
  ironfish/src/indexers/database/accountsToRemove.ts
  ironfish/src/indexers/database/meta.test.ts
  ironfish/src/indexers/database/meta.ts
  ironfish/src/indexers/database/minedBlock.test.ts
  ironfish/src/indexers/database/minedBlock.ts
  ironfish/src/indexers/database/sequenceToHashes.test.ts
  ironfish/src/indexers/database/sequenceToHashes.ts
  ironfish/src/indexers/minedBlocksIndexer.test.ts
  ironfish/src/indexers/minedBlocksIndexer.ts
  ironfish/src/migrations/data/012-indexer.ts
  ironfish/src/migrations/data/index.ts
  ironfish/src/node.ts
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/mining/exportMined.ts
  ironfish/src/rpc/routes/mining/index.ts
Due: ironfish-cli, ironfish

Change genesisSupplyInIron to string
  ironfish-cli/src/commands/chain/genesisblock.ts
Due: ironfish-cli, ironfish

Fix lint
  ironfish/src/genesis/genesis.test.slow.ts
  ironfish/src/genesis/makeGenesisBlock.ts
Due: ironfish

Add --dryRun and duplicate detection
  ironfish-cli/src/commands/chain/genesisblock.ts
Due: ironfish-cli, ironfish

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish-cli: any of: ironfish-cli, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish: any of: ironfish, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
