Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

codecov.yml:

ignore:
  - config/*
  - ironfish-rust-nodejs/*
  - ironfish-rust-wasm/*
comment: false
github_checks:
  annotations: false
coverage:
  fixes:
    - "/home/runner/work/ironfish/ironfish/::/"
  status:
    patch:
      default:
        target: auto
        threshold: 0%
    project:
      default:
        target: 10%
      ironfish-rust:
        target: 10%
        flags:
          - ironfish-rust
      ironfish-cli:
        target: 10%
        flags:
          - ironfish-cli
      ironfish:
        target: 10%
        flags:
          - ironfish
      event:
        target: 84%
        flags:
          - event
      logger:
        target: 90%
        flags:
          - logger
      serde:
        target: 90%
        flags:
          - serde
flags:
  ironfish-rust:
    paths:
      - ironfish-rust
    carryforward: true
  ironfish-cli:
    paths:
      - ironfish-cli
    carryforward: true
  ironfish:
    paths:
      - ironfish
    carryforward: true

delete hosts file on reset command
  ironfish-cli/src/commands/reset.ts
  ironfish/src/fileStores/hosts.ts
Due: ironfish-cli, ironfish

delete hosts file on reset command (#1288)
  ironfish-cli/src/commands/reset.ts
  ironfish/src/fileStores/hosts.ts
Due: ironfish-cli, ironfish

Miner cmd: add hashrate as rich cli ux action (#1284)
  ironfish-cli/src/commands/miners/start.ts
Due: ironfish-cli, ironfish

Bump versions to 0.0.10, 0.1.32, 0.1.6
  ironfish-cli/package.json
  ironfish-rust-nodejs/npm/darwin-arm64/package.json
  ironfish-rust-nodejs/npm/darwin-x64/package.json
  ironfish-rust-nodejs/npm/linux-arm64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-arm64-musl/package.json
  ironfish-rust-nodejs/npm/linux-x64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-x64-musl/package.json
  ironfish-rust-nodejs/npm/win32-x64-msvc/package.json
  ironfish-rust-nodejs/package.json
  ironfish/package.json
Due: ironfish-rust, ironfish-cli, ironfish

Generate new genesis block and save old genesis block
  ironfish/src/genesis/genesisBlock.ts
  ironfish/src/genesis/genesisBlockDev.ts
Due: ironfish

Bump network version
  ironfish/src/network/version.ts
Due: ironfish

Bump database versions
  ironfish/src/account/accountsdb.ts
  ironfish/src/blockchain/blockchain.ts
Due: ironfish

Unmock createTransaction slow test
  ironfish/src/workerPool/tasks/createTransaction.test.slow.ts
Due: ironfish

Update mining manager slow test
  ironfish/src/mining/manager.test.slow.ts
Due: ironfish

Remove update synced test
  ironfish/src/blockchain/blockchain.test.ts
Due: ironfish

Update manager slow test to accept any work
  ironfish/src/mining/manager.test.slow.ts
Due: ironfish

Update fixtures
  ironfish/src/account/__fixtures__/accounts.test.slow.ts.fixture
  ironfish/src/account/__fixtures__/accounts.test.ts.fixture
  ironfish/src/blockchain/__fixtures__/blockchain.test.perf.ts.fixture
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/consensus/__fixtures__/verifier.test.ts.fixture
  ironfish/src/memPool/__fixtures__/memPool.test.ts.fixture
  ironfish/src/mining/__fixtures__/manager.test.slow.ts.fixture
  ironfish/src/mining/__fixtures__/manager.test.ts.fixture
  ironfish/src/network/__fixtures__/messages.test.ts.fixture
  ironfish/src/primitives/__fixtures__/block.test.ts.fixture
  ironfish/src/primitives/__fixtures__/transaction.test.slow.ts.fixture
  ironfish/src/rpc/routes/chain/__fixtures__/getBlock.test.ts.fixture
  ironfish/src/rpc/routes/mining/__fixtures__/blockTemplateStream.test.slow.ts.fixture
  ironfish/src/rpc/routes/transactions/__fixtures__/sendTransaction.test.ts.fixture
  ironfish/src/workerPool/tasks/__fixtures__/createMinersFee.test.ts.fixture
  ironfish/src/workerPool/tasks/__fixtures__/createTransaction.test.slow.ts.fixture
  ironfish/src/workerPool/tasks/__fixtures__/getUnspentNotes.test.ts.fixture
  ironfish/src/workerPool/tasks/__fixtures__/transactionFee.test.ts.fixture
  ironfish/src/workerPool/tasks/__fixtures__/verifyTransaction.test.ts.fixture
Due: ironfish

Bump genesis block for phase 2 (#1297)
  ironfish/src/account/__fixtures__/accounts.test.slow.ts.fixture
  ironfish/src/account/__fixtures__/accounts.test.ts.fixture
  ironfish/src/account/accountsdb.ts
  ironfish/src/blockchain/__fixtures__/blockchain.test.perf.ts.fixture
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/consensus/__fixtures__/verifier.test.ts.fixture
  ironfish/src/genesis/genesisBlock.ts
  ironfish/src/genesis/genesisBlockDev.ts
  ironfish/src/memPool/__fixtures__/memPool.test.ts.fixture
  ironfish/src/mining/__fixtures__/manager.test.slow.ts.fixture
  ironfish/src/mining/__fixtures__/manager.test.ts.fixture
  ironfish/src/mining/manager.test.slow.ts
  ironfish/src/network/__fixtures__/messages.test.ts.fixture
  ironfish/src/network/version.ts
  ironfish/src/primitives/__fixtures__/block.test.ts.fixture
  ironfish/src/primitives/__fixtures__/transaction.test.slow.ts.fixture
  ironfish/src/rpc/routes/chain/__fixtures__/getBlock.test.ts.fixture
  ironfish/src/rpc/routes/mining/__fixtures__/blockTemplateStream.test.slow.ts.fixture
  ironfish/src/rpc/routes/transactions/__fixtures__/sendTransaction.test.ts.fixture
  ironfish/src/workerPool/tasks/__fixtures__/createMinersFee.test.ts.fixture
  ironfish/src/workerPool/tasks/__fixtures__/createTransaction.test.slow.ts.fixture
  ironfish/src/workerPool/tasks/__fixtures__/getUnspentNotes.test.ts.fixture
  ironfish/src/workerPool/tasks/__fixtures__/transactionFee.test.ts.fixture
  ironfish/src/workerPool/tasks/__fixtures__/verifyTransaction.test.ts.fixture
  ironfish/src/workerPool/tasks/createTransaction.test.slow.ts
Due: ironfish

Bump versions to 0.0.10, 0.1.32, 0.1.6 (#1296)
  ironfish-cli/package.json
  ironfish-rust-nodejs/npm/darwin-arm64/package.json
  ironfish-rust-nodejs/npm/darwin-x64/package.json
  ironfish-rust-nodejs/npm/linux-arm64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-arm64-musl/package.json
  ironfish-rust-nodejs/npm/linux-x64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-x64-musl/package.json
  ironfish-rust-nodejs/npm/win32-x64-msvc/package.json
  ironfish-rust-nodejs/package.json
  ironfish/package.json
Due: ironfish-rust, ironfish-cli, ironfish

if there is no default account on startup, create one
  ironfish-cli/src/commands/start.ts
Due: ironfish-cli, ironfish

feat(ironfish): Bump down log level for non-buffer messages
  ironfish/src/network/peers/connections/webSocketConnection.ts
Due: ironfish

refactor(cli): Fix typo when starting miner
  ironfish-cli/src/commands/miners/start.ts
Due: ironfish-cli, ironfish

refactor(cli): Fix typo when starting miner (#1299)
  ironfish-cli/src/commands/miners/start.ts
Due: ironfish-cli, ironfish

feat(ironfish): Bump down log level for non-buffer messages (#1298)
  ironfish/src/network/peers/connections/webSocketConnection.ts
Due: ironfish

Updated docker-compose version and documentation
  tools/Docker.md
  tools/docker-compose.yml
Due: none

Added -v (verbose log) option for miner
  tools/docker-compose.yml
Due: none

if there is no default account on startup, create one (#1300)
  ironfish-cli/src/commands/start.ts
Due: ironfish-cli, ironfish

Revert "if there is no default account on startup, create one (#1300)"
  ironfish-cli/src/commands/start.ts
Due: ironfish-cli, ironfish

Revert "if there is no default account on startup, create one (#1300)" (#1323)
  ironfish-cli/src/commands/start.ts
Due: ironfish-cli, ironfish

if there is no default account on startup, create one (#1324)
  ironfish-cli/src/commands/start.ts
Due: ironfish-cli, ironfish

Throw error if API status code is over 500
  ironfish-cli/src/commands/deposit.ts
  ironfish/src/webApi.ts
Due: ironfish-cli, ironfish

Fix lint
  ironfish-cli/src/commands/deposit.ts
Due: ironfish-cli, ironfish

Address Rohan feedback
  ironfish-cli/src/commands/deposit.ts
  ironfish/src/webApi.ts
Due: ironfish-cli, ironfish

Fix incorrect registered graffiti error (#1325)
  ironfish-cli/src/commands/deposit.ts
  ironfish/src/webApi.ts
Due: ironfish-cli, ironfish

fix deposit --expirationSequence flag
  ironfish-cli/src/commands/deposit.ts
Due: ironfish-cli, ironfish

fix deposit --expirationSequence flag (#1329)
  ironfish-cli/src/commands/deposit.ts
Due: ironfish-cli, ironfish

Sync transactions counts transactions in buffer instead of blocks
  ironfish-cli/src/commands/service/syncTransactions.ts
Due: ironfish-cli, ironfish

Update string.ts
  ironfish/src/utils/string.ts
Due: ironfish

Drop transactions during syncing sooner
  ironfish/src/network/peerNetwork.ts
Due: ironfish

drop transactions when syncing sooner
  ironfish/src/network/peerNetwork.ts
Due: ironfish

Add a try-catch around new block creation
  ironfish/src/rpc/routes/mining/__fixtures__/blockTemplateStream.test.slow.ts.fixture
  ironfish/src/rpc/routes/mining/blockTemplateStream.test.slow.ts
  ironfish/src/rpc/routes/mining/blockTemplateStream.ts
  ironfish/src/testUtilities/routeTest.ts
Due: ironfish

Sync transactions counts transactions in buffer instead of blocks (#1330)
  ironfish-cli/src/commands/service/syncTransactions.ts
Due: ironfish-cli, ironfish

Preserve some state when running tests
  ironfish/src/rpc/routes/accounts/getPublicKey.test.ts
  ironfish/src/rpc/routes/accounts/utils.test.ts
  ironfish/src/rpc/routes/transactions/sendTransaction.test.ts
Due: ironfish

memPool checks for duplicated nullifiers when adding transactions
  ironfish/src/memPool/memPool.ts
Due: ironfish
