Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

codecov.yml:

ignore:
  - config/*
  - ironfish-rust-nodejs/*
  - ironfish-rust-wasm/*
comment: false
github_checks:
  annotations: false
coverage:
  fixes:
    - "/home/runner/work/ironfish/ironfish/::/"
  status:
    patch:
      default:
        target: auto
        threshold: 0%
    project:
      default:
        target: 10%
      ironfish-rust:
        target: 10%
        flags:
          - ironfish-rust
      ironfish-cli:
        target: 10%
        flags:
          - ironfish-cli
      ironfish:
        target: 10%
        flags:
          - ironfish
flags:
  ironfish-rust:
    paths:
      - ironfish-rust
    carryforward: true
  ironfish-cli:
    paths:
      - ironfish-cli
    carryforward: true
  ironfish:
    paths:
      - ironfish
    carryforward: true

renames importSnapshot to chain:download
  ironfish-cli/src/commands/chain/download.ts
Due: ironfish-cli, ironfish

typo
  ironfish/src/network/transactionFetcher.ts
Due: ironfish

renames importSnapshot to chain:download (#1934)
  ironfish-cli/src/commands/chain/download.ts
Due: ironfish-cli, ironfish

Fix backup command by using snapshot upload (#1932)
  ironfish-cli/src/commands/backup.ts
  ironfish-cli/src/commands/restore.ts
  ironfish-cli/src/commands/service/snapshot.ts
  ironfish-cli/src/utils/index.ts
  ironfish-cli/src/utils/s3.ts
  ironfish-cli/src/utils/tar.ts
Due: ironfish-cli, ironfish

Move snapshots out of utils
  ironfish-cli/src/commands/chain/download.ts
  ironfish-cli/src/commands/service/snapshot.ts
  ironfish-cli/src/snapshot.ts
  ironfish-cli/src/utils/index.ts
Due: ironfish-cli, ironfish

Provide the default bucket URL in the parameters
  ironfish-cli/src/commands/chain/download.ts
Due: ironfish-cli, ironfish

Validate config file settings
  ironfish/src/fileStores/config.ts
Due: ironfish

Dont resolve tempDir
  ironfish-cli/src/commands/chain/download.ts
Due: ironfish-cli, ironfish

broadcast transaction by hash when tx is created
  ironfish/src/network/peerNetwork.ts
Due: ironfish

Make sure to pass explaination message to both error cases
  ironfish/src/merkletree/merkletree.ts
Due: ironfish

Move snapshots out of utils (#1935)
  ironfish-cli/src/commands/chain/download.ts
  ironfish-cli/src/commands/service/snapshot.ts
  ironfish-cli/src/snapshot.ts
  ironfish-cli/src/utils/index.ts
Due: ironfish-cli, ironfish

Remove dots because oclif already adds them
  ironfish-cli/src/commands/chain/download.ts
Due: ironfish-cli, ironfish

Simplify message returning
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/blockchain/blockchain.ts
Due: ironfish

Update expected error reasons
  ironfish/src/consensus/verifier.test.ts
Due: ironfish

remove uneccesary log on rpc response
  ironfish/src/network/peerNetwork.ts
Due: ironfish

Dont resolve tempDir (#1937)
  ironfish-cli/src/commands/chain/download.ts
Due: ironfish-cli, ironfish

Remove dots because oclif already adds them (#1938)
  ironfish-cli/src/commands/chain/download.ts
Due: ironfish-cli, ironfish

fix isUpgraded
  ironfish/src/network/peerNetwork.ts
Due: ironfish

Provide the default bucket URL in the parameters (#1936)
  ironfish-cli/src/commands/chain/download.ts
Due: ironfish-cli, ironfish

added new tests for sqrt of peers and created txs
  ironfish/src/network/__fixtures__/peerNetwork.test.ts.fixture
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/testUtilities/helpers.ts
  ironfish/src/network/transactionFetcher.test.ts
Due: ironfish

Fixed a bug where not all errors were handled properly
  ironfish-cli/src/commands/debug.ts
Due: ironfish-cli, ironfish

Fix linter warnings
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/merkletree/merkletree.ts
Due: ironfish

Dont restart syncing if the API does not respond
  ironfish/src/webApi.ts
Due: ironfish

WIP
  ironfish/src/account/accounts.ts
  ironfish/src/account/errors.ts
  ironfish/src/mining/poolShares.ts
  ironfish/src/rpc/routes/transactions/sendTransaction.ts
Due: ironfish

Add support for transfering custom assets
  ironfish-rust/src/primitives/asset_type.rs
  ironfish-rust/src/receiving.rs
  ironfish-rust/src/spending.rs
  ironfish-rust/src/transaction/miners_fee.rs
  ironfish-rust/src/transaction/transfer.rs
Due: ironfish-rust, ironfish

Add support for transfering custom assets (#1946)
  ironfish-rust/src/primitives/asset_type.rs
  ironfish-rust/src/receiving.rs
  ironfish-rust/src/spending.rs
  ironfish-rust/src/transaction/miners_fee.rs
  ironfish-rust/src/transaction/transfer.rs
Due: ironfish-rust, ironfish

Dont restart syncing if the API does not respond (#1944)
  ironfish/src/webApi.ts
Due: ironfish

Switch download to use manifestUrl
  ironfish-cli/src/commands/chain/download.ts
  ironfish-cli/src/utils/url.ts
Due: ironfish-cli, ironfish

Fixed a spelling mistake
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/merkletree/merkletree.ts
Due: ironfish

Switch download to use manifestUrl (#1947)
  ironfish-cli/src/commands/chain/download.ts
  ironfish-cli/src/utils/url.ts
Due: ironfish-cli, ironfish

replaces s3 bucket url with cloudfront url in chain:snapshot
  ironfish-cli/src/commands/chain/download.ts
  ironfish-cli/src/commands/service/snapshot.ts
  ironfish-cli/src/snapshot.ts
Due: ironfish-cli, ironfish

cleans up remaining use of DEFAULT_SNAPSHOT_BUCKET
  ironfish-cli/src/commands/service/snapshot.ts
Due: ironfish-cli, ironfish

replaces s3 bucket url with cloudfront url in chain:snapshot (#1949)
  ironfish-cli/src/commands/chain/download.ts
  ironfish-cli/src/commands/service/snapshot.ts
  ironfish-cli/src/snapshot.ts
Due: ironfish-cli, ironfish

Move nacl code into separate files for cleanliness, rename tweetnacl to nacl
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust-nodejs/src/nacl.rs
  ironfish-rust/src/lib.rs
  ironfish-rust/src/nacl.rs
Due: ironfish-rust, ironfish

uses 'manifest.json' for s3 key name
  ironfish-cli/src/commands/service/snapshot.ts
Due: ironfish-cli, ironfish

Add unit tests for rust nacl code
  ironfish-rust/src/nacl.rs
Due: ironfish-rust, ironfish

Add total memory and OS CPU core count to startup telemetry
  ironfish/src/metrics/metricsMonitor.ts
  ironfish/src/telemetry/telemetry.ts
Due: ironfish

fix linting
  ironfish/src/network/testUtilities/helpers.ts
Due: ironfish

uses 'manifest.json' for s3 key name (#1950)
  ironfish-cli/src/commands/service/snapshot.ts
Due: ironfish-cli, ironfish

Remove debug_assert
  ironfish-rust/src/nacl.rs
Due: ironfish-rust, ironfish
