Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

codecov.yml:

ignore:
  - config/*
  - ironfish-rust-nodejs/*
  - ironfish-rust-wasm/*
comment: false
github_checks:
  annotations: false
coverage:
  fixes:
    - "/home/runner/work/ironfish/ironfish/::/"
  status:
    patch:
      default:
        target: auto
        threshold: 0%
    project:
      default:
        target: 10%
      ironfish-rust:
        target: 10%
        flags:
          - ironfish-rust
      ironfish-cli:
        target: 10%
        flags:
          - ironfish-cli
      ironfish:
        target: 10%
        flags:
          - ironfish
flags:
  ironfish-rust:
    paths:
      - ironfish-rust
    carryforward: true
  ironfish-cli:
    paths:
      - ironfish-cli
    carryforward: true
  ironfish:
    paths:
      - ironfish
    carryforward: true

Add Estimated time remaining to ceremony command
  ironfish-cli/src/commands/ceremony.ts
Due: ironfish-cli, ironfish

Update CONTRIBUTING.md (#3183)
  CONTRIBUTING.md
Due: none

updates CLI transactions list UX
  ironfish-cli/src/commands/wallet/transactions.ts
Due: ironfish-cli, ironfish

fixes confirmed balance calculation for transactions without change (#3129)
  ironfish/src/wallet/__fixtures__/account.test.ts.fixture
  ironfish/src/wallet/account.test.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish

Cherry pick account versions
  ironfish/src/rpc/routes/wallet/exportAccount.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.ts
  ironfish/src/wallet/walletdb/accountValue.test.ts
  ironfish/src/wallet/walletdb/accountValue.ts
Due: ironfish

trusted-setup: Fix server IP banning (#3215)
  ironfish-cli/src/trusted-setup/server.ts
Due: ironfish-cli, ironfish

ironfish-phase2: Check curve parameters in parallel (#3150)
  ironfish-mpc/src/bin/verify_transform.rs
  ironfish-phase2/src/lib.rs
Due: ironfish

Move mint data to raw transaction class
  ironfish/src/primitives/mintData.ts
  ironfish/src/primitives/rawTransaction.test.ts
  ironfish/src/primitives/rawTransaction.ts
  ironfish/src/rpc/routes/wallet/createTransaction.ts
  ironfish/src/testUtilities/fixtures/blocks.ts
  ironfish/src/testUtilities/fixtures/transactions.ts
  ironfish/src/testUtilities/helpers/transaction.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

updates CLI transactions list UX (#3221)
  ironfish-cli/src/commands/wallet/transactions.ts
Due: ironfish-cli, ironfish

fixes syncing transactions with no change (#3211)
  ironfish/src/wallet/__fixtures__/wallet.test.ts.fixture
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

Add post description
  ironfish-cli/src/commands/wallet/post.ts
Due: ironfish-cli, ironfish

Add wallet:post command
  ironfish-cli/src/commands/wallet/post.ts
Due: ironfish-cli, ironfish

adds transactionAmounts datastore to walletDb
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/walletdb/transactionAmountsValue.test.ts
  ironfish/src/wallet/walletdb/transactionAmountsValue.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish

updates transactionAmounts from account
  ironfish/src/wallet/__fixtures__/account.test.ts.fixture
  ironfish/src/wallet/account.test.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish

send correct queue location
  ironfish-cli/src/trusted-setup/server.ts
Due: ironfish-cli, ironfish

adds transactionAmounts datastore to walletDb (#3162)
  ironfish/src/wallet/__fixtures__/account.test.ts.fixture
  ironfish/src/wallet/account.test.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/walletdb/transactionAmountsValue.test.ts
  ironfish/src/wallet/walletdb/transactionAmountsValue.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish

adds a migration to backfill transactionAmounts
  ironfish/src/migrations/data/017-transaction-amounts.ts
  ironfish/src/migrations/data/index.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish

send correct queue location ceremony server (#3224)
  ironfish-cli/src/trusted-setup/server.ts
Due: ironfish-cli, ironfish

Add confirmation
  ironfish-cli/src/commands/wallet/post.ts
Due: ironfish-cli, ironfish

Aded post message information
  ironfish-cli/src/commands/wallet/post.ts
Due: ironfish-cli, ironfish

Remove authorization validation
  ironfish/src/primitives/rawTransaction.test.ts
  ironfish/src/primitives/rawTransaction.ts
  ironfish/src/rpc/routes/wallet/createTransaction.ts
  ironfish/src/testUtilities/fixtures/blocks.ts
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
Due: ironfish

Pass account through to the post transaction API
  ironfish-cli/src/commands/wallet/post.ts
  ironfish/src/rpc/routes/wallet/postTransaction.ts
Due: ironfish-cli, ironfish

calculates available balance
  ironfish/src/rpc/routes/wallet/getBalance.ts
  ironfish/src/rpc/routes/wallet/getBalances.test.ts
  ironfish/src/rpc/routes/wallet/getBalances.ts
  ironfish/src/rpc/routes/wallet/sendTransaction.test.ts
  ironfish/src/wallet/__fixtures__/account.test.ts.fixture
  ironfish/src/wallet/account.test.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish

feat(ironfish): Add explicit payout period to mining pool
  ironfish/src/fileStores/config.ts
  ironfish/src/mining/pool.ts
  ironfish/src/mining/poolDatabase/database.ts
  ironfish/src/mining/poolDatabase/migrations/006-add-payout-period-table.ts
  ironfish/src/mining/poolDatabase/migrations/index.ts
  ironfish/src/mining/poolShares.ts
Due: ironfish

feat: mnemonic export
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust/src/keys/mod.rs
  ironfish-rust/src/keys/test.rs
Due: ironfish-rust, ironfish

feat: add cli support for mnemonic
  ironfish-cli/src/commands/wallet/export.ts
  ironfish-cli/src/utils/language.ts
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust/src/keys/mod.rs
  ironfish-rust/src/keys/test.rs
Due: ironfish-rust, ironfish-cli, ironfish

feat: import from words mnemonic
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust-nodejs/tests/demo.test.slow.ts
  ironfish-rust/src/keys/mod.rs
  ironfish-rust/src/keys/test.rs
Due: ironfish-rust, ironfish

adds available balance to cli balance commands
  ironfish-cli/src/commands/wallet/balance.ts
  ironfish-cli/src/commands/wallet/balances.ts
Due: ironfish-cli, ironfish

feat: import from words mnemonic (#3218)
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust-nodejs/tests/demo.test.slow.ts
  ironfish-rust/src/keys/mod.rs
  ironfish-rust/src/keys/test.rs
Due: ironfish-rust, ironfish

feat: export mnemonic cli (2/2) (#3207)
  ironfish-cli/src/commands/wallet/export.ts
  ironfish-cli/src/utils/language.ts
Due: ironfish-cli, ironfish

Move bech32 from root to cli
  ironfish-cli/package.json
  ironfish/package.json
Due: ironfish-cli, ironfish

Exported accounts have a version
  ironfish/src/rpc/routes/wallet/exportAccount.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/walletdb/accountValue.ts
Due: ironfish

Update package.json
  ironfish/package.json
Due: ironfish

Update export.ts
  ironfish-cli/src/commands/wallet/export.ts
Due: ironfish-cli, ironfish

uses available balance when creating transactions
  ironfish-cli/src/commands/wallet/send.ts
  ironfish/src/rpc/routes/wallet/createTransaction.ts
Due: ironfish-cli, ironfish

Use spending key in post
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/primitives/rawTransaction.test.ts
  ironfish/src/primitives/rawTransaction.ts
  ironfish/src/primitives/transaction.test.slow.ts
  ironfish/src/rpc/routes/wallet/createTransaction.test.slow.ts
  ironfish/src/rpc/routes/wallet/mintAsset.test.ts
  ironfish/src/rpc/routes/wallet/postTransaction.test.ts
  ironfish/src/rpc/routes/wallet/postTransaction.ts
  ironfish/src/testUtilities/fixtures/blocks.ts
  ironfish/src/testUtilities/fixtures/transactions.ts
  ironfish/src/wallet/wallet.test.slow.ts
  ironfish/src/wallet/wallet.test.ts
  ironfish/src/wallet/wallet.ts
  ironfish/src/workerPool/pool.ts
  ironfish/src/workerPool/tasks/postTransaction.test.ts
  ironfish/src/workerPool/tasks/postTransaction.ts
Due: ironfish

Update tests
  ironfish/src/rpc/routes/wallet/__fixtures__/postTransaction.test.ts.fixture
  ironfish/src/rpc/routes/wallet/postTransaction.test.ts
Due: ironfish
