Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

Update to forked bellman v0.13.0
  ironfish-rust/Cargo.lock
  ironfish-rust/Cargo.toml
Due: ironfish-rust, ironfish

Use yarn frozen-lockfile
  README.md
Due: none

Upgrade fuse.js from 6.4.6 to 6.5.3.
  ironfish-graph-explorer/package.json
Due: ironfish

snapshot.sh
  snapshot.sh
Due: none

Don't run as root. Use no-new-privileges
  tools/docker-compose.yml
Due: none

Refactor docker-compose
  tools/.env.example
  tools/docker-compose.miner.yml
Due: none

update code to latest version
  ironfish-cli/src/commands/accounts/transactions.test.ts
  ironfish/src/account/accounts.ts
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/transactions/getTransactionNotes.ts
Due: ironfish-cli, ironfish

Create deploy.yml
  Deploy_on_Akash_Network/deploy.yml
Due: none

Add files via upload
  Deploy_on_Akash_Network/Dockerfile
  Deploy_on_Akash_Network/setup.sh
Due: none

Create README.md
  Deploy_on_Akash_Network/README.md
Due: none

fix linting
  ironfish-cli/src/commands/accounts/transactions.test.ts
Due: ironfish-cli, ironfish

fix(ironfish): Use `tx` object when updating `noteToNullifier` map (#1459)
  ironfish/src/account/accounts.ts
Due: ironfish

Add proof of concept for batching spends and receipts of an entire block
  ironfish-rust-nodejs/Cargo.lock
  ironfish-rust-nodejs/Cargo.toml
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish/src/consensus/verifier.ts
  ironfish/src/workerPool/pool.ts
  ironfish/src/workerPool/tasks/handlers.ts
  ironfish/src/workerPool/tasks/verifyBlock.ts
  ironfish/src/workerPool/tasks/workerMessage.ts
  ironfish/src/workerPool/worker.ts
Due: ironfish-rust, ironfish

add flag to override pool balance payout percentage
  ironfish-cli/src/commands/miners/pools/start.ts
  ironfish/src/mining/pool.ts
  ironfish/src/mining/poolShares.ts
Due: ironfish-cli, ironfish

Batch transactions by worker count instead of per block
  ironfish/src/consensus/verifier.ts
Due: ironfish

pass down Logger in mining code
  ironfish-cli/src/commands/miners/pools/start.ts
  ironfish-cli/src/commands/miners/start.ts
  ironfish/src/mining/discord.ts
  ironfish/src/mining/pool.ts
  ironfish/src/mining/poolDatabase/database.ts
  ironfish/src/mining/poolDatabase/migrator.ts
  ironfish/src/mining/poolMiner.ts
  ironfish/src/mining/poolShares.ts
  ironfish/src/mining/soloMiner.ts
  ironfish/src/mining/stratum/stratumClient.ts
  ironfish/src/mining/stratum/stratumServer.ts
Due: ironfish-cli, ironfish

add flag to override pool balance payout percentage (#1491)
  ironfish-cli/src/commands/miners/pools/start.ts
  ironfish/src/mining/pool.ts
  ironfish/src/mining/poolShares.ts
Due: ironfish-cli, ironfish

remove unused imports
  ironfish/src/mining/pool.ts
  ironfish/src/mining/poolMiner.ts
Due: ironfish

Create Dockerfile
  Deploy_on_Akash_Network/Snapshot_node_on_Akash_Network/Dockerfile
Due: none

Create snapshot.sh
  Deploy_on_Akash_Network/Snapshot_node_on_Akash_Network/snapshot.sh
Due: none

Update Dockerfile
  Deploy_on_Akash_Network/Snapshot_node_on_Akash_Network/Dockerfile
Due: none

Create deploy.yml
  Deploy_on_Akash_Network/Snapshot_node_on_Akash_Network/deploy.yml
Due: none

Delete snapshot.sh
  snapshot.sh
Due: none

Update deploy.yml
  Deploy_on_Akash_Network/Snapshot_node_on_Akash_Network/deploy.yml
Due: none

Update snapshot.sh
  Deploy_on_Akash_Network/Snapshot_node_on_Akash_Network/snapshot.sh
Due: none

Add demo test I was using for perf comparison
  ironfish/src/demo.test.ts
Due: ironfish

added some clarity around BigInt division and used in mining pool code
  ironfish/src/mining/poolShares.ts
  ironfish/src/utils/bigint.test.ts
  ironfish/src/utils/bigint.ts
Due: ironfish

Update deploy.yml
  Deploy_on_Akash_Network/deploy.yml
Due: none

added some clarity around BigInt division and used in mining pool code (#1495)
  ironfish/src/mining/poolShares.ts
  ironfish/src/utils/bigint.test.ts
  ironfish/src/utils/bigint.ts
Due: ironfish

pass down logger in mining code (#1492)
  ironfish-cli/src/commands/miners/pools/start.ts
  ironfish-cli/src/commands/miners/start.ts
  ironfish/src/mining/discord.ts
  ironfish/src/mining/pool.ts
  ironfish/src/mining/poolDatabase/database.ts
  ironfish/src/mining/poolDatabase/migrator.ts
  ironfish/src/mining/poolMiner.ts
  ironfish/src/mining/poolShares.ts
  ironfish/src/mining/soloMiner.ts
  ironfish/src/mining/stratum/stratumClient.ts
  ironfish/src/mining/stratum/stratumServer.ts
Due: ironfish-cli, ironfish

add logging to pool code
  ironfish/src/mining/pool.ts
  ironfish/src/mining/stratum/stratumServer.ts
Due: ironfish

Add miner counts on connect / disconnect messages
  ironfish/src/mining/stratum/stratumServer.ts
Due: ironfish

When a client disconnects set connected to false
  ironfish/src/mining/stratum/stratumServer.ts
Due: ironfish

Change logs to debug
  ironfish/src/mining/pool.ts
  ironfish/src/mining/stratum/stratumServer.ts
Due: ironfish

Also print out the message length
  ironfish/src/mining/stratum/stratumServer.ts
Due: ironfish

feat: implements TCP client using native net module
  ironfish-cli/src/commands/service/faucet.ts
  ironfish/src/mining/pool.ts
  ironfish/src/mining/poolShares.ts
  ironfish/src/mining/soloMiner.ts
  ironfish/src/rpc/adapters/index.ts
  ironfish/src/rpc/adapters/ipcAdapter.test.ts
  ironfish/src/rpc/adapters/tcpAdapter.ts
  ironfish/src/rpc/clients/index.ts
  ironfish/src/rpc/clients/ipcClient.ts
  ironfish/src/rpc/clients/rpcClient.ts
  ironfish/src/rpc/clients/tcpClient.ts
  ironfish/src/sdk.ts
Due: ironfish-cli, ironfish

fixes linting errors
  ironfish/src/rpc/clients/tcpClient.test.ts
  ironfish/src/sdk.test.ts
  ironfish/src/sdk.ts
Due: ironfish

fixes issues raised in pr
  ironfish/src/mining/pool.ts
  ironfish/src/mining/soloMiner.ts
  ironfish/src/rpc/clients/index.ts
  ironfish/src/rpc/clients/ipcClient.ts
  ironfish/src/rpc/clients/rpcClient.ts
  ironfish/src/rpc/clients/tcpClient.ts
  ironfish/src/sdk.test.ts
  ironfish/src/sdk.ts
Due: ironfish

fixes rebase error, makes MiningPool constructor private again
  ironfish/src/mining/pool.ts
Due: ironfish

removes tests of private methods
  ironfish/src/rpc/clients/ipcClient.ts
  ironfish/src/rpc/clients/rpcClient.ts
  ironfish/src/rpc/clients/tcpClient.test.ts
  ironfish/src/rpc/clients/tcpClient.ts
Due: ironfish

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish-cli: any of: ironfish-cli, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish: any of: ironfish, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
