Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

codecov.yml:

ignore:
  - config/*
  - ironfish-rust-nodejs/*
  - ironfish-rust-wasm/*
comment: false
github_checks:
  annotations: false
coverage:
  fixes:
    - "/home/runner/work/ironfish/ironfish/::/"
  status:
    patch:
      default:
        target: auto
        threshold: 0%
    project:
      default:
        target: 10%
      ironfish-rust:
        target: 10%
        flags:
          - ironfish-rust
      ironfish-cli:
        target: 10%
        flags:
          - ironfish-cli
      ironfish:
        target: 10%
        flags:
          - ironfish
flags:
  ironfish-rust:
    paths:
      - ironfish-rust
    carryforward: true
  ironfish-cli:
    paths:
      - ironfish-cli
    carryforward: true
  ironfish:
    paths:
      - ironfish
    carryforward: true

Normalize socketAdapter IPC socket (#2487)
  ironfish/src/rpc/adapters/socketAdapter/socketAdapter.ts
Due: ironfish

spelling
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/merkletree/merkletree.ts
Due: ironfish

Cache pastRoot function in merkle tree (#2456)
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/merkletree/merkletree.ts
Due: ironfish

Format
  ironfish/src/rpc/routes/fees/index.ts
Due: ironfish

delete fixture
  ironfish/src/rpc/routes/fees/__fixtures__/getFees.test.ts.fixture
Due: ironfish

Deprecate get fees api (#2485)
  ironfish/src/rpc/clients/client.ts
  ironfish/src/rpc/routes/fees/__fixtures__/getFees.test.ts.fixture
  ironfish/src/rpc/routes/fees/getFees.test.ts
  ironfish/src/rpc/routes/fees/getFees.ts
  ironfish/src/rpc/routes/fees/index.ts
Due: ironfish

Bump ironfish to version 51 and 16
  ironfish-cli/package.json
  ironfish-rust-nodejs/npm/darwin-arm64/package.json
  ironfish-rust-nodejs/npm/darwin-x64/package.json
  ironfish-rust-nodejs/npm/linux-arm64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-arm64-musl/package.json
  ironfish-rust-nodejs/npm/linux-x64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-x64-musl/package.json
  ironfish-rust-nodejs/npm/win32-x64-msvc/package.json
  ironfish-rust-nodejs/package.json
  ironfish/package.json
Due: ironfish-rust, ironfish-cli, ironfish

Bump ironfish to version 51 and 16 (#2489)
  ironfish-cli/package.json
  ironfish-rust-nodejs/npm/darwin-arm64/package.json
  ironfish-rust-nodejs/npm/darwin-x64/package.json
  ironfish-rust-nodejs/npm/linux-arm64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-arm64-musl/package.json
  ironfish-rust-nodejs/npm/linux-x64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-x64-musl/package.json
  ironfish-rust-nodejs/npm/win32-x64-msvc/package.json
  ironfish-rust-nodejs/package.json
  ironfish/package.json
Due: ironfish-rust, ironfish-cli, ironfish

[WIP(rust,zkp)]: Add create asset circuit
  Cargo.lock
  ironfish-rust/src/assets/asset.rs
  ironfish-rust/src/assets/mod.rs
  ironfish-zkp/Cargo.toml
  ironfish-zkp/src/circuits/constants.rs
  ironfish-zkp/src/circuits/create_asset.rs
  ironfish-zkp/src/circuits/mod.rs
  ironfish-zkp/src/circuits/util.rs
  ironfish-zkp/src/lib.rs
Due: ironfish-rust, ironfish

Rpc connect error (#2444)
  ironfish/src/rpc/clients/socketClient.ts
  ironfish/src/rpc/clients/tlsClient.ts
  ironfish/src/utils/error.ts
Due: ironfish

Minor test fixes
  ironfish-zkp/src/circuits/create_asset.rs
Due: ironfish

stream tests results when running from root directory
  package.json
Due: none

stream tests results when running from root directory (#2492)
  package.json
Due: none

Remove CurrencyUtils.render()
  ironfish-cli/src/commands/accounts/balance.ts
  ironfish/src/utils/currency.ts
Due: ironfish-cli, ironfish

FIX: valid amount check logic
  ironfish-cli/src/commands/deposit-all.ts
Due: ironfish-cli, ironfish

FIX: correct deposit logic
  ironfish-cli/src/commands/deposit-all.ts
Due: ironfish-cli, ironfish

Remove CurrencyUtils.render() (#2497)
  ironfish-cli/src/commands/accounts/balance.ts
  ironfish/src/utils/currency.ts
Due: ironfish-cli, ironfish

fix negative transaction amounts sent in depositAll
  ironfish-cli/src/commands/deposit-all.ts
Due: ironfish-cli, ironfish

>=
  ironfish-cli/src/commands/deposit-all.ts
Due: ironfish-cli, ironfish

Fix deposit all negative transaction amount (#2502)
  ironfish-cli/src/commands/deposit-all.ts
Due: ironfish-cli, ironfish

fix lint
  ironfish/src/syncer.test.ts
  ironfish/src/syncer.ts
Due: ironfish

parallelize block download and add
  ironfish/src/network/peerNetwork.ts
  ironfish/src/syncer.test.ts
  ironfish/src/syncer.ts
Due: ironfish

wip: adding verification of owner keys
  ironfish-zkp/src/circuits/create_asset.rs
  ironfish-zkp/src/circuits/util.rs
Due: ironfish

iterates over pending transactions for rebroadcast
  ironfish/src/wallet/__fixtures__/account.test.ts.fixture
  ironfish/src/wallet/account.test.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish

remove support for old gossip messages
  ironfish/src/network/messageRegistry.ts
  ironfish/src/network/peerNetwork.ts
Due: ironfish

improves prefix encoding usage
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish

iterates over pending transactions for rebroadcast (#2504)
  ironfish/src/wallet/__fixtures__/account.test.ts.fixture
  ironfish/src/wallet/account.test.ts
  ironfish/src/wallet/account.ts
  ironfish/src/wallet/wallet.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Due: ironfish

fix tests
  ironfish/src/network/__fixtures__/blockFetcher.test.ts.fixture
  ironfish/src/network/__fixtures__/peerNetwork.test.ts.fixture
  ironfish/src/network/__fixtures__/transactionFetcher.test.ts.fixture
  ironfish/src/network/blockFetcher.test.ts
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/transactionFetcher.test.ts
Due: ironfish

WIP: Remove passed in generator
  Cargo.lock
  ironfish-zkp/Cargo.toml
  ironfish-zkp/src/circuits/create_asset.rs
Due: ironfish

increase min version for peers
  ironfish/src/network/version.ts
Due: ironfish

fix lint warnings
  ironfish/src/network/blockFetcher.test.ts
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/transactionFetcher.test.ts
Due: ironfish

fix -1 showing in account statuses
  ironfish-cli/src/commands/status.ts
Due: ironfish-cli, ironfish

Remove support for old gossip messages (#2506)
  ironfish/src/network/__fixtures__/blockFetcher.test.ts.fixture
  ironfish/src/network/__fixtures__/peerNetwork.test.ts.fixture
  ironfish/src/network/__fixtures__/transactionFetcher.test.ts.fixture
  ironfish/src/network/blockFetcher.test.ts
  ironfish/src/network/messageRegistry.ts
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/transactionFetcher.test.ts
  ironfish/src/network/version.ts
Due: ironfish

remove null head possibility
  ironfish/src/syncer.ts
Due: ironfish

PR comments
  ironfish/src/network/peerNetwork.ts
  ironfish/src/syncer.test.ts
  ironfish/src/syncer.ts
Due: ironfish

Remove CurrencyUtils.isValid
  ironfish-cli/src/commands/accounts/pay.ts
  ironfish/src/rpc/routes/transactions/sendTransaction.ts
  ironfish/src/utils/currency.test.ts
  ironfish/src/utils/currency.ts
Due: ironfish-cli, ironfish

Fixed build
  ironfish/src/rpc/routes/transactions/sendTransaction.test.ts
  ironfish/src/rpc/routes/transactions/sendTransaction.ts
Due: ironfish

Simplify create asset circuit
  ironfish-zkp/src/circuits/create_asset.rs
Due: ironfish

Cleanup constants and lint
  ironfish-rust/src/assets/asset.rs
  ironfish-zkp/src/circuits/constants.rs
  ironfish-zkp/src/circuits/create_asset.rs
  ironfish-zkp/src/circuits/mod.rs
  ironfish-zkp/src/constants.rs
  ironfish-zkp/src/lib.rs
Due: ironfish-rust, ironfish

Code review
  ironfish/src/syncer.ts
Due: ironfish
