Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish

Improve json parse error checking (#1190)
  ironfish/package.json
  ironfish/src/utils/json.test.ts
  ironfish/src/utils/json.ts
  yarn.lock
Due: ironfish

Log hosts json parsing error as debug instead of warn
  ironfish/src/fileStores/hosts.ts
Due: ironfish

Log hosts json parsing error as debug instead of warn (#1192)
  ironfish/src/fileStores/hosts.ts
Due: ironfish

Pool: Add total share count to discord message
  ironfish/src/mining/discord.ts
  ironfish/src/mining/poolShares.ts
Due: ironfish

Pool: Add total share count to discord message (#1193)
  ironfish/src/mining/discord.ts
  ironfish/src/mining/poolShares.ts
Due: ironfish

Version bump 0.1.29 CLI
  ironfish-cli/package.json
  ironfish-rust-nodejs/npm/darwin-arm64/package.json
  ironfish-rust-nodejs/npm/darwin-x64/package.json
  ironfish-rust-nodejs/npm/linux-arm64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-arm64-musl/package.json
  ironfish-rust-nodejs/npm/linux-x64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-x64-musl/package.json
  ironfish-rust-nodejs/npm/win32-x64-msvc/package.json
  ironfish-rust-nodejs/package.json
  ironfish/package.json
Due: ironfish-rust, ironfish-cli, ironfish

Version bump 0.1.29 CLI (#1194)
  ironfish-cli/package.json
  ironfish-rust-nodejs/npm/darwin-arm64/package.json
  ironfish-rust-nodejs/npm/darwin-x64/package.json
  ironfish-rust-nodejs/npm/linux-arm64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-arm64-musl/package.json
  ironfish-rust-nodejs/npm/linux-x64-gnu/package.json
  ironfish-rust-nodejs/npm/linux-x64-musl/package.json
  ironfish-rust-nodejs/npm/win32-x64-msvc/package.json
  ironfish-rust-nodejs/package.json
  ironfish/package.json
Due: ironfish-rust, ironfish-cli, ironfish

Pin docker images for rust build CI actions
  .github/workflows/deploy-npm-ironfish-rust-nodejs.yml
Due: none

Remove debug ls
  .github/workflows/deploy-npm-ironfish-rust-nodejs.yml
Due: none

Remove hasher from Witness
  ironfish-rust/src/spending.rs
  ironfish-rust/src/test_util.rs
  ironfish-rust/src/transaction/tests.rs
  ironfish-rust/src/witness.rs
Due: ironfish-rust, ironfish

Fix CI build steps (#1195)
  .github/workflows/deploy-npm-ironfish-rust-nodejs.yml
Due: none

feat(ironfish): Make get blocks buffer serializable
  ironfish/src/network/messageRouters/fireAndForget.ts
  ironfish/src/network/messageRouters/globalRpc.test.ts
  ironfish/src/network/messageRouters/globalRpc.ts
  ironfish/src/network/messageRouters/gossip.ts
  ironfish/src/network/messageRouters/messageRouter.ts
  ironfish/src/network/messageRouters/rpc.test.ts
  ironfish/src/network/messageRouters/rpc.ts
  ironfish/src/network/messages.test.ts
  ironfish/src/network/messages.ts
  ironfish/src/network/messages/getBlocks.test.ts
  ironfish/src/network/messages/getBlocks.ts
  ironfish/src/network/messages/networkMessage.ts
  ironfish/src/network/messages/networkTask.ts
  ironfish/src/network/messages/rpcNetworkMessage.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/peers/connections/connection.ts
  ironfish/src/network/peers/peerManager.ts
Due: ironfish

Add initialize_sapling fn to explicitly load the sapling parameters
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/lib.rs
  ironfish/src/workerPool/worker.ts
Due: ironfish-rust, ironfish

Update tests to use initializeSapling
  ironfish-rust-nodejs/tests/demo.test.slow.ts
  ironfish/jest.setup.env.js
Due: ironfish-rust, ironfish

Update to latest version of librustzcash (#1172)
  .github/workflows/rust_ci.yml
  ironfish-rust-nodejs/Cargo.lock
  ironfish-rust-nodejs/Cargo.toml
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.js
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust-nodejs/src/structs/note.rs
  ironfish-rust-nodejs/src/structs/note_encrypted.rs
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust-nodejs/src/structs/witness.rs
  ironfish-rust-nodejs/tests/demo.test.slow.ts
  ironfish-rust-wasm/Cargo.lock
  ironfish-rust-wasm/Cargo.toml
  ironfish-rust-wasm/src/lib.rs
  ironfish-rust-wasm/src/wasm_structs/note.rs
  ironfish-rust-wasm/src/wasm_structs/note_encrypted.rs
  ironfish-rust-wasm/src/wasm_structs/transaction.rs
  ironfish-rust-wasm/src/wasm_structs/witness.rs
  ironfish-rust/Cargo.lock
  ironfish-rust/Cargo.toml
  ironfish-rust/src/keys/mod.rs
  ironfish-rust/src/keys/public_address.rs
  ironfish-rust/src/keys/test.rs
  ironfish-rust/src/keys/view_keys.rs
  ironfish-rust/src/lib.rs
  ironfish-rust/src/merkle_note.rs
  ironfish-rust/src/merkle_note_hash.rs
  ironfish-rust/src/mining/mine.rs
  ironfish-rust/src/note.rs
  ironfish-rust/src/nullifiers.rs
  ironfish-rust/src/receiving.rs
  ironfish-rust/src/sapling_bls12.rs
  ironfish-rust/src/serializing.rs
  ironfish-rust/src/spending.rs
  ironfish-rust/src/test_util.rs
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/tests.rs
  ironfish-rust/src/witness.rs
  ironfish/jest.setup.env.js
  ironfish/src/workerPool/worker.ts
Due: ironfish-rust, ironfish

Minor nit
  ironfish/src/network/messages/getBlocks.ts
Due: ironfish

feat(ironfish): Make get blocks buffer serializable (#1197)
  ironfish/src/network/messageRouters/fireAndForget.ts
  ironfish/src/network/messageRouters/globalRpc.test.ts
  ironfish/src/network/messageRouters/globalRpc.ts
  ironfish/src/network/messageRouters/gossip.ts
  ironfish/src/network/messageRouters/messageRouter.ts
  ironfish/src/network/messageRouters/rpc.test.ts
  ironfish/src/network/messageRouters/rpc.ts
  ironfish/src/network/messages.test.ts
  ironfish/src/network/messages.ts
  ironfish/src/network/messages/getBlocks.test.ts
  ironfish/src/network/messages/getBlocks.ts
  ironfish/src/network/messages/interfaces/networkMessageHeader.ts
  ironfish/src/network/messages/networkMessage.ts
  ironfish/src/network/messages/rpcNetworkMessage.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/peers/connections/connection.ts
  ironfish/src/network/peers/peerManager.ts
Due: ironfish

feat(ironfish): Convert `CannotSatisfyRequest` to buffer serialization
  ironfish/src/network/messageRouters/globalRpc.test.ts
  ironfish/src/network/messageRouters/globalRpc.ts
  ironfish/src/network/messageRouters/rpc.ts
  ironfish/src/network/messages.ts
  ironfish/src/network/messages/cannotSatisfyRequest.test.ts
  ironfish/src/network/messages/cannotSatisfyRequest.ts
  ironfish/src/network/messages/networkMessage.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/peers/connections/connection.ts
Due: ironfish

Fix test
  ironfish/src/network/messageRouters/rpc.test.ts
Due: ironfish

feat(ironfish): Convert `CannotSatisfyRequest` to buffer serialization (#1198)
  ironfish/src/network/messageRouters/globalRpc.test.ts
  ironfish/src/network/messageRouters/globalRpc.ts
  ironfish/src/network/messageRouters/rpc.test.ts
  ironfish/src/network/messageRouters/rpc.ts
  ironfish/src/network/messages.ts
  ironfish/src/network/messages/cannotSatisfyRequest.test.ts
  ironfish/src/network/messages/cannotSatisfyRequest.ts
  ironfish/src/network/messages/networkMessage.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/peers/connections/connection.ts
Due: ironfish

moved dataDir out of Config
  ironfish/src/fileStores/config.ts
  ironfish/src/node.ts
  ironfish/src/sdk.ts
Due: ironfish

move dataDir out of fileStore
  ironfish/src/fileStores/config.ts
  ironfish/src/fileStores/fileStore.ts
  ironfish/src/fileStores/hosts.ts
  ironfish/src/fileStores/internal.ts
  ironfish/src/fileStores/keyStore.ts
  ironfish/src/node.ts
  ironfish/src/sdk.ts
Due: ironfish

added tests
  ironfish/src/network/testUtilities/mockHostsStore.ts
  ironfish/src/sdk.test.ts
Due: ironfish

Remove unnecessary async
  ironfish/src/workerPool/job.ts
Due: ironfish

Remove shrinkwraprs
  ironfish-rust-nodejs/Cargo.lock
  ironfish-rust-wasm/Cargo.lock
  ironfish-rust/Cargo.lock
  ironfish-rust/Cargo.toml
  ironfish-rust/src/lib.rs
  ironfish-rust/src/note.rs
Due: ironfish-rust, ironfish

address PR comments
  ironfish/src/network/testUtilities/mockHostsStore.ts
  ironfish/src/node.ts
  ironfish/src/sdk.ts
Due: ironfish

make sdk dataDir required field
  ironfish/src/sdk.ts
Due: ironfish

fix lint errors
  ironfish/src/node.ts
Due: ironfish

Refactor default dataDir in node and sdk (#1199)
  ironfish/src/fileStores/config.ts
  ironfish/src/fileStores/fileStore.ts
  ironfish/src/fileStores/hosts.ts
  ironfish/src/fileStores/internal.ts
  ironfish/src/fileStores/keyStore.ts
  ironfish/src/network/testUtilities/mockHostsStore.ts
  ironfish/src/node.ts
  ironfish/src/sdk.test.ts
  ironfish/src/sdk.ts
Due: ironfish

feat(ironfish): Convert get block hashes to buffer serialization
  ironfish/src/network/messageRouters/rpc.ts
  ironfish/src/network/messages.test.ts
  ironfish/src/network/messages.ts
  ironfish/src/network/messages/getBlockHashes.test.ts
  ironfish/src/network/messages/getBlockHashes.ts
  ironfish/src/network/messages/networkMessage.ts
  ironfish/src/network/messages/peerList.ts
  ironfish/src/network/messages/signalRequest.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/peers/connections/connection.ts
Due: ironfish

feat(ironfish): Convert get block hashes to buffer serialization (#1201)
  ironfish/src/network/messageRouters/rpc.ts
  ironfish/src/network/messages.test.ts
  ironfish/src/network/messages.ts
  ironfish/src/network/messages/getBlockHashes.test.ts
  ironfish/src/network/messages/getBlockHashes.ts
  ironfish/src/network/messages/networkMessage.ts
  ironfish/src/network/messages/peerList.ts
  ironfish/src/network/messages/signalRequest.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/peers/connections/connection.ts
Due: ironfish

Use ChainProcessor for getTransactionStream
  ironfish-cli/src/commands/service/watch.ts
  ironfish/src/rpc/routes/chain/getTransactionStream.ts
Due: ironfish-cli, ironfish

Add graffiti to telemetry API payload
  ironfish/src/node.ts
  ironfish/src/telemetry/telemetry.test.ts
  ironfish/src/telemetry/telemetry.ts
  ironfish/src/webApi.ts
  ironfish/src/workerPool/pool.ts
  ironfish/src/workerPool/tasks/submitTelemetry.test.ts
  ironfish/src/workerPool/tasks/submitTelemetry.ts
Due: ironfish

feat(ironfish): Convert new transaction to buffer serialization
  ironfish/src/network/messageRouters/fireAndForget.ts
  ironfish/src/network/messageRouters/gossip.ts
  ironfish/src/network/messageRouters/messageRouter.ts
  ironfish/src/network/messageRouters/rpc.ts
  ironfish/src/network/messages.ts
  ironfish/src/network/messages/gossipNetworkMessage.ts
  ironfish/src/network/messages/interfaces/networkMessageHeader.ts
  ironfish/src/network/messages/networkMessage.ts
  ironfish/src/network/messages/newTransaction.test.ts
  ironfish/src/network/messages/newTransaction.ts
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/peers/connections/connection.ts
  ironfish/src/network/peers/peerManager.ts
Due: ironfish

Fix test
  ironfish/src/network/peerNetwork.test.ts
Due: ironfish

feat(ironfish): Convert new transaction to buffer serialization (#1203)
  ironfish/src/network/messageRouters/fireAndForget.ts
  ironfish/src/network/messageRouters/gossip.ts
  ironfish/src/network/messageRouters/messageRouter.ts
  ironfish/src/network/messageRouters/rpc.ts
  ironfish/src/network/messages.ts
  ironfish/src/network/messages/gossipNetworkMessage.ts
  ironfish/src/network/messages/interfaces/networkMessageHeader.ts
  ironfish/src/network/messages/networkMessage.ts
  ironfish/src/network/messages/newTransaction.test.ts
  ironfish/src/network/messages/newTransaction.ts
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/peers/connections/connection.ts
  ironfish/src/network/peers/peerManager.ts
Due: ironfish

feat(ironfish): Move new blocks to buffer serialization
  ironfish/src/network/messages.ts
  ironfish/src/network/messages/networkMessage.ts
  ironfish/src/network/messages/newBlock.test.ts
  ironfish/src/network/messages/newBlock.ts
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/peers/connections/connection.ts
  ironfish/src/network/peers/connections/webRtcConnection.ts
  ironfish/src/network/peers/connections/webSocketConnection.ts
Due: ironfish

feat(ironfish): Move new blocks to buffer serialization (#1204)
  ironfish/src/network/messages.ts
  ironfish/src/network/messages/networkMessage.ts
  ironfish/src/network/messages/newBlock.test.ts
  ironfish/src/network/messages/newBlock.ts
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/peers/connections/connection.ts
  ironfish/src/network/peers/connections/webRtcConnection.ts
  ironfish/src/network/peers/connections/webSocketConnection.ts
Due: ironfish

feat(ironfish): Yeet the old message types
  ironfish/src/network/index.ts
  ironfish/src/network/messageRouters/fireAndForget.test.ts
  ironfish/src/network/messageRouters/fireAndForget.ts
  ironfish/src/network/messageRouters/globalRpc.test.ts
  ironfish/src/network/messageRouters/globalRpc.ts
  ironfish/src/network/messageRouters/gossip.test.ts
  ironfish/src/network/messageRouters/gossip.ts
  ironfish/src/network/messageRouters/rpc.test.ts
  ironfish/src/network/messageRouters/rpc.ts
  ironfish/src/network/messages.test.ts
  ironfish/src/network/messages.ts
  ironfish/src/network/messages/networkMessage.ts
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/peers/connections/connection.ts
  ironfish/src/network/peers/connections/webRtcConnection.ts
  ironfish/src/network/peers/connections/webSocketConnection.ts
  ironfish/src/network/peers/peer.test.ts
  ironfish/src/network/peers/peer.ts
  ironfish/src/network/peers/peerManager.ts
Due: ironfish

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish-cli: any of: ironfish-cli, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
  ironfish: any of: ironfish, but not: config/*, ironfish-rust-nodejs/*, ironfish-rust-wasm/*
